[2022-02-10 20:22] Pandazole commented on #1085
Hi @vxlcoder ,

Thanks for the fast reply, all sent to the email.

[2022-02-10 20:43] Pandazole commented on #1085
This is another video with an observation that may help in debugging.

The PolyPen tool is always working, but when the "guiding dotted" lines in the PolyPen tool disappeared, the Contours tool is not working, but when it reappears, the Contours tool works normally.

https://youtu.be/q8-BGQLpKtA

[2022-02-10 20:49] vxlcoder commented on #1085
oh, interesting @jlampel.

[2022-02-10 20:51] vxlcoder commented on #1063
Another possible cause of this issue might be other add-ons.  in Issue #1085, it's looking like the screencast add-on is interfering with how RF behaves.

So, let's try this: open blender, load factory settings, enable RetopoFlow (only!  no other add-ons), and then try to reproduce this issue.

thanks!

[2022-02-10 20:54] Pandazole commented on #1085
Hi @jlampel ,

Thanks for your reply.

No, also I only download the addon after experiencing the bug to confirm I was pressing the correct keys.

I disabled all user addons too, the bug is still there.

[2022-02-10 21:33] jlampel commented on #1085
Ok, this is strange. I've tried it several other times, but I can't get the bug to occur again - even after closing Blender and loading the exact same file with all the same settings. So far, I'm not sure how to reproduce it. Blender 3.0.0 and RF 3.2.5.

[2022-02-11 06:21] Pandazole commented on #1085
Hi,

A new update, I can now always make the Yellow guiding line reappear by pressing "SHIFT + CTRL", this is always working. However, even if there are guiding lines, the tool is not always registered.

I notice something that, the top view (Num pad 7) has Zero failures if the guiding lines are working. However, the right side view (Num pad 3) has zero success. Even if the model is not in orthogr

[2022-02-11 09:42] German-S opened #1086 "Autodisable scene statistics"
Hello.
When using the RetopoFlow plugin, the built-in scene statistics are sometimes autodisabled in Blender itself.
When me need to switch to Blender's edit mode, me often have to go into its settings menu to turn back the display of scene statistics, since it was disabled automatically after using the RetopoFlow plugin.

I could not find a description of this problem, how can I solve it?

[2022-02-11 18:17] vxlcoder commented on #1086
thanks for the report, @German-S.

I will take a look at this.

[2022-02-12 17:15] Arturiusd commented on #1084
I do not know what happened
but now it doesn't collapse in the center,
but I didn't change anything!

I have three vertices on the other side of the mesh, but they don't interfere with my work.
it just works

If this problem occurs again, I will write
thanks!

[2022-02-15 10:41] Yuanzhoulv7 opened #1087 "Knife: Unhandled Exception Caught: Exception caught"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2022-02-21 16:13] dtschultz opened #1088 "[BUG] Blender freezes when using Knife"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2022-02-23 06:26] Pandazole commented on #1085
The tool now works normally, maybe because of my software specification or somehow.

Thanks for your efforts.

[2022-02-23 06:26] #1085 closed

[2022-02-24 18:26] hansolocambo commented on #1088
Knife is ultra unstable for some reason. I quit retopoflow, save, restart retopoflow then attempt a cut. Every time...

[2022-02-24 18:31] hansolocambo opened #1089 "**SOLVED** Retopoflow : Vertices snap to Mirror's Center."
Working with Symmetry Mirror X activated :

Doesn't matter if Mirror has a very small merge value, or even if merge is ticked at all. Vertices -any vertex no matter how far it is from the center- instantly moves and snaps to the mirror center.
It's definitely a bug as I worked on a retopology for hours yesterday without issue. And this morning I reload the scene and I can't retopo anymore with mir

[2022-02-24 18:37] vxlcoder commented on #1088
thanks for the report, @dtschultz.  will take a look.

[2022-02-24 18:59] dtschultz commented on #1088
Thank you very much! I love Retopoflow.

[2022-02-25 16:28] Ahmad4K opened #1090 "is there a solution for this !!!"
hi,
I have 2 issues I'm facing with retopoflow,

1. overlapping , i dont want to see backface, I tried solving this issue with no luck.
![Screenshot (110)](https://user-images.githubusercontent.com/33658421/155750119-101a03ec-6659-4766-8ff7-dd92f2b9a2dc.png)

2. getting texteme lagging , my target is 3m polys, but the tool becomes super slow to the point of being unusable.
I have a project for a c

[2022-02-25 16:40] hansolocambo commented on #1090
your SOURCE if 3M polys. Not your target (retopology)
Make a copy of your source that you'll use later I guess for baking.
Then remesh / decimate, etc. your source in order to get the polycount down to 100K-300K polygons without loosing the shape.

Do your retopology on the decimated source. It will work much more smoothly as Blender won't have to compute millions of snapping possibilities every t

[2022-02-25 16:50] vxlcoder commented on #1090
Thanks for the report, @Ahmad4K.

@hansolocambo is correct with a solution to the extreme lag.  RetopoFlow's performance does degrade with high poly counts, both in the source mesh (the high poly mesh that's being recreated) and the target mesh (the low poly, nice topo mesh that you're working on).  A simple approach to reducing the source count is to use a decimate modifier.

For the first issue,

[2022-02-25 17:08] hansolocambo opened #1091 "Why is the source always so transparent"
I tried all visibility options available. But nothing helps. For some reason the source (high poly) mesh is transparent in Retopoflow like... it was a good idea. I used tons of retopology solutions along the years and I've never seen, in  Maya, 3DS Max, 3D-Coat, ZBrush, etc. an app that makes the sources transparent.
Why would we want to see the other side of everything when all we want is to see

[2022-02-25 17:13] vxlcoder commented on #1091
Thanks for the report, @hansolocambo.

We have fixed this visual bug, but haven't yet officially released it.  if you'd like to try it out, you can use the Updater System to download branch `v3.2.6`.  Otherwise, we hope to release it later today or very early next week.

[2022-02-25 17:14] hansolocambo commented on #1091
Oh so it's not a decision, it's considered as a bug. Well thanks for the quick answer. At least I know it's being worked on. That's excellent news. This constant see through everything is so terrible. I'm gonna try to download this 3.2.3 version you talk about. Not sure where though.
Thanks for the info :)

[2022-02-25 17:20] Ahmad4K commented on #1090
yeah I know about the decimation but I thought there will be a fix as I still think that this isnt a good solution,
when I go to edit mode and do manual edge extrude i dont get any slowdown at all, I have also tested 3dcoat with 9m mesh and havnt found any lagging, I will try 326 now, thanks

[2022-02-25 17:56] vxlcoder commented on #1091
see https://docs.retopoflow.com/addon_updater.html for details on using the updater system.

let us know if you have any other problems.

[2022-02-25 17:58] vxlcoder commented on #1090
Yes, unfortunately we have to do a lot of the work in Python through Blender's API, which is much slower than doing all directly in Blender core. we are currently working on some changes that should significantly improve RF's performance if accepted.

please let us know if you have any other problems or questions.

[2022-02-25 18:05] vxlcoder commented on #1090
please see https://docs.retopoflow.com/addon_updater.html for details on downloading branch `v3.2.6`, or wait for the official release (planning to release by early next week).

[2022-02-26 13:55] hansolocambo commented on #1091
I confirm that v.3.2.6 fixes the transparency issue. That's great ! thanks (b^-^)b

Viewport Display > Target Mesh Drawing > Alpha Below 0

[2022-02-26 22:06] jlampel commented on #1089
Hi, it sounds like you're working on the wrong side of the mesh! To test, switch to Face for the visualization and make sure you're on the non-red side of the object. We've lined it up so that you can always work from front and side view. If you want to draw on the other side, you can flip the mesh so it is facing the opposite direction.

We should probably add a warning if we detect drawing on th

[2022-02-26 22:10] jlampel opened #1094 "**[BUG]** Can't adjust segments with shift + scroll"
In the latest version of 3.2.6a, I can't adjust the number of segments in Strokes or Polystrips with Shift and the scroll wheel. Shift + Up or Down arrows works fine.

[2022-02-27 00:14] hansolocambo commented on #1091
Don't why I wrote that yesterday. Source mesh and retopo are still transparent. And we see everything through at all times :/

[2022-02-27 00:19] hansolocambo commented on #1091
I figured that out thank you :) I came back here to delete my comment but you already answered ;) You're fast ^^
Cheers vxlcoder.
Thanks.

[2022-02-27 00:20] vxlcoder commented on #1091
did that resolve the problem?

[2022-02-27 00:23] hansolocambo commented on #1091
Yes indeed it did. Sorry I forgot to confirm that.
Thanks.

[2022-02-27 00:24] vxlcoder commented on #1091
glad to hear! happy retopo'ing!

[2022-02-27 14:31] Ahmad4K commented on #1090
great, thanks

[2022-02-28 06:45] TakUser opened #1095 "[PROPOSAL] Re-Implementation of Sliding Values"
[PROPOSAL]
Before it got upgraded to 2.8x, Retopoflow had a quality of life feature which was extremely useful especially when using the 'Patches' tool.  It allowed the user to increase/decrease the different values by sliding the mouse while holding the left mouse button; something versions 3.0 and onwards of Retopoflow didn't include.  I've included a link to a GIF that shows what I'm describing

[2022-02-28 06:46] TakUser commented on #1095
I would use Retopoflow 2 and a version of Blender 2.7x as an example, but unfortunately the releases of 2.0 were removed from the page.

[2022-03-01 01:26] rolandmm opened #1096 "[BUG] Mesh created using Retopo 3.2.5 cannot be UV unwrapped"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2022-03-01 02:03] rolandmm commented on #1096
PEBKAC

[2022-03-01 02:03] #1096 closed

[2022-03-03 02:22] vxlcoder commented on #1094
this should be fixed now.

[2022-03-03 02:25] vxlcoder commented on #1091
closing, but let us know if you have any further issues.

[2022-03-03 02:25] #1091 closed

[2022-03-03 02:25] vxlcoder commented on #1090
closing, but let us know if you have any questions or problems.

[2022-03-03 02:25] #1090 closed

[2022-03-03 03:29] vxlcoder commented on #1089
I thought I had already replied to this issue, but I might've forgotten to hit send!

Yes, it seems like the vertices are on the "wrong" side of the mesh.  Presently RetopoFlow has a very simple view of symmetry (mirroring).  This is a limitation that I'd like to remove at some point, but it likely won't be too soon.

As a way to prevent confusion like this in the future, I added it commit 7d043c1

[2022-03-03 03:45] vxlcoder commented on #1088
this issue should now be fixed in commit 8cee069.

i was able to reproduce this issue consistently by clicking randomly with knife for a while.  now, it seems quite stable (at least against random clicking).

i'm working on getting this released soon, but you can try it out by using the Updater System ([doc](https://docs.retopoflow.com/addon_updater.html)) to check out branch `v3.2.6` if you'd lik

[2022-03-03 03:52] vxlcoder commented on #1087
Thanks for the report, @Yuanzhoulv7.

I believe this is related to issue #1075, which is already fixed and should be officially released soon.  You can try out the fix by using the Updater System ([doc](https://docs.retopoflow.com/addon_updater.html)) to update to branch `v3.2.6`.

Let us know if you still have this issue after updating to v3.2.6, either with the official release or by using the u

[2022-03-03 03:58] vxlcoder commented on #1086
I'm taking a closer look into this issue, @German-S, but I'm not able to reproduce it.

Can you give me some more details?

What version of RetopoFlow are you using?  Blender version?

Can you take screenshots of Blender before starting RF, while RF is running, and after RF quits so I can see what you see on your machine?

Thanks!

[2022-03-03 04:01] vxlcoder commented on #1084
I pushed commit 7d043c1 as a fix for issue #1089 that should give some hint for your issue here, @Arturiusd.

Closing this issue for now, but let us know if you still have this issue after updating to v3.2.6, either officially or through the Updater System ([doc](https://docs.retopoflow.com/addon_updater.html), branch `v3.2.6`).

happy retopo'ing!

[2022-03-03 04:01] #1084 closed

[2022-03-03 04:10] vxlcoder commented on #1081
thanks for the report, @piwacket1967!

Unless the Blender API changed, I'm not sure why this is happening.

Can you give any more information about how it happened?

[2022-03-03 07:03] hansolocambo commented on #1089
@[jlampel](https://github.com/jlampel)
Nope. Been in the gaming industry for 20+ years and I'm pretty confident with my sculpts. It's clean mesh. Normals are facing outside.
I tried to reduce all snapping values I could find but it doesn't do anything. Moving any geometry snaps it to the center of the mirroring. This NEVER happens in Blender. It just does happen with Retopoflow. I know retopo with

[2022-03-03 12:59] dtschultz commented on #1088
Thank you very much! I tried it out this morning, and at least in my quick test, it seems to be fixed. I'll give it a more thorough run through later today or tomorrow when I have more time.

[2022-03-03 14:42] vxlcoder commented on #1089
I am sorry for any confusion, and we certainly didn't mean to say that you don't know what you're doing!

What I meant about RF's simple view is this: if x-symmetry is enabled, RF will snap vertices that have a negative X coordinate to the YZ plane (where x=0). this is similar for y- and z-symmetry, although y-symmetry snaps positive y values to 0.  eventually, we want to remove this limited view

[2022-03-04 18:00] vxlcoder commented on #1082
Hi, @flashice2030.

Sorry for the delay in reply.

In order to show the texture on the source meshes while using RetopoFlow, choose Options > Viewport Display > Optimize Shading > Off.

<img width="716" alt="Screen Shot 2022-03-04 at 10 59 22 AM" src="https://user-images.githubusercontent.com/3790699/156816928-5d805089-2dc5-4e5e-89e9-feceb7515d76.png">

Closing for now, but please let us know if y

[2022-03-04 18:00] #1082 closed

[2022-03-04 18:17] vxlcoder commented on #1050
Sorry for the late reply on this, @Node-Zero!

This problem has been fixed in later versions of RetopoFlow.  Be sure to try out the latest version.

If you're using v3.2.5 or later (v3.2.6 is being released soon) and you still see this error, let us know.

Closing for now.

[2022-03-04 18:17] #1050 closed

[2022-03-04 21:10] hansolocambo commented on #1089
Wow. Sorry it took me sooooo long to understand. Retopology in 3DCoat is.. well was (thanks to retopoflow I abandoned 3DCoat for that :)  ) exactly the same. One had to select geometry on the +X,Y,Z side of the mirror for the symmetry to work.
Working on a new asset, I had the issue again today. Saw your answer here > Applied the mirror, deleted the -X side of the mesh > Started Retopoflow again.

[2022-03-04 21:23] vxlcoder commented on #1089
Glad to hear you're up and running!

let us know if you have any other problems.

happy retopo'ing!

[2022-03-06 18:25] German-S commented on #1086
I'm terribly embarrassed, but I seriously tried to reproduce this problem, the way I had it before.
And I couldn't call it...
Most likely, there is some other condition under which this problem is worked out.
If I manage to encounter this problem again, I will try to reproduce it several times, and if I succeed, I will definitely let you know.

[2022-03-06 18:38] vxlcoder commented on #1086
don't worry too much about it! we couldn't reproduce it either.

closing this for now, but do let us know if you have any other problems.

happy retopo'ing!

[2022-03-06 18:39] #1086 closed

[2022-03-07 03:02] faikault opened #1097 "[BUG] MMB press while LMB pressed in any tool breaks addon"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [x] Read through the README.md file in the branch used to assure the process taken is correct
- [x] Check the exis

[2022-03-07 03:04] vxlcoder commented on #1097
thanks for the report, @faikault.

good catch.  will take a look at this soon.

[2022-03-07 03:08] vxlcoder opened #1098 "check using polypen near symmetry plane"
A rating poster on Blender Market commented that PP cannot make quads when working close to the symmetry plane.

Maybe avoid merging new vert with verts of same face when creating quad from tri?

<img width="697" alt="Screen Shot 2022-03-06 at 9 06 39 PM" src="https://user-images.githubusercontent.com/3790699/156961053-613bd752-4e41-40c1-a852-eb8fb51ef10a.png">

[2022-03-07 03:28] vxlcoder commented on #1097
commit d6bc869 should fix this bug.  If you'd like to try it, use the Updater System ([doc](https://docs.retopoflow.com/addon_updater.html)) to update to branch `v3.2.7`.

[2022-03-09 02:44] faikault commented on #1097
I've tried to update it through the updater system typing in v3.2.7 and pressing install a few times but it seems to break the addon. When I reload it or restart blender it says (broken) retopoflow. Not sure what else I can do to try it.

[2022-03-09 02:48] vxlcoder commented on #1097
try this: uninstall RF, restart Blender, install v3.2.6, update RF to v3.2.7, restart Blender. then run RF. if that doesn't work, I will make a new zip for you. thanks for trying!

[2022-03-09 03:12] faikault opened #1099 "**[BUG]** Knife: Unhandled Exception Caught: Exception caught"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [x] Read through the README.md file in the branch used to assure the process taken is correct
- [x] Check the exis

[2022-03-09 03:14] faikault commented on #1097
So I wasnt able to make that work but i manually copied over the update into the 3.2.6 zip file and that worked, also the bug is gone!

[2022-03-09 03:14] #1097 closed

[2022-03-09 03:53] vxlcoder commented on #1099
you're finding all the keymap related issues. will get this fixed soon. thanks, @faikault

[2022-03-09 16:41] #1094 closed

[2022-03-09 16:41] #1089 closed

[2022-03-09 16:41] #1087 closed

[2022-03-09 16:43] #1069 closed

[2022-03-09 16:44] #1065 closed

[2022-03-09 16:44] #1061 closed

[2022-03-09 16:45] #1054 closed

[2022-03-09 16:45] #1053 closed

[2022-03-09 16:47] #1034 closed

[2022-03-09 17:24] jlampel opened #1100 "[BUG] Single edges are unselectable"
Whether they're created by strokes, polypen, or deleting other edges, any vertex or edge that is not part of a face is shown as dim (below the surface?) and unselectable.

This is in Blender 3.0 and RF 3.2.6

![blender_WVt7EBwt8Q](https://user-images.githubusercontent.com/12982300/157496435-1727c519-ec2f-4e84-a595-016d00150815.gif)

[2022-03-14 23:32] deock90 opened #1101 "Bug"
im using a wacom with retopoflow, and it crashed.

version: blender 3.0
version retopoflow: 3.26

I have to close blender to work on my project again, Retopoflow's autosave works fine, but you have to close blender and reopen it, because it won't even let me exit Retopoflow.

![error](https://user-images.githubusercontent.com/41754489/158277247-ae180dae-6711-479c-b1a4-7ca6a24ce130.png)

[2022-03-15 00:10] vxlcoder commented on #1101
thanks for the report, @deock90 .

I have a good idea what the problem is and will get it fixed asap.

[2022-03-15 20:05] deock90 opened #1102 "Strokes: Unhandled Exception Caught: Exception caught"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2022-03-15 20:36] deock90 opened #1103 "Knife: Unhandled Exception Caught: Exception caught"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2022-03-15 20:56] vxlcoder commented on #1103
thanks for the report, @deock90!

will take a look as soon as I can.

[2022-03-15 20:56] vxlcoder commented on #1102
thanks for the report @deock90!

will take a look as soon as I can.

[2022-03-16 12:39] vxlcoder commented on #1100
after much digging, i've found that `normal_update()` on `BMVert` will set `normal` to `Vector((0,0,0))` if it has no `link_faces`.  this is the behavior all the way to Blender 2.93.6.

this bug also makes the verts and edges really hard to see.

commit 632483f fixes this issue.

[2022-03-17 14:35] vxlcoder commented on #1100
created [blender patch](https://developer.blender.org/D14370) to document this `normal_update()` behavior

[2022-03-18 13:22] JoshQuake commented on #1081
Getting this as well. It seems to occur every time the end click isnt on the target geo?

[code]

[2022-03-18 13:42] vxlcoder commented on #1081
thanks for the detail, @JoshQuake.

will take another look

[2022-03-22 03:46] defawang4399 opened #1104 "If i exit the plugin and then go back, i will not be able to edit the content."
Retopoflow Version: {*3.2.4*}

Blender Version/Hash: {*3.1*}

Platform Version/Distribution: {*windows/mac*}

**Issue:**

Hi, I'm new to plugins and I'm having these issues below.

QUESTION1, when I exit the plugin and go back to editing, I find that I can't move the existing points or lines or surfaces, and I can only continue editing if I optimize it with the "relax" tool;

QUESTION2, when I cre

[2022-03-28 17:44] jlampel commented on #1104
Hi, thank you for the report!

For #1, are you saying that leaving and then returning to RetopoFlow results in only the Relax tool working? A video or example file would be really helpful here if you're willing to share since I can't replicate this.

For #2, it sounds like maybe you rotated the object in edit mode or applied rotation in between RetopoFlow sessions? The RF symmetry works similar to

[2022-03-28 17:47] jlampel commented on #1100
And with a Blender patch too... amazing!

[2022-03-28 17:47] #1100 closed

[2022-04-03 01:49] TekuConcept commented on #1101
I think sporadic MMB events are tripping up the addon. With the above patch in place, I can trigger another exception in retopoflow that freezes blender using sporadic [MMB, CTRL, Move] input events.

[code]

[2022-04-03 02:04] TekuConcept commented on #1101
In file, `retopoflow/rf/rf_spaces.py`, adding `if xyz is None: return None` to `Point_to_Point2D` seems to fix the follow-up bug.

[code]

[2022-04-06 00:49] Chaoshideout opened #1105 "Strokes: Unhandled Exception Caught: Exception caught"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2022-04-07 10:35] YuiFox opened #1106 "RetopoFlow Won't Enable"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [x] Read through the README.md file in the branch used to assure the process taken is correct
- [x] Check the exis

[2022-04-08 02:00] Bataghast opened #1107 "PolyPen: Unhandled Exception Caught: Exception caught"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2022-04-08 10:58] #1106 closed

[2022-04-08 11:03] vxlcoder commented on #1106
Hi there @YuiFox!

Sorry that I didn't get to this sooner.

RF v3.2.6 will only run on later versions of Blender.

You will need to install RF v3.2.4.

Please let us know if you have any other issues.

[2022-04-08 11:05] vxlcoder commented on #1105
Thanks for the report, @Chaoshideout.

I will take a look at this as soon as I can.

[2022-04-08 11:05] vxlcoder commented on #1107
Thanks for the report, @Bataghast.

I will take a look at this as soon as I can.

[2022-04-09 02:47] Bataghast opened #1108 "PolyPen: Unhandled Exception Caught: Exception caught"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2022-04-10 00:13] cinnaval opened #1109 "**[QUESTION]** RetopoFlow will not enable - Syntax error"
Retopoflow Version: {Tried 2.0.3 and master zip}

Blender Version/Hash: {2.78}

Platform Version/Distribution: {Windows}

&nbsp;

**Issue:**

Hello! I am trying to install retopoflow to my blender and it will not enable. I tried downloading the master zip, renaming it to retopoflow and installing it but when I try to enable it I get a syntax error. I attached the error below. I have also tried dow

[2022-04-11 07:33] vxlcoder commented on #1109
Hi @cinnaval.

I don't think RF v2.0.3 will run in Blender 2.78.  Officially, RF v2.0.x requires at least Blender 2.79.  I'm going to see if I can possibly get Blender 2.78c to run on my machine to run a quick test, but you might have to use RF v1.3.2 for that old of Blender version.

Note: the latest version of RF requires at least Blender 3.0 due to some significant changes in Blender API and Bl

[2022-04-11 14:10] vxlcoder commented on #1109
My quick test shows that Blender 2.78 can at least start RetopoFlow 2.0.3.

You can download a zip from https://github.com/CGCookie/retopoflow/releases/tag/v2.0.3.  Just be sure to download and install the `retopoflow.zip` file and not one of the `Source code` versions.

Give that a go and let us know.

[2022-04-14 15:39] jlampel opened #1112 "[BUG] Custom navigation hotkeys not working"
One user reported that RetopoFlow wouldn't work with his custom navigation controls, and I confirmed it on my end. Here's his setup:

![image](https://user-images.githubusercontent.com/12982300/163424680-5e6d5aac-fe25-4a1d-b728-4cfbdc66412b.png)

He reported that it's only a problem when they are set to Click Drag, but that without it there's a conflict with normal loop selection.

[2022-04-17 00:26] TheMajesticTier opened #1113 "PolyPen: Unhandled Exception Caught: Exception caught"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2022-04-17 00:26] #1113 closed

[2022-04-22 05:14] Wildroot opened #1114 "**[BUG]** Stoke view."
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2022-04-23 15:24] ApeInOuterSpace opened #1115 "Strokes: Unhandled Exception Caught: Exception caught"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2022-04-30 12:52] Ahmad4K opened #1116 "Snapping behavior"
https://user-images.githubusercontent.com/33658421/166106283-3fa02bb8-bccd-4e10-8a56-9e99a1b1148b.mp4

hi there,
could anyone please help me with this, I don't know why this jumping snapping happens, its like using degrees to snap to, it happens to all tools

[2022-04-30 13:48] vxlcoder commented on #1116
hi there, @Ahmad4K.

we have not seen an issue quite like this before.  this might be very specific to your setup.

are you able to share a .blend file with us that has this issue? you can send it to retopoflow@cgcookie.com.

[2022-04-30 14:00] Ahmad4K commented on #1116
done

[2022-04-30 14:59] Ahmad4K commented on #1116
https://user-images.githubusercontent.com/33658421/166110732-39110306-abef-4455-a84e-3c9fee8e6706.mp4

its happening again but only on the inside of the object

[2022-05-02 00:27] vxlcoder commented on #1116
Ok.  So far, this is an issue due to the view clipping values when automatic adjustment in enabled and that some geometry isn't being occluded when it should be.  disabling the automatic clipping values helps with arbitrary snapping (workaround), as there are rounding errors when enabled and when the view is "inside" the object.  not sure why the occluded geometry is not acting like it is occluded

[2022-05-02 04:21] Ahmad4K commented on #1116
I hope we find a solution for it, thanks

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Jon Denning ***@***.***>
Sent: Monday, May 2, 2022 3:27:35 AM
To: CGCookie/retopoflow ***@***.***>
Cc: Ahmad4K ***@***.***>; Mention ***@***.***>
Subject: Re: [CGCookie/retopoflow] Snapping behavior (Issue #1116)

Ok. So far, this is an issue due to the view clipping val

[2022-05-02 10:55] vxlcoder commented on #1116
OK, @Ahmad4K.  I _think_ i've worked out this issue.  in commit 36d0995, i added a few additional options under "Viewport Display" for configuring the view clip auto adjustments.  I've set the defaults to display well, but they might need some tweaking.

<img width="232" alt="Screen Shot 2022-05-02 at 6 48 50 AM" src="https://user-images.githubusercontent.com/3790699/166222808-164ac0e3-fd63-4d2a-a

[2022-05-02 11:12] vxlcoder commented on #1101
sorry for the delayed reply, @TekuConcept, and great job with the fix :)  I've added your patch in commit 2390764.

closing this issue.  let us know if you have any other issues.

happy retopo'ing!

[2022-05-02 11:12] #1101 closed

[2022-05-02 11:15] Ahmad4K commented on #1116
Best news for me, thanks again

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Jon Denning ***@***.***>
Sent: Monday, May 2, 2022 1:55:11 PM
To: CGCookie/retopoflow ***@***.***>
Cc: Ahmad4K ***@***.***>; Mention ***@***.***>
Subject: Re: [CGCookie/retopoflow] Snapping behavior (Issue #1116)

OK, @Ahmad4K<https://github.com/Ahmad4K>. I think i've worked out t

[2022-05-04 00:08] BenWeisz commented on #1080
Hi, just checking if you've found anything else related to this topic since January. I'm just learning OpenGL and following a tutorial where I have 2 uniform sample2d's and for some reason it just doesn't work and gives me the error message that you posted. Thanks!

[2022-05-05 05:01] Wildroot commented on #1114
Hello? Any advice?

[2022-05-05 05:43] Wildroot commented on #1114
Bit more info. Stroke tool creates stroke inside mesh
![ScreenRecorderProject23](https://user-images.githubusercontent.com/70537206/166868700-35ab33a6-bb77-4e78-b0b6-142d11830804.gif)
.

[2022-05-05 09:50] vxlcoder commented on #1114
sorry that we missed replying to this, @Wildroot!

can you confirm that the normals of your source (high res) mesh are pointing outward?  you can use Blender's face orientation overlay setting or Blender's normal overlay.

if the normals are outward facing, try updating to the unreleased v3.2.7 version of RetopoFlow. use the updater system (https://docs.retopoflow.com/addon_updater.html) to update

[2022-05-06 05:33] Wildroot commented on #1114
Yes. I checked this.

[2022-05-07 04:31] Wildroot commented on #1114
I can`t activate it. Getting something like this
![image](https://user-images.githubusercontent.com/70537206/167238297-6780efbd-5fb6-4956-bd26-43b61fccf80b.png)

[2022-05-07 04:37] Wildroot commented on #1114
Blend file: https://www.dropbox.com/s/h4d7xolvg880zrq/bug.blend?dl=0

[2022-05-07 13:20] vxlcoder commented on #1114
hmmm... that error looks like you initially installed RetopoFlow from a zip from GitHub.  Our official zip files use correct names to prevent errors like this. The underlying problem is that Python does not like to have modules with dashes (`-`) in the folder name (your folder is named `retopoflow-3`).

do this:
- download RetopoFlow using the temporary link: https://www.dropbox.com/s/fncanes5arqn

[2022-05-07 13:23] vxlcoder opened #1117 "Visualization Feature: create a high visibility version"
Sometimes, edges and vertices can be difficult to see due to low alpha values, somewhat desaturated colors, and small edge thickness / vert size.

Having a "High Visibility" setting would improve accessibility of RF.

[2022-05-07 13:31] vxlcoder opened #1118 "Bug: Updating RF when folder contains a dash causes problems"
Whenever RetopoFlow's add-on folder contains a dash (`-`) or a period (`.`), updating using the Updater System causes problems.

The dashes are usually due to the artist installing from an unofficial zip file.  Possible source: GitHub's "Source code (zip)" link under releases and the "Download Zip" link under the main page "Code" dropdown will create a zip file where the main RF folder has a dash

[2022-05-08 05:44] Wildroot commented on #1114
3.2.7a crashes every time I enter retopoflow. The problem is that I can't select the drawn edges in any way. It's not about visibility. When the polygon is formed, the problem disappears. Uploaded a higher quality video.
https://youtu.be/NbxCiRtaHOI

[2022-05-08 10:24] vxlcoder commented on #1114
I apologize that you're having these problems, @Wildroot.

Is the crashing happening after you did all the steps I mentioned in the previous comment?

Can you do this:

1. Start Blender as usual
2. In the Blender Menu: Windows > Toggle System Console. The system console window will now open; minimize for now.
3. Try starting RetopoFlow
4. Once it crashes, try to close RetopoFlow (if possible) swit

[2022-05-08 17:19] Wildroot commented on #1114
# Blender 3.1.2, Commit date: 2022-03-31 17:40, Hash cc66d1020c3b
bpy.ops.mesh.primitive_uv_sphere_add(radius=1, enter_editmode=False, align='WORLD', location=(0, 0, 0), scale=(1, 1, 1))  # Operator
bpy.ops.object.editmode_toggle()  # Operator
bpy.ops.object.editmode_toggle()  # Operator
bpy.ops.object.modifier_add(type='MIRROR')  # Operator
bpy.ops.object.modifier_add(type='DISPLACE')  # Operator

[2022-05-09 20:17] vxlcoder commented on #1114
Although it took me a while to figure out what's going on, what you posted helped, @Wildroot !

I was able to fix that error.  please try installing the updated version linked below (same link as before)

https://www.dropbox.com/s/fncanes5arqn2sr/RetopoFlow_v3.2.7-alpha-GitHub.zip?dl=0

Thanks again for helping debug this issue!

[2022-05-09 20:21] vxlcoder opened #1119 "CC: Make HTML/CSS readers (especially HTML embedded in MD) way more forgiving"
the current HTML/CSS readers expects perfect syntax.  this isn't always necessary.  make the readers way more forgiving, and provide helpful warnings to the console.

right now, if syntax isn't correct (ex: closing a self-closing tag like `</input>`), the reader throws an exception!  this is especially bad in UI updates, as it crashes RF and causes Blender to get stuck in a nasty, unrecoverable lo

[2022-05-10 06:12] Wildroot commented on #1114
Now everything works. Thank you very much

[2022-05-10 06:12] #1114 closed

[2022-05-10 16:01] RaelZarin opened #1120 "[BUG] Polypen jumps in direction of cursor"
Retopoflow Version: {3.2.6}

Blender Version/Hash: {3.1.2}

Platform Version/Distribution: {Blender Market?}

&nbsp;

**Issue:**
When in polypen mode to set a polygon, as I'm making my second click, the vertex from my first click will jump in the direction of my cursor.

I thought it might have been that I had too many polygons in the reference mesh so it was a performance issue, but a consolidate

[2022-05-10 16:03] vxlcoder commented on #1120
Thanks for the report, @RaelZarin.

I'll take a look at it as soon as I can.

[2022-05-10 21:17] Ahmad4K commented on #1116
hi,
I dont know if I missing something but Im still waiting for 3.2.7, the updater and B.Market are only showing 3.2.6

[2022-05-10 21:20] vxlcoder commented on #1116
We haven't officially released it on the Blender Market, yet. In the updater, type `v3.2.7` in the advanced commit / branch textbox. See the link in previous comment for more details. Let us know if you still have questions or problems.

[2022-05-11 10:01] vxlcoder commented on #1116
:(. what is it reporting in the system console?

[2022-05-13 12:51] Ahmad4K commented on #1116
Im sorry I revert back to 3.6 but will wait for the official release no problem

[2022-05-19 09:55] vxlcoder commented on #1115
thanks for the report, @ApeInOuterSpace.

I am going to close this issue, as I believe this issue _should_ be fixed in v3.2.7 (releasing very soon).  but if you run into it again after updating, please reopen and let us know.

thanks!

[2022-05-19 09:55] #1115 closed

[2022-05-19 10:03] vxlcoder commented on #1108
thanks for the report, @Bataghast.

I am going to close this issue, as I believe this issue should be fixed in v3.2.7 (releasing very soon). but if you run into it again after updating, please reopen and let us know.

thanks!

[2022-05-19 10:03] #1108 closed

[2022-05-20 20:48] ZighoPinh opened #1123 "Retopoflow doesn't work."
Retopoflow gets idle screen!

![retopo não funciona](https://user-images.githubusercontent.com/105946721/169608467-75258965-5d97-49ce-b041-c177dc9f8aee.jpg)

![retopo não funciona1](https://user-images.githubusercontent.com/105946721/169608493-517b46b0-4682-4f74-8d06-6874ebf6e7d6.jpg)

[2022-05-20 21:27] ZighoPinh commented on #1123
Thasks!

[2022-05-25 07:26] jureAFX opened #1124 "**[BUG]** Disappearing mesh"
Retopoflow Version: v3.2.6

Blender Version/Hash: 3.1

Platform Version/Distribution: Win10

**Issue:**

Mesh just disappears after reopening retopoflow the next day to continue working. There are also no "orange" edges on the remaining mash to snap on. Also deleting faces (outer faces that remained) leaves vertices and edges behind (not like normal behavior when deleting faces).

One solution is

[2022-05-25 13:24] vxlcoder commented on #1124
Hi, @jureAFX.

Thanks for the report.  To help us dig into this issue, I have a few questions:

- What do you mean by the "Mesh just disappears"?  Does the entire mesh disappear?   Or, is it only part of the mesh?  If part, is it only the boundary edges (edges that are adjacent to exactly 1 face), or wire edges (edges adjacent to 0 faces), or other?
- I'm not sure what the screenshot is trying to

[2022-05-25 13:25] #1123 closed

[2022-05-26 06:07] jureAFX commented on #1124
Hello @vxlcoder

I am sorry for the lack of information. I will do my best to try to explain what I am experiencing.

Part of the mesh disappears. From the screenshot, you can see that some parts are not meshed. Complete part was meshed.
It is not just boundary edges or wire edges. I can not determine what type of mesh has disappeared because it seems there is no defined type just random part of t

[2022-05-26 14:01] jureAFX commented on #1124
@vxlcoder

That is it, you nailed it. This is exactly what happened. Some of the geometry was hidden. I do not know the exact reason for this. Maybe it was even my fault. I am glad you solved it. Thank you for all the help and quick responses.

Best regards.

[2022-05-26 14:04] #1124 closed

[2022-05-27 10:41] schattenkind opened #1125 "[BUG] Viewport Controls randomly stopping to work"
Retopoflow Version: 3.8.2

Blender Version/Hash: 3.1.2

Platform Version/Distribution: Apple M1

When working in Retopoflow, I get completely random freezes and the controls in the 3D viewport stop working completely. Sometimes it happens, when switching tools or after using a tool (pressing CTRL). After a while, it recovers, and the viewport is usable again. It happens really often!

examples:

1

[2022-05-27 11:25] vxlcoder commented on #1125
Thanks for the report, @Traumwolf.

I also have an M1, but I haven't seen this behavior before.

Can you do a couple of things to help us debug this?

First, try starting Blender from the terminal ([instructions](https://docs.retopoflow.com/debugging.html#terminal--console-output)), then start RetopoFlow and use it as normal.  Once it does the pause thing, wait until it finishes, then close out of

[2022-05-27 11:41] Traumwolf commented on #1125
Last login: Fri May 27 10:24:33 on console
dom@MacBook-Air-von-Dominique Blender.app % ./Contents/MacOS/Blender
Read prefs: /Users/dom/Library/Application Support/Blender/3.1/config/userpref.blend
Registered MACHIN3tools 0.10.0 with 13 tools, 8 pie menus
keKit Prefs found - File Settings Applied : /Users/dom/Library/Application Support/Blender/3.1/scripts

[kekit]
Error

Error:
<urlopen error [SSL

[2022-05-27 11:48] Traumwolf commented on #1125
Tried Blender 3.2 ... still the same Problem occurred after a while.

[2022-05-27 11:51] vxlcoder commented on #1125
perfect!

ok.  There are a bunch of exceptions being reported to the terminal by many other add-ons.  let's run a test to see if the other add-ons might be causing issues, or if it is something in RF.    Let's try this.

1. Start Blender from Terminal, same as before
2. File > Defaults > Load Factory Settings  (temporarily disabling all other add-ons)
3. Edit > Preferences > Add-ons > Enable Retop

[2022-05-27 12:01] vxlcoder commented on #1125
Another note: it seems that RetopoFlow was installed into a folder containing a dash (`-`): `RetopoFlow-2`.  This typically happens if you installed RetopoFlow from a zip that we didn't package.  Specifically, GitHub automatically creates a zip (RF's GH page > Code > Download ZIP), but GH will append a dash and the version to the inner folder.  Also, this could happen from manually copying the Ret

[2022-05-27 12:07] Traumwolf commented on #1125
https://pastebin.com/BqmKtfdh

it's even longer after I deactivated all the addons, tried it on the Cube Scene, still same issue (3.1.2 again btw. )

[2022-05-27 12:13] Traumwolf commented on #1125
yeah, I downloaded a lot of different versions from RetopoFlow, to see, with which version I could continue with my work, so they go added the -2,-3, etc.

3.2.6 worked for me without major problems so far.

[2022-05-27 12:15] vxlcoder commented on #1125
Yeah.  It's looking like hardops is having problems (and another add-on).  might be good to ping masterxeon (I'll send him a message, too).

Again, thanks for helping me debug this!

If you don't mind, can you try disabling all the add-ons (either load factory default or unchecking them manually), save preferences (screenshot below or File > Defaults > Save Startup File), then close and reopen Ble

[2022-05-27 12:27] Traumwolf commented on #1125
Last login: Fri May 27 14:00:29 on ttys001
dom@MacBook-Air-von-Dominique Blender.app % ./Contents/MacOS/Blender
Read prefs: /Users/dom/Library/Application Support/Blender/3.1/config/userpref.blend
RetopoFlow: Initial load
Addon Common: (shaders) GLSL Version: 4.10
Addon Common: compiling UI shader
Addon Common: batching for shader
Addon Common: UI shader initialized
Addon Common: #################

[2022-05-27 12:29] vxlcoder commented on #1125
Ok.  thanks for helping!  I will dig through this on my M1, and I'll post once I have some news or more questions.

[2022-05-30 04:05] henbull opened #1126 "PolyPen: Unhandled Exception Caught: Exception caught"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2022-06-02 21:10] jlampel opened #1127 "Crash when starting RetopoFlow in specific scene"
We got a bug report from a user via email. His scene reliably crashes RetopoFlow. I've narrowed it down somewhat, but I haven't been able to find which specific object is causing the issue. Hiding or disabling all of them will solve the problem but deleting them one by one yields confusing results since it doesn't seem to matter which one gets deleted.

[Tubu Sculpt_crash_02.zip](https://github.co

[2022-06-03 09:44] fifi768 opened #1128 "**[QUESTION]** RetopoFlow does not turn on and does not work after installation-Syntax error"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [x] Read through the README.md file in the branch used to assure the process taken is correct
- [x] Check the exis

[2022-06-03 11:23] vxlcoder commented on #1128
Hi there @fifi768.

RetopoFlow v.3.2.8 runs on Blender 3.x.x.  Blender 2.82 is an older version, so you will have to use RetopoFlow v3.2.4. It is available on the Blender Market or GitHub releases.

Please let us know if you have any other questions.

[2022-06-03 12:58] vxlcoder opened #1129 "Visualization Bug: Incorrect Non-manifold Outline"
I'm not entirely sure how this happened, but the non-manifold visualization on this quick test is incorrect.  One of the edges in the middle of the 3x3 patch is visualizing as non-manifold when it shouldn't, and the top edge of the 1x3 strip is visualizing as manifold when it shouldn't.

![image](https://user-images.githubusercontent.com/3790699/171858261-0c4c2a8a-c672-4946-9241-57e8115bf713.png)

[2022-06-03 13:02] vxlcoder opened #1130 "View distance/location bug"
The view distance and location changes when exiting RF.  View rotation seems to stick.  Maybe this is related to the unit-box scaling?

[2022-06-04 11:21] German-S opened #1131 "[BUG] Annoying problems while working in RetopoFlow"
Retopoflow Version: 3.2.8
Blender Version/Hash: 3.1.2
Platform Version/Distribution: Window 11 21H2 22000.708

Hello.
I came across several unpleasant features that interfere with work:
1)When saving a scene while in RetopoFlow retopology mode, the camera moves spontaneously. Each time you have to manually return to the edited part.
2)Sometimes when canceling actions (Ctrl + Z ), the created retop

[2022-06-06 21:43] jlampel opened #1132 "[BUG] Save or undo reverts the target mesh scale"
Using undo will sometimes cause the target mesh to shrink or scale up while the source mesh remains the same size. Exiting RetopoFlow will bring things back to their correct scale. I've found that it's easiest to replicate if you undo right after saving:
- Save a file
- Start RetopoFlow
- Create some geometry
- Save while in RF
- Immediately undo before making other changes
- Repeat steps 3-5 unti

[2022-06-06 21:52] jlampel commented on #1131
Hi! It sounds like you're experiencing both issue #1130 and #1132. Thank you for reporting! We'll work through them in those threads if you'd like to follow along with the progress.

[2022-06-06 21:58] jlampel commented on #1132
I can confirm that this doesn't only happen when saving, as mentioned in #1131.

[2022-06-06 21:59] #1131 closed

[2022-06-06 22:03] jlampel opened #1133 "[BUG] Toolbar and sidebar stuck after saving"
Sometimes while saving, the toolbar and sidebar will be drawn over the RetopoFlow UI and get stuck there until exiting RetopoFlow. I have yet to replicate this consistently, but it seems to happen more often when trying to save an unsaved file.

![Screenshot 2022-06-06 145144](https://user-images.githubusercontent.com/12982300/172256749-3fbc79e4-5396-437e-9d5c-f4e335cfd9bf.jpg)

[2022-06-06 22:05] #1128 closed

[2022-06-07 03:14] JimbobweSmells commented on #1132
Also experiencing this problem, it's extremely aggravating.

[2022-06-07 07:54] German-S commented on #1131
Guys, thanks to your plugin, I make cool things much easier, thanks for supporting and creating such a miracle for us)

Why don't you create two development branches for this plugin ?
Section 1: A stable, tested version with no issues.
Section 2: dev version, with new features and fixes, but still under testing.

This isn't the first time I've run into an update issue or a problematic plugin after

[2022-06-07 12:37] vxlcoder commented on #1131
We actually do follow a similar dev pattern, @German-S.  Our `master` branch is the (as-much-as-possible) stable version of RetopoFlow with tags indicating official releases.  Branches other than `master` (ex: `v3.2.8`, `v3.2.7`, ...) are our working branch in which development occurs.  Once we believe the dev branch is ready for release, we merge it into `master`, tag it, and create a release zip

[2022-06-10 09:25] VertexBeat commented on #1125
Any updates?

[2022-06-10 15:30] vxlcoder commented on #1125
Unfortunately, @VertexBeat, no updates yet.  I've tried to replicate your issue on my M1, but everything I've tried has not resulted in this same issue.  I'm still digging, though.

A question: I noticed in your attached video that you used the `~` menu to switch tools.  does the pause occur only when you use that menu?  In other words, do you also see that pause if you use the main menu (click to

[2022-06-10 15:45] vxlcoder commented on #1125
i did discover and fix an issue with polypen (6b1c7f4), but that's an unrelated issue.

[2022-06-11 04:04] bryanf3000 commented on #1127
Yeah, Retopoflow is crashing blender every time I try to use the conture tool.

[2022-06-11 07:31] VertexBeat commented on #1125
Will try that out and let you know (propably on sunday).

[2022-06-15 10:56] MaxB0zz commented on #1132
this problem makes me unable to use this tool...

[2022-06-15 11:11] vxlcoder commented on #1132
sorry for the delay all!  will tackle this issue (and #1131) now

[2022-06-15 22:02] sethflynnmail commented on #1132
This retopo program is amazing, it's the only 3dcoat alternative that I have found that makes manual retopo so easy, but yes the undo bug absolutely kills it. must be fixed asap.

[2022-06-15 22:04] vxlcoder commented on #1132
thanks for the feedback! I made some great progress today, but it is not quite ready for testing. hoping to have something this weekend.

[2022-06-16 11:01] nekorushi commented on #1133
Same happens for me, it consistently happens after fresh opening of RetopoFlow, then making any change and first save causes this issue

[2022-06-24 23:09] vickyinu opened #1134 "[QUESTION] Rotate view with Mouse Right Click isn't working, how can I fix it?"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [x] Read through the README.md file in the branch used to assure the process taken is correct
- [X] Check the exis

[2022-06-29 09:43] RexoWeb commented on #712
**The Url is Changed**

Here Correct Post Url: [](https://www.rexoweb.com/how-to-run-blender-2-8-without-graphics-card.html)

[2022-06-30 12:27] vxlcoder commented on #712
First, please take caution any time you download, install, and/or run anything from the internet, especially when downloading from a 3rd party source.  This also applies to Blender add-ons like RetopoFlow.

Second, we are not planning to confirm whether the workaround solution linked above actually works.

The linked article states that using a different OpenGL / graphics driver implementation (Me

[2022-07-01 00:26] jlampel opened #1135 "[BUG] Text disappears at some UI scales"
Here's an interesting one! Some (but not all) of the interface text in the RetopoFlow menu disappears when changing Blender's UI scale. For example, it works great when I set the UI scale to 1.25 or 1.4, but it breaks when I set it around 1.3.

Example:

![Screenshot 2022-06-30 171325](https://user-images.githubusercontent.com/12982300/176799377-68af1e72-a3e7-4f4b-b6fc-a15f0136d25b.jpg)

[2022-07-01 00:40] jlampel commented on #1134
Thanks for reporting this! I was actually not able to reproduce this issue in Blender 3.2 and RetopoFlow 3.2.8.

![image](https://user-images.githubusercontent.com/12982300/176799529-4dd0225b-4fa1-46af-a6f5-a6e05c1040ba.png)

![image](https://user-images.githubusercontent.com/12982300/176799554-1ffb99bb-33c2-4fb0-b553-2d4c463122ce.png)

I tried both with and without Emulate 3 Button Mouse enabled

[2022-07-02 22:52] brandonbien opened #1136 "**[BUG]** Cannot navigate with 3dconnexxion cad mouse wireless"
---
 **[BUG]**

Retopoflow Version: {3.2.8}

Blender Version/Hash: {3.1.2}

Platform Version/Distribution: {Mac OS 12.4}

&nbsp;

My I cannot pan or turn with my 3dconnexxion cad mouse wireless. If I switch to my apple Magic Mouse, it works.
Oddly enough, if I try middle clicking with the Cad Mouse, then switch to the Magic Mouse, it causes the Magic Mouse not to work.

&nbsp;

[2022-07-03 09:40] German-S opened #1137 "[PROPOSAL] Align RetopoFlow object to active"
Hello.
The other day I ran into a situation that I had to solve manually, we are talking about symmetrical objects that are rotated at a non-standard angle (arbitrarily).
In Zbrush there is a "local symmetry" option, it is calculated relative to the object and not global coordinates (like you did). This allows you to work with a symmetrical object that is rotated at any angle.
RetopoFlow allows yo

[2022-07-05 18:46] jlampel commented on #1137
I could definitely see this being helpful. @vxlcoder do you think this would make sense to add to the At Active option? I actually think we may have had it like that previously, but was it too confusing to use? I forget exactly.

In the meantime, here's what you can do: Duplicate the object you want to base the transformations off of, head into edit mode on just that new object, delete all the ver

[2022-07-05 18:54] vxlcoder commented on #1137
RetopoFlow currently mirrors based on the object's origin, which is identical to how Blender's mirror modifier works.  RF gives the option to create a new object at the 3d cursor or at the origin of the active object.

But what I think what @German-S is suggesting is to have more arbitrary symmetry.  For example: rotational symmetry like you might see with the legs of an octopus.

I think what wou

[2022-07-05 19:07] German-S commented on #1137
I'm sorry, I did the steps that you suggested and the local symmetry worked out as it should.
I figured out what my problem was, I reset the shape parameters, Ctrl + A -> All Transforms, this resets all object parameters, I use this option to reset the modified mesh so that the modifiers work on it correctly.
Unfortunately, this caused the axes of the mesh (which was rotated) to be set to the init

[2022-07-07 16:42] Joe295159 opened #1138 "[Bug] Updating to 3.2.8 from 3.2.6 gives errors"
Retopoflow Version: 3.2.8

Blender Version/Hash: 3.2.1

Platform Version/Distribution: Windows 10/Steam

**Issue:**

I clicked on update and then retopoflow disappeared from the guy. I looked through the addons, retopo was there but off. Turning it on gave an error. I removed it and tried re-installing it. Same issue, it shows up but activating it gives an error

![image](https://user-images.githu

[2022-07-08 19:34] jlampel commented on #1132
Another user reported this today via BM inbox, and it sounds like it's happening on save.

[2022-07-08 19:42] jlampel commented on #1137
Glad that's working for you! I'll close this out for now, and we can come back to a more general approach to symmetry in the future.

Oh, and to get that local rotation back, try selecting a face or edge that's pointing in the right direction and using this tool: https://github.com/jlampel/orient_to_selection

[2022-07-08 19:42] #1137 closed

[2022-07-10 11:34] JohnRudy opened #1139 "[PROPOSAL] Continue on previous retopology target"
In blender 2.79 you were able to continue on a previously started retopology target. This feature would be great to have again. If a crash would happen you wouldn't need to start over again.

[2022-07-11 12:59] vxlcoder commented on #1139
Hi @JohnRudy.

I _think_ I understand your proposal correctly.  When you're in Object Mode, RetopoFlow will allow you to create a new retopo target, and RF will treat all other visible mesh objects as sources.  But when you're in Edit Mode, RF will treat the edited object as the target.  So, to do what you're proposing, you just need to enter into Edit Mode on the retopo mesh, then start RF.

More

[2022-07-11 13:04] JohnRudy commented on #1139
This actually was completely what I was going after. I was so used to not needing to go into edit mode to start retopoflow again I thought it was a forgotten feature. But yes. This proposal was for something that actually existed all ready.

[2022-07-12 14:37] Jacksonmodel opened #1140 "How to install RetopoFlow for Blender 3.2.1?"
How to install RetopoFlow for Blender 3.2.1?
I've downloaded the file and extracted it on Desktop, but I can't find it in Blender Preferences.

[2022-07-12 15:01] vxlcoder commented on #1140
Hi, @Jacksonmodel.

You will need the _original_, officially packaged zip file to install RetopoFlow in Blender.  Do not extract it, and also don't try to re-compress to zip.  Sometimes different operating systems will do weird things with the files when creating a zip file, and Blender expects the zip file to have a particular structure.

Similar to installing any other Blender, start Blender, cl

[2022-07-13 03:12] lfod1997 opened #1141 "[PROPOSAL] Maximizing area (viewport) on entering Retopoflow mode"
Retopoflow Version: 3.2.8

Blender Version/Hash: 3.2.1

Platform Version/Distribution: All

&nbsp;

**Issue:**

It makes sense if "maximize area" (`screen.screen_full_area`) would be switched on whenever the user enters RetopoFlow mode (and switch back on quit). Because otherwise the other part of the screen is frozen anyway. I personally do this every time (by pressing Ctrl + Spacebar) to make be

[2022-07-13 21:59] jlampel commented on #1141
I believe we actually used to do this but moved away from it because the jump was a bit disorienting for some users. I would personally use it though and could see it being a toggle in the Viewport Settings.

[2022-07-13 22:01] jlampel commented on #1140
Closing this out as it's not a RF issue, but if you still need help feel free to comment

[2022-07-13 22:01] #1140 closed

[2022-07-13 22:05] vxlcoder commented on #1141
@jlampel is correct that this used to be a feature (toggle fullscreen), but i had to disable it due to a bug that crashed blender. I am not sure whether it is/was a blender bug or RF bug, but I will run some quick tests to see if it is still a problem. (a lot has changed since i last disabled and looked at it)

[2022-07-13 22:05] jlampel commented on #1116
Closing this out as we're now on 3.2.8 and this should be resolved. Please let us know if it happens again!

[2022-07-13 22:08] jlampel opened #1142 "Alt MMB navigation hotkey not working"
I'm not sure whether this is a bug or a feature request, but Blender's Alt MMB that focuses the view on whatever is under the mouse (which I only recently discovered) does not work in RetopoFlow.

Possibly related to #1112 ?

[2022-07-15 06:15] wangxiao0075 opened #1143 "UI BUG! [BUG]"
**`UI BUG!`** txt can`t be showed correctly, pls check it out **XD!**

![1657865591689](https://user-images.githubusercontent.com/5772230/179162427-c8ebe2b0-1d54-4d9c-8e45-fd3f6f6e98d7.png)

- [BUG ] ````

[2022-07-15 10:59] vxlcoder commented on #1143
Thanks for the report, @wangxiao0075.

This seems very similar to issue #1135.

Can you give us a few more details?

- which OS are you using?
- Blender version?  RF Version?
- Has RF worked fine before, but now it isn't?  if so, how long ago did it change, and what do you recall you did at that time?  (ex: updated RF, updated graphics drivers, etc)
- Can you try adjusting the `Resolution Scale` i

[2022-07-15 11:03] vxlcoder commented on #1135
Interesting.  Testing on Blender 3.3.0 alpha and RF v3.2.5, I wasn't able to reproduce it at 1.2, but it this issue does show up at 0.9.

[2022-07-15 16:08] wangxiao0075 commented on #1143
ohch！ thanks for reply so quick , @vxlcoder

[2022-07-15 16:24] wangxiao0075 commented on #1143
E......@vxlcoder
I found some intersting thing bro
when i use 1,0 /1.1/ 1.2 /1.4 /1.5/1.6 /1.7/2.0 /2.2 /2.4/2.8  (only tried this range)   **menu is work**
when i use 1.3/1.8 **menu is not work**
hope this test can help u  XD

[2022-07-15 16:36] #1143 closed

[2022-07-17 13:48] vickyinu commented on #1134
Hello @jlampel

I have better reproduction steps.

I installed Blender and Retopoflow, without any changes on the preferences, and it was working as expected.

I then change the views again, like I mentioned, Right mouse to rotate, and tested it, still no problems.

I changed the Mouse Middle button to Move view, and that triggers the problem.

Actually what is causing the problem is the Mouse mid

[2022-07-22 13:15] Saseska commented on #842
Have the same trouble, the addon is really nice working only while retopologized mesh is "lowpoly". For example, if I use default cube as target, and the same mesh as retopology - the tools works well, but if I subdivide cube 5th times to get about 6k polys and then run RF - tools become unusable with average 6 fps. It heavily depends on how many polys in your retopologized mesh. The only workarou

[2022-07-22 13:28] vxlcoder commented on #842
@Saseska, would you be willing to share your .blend file with us?  You can send it to retopoflow@cgcookie.com to keep it private.

Also, would you mind trying something?  Try resetting Blender to factory defaults (File > Defaults > Load Factory Settings), then re-enable and run RetopoFlow without having any other nonstandard add-on enabled.

We have had no problems with working on 6k faces, so I'm

[2022-07-22 14:05] Saseska commented on #842
@vxlcoder Just tried, it still works the same way. I have sent a sample scene and screen record to your email.

[2022-07-25 05:55] huzaifahalmansor commented on #1132
I just get this lovely addons from blender market. This bug happen to me today. it's happen when i use Ctrl+Shift+z for redo.

[2022-07-29 22:52] ninjax-codes2004 opened #1146 "I have a problem with this addon,at first i did not experience such a problem then when i closed blender and i decided to open it again and immediately i clicked on the add retopo to active object it will load a retopoflow-rotate empty that will not allow me to retopologize the surface of my mesh. Have tried many fixes to it but it is still the same problem. Please i would like to know a solution tho this issue . Thank you! : )"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [x] Read through the README.md file in the branch used to assure the process taken is correct
- [x] Check the exis

[2022-07-29 23:07] vxlcoder commented on #1146
Hi @ninjax-codes2004.

Be sure to use `Ctrl+LeftMouse` to create new geometry.

There are more details in the help (press `F1` or visit docs.retopoflow.com)

If I misunderstood your issue, let me know.

[2022-07-30 03:45] ninjax-codes2004 commented on #1146
Thanks it solved my issue

[2022-07-30 12:22] vxlcoder commented on #1146
great!

Happy retopo'ing!

[2022-07-30 12:22] #1146 closed

[2022-07-30 22:17] Catology commented on #1132
I also have this issue, it happens constantly. I'm new to learning Retopoflow so of course I'm hitting undo a lot, but it's very frustrating to have to constantly Exit then restart the add-on.

[2022-08-03 12:48] vxlcoder commented on #1132
this issue should now be fixed in commit a8708f3!

[2022-08-03 13:06] vxlcoder commented on #1134
Sorry for the delay in reply, @vickyinu.

I just downloaded your `userpref.blend` and tried it out, but it is working as expected on my machine.  MMB pans, RMB rotates, Wheel zooms...

Now, I just committed a _huge_ set of changes recently, and I'm using Blender 3.2.1, so it could be that either I or the Blender devs made a change that fixed this issue, but it could also just be my setup.

Could y

[2022-08-04 02:45] vxlcoder commented on #1112
this _should_ be fixed in commit 132d773

[2022-08-04 02:49] vxlcoder commented on #1142
this issue is related to #1112, in that the action system isn't seeing this action yet, because i didn't implement the click handling correctly.  in other words, `view3d.view_center_pick` is already in list of navigation operators, but since that `KeyMapItem` is using click (`Alt+MiddleMouse+Click`) rather than press, the action system ignores that event.  changing the KMI to press instead works g

[2022-08-07 15:22] iminurwalls opened #1147 "View Jumping Back When Manually Saving & "Finish Auto Save Recovery" Scaling Down Mesh [BUG]"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [x] Read through the README.md file in the branch used to assure the process taken is correct
- [x] Check the exis

[2022-08-07 16:28] vxlcoder commented on #1147
thanks for the report, @iminurwalls.

We are currently working on this issue. It is partially fixed right now in the unreleased `v3.3.0` branch (still working on recovery system).  we will release this update as soon as it is ready, but you can test it out now by using the updater system to download branch `v3.3.0` (see https://docs.retopoflow.com/addon_updater.html).

[2022-08-07 19:46] iminurwalls commented on #1147
Hi @vxlcoder, thanks for the reply. I am able to install v3.3.0 of RetopoFlow as an add on but I can't enable it in Blender.

[2022-08-07 20:10] vxlcoder commented on #1147
Hmm... let's try this.

Start Blender as usual, but then open the system console (see https://docs.retopoflow.com/debugging.html#:~:text=the%20terminal%20/%20console.-,Windows,-Start%20Blender%20as).  Then, try enabling / starting RetopoFlow.  Lots of text will show up in the console that can give us hints as to why it's not working on your machine.  Select _all_ that text (you might need to scrol

[2022-08-07 20:31] iminurwalls commented on #1147
Okay, so I had to download the .zip directly because auto-update failed when I tried to use the updater system.

**This is what showed up in the console from installation of v3.3.0 to attempting to enable it:**

Read prefs: C:\Users\grays\AppData\Roaming\Blender Foundation\Blender\3.2\config\userpref.blend
addon_utils.disable: retopoflow-3.3.0 not disabled
Modules Installed (retopoflow-3.3.0) from

[2022-08-07 20:44] vxlcoder commented on #1147
That's really frustrating.  sorry that you're having these issues.

I'm looking into that last bit right now

[2022-08-07 21:02] vxlcoder commented on #1147
Ok, @iminurwalls, try this version: https://www.dropbox.com/s/e2n3ikarenznwtd/RetopoFlow_v3.3.0-alpha-GitHub.zip?dl=0

I've packaged it as a zip to make it easier on your end.

[2022-08-07 21:09] iminurwalls commented on #1147
Unfortunately v3.3.0 still can't be enabled.

### **This is what the console said:**

Read prefs: C:\Users\grays\AppData\Roaming\Blender Foundation\Blender\3.2\config\userpref.blend
addon_utils.disable: RetopoFlow not disabled
Modules Installed (RetopoFlow) from 'C:\\RetopoFlow\\RetopoFlow_v3.3.0-alpha-GitHub.zip' into 'C:\\Users\\grays\\AppData\\Roaming\\Blender Foundation\\Blender\\3.2\\scripts\

[2022-08-07 21:12] vxlcoder commented on #1147
ah, a typo that I haven't run across yet.

Let's try this again: https://www.dropbox.com/s/e2n3ikarenznwtd/RetopoFlow_v3.3.0-alpha-GitHub.zip?dl=0

And, again, thank you for you patience and help with debugging this!

[2022-08-07 21:30] iminurwalls commented on #1147
You're welcome. Thanks for your quick replies.

I was able to enable RetopoFlow, open it, and add some geometry. Then I manually saved my work (Ctrl+S) and noticed it still has that "jumping back" issue with the view. I did not get the "Finish Auto Save Recovery" prompt.

### **This is what the console said:**

Read prefs: C:\Users\grays\AppData\Roaming\Blender Foundation\Blender\3.2\config\userpr

[2022-08-07 21:36] vxlcoder commented on #1147
that's very strange. would you mind doing another screen capture of the jump and maybe sending us your blend file? you can send it to retopoflow@cgcookie.com.

[2022-08-07 22:09] iminurwalls commented on #1147
It's been sent.

[2022-08-07 22:14] vxlcoder commented on #1147
thank you! I will to take a look as soon as I can.

[2022-08-08 08:48] borco commented on #1147
I'm also experiencing this with:

* Blender 3.2.2 (macOS/M1)
* RetopoFlow v3.2.8

For me it is enough to:

* select existing retopoflow mesh
* enter *Edit* mode
* in the *RetopoFlow* menu, select *Start RetopoFlow*
* exit the *RetopoFlow* without doing anything

At this point:

* the scale of the target mesh and the *RetopoFlow* mesh still have a **scale** set to `1`
* *RetopoFlow* menu shows an *

[2022-08-08 16:05] iminurwalls commented on #1147
Yes, the "Finish Auto Save Recovery" issue seems to be resolved in v3.3.0 for me as well.
I'm curious to know if you, @borco, are experiencing your field of view "jumping back"/"zooming out" when you manually save (Ctrl+S) while working in RetopoFlow?
That problem has yet to be resolved for me, but I know @vxlcoder is working on it.

[2022-08-09 00:25] vxlcoder commented on #1147
@iminurwalls, I have found and fixed the issue with view jumping on save!

please try this version, and let me know if it works for you. https://www.dropbox.com/s/e2n3ikarenznwtd/RetopoFlow_v3.3.0-alpha-GitHub.zip?dl=0

I still have more work to do on the auto save recovery feature, but saving _should_ be correct now.

[2022-08-09 00:53] iminurwalls commented on #1147
It worked :) thank you so much. I'm very excited to continue using RetopoFlow as I think it is a great tool, but developers like you are what make it so good. Thanks again.

[2022-08-09 01:03] vxlcoder commented on #1147
glad to hear!  will go ahead and close this issue, even though the auto save recovery is still being worked on.  let us know if you have any more issues.  and, if you have a moment, we'd appreciate a review on the Blender Market.

@borco, if the version I linked above (same as `v3.3.0` branch) does not resolve your issue, will you please open a new issue with the details you gave above?

happy ret

[2022-08-09 01:03] #1147 closed

[2022-08-09 01:31] iminurwalls commented on #1147
Done.

[2022-08-09 07:35] borco commented on #1147
@vxlcoder the latest download works ok for me (btw, there is another annoying thing: when exiting the retopoflow editor, the screen flutters/flickers for a couple of seconds. not sure if this is an issue with the retopoflow, macos, blender on M1, Metal, my monitor/cables..., but i haven't seen it happening with other plugins programs so far...; pls let me know if i should make a ticket for this)

[2022-08-09 10:53] vxlcoder commented on #1147
@borco, please open a new ticket for the flicker. if possible, can you record a video of it? it would be best to record a screen capture as opposed to a camera pointed at screen. I am thinking it is the m1, since that new chip/machine has given me all sorts of weird issues in my experience. I have an m1 that I can test on, too.

as for the recovery, I am hoping to get that resolved this week.

[2022-08-10 10:21] borco opened #1148 "Screen flickering when exiting from RetopoFlow"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [x] Read through the README.md file in the branch used to assure the process taken is correct
- [x] Check the exis

[2022-08-10 10:24] borco commented on #1147
@vxlcoder i've made ticket #1148, but couldn't make any good recording of the issue: i've try using both my old iphone and recording the screen, but the flicker is not visible on either of these. unfortunately, i have no other way to record this issue...

[2022-08-10 12:45] iminurwalls commented on #1147
@borco you can download and use OBS to record your screen, which is a free, open source software that is mac and windows compatible.

[2022-08-10 13:09] vxlcoder commented on #1147
thank you for trying, @borco. frankly, the m1 has been a pain to work with. we have worked around all sorts of issues with it already, including a very strange crashing bug (their glsl implementation of discarding a fragment inside a switch statement was/is? broken). I ended up buying an m1 just to run tests and debug. will take a closer look at it.

[2022-08-11 14:30] VertexBeat commented on #1125
Hey, sorry for the very later reply.

Haven't used Retopoflow for a longer time and just tried it out again on a different project and still the same issue (Blender 3.2.2 and the newest RetopoFlow version).

I have kept a closer look:

1) it completely randomly freezes after I put a Vert with the PenTool, I don't switch tools … if I choose the PenTool at the beginning and just placing verts ….it r

[2022-08-14 05:03] asimkhan321 opened #1149 "Addon problem"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [x] Read through the README.md file in the branch used to assure the process taken is correct
- [x] Check the exis

[2022-08-14 11:12] vxlcoder commented on #1149
hi @asimkhan321.

I'm sorry that you're having an issue with RetopoFlow.

can you provide some details on what the issue is?

thanks!

[2022-08-15 22:45] TofuLad69 opened #1150 "Viewport Angle not working at all in Retopoflow"
Retopoflow Version: 3?

Blender Version/Hash: 2.93.4

Platform Version/Distribution: Microsoft Surface Pro 5 (Windows 10 OS)

&nbsp;

I cannot change the angle of my viewport in Retopoflow. Any time I drag the cursor, literally nothing happens, leaving me a very awkward angle.
I have all default settings btw.
The only way that I have been able to change the angle is with the number keys. And even

[2022-08-15 22:47] vxlcoder commented on #1150
hi @TofuLad69.

what is your keymap setting for viewport move and rotate?

we haven't had issues with most standard settings, but maybe your setup is different.

[2022-08-15 23:44] TofuLad69 commented on #1150
@vxlcoder
I've mostly just been trying to use my trackpad, like I've normally used in vanilla blender. It's seemed to work on other people's computers so I don't know why I'm the only person with this problem.

[2022-08-15 23:49] vxlcoder commented on #1150
hmmm. the trackpad should work fine, but not sure why not for you, yet.

here are a few things to try:

- try loading factory defaults (file > defaults), enable RF, then try it.
- does it work with mouse?
- try using RF, exit, open system console (window > toggle system console), then copy _all_ the text you have in there (could be a lot!) and paste it here.

thanks for helping us debug this! we w

[2022-08-15 23:57] TofuLad69 commented on #1150
it still doesn't work in factory default settings.
I also do not have a mouse for my laptop.
but here is the text that appears when I toggle system console.

Read prefs: C:\Users\hgaco\AppData\Roaming\Blender Foundation\Blender\2.93\config\userpref.blend
RetopoFlow: Initial load
Addon Common: (shaders) GLSL Version: 4.50 - Build 27.20.100.8682
Addon Common: compiling UI shader
Addon Common: batchi

[2022-08-16 00:00] TofuLad69 commented on #1150
also, not sure if this is related, but this error message has been showing up.
![image](https://user-images.githubusercontent.com/93833206/184756098-8ca54b5a-7813-4350-814e-476998620ef3.png)

[2022-08-16 00:23] vxlcoder commented on #1150
perfect, thanks!  i've noticed a few things, but nothing seems to point to why the trackpad isn't working, though.  i'll dig around in my code a bit to see what i can find (i'm currently working on a big change in that area right now anyways).  in the mean time...

I missed you're using Blender 2.93.  the latest verson of RF _should_ still work in 2.93, but I haven't tested recently.  Are you able

[2022-08-16 00:36] vxlcoder commented on #1150
you _might_ need to install version 3.2.4 or 3.2.5, though.  again, I haven't tested against blender 2.93 in a while.

[2022-08-16 12:33] SurpriserTR opened #1151 "MacOS RetopoFlow 3.2.8 - on undo retopo scales up"
During the retopolizing whenever I try to undo (ctrl+z) the models scales up.
Made some research and changed the 'z' relax with another key but still I have the same error
All the time I exit from retopoflow and re-open it which solves the problem but takes so much time
![image](https://user-images.githubusercontent.com/43583369/184880122-fb11946b-c7e5-4e02-a6f0-7761c2c19551.png)

[2022-08-16 12:45] vxlcoder commented on #1151
thanks for the report, @SurpriserTR, and nice model!

this issue has been fixed in the latest branch `v3.3.0`, but we are still making some significant changes, so we haven't released it yet.

I am working on a quick fix now for this exact problem.  we are planning to release this in the next few days.

if you want to try `v3.3.0`, you can get it from https://www.dropbox.com/s/e2n3ikarenznwtd/Reto

[2022-08-16 12:47] SurpriserTR commented on #1151
Wow thank you a lot for quick response .
I will try the v3.3 version but I’am not sure if its working well with MacOs.
Good luck .

Jon Denning ***@***.******@***.***>> şunları yazdı (16 Ağu 2022 15:45):

thanks for the report, @SurpriserTR<https://github.com/SurpriserTR>, and nice model!

this issue has been fixed in the latest branch v3.3.0, but we are still making some significant changes, so w

[2022-08-16 13:02] vxlcoder commented on #1151
As far as we can tell, it _should_ be working fine on MacOS, but please let us know if you do run into problems!

[2022-08-18 02:21] TofuLad69 commented on #1150
Okay then. thanks for letting me know! I'm gonna download it from the github link you shared since that one is free. Do I have to download the source code with it too? Also, do you recommend that I upgrade to a newer version of blender?

[2022-08-20 08:57] ZUZ369 opened #1152 "Reptoflow for blender2.79??"
Is there RP for 2.79 ?? I can't use this latest version please help me I have been trying all versions available but not working can u help me? 😓

[2022-08-20 09:05] #1152 closed

[2022-08-25 07:03] tiantianaixuexi opened #1153 "3.2.8 in blender 3.2.1 use Contours will get Stuck"
3.2.8 in blender 3.2.1 use Contours will get Stuck

When I click Ctrl to draw the first line and let go, it will get stuc

https://user-images.githubusercontent.com/31758095/186597782-c32c79a0-d17b-4cec-9c51-e2c31e51e96e.mp4

[2022-09-06 10:44] Roonschot opened #1154 "[BUG] v3.3.0 - Strokes brush creates extra geometry when changing vertex count twice"
Retopoflow Version: v3.3.0 (9th of August 2022)

Blender Version/Hash: 3.2.2 & 3.3

Platform Version/Distribution: Windows

&nbsp;

**Issue:**

When having made a stroke with the "Strokes" brush, changing the vertex count by scrolling spawns in new edges with the vert count of the desired scroll, after changing it twice. This makes the brush largely unusable.

This also applies to Strokes that ext

[2022-09-06 11:01] vxlcoder commented on #1154
Thanks for the report and great details, @Roonschot!

I'll take a look at this.

[2022-09-09 14:56] MarcusJohnston1234 opened #1155 "QUESTION / BUG Polypen shortcut change breaks tool"
Retopoflow Version: 3.2.8

Blender Version/Hash: {*add here*}

Platform Version/Distribution: Win 10 x64 bit

When changing combination shortcut for polypen the tool seems to break.

I'd like to map the ctrl + click shortcuts for creating new geometry to shift + click as it's more comfortable for me, this seems to work perfectly fine for the other tools like contour, strokes, etc. But with Polypen

[2022-09-09 15:01] vxlcoder commented on #1155
thanks for the report, @MarcusJohnston1234!

I'm close to having an improved keymap system in place that _should_ fix this issue.  I'm hoping to have time this weekend to work on getting it to usable state.  Once there, I'll ping you here to give it a test run.

[2022-09-09 15:33] MarcusJohnston1234 commented on #1155
That's wonderful Jon, thanks for getting back to me so quick. Looking forward to it!
All the best,Marcus    On Friday, 9 September 2022 at 16:01:44 BST, Jon Denning ***@***.***> wrote:

thanks for the report, @MarcusJohnston1234!

I'm close to having an improved keymap system in place that should fix this issue. I'm hoping to have time this weekend to work on getting it to usable state. Once there

[2022-09-14 22:53] r189 opened #1156 "on Mac Osx Undo hides geometry"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2022-09-14 22:59] Samaleus commented on #1071
I just had the exact same problem. I hid half of the mesh of a creature to do the other half and when I tried later to unhide it, it was gone. I want to cry

[2022-09-15 09:23] GMJ80 opened #1157 "[BUG] Target mesh is scaled up largely, when reopening an earlier retopo project"
**[BUG] Target mesh is scaled up largely, when reopening an earlier retopo project**

Retopoflow Version: 3.2.8

Blender Version/Hash: 3.2

Platform Version/Distribution: Win10

I've just started to use Retopoflow and at the first project I'm having the following issue. Started to get around with the tools in the addon and properly exited from the file when finished (no crash happened). When reope

[2022-09-15 12:48] GMJ80 opened #1158 "[BUG] Target mesh jumps off the source mesh after "Undo" or when decreasing the number of segments (with the use of "Strokes" tool)"
[BUG] Target mesh jumps off the source mesh after "Undo" or when decreasing the number of segments (with the use of "Strokes" tool)

Retopoflow Version: 3.2.8

Blender Version/Hash: 3.2

Platform Version/Distribution: Win10

**Issue:**

When creating a new line of edges with "Strokes" tool, the target mesh jumps off from the source mesh, either at
- "Undo" (I did not save the file just before chos

[2022-09-19 12:22] GMJ80 opened #1159 "3.8.9 update, error during installation"
[BUG] 2.8.9 update, error during installation

Retopoflow Version: 2.8.9

Blender Version/Hash: 3.2

Platform Version/Distribution: WIN10

I've recently bought Retopoflow and started using with a 3.2 version of Blender. I've bumped into a few issues during the first uses, like upscaling target meshes beyond others. It was very promising to see your note on the weekend thaht you've made an update o

[2022-09-19 14:22] vxlcoder commented on #1159
Hi @GMJ80.  I'm sorry to hear that you've had so many issues.  We'll work to get you up and going.

I did not see an attached screenshot, but some people have had some issues with the updater.  Not sure yet what the cause is, but we're still digging into that.

For now, a working workaround has been: uninstall RetopoFlow completely from Blender, restart Blender (completely close then reopen), inst

[2022-09-19 15:46] denschub commented on #1159
@vxlcoder I have the impression that the .zip uploaded to BlenderMarket is wrong. Instead of having a top-level folder `RetopoFlow` inside the zip, the addon is inside a `RetopoFlow_v3.2.9-BlenderMarket/RetopoFlow/` subdirectory, which isn't valid and causes the update to fail.

I initially thought macOS played a trick on me, but it's not:

[code]

[2022-09-19 15:51] denschub commented on #1159
Interestingly, the GitHub release is fine:

[code]

so something went wrong preparing it for BlenderMarket? :)

[2022-09-19 15:52] vxlcoder commented on #1159
oh, interesting catch!  the makefile should create similar structured zips, so maybe the BM version was uploaded wrong?  @jlampel can you take a look at that?

[2022-09-19 18:18] jlampel commented on #1159
Thank you for reporting. That was my fault for zipping it up incorrectly after making a change (removing "alpha" from the version number) for the Blender Market upload. Apologies for that! I've fixed the BM download.

[2022-09-19 18:18] #1159 closed

[2022-09-20 07:13] GMJ80 commented on #1159
Thank you all, for your quick response and helpfull manner. I'm excited to check the update. Thank you for it, again.

[2022-09-20 07:20] BlueSaved opened #1160 "[BUG] Error message when enabling: "path should be string, bytes, os.PathLike or integer, not None Type""
[BUG]

Retopoflow Version: 3.2.9

Blender Version/Hash: 3.3

Platform Version/Distribution: Windows 11 64bit

&nbsp;

**Issue:**

After installing Retopoflow in Blender Add-ons, I clicked the checkbox to activate it and received the following error message:

I couldn't find any known bugs for Retopoflow specifically, but after some research I found out this was an odd Python library issue that's c

[2022-09-26 12:41] GMJ80 opened #1161 "[QUESTION] What do I need to do to UV unwrap the complete target mesh, which was made in X smmetry in Retopoflow (Blender unwraps only one side of the target mesh, without handling the mirrored side)"
[QUESTION] What do I need to do to UV unwrap the complete target mesh, which was made in X smmetry in Retopoflow (Blender unwraps only one side of the target mesh, without handling the mirrored side)

Retopoflow Version: 3.2.9

Blender Version/Hash: 3.2

Platform Version/Distribution: WIN10

It is my first target mesh I've created in Retopoflow, which I made with using X symmetry and now I'm tryin

[2022-10-03 17:22] draeath opened #1162 "[BUG] updater wipes own staging directory leaving an empty addon directory, returns successful despite failure"
**Before raising the issue, please check the following first:**

- [x] Read through the README.md file in the branch used to assure the process taken is correct
- [x] Check the existing [issues](https://github.com/CGCookie/retopoflow/issues) and [pull requests](https://github.com/CGCookie/retopoflow/pulls) to make sure the issue has not already been reported and/or fixed.
- [x] You can replicate t

[2022-10-03 17:24] draeath commented on #1162
I want to note that I originally experienced this issue with both distro package provided installs of blender and blender builds downloaded from the official site. I have only recently switched over to Steam to simplify updating. This issue is reproducible regardless of blender's installation method.

[2022-10-05 00:56] vxlcoder commented on #1162
thanks for the report, @draeath.

@TheDuckCow, do you happen to have any insight into this issue?  I haven't updated RF's updater to the add-on updater repo in a while, so maybe that could fix it, but we've seen quite a few reports on the updater breaking RF recently.

[2022-10-05 09:40] RemoBlockade opened #1163 "Input not working when Retopo is active.**[BUG]**"
Retopoflow Version: {*3.2.9*}

Blender Version/Hash: {*3.3.0*}

Platform Version/Distribution: {*Windows 10 *}

**I start up RetopoFlow, but when I try to use it my input no longer works on the mane editing screen. I can select the different tools, and even pan and zoom. but i can't edit my object at all. it wont draw on my figure at all and it wont let me close out of the program. Ill have to use

[2022-10-09 23:33] TheDuckCow commented on #1162
Hey @vxlcoder, just realized my initial email reply from before didn't make its way onto github like usual:

Taking a look myself more manually right now, a few things I note:
- I [notice here](https://github.com/CGCookie/retopoflow/blob/v3.3.0/addon_common/common/updater_ops.py#L75) that the default name `addon_updater_demo` is used, should be changed to something unique like `retopoflow_updater`

[2022-10-11 08:44] TheDuckCow commented on #1162
On my phone but wanted to go ens quick reply - Ill take a look and see if anything looks specifically off in the config. I haven't heard of any other (or my own) add-ons having an influx of errors.Have you made any changes to how releases are packaged? Such as the zip files added to the release pages on retopoflow? Updating the updates (as one says ha) could help - though I'd be suspicious this be

[2022-10-14 02:06] TofuLad69 opened #1166 "Viewport still isn't working"
I have had this issue before in the past and it's come up again right as I started using Blender again. For whatever reason, I cannot move the viewport display at all in Retopoflow, so I end up getting stuck at really awkward angles and it's getting really frustrating at this point. I have the most recent versions of both Blender (3.3.1) and Retopoflow (3.2.9) so I don't understand why this bug ev

[2022-10-21 11:32] BenderBlender opened #1169 "cursor in the tweak mode"
the cursor in the tweak mode closes the entire view, can it be turned off somehow (make it in the form of a thin line without orange highlight elements or Alpha)?

[2022-10-21 11:40] BenderBlender opened #1170 "PolyPen move point in one click function"
It is very annoying to have to first click on a point to select it, and only then is it possible to move it. I would like to be able (for example, when pressing Alt or some other key ("1")) to immediately move the points without having to wait for the selection function to work.

[2022-10-27 06:42] jlampel commented on #1169
I'm not sure I fully understand, could you please post a screenshot or describe how it closes the view? Is it very large and covering too many vertices and at full strength / opacity? What size are you using it at?

[2022-10-27 06:50] jlampel commented on #1170
It would be good to explore new ideas for keymaps before the next large update, but in the meantime, you can hold C and use the tweak brush while in any mode. It's not exactly the same but fairly close and quick to use. Closing this out since it's a duplicate request. It's on our radar!

[2022-10-27 06:50] #1170 closed

[2022-10-27 06:54] jlampel opened #1171 "Crash when Tweak or Relax falloff is set to 0"
Setting the brush falloff to 0 and clicking and dragging in the viewport will crash RetopoFlow and Blender.
Reported via BM: https://blendermarket.com/inbox/conversations/81765

[2022-10-30 06:20] kyushu opened #1172 "PolyStrips: Unhandled Exception Caught: Exception caught"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2022-10-31 07:29] Adambekow opened #1173 "could not save RetopoFlow"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2022-10-31 10:33] vxlcoder commented on #1173
Hi @Adambekow.

This warning is telling you that the file that you're working on has not been saved before.  Note: this is not an error, meaning that nothing is broken, but it is warning you to make sure you save your work.

The best way to correct this is to exit RetopoFlow, save your file, then enter RetopoFlow again and continue working.

Please let us know if you have any other questions or pr

[2022-10-31 10:33] #1173 closed

[2022-11-15 18:12] akomili opened #1174 "**[BUG]** Source mesh incorrectly marked as unused"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [x] Read through the README.md file in the branch used to assure the process taken is correct
- [x] Check the exis

[2022-11-22 22:27] Sulivar opened #1175 "Unable to select target"
It's all in the title, in general I always manage to manage but there impossible to do anything.

I can't select the target by following the instructions in the guide provided with the addon.

I select the target in object mode then new Target at cursor or new targeter at active but nothing seems to work.
In both cases, I have the poly count at zero and I can't modify anything.

In target display

[2022-11-22 22:31] vxlcoder commented on #1174
Thanks for the report, @akomili!

can you try emailing us the .blend file at retopoflow@cgcookie.com?

[2022-11-22 22:33] vxlcoder commented on #1175
hi, @Sulivar.

after you click new target, does RetopoFlow start up?  if not, let us know.  but if it does, try using Ctrl+LMB to create geometry with the selected tool.

[2022-11-22 22:39] Sulivar commented on #1175
Thank you, that was it, I'm just a jerk, it was the first addon I bought for my studies that's why I backed out :) neck it works now.

[2022-11-22 22:40] vxlcoder commented on #1175
glad to hear!

happy retopo'ing

[2022-11-22 22:40] #1175 closed

[2022-11-23 18:19] Sulivar commented on #1175
Thanks.

I haven't found a conclusive tutorial yet, I think it must be a new addon. I spent an evening on it without much success.

I'm going to settle for the basic sculpting while waiting for it to be better known.

[2022-11-26 01:13] dstevenscal opened #1176 "**[BUG] Cannot enable Retopoflow after re-install"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [x] Read through the README.md file in the branch used to assure the process taken is correct
- [x] Check the exis

[2022-11-26 01:15] vxlcoder commented on #1176
thanks for the report, @dstevenscal.

I will take a look at this tomorrow!

[2022-11-26 01:25] vxlcoder commented on #1176
thanks for the report, @dstevenscal.

I will take a look at this tomorrow!

if you get a chance, can you try toggling the console (window > toggle console) and copy-paste everything in there here? sometimes useful info is reported there that can help debug issues. thanks!

[2022-11-26 01:35] dstevenscal commented on #1176
You mean copy paste the whole error message?

[image: image.png]

On Fri, Nov 25, 2022 at 5:25 PM Jon Denning ***@***.***>
wrote:

--
Dennis Stevens

This message contains confidential information and is intended only for the
individual named. If you are not the named addressee you should not
disseminate, distribute or copy this e-mail. Please notify the sender
immediately by e-mail if you have re

[2022-11-26 01:45] dstevenscal commented on #1176
Here's the python info from the system-info

Python (External Binary):
====================================

binary path: 'C:\\Program Files\\Blender Foundation\\Blender
3.3\\3.3\\python\\bin\\python.EXE'
version: Python 3.10.2

Directories:
====================================

scripts:
'C:\\Program Files\\Blender Foundation\\Blender 3.3\\3.3\\scripts\\modules'
'C:\\Program Files\\Blender Foundat

[2022-11-26 13:41] vxlcoder commented on #1176
thank you, but that's a different output (blender has many different reporting mechanisms, which can be confusing...)

take a look at the Terminal / Console output section of https://docs.retopoflow.com/debugging.html for details.

following the instructions will open a separate window with a bunch of text. that text has a lot of debugging info for RetopoFlow (you should see RF in there quite a bi

[2022-11-26 13:45] dstevenscal commented on #1176
I followed the instructions as far as I could. I can't 'Start Retopoflow'
because I can't enable it.
I did open the terminal console and saw these messages - I don't know if
they are useful.

[image: image.png]

On Sat, Nov 26, 2022 at 5:41 AM Jon Denning ***@***.***>
wrote:

--
Dennis Stevens

This message contains confidential information and is intended only for the
individual named. If you are

[2022-11-26 13:47] vxlcoder commented on #1176
it could be that I am trying to read this on a phone, but I'm not seeing an image... let me check from my PC in a few minutes

[2022-11-26 14:58] vxlcoder commented on #1176
yeah, even on my PC I'm not seeing an image...

![image](https://user-images.githubusercontent.com/3790699/204095189-65b02307-36b8-49c6-89a1-a5f812510854.png)

this is the previous post, too.

![image](https://user-images.githubusercontent.com/3790699/204095229-5954cc76-7a18-429c-b994-8fcb747ece01.png)

can you try copy-pasting as text instead of taking a screenshot?

note: in the console / termin

[2022-11-26 15:07] dstevenscal commented on #1176
Here's is what terminal console says:

 - WARN (bpy.rna): C:\Users\blender\git\blender-v330\blender.git\source\blender\python\intern\bpy_rna.c:1340 pyrna_enum_to_py: current value '0' matches no enum in 'HG_SETTINGS', '', 'expressions_sub'
WARN (bpy.rna): C:\Users\blender\git\blender-v330\blender.git\source\blender\python\intern\bpy_rna.c:1340 pyrna_enum_to_py: current value '0' matches no enum in

[2022-11-26 15:09] vxlcoder commented on #1176
interesting.  seems that Realtime Materials has a few issues reported, but I'm not seeing anything about RF.  do you see any new text show up when you try installing/enabling/disabling/uninstalling RF?

[2022-11-26 15:09] vxlcoder commented on #1176
and thank you for helping us debug this issue!

[2022-11-26 15:18] dstevenscal commented on #1176
I just tried recreating the issue (enabling Retopoflow) and it worked without an error message. I didn't change anything, so I'm not sure why the problem stopped?

[2022-11-26 15:24] vxlcoder commented on #1176
ha!  it's the "expert aura", where problems seem to disappear when the "expert" is near / starts looking :)

glad it's fixed!   i'll close the issue for now, but feel free to reopen if it reappears.

again, thanks for your help in working on this!   we need as much input from the artist's side as possible, because it's really hard to replicate tricky issues like this, especially when they seemingl

[2022-11-26 15:24] #1176 closed