[2014-11-23 22:59] carter2422 opened #1 "Make Contours use common functions where applicable"
Contours still has a good few function calls that can be changed out for our common functions in **lib**.

[2014-11-23 23:34] carter2422 opened #2 "Replace old settings calls with new function in common_utilities"
Contours used an older method of setting the add-on preferences. We now have a common utility that makes it much simpler.

All calls for:

[code]

Should be replaced with:

[code]

[2014-11-23 23:39] #2 closed, assigned to carter2422

[2014-11-24 00:35] carter2422 opened #3 "Re-work widget theme and options"
The Contours widget needs to be re-designed and re-themed. The new design has been done by Pawel L. but the functionality is waiting on the new **Wiggly Widgets** work by Antony R in Blender master.

[2014-11-24 01:00] carter2422 opened #4 "Polystrips fails on start if "BezierCurve" object exists"
If a bezier curve object with name "BezierCurve" is present in scene upon starting Polystrips then it fails.

[code]

[2014-11-29 00:26] carter2422 opened #5 "Optimize Polystrips for speed"
Polystrips can quickly become quite slow, particularly on slower machines and complex models.

If there's anything we can do to optimize it then we should :smile:

Speed is probably one of the more common points of critical feedback I've heard.

[2014-11-29 03:43] carter2422 opened #6 "Cannot delete strip when part of patch"
If a strip is part of a patch then it crashes upon trying to delete the selected edge.

[code]

[2014-11-29 03:55] carter2422 opened #7 "Split preferences into own file"
To help keep files condensed I suggest we split off the add-on preferences into it's own file.

[2015-01-02 16:57] carter2422 opened #8 "Only active strip is highlighted when multiple strips are selected."
When selecting multiple strips for filling only the active strip is highlighted.

**Active** should draw with `theme_colors_active` color, selected should draw with `theme_colors_selection` color.

[2015-01-02 17:01] carter2422 opened #9 "Simple Fill should draw with transparent faces."
The simple fill areas should fill with partially transparent faces to improve the visibility. Currently only the wireframes are drawn.

[2015-01-02 17:07] carter2422 opened #10 "Should not be able to scale inner gverts"
Current you can _scale_ a selected inner gvert. This is unnecessary and should not be allowed, so as to prevent confusion with the user.
![screen shot 2015-01-02 at 11 04 22 am](https://cloud.githubusercontent.com/assets/1648631/5597840/89b666a8-926f-11e4-8a9e-77f074ad3a45.png)

If an inner gvert is selected let's not allow the **scale operator** to be activated.

[2015-01-02 17:28] #10 closed, assigned to vxlcoder

[2015-01-02 17:57] vxlcoder opened #11 "Undo not restoring selected gedges properly"
undo snapshots do not copy/restore the sel_gedges set

[2015-01-02 21:35] vxlcoder opened #12 "Updating gedges with fixed counts is jumpy"
When gedge has fixed segment count, updating (by moving a gvert) can cause the segmentation to act erratically and cut non-uniformly.

![image](https://cloud.githubusercontent.com/assets/3790699/5599878/d6dac382-9294-11e4-984c-3bfa8e13bed8.png)

[2015-01-02 22:02] #8 closed, assigned to carter2422

[2015-01-02 22:52] vxlcoder opened #13 "Do not modify the sys.path"
need to use relative paths with import

[2015-01-02 23:42] vxlcoder opened #14 "UI checkbox to turn off pressure"
Need to add the ability for users to turn off pressure sensitivity. It's not always useful and some users will want to use a tablet but not use pressure.

[2015-01-03 01:48] #14 closed, assigned to nobody

[2015-01-03 01:50] carter2422 opened #15 "If Use Pressure is enabled then strokes always start small"
When using a tablet, if **Use Pressure** is enabled, then the start of the stroke is always small. No matter how large the initial pressure push.

[2015-01-03 03:09] #1 closed, assigned to nobody

[2015-01-03 03:14] carter2422 opened #16 "If an gedge is selected then all gverts are drawn in selected color."
![screen shot 2015-01-02 at 9 13 23 pm](https://cloud.githubusercontent.com/assets/1648631/5601443/47890f74-92c4-11e4-9b48-9b0778a05941.png)

[2015-01-03 04:12] vxlcoder opened #17 "occlusion lost when segment count changes"
When using simple fill, changing the segment count of GEdge causes all occluded geometry to be visible through object.

![image](https://cloud.githubusercontent.com/assets/3790699/5601557/6819cd84-92cc-11e4-805f-d4f754f68c50.png)

![image](https://cloud.githubusercontent.com/assets/3790699/5601558/717b5906-92cc-11e4-9cf1-0d59cb41c479.png)

[2015-01-03 04:14] vxlcoder opened #18 "do visibility tests on gpatch"
![image](https://cloud.githubusercontent.com/assets/3790699/5601559/b1621776-92cc-11e4-9f53-d47f88d8fc6e.png)

[2015-01-03 04:42] vxlcoder opened #19 "code uses sel_gvert and act_gvert incorrectly"
sel_gvert should probably be the set sel_gverts

[2015-01-03 04:53] vxlcoder opened #20 "GVert is left-handed!"
this mistake was made early on in dev (much of the framework uses this) and needs to get fixed.

[2015-01-03 05:43] vxlcoder opened #21 "add F2-like simple fill"
select cornered gvert or two gedges that meet at a corner

[2015-01-03 16:41] patmo141 opened #22 "Explicit Imports only please"
remove instances of  from my_lib import *

-reduces readability
-imports things indiscriminately of need

[2015-01-03 16:54] vxlcoder opened #23 "remove draw_callback_debug function"

[2015-01-03 17:20] carter2422 opened #24 "Selected and Active Gverts are reversed"
This still needs confirmed, but it seems that the **Active** and **Selected** Gverts status is reversed.

[2015-01-03 17:45] carter2422 opened #25 "Need function to clear selection sets"

[2015-01-03 18:55] #17 closed, assigned to vxlcoder

[2015-01-03 18:55] #18 closed, assigned to vxlcoder

[2015-01-03 19:03] vxlcoder opened #26 "selecting corner gedges should test if new gvert needs to be created"
If a GEdges fully exist to make a GPatch, selecting two adjacent GEdges will cause simple fill to create another GVert.

[2015-01-03 19:08] carter2422 opened #27 "Sometimes gedges draw as selected when they're not"
This generally happens after having multiple gedges selected and then changing selection to just one gedge.

The sel_gedges likely isn't getting cleared.

[2015-01-03 19:31] carter2422 opened #28 "Add a Tweak move tool"

[2015-01-03 19:31] carter2422 opened #29 "Add a Relax tool"

[2015-01-03 19:32] #21 closed, assigned to vxlcoder

[2015-01-03 19:41] carter2422 opened #30 "Extending a gedge from existing gedge uses brush size, should inherit size from existing gedge"
If you extend a gedge from an existing gedge (creating a new gvert at the the stroke start) then it uses the brush size. This causes unwanted scaling of the original gedge.

**Solution**: inherit the size for the first gvert in the new gedge from the size of the original gedge.
![screen shot 2015-01-03 at 1 39 17 pm](https://cloud.githubusercontent.com/assets/1648631/5603515/106d25cc-934e-11e4-9a8

[2015-01-03 19:42] #27 closed, assigned to carter2422

[2015-01-03 19:43] #16 closed, assigned to carter2422

[2015-01-03 20:54] #24 closed, assigned to carter2422

[2015-01-03 20:55] #19 closed, assigned to vxlcoder

[2015-01-03 21:02] carter2422 opened #31 "Selecting patches leaves gverts of any selected edges highlights"
If you select a patch while some gedges are selected then it leaves the gverts of those gedges highlighted, even though the gedges are no longer selected.

![screen shot 2015-01-03 at 3 02 03 pm](https://cloud.githubusercontent.com/assets/1648631/5603733/7fe6446e-9359-11e4-90ec-1e1cb172e8bc.png)

[2015-01-03 21:05] #9 closed, assigned to carter2422

[2015-01-03 21:05] #31 closed, assigned to carter2422

[2015-01-03 21:10] #23 closed, assigned to nobody

[2015-01-03 21:13] carter2422 opened #32 "Contours is broken: sequence size is 2, expected 3"
[code]

[2015-01-03 21:35] #13 closed, assigned to carter2422

[2015-01-03 21:40] carter2422 opened #33 "Mesh extension: selecting multiple edges colors existing mesh green."
If you select multiple edges with an existing mesh then the whole existing mesh turns green. Likely just a color targeting issue.

![screen shot 2015-01-03 at 3 39 56 pm](https://cloud.githubusercontent.com/assets/1648631/5603880/e67bdb76-935e-11e4-863b-ace784232a35.png)

[2015-01-03 21:44] carter2422 opened #34 "Support filling patches alongside existing geometry"
We need to support creating patches alongside existing geometry. Like this:
![screen shot 2015-01-03 at 3 42 33 pm](https://cloud.githubusercontent.com/assets/1648631/5603888/3cf98ee4-935f-11e4-9dec-9893ab9d8a3c.png)

Currently we get this (gedge pulled out to showcase problem):
![screen shot 2015-01-03 at 3 43 26 pm](https://cloud.githubusercontent.com/assets/1648631/5603891/579fe8ec-935f-11e4-89

[2015-01-03 22:23] #32 closed, assigned to patmo141

[2015-01-03 22:24] #6 closed, assigned to nobody

[2015-01-03 22:33] #33 closed, assigned to carter2422

[2015-01-04 02:20] carter2422 opened #35 "Polystrips on thin areas often flip to the wrong side"
We've talked about this one before, and so far as I know there's no good solution at the moment but it's something we should kind in mind to investigate.

On thin models there's often a problem with polystrips flipping to the opposite side of the mesh from that which it's drawn on. This can be really troublesome for certain models.

[2015-01-04 02:22] carter2422 opened #36 "Keymaps should be created as a Modal Keymap"
The hard-coded keymaps are really troublesome right now, particularly for selection. They aren't flexible and are easily missed if we forget to update the header.

According to @ideasman42, it should be possible to define an actual modal keymap in Python, like this:
![screen shot 2015-01-03 at 8 22 13 pm](https://cloud.githubusercontent.com/assets/1648631/5604512/3bdd2292-9386-11e4-892f-4e32c0f0b7

[2015-01-04 04:30] carter2422 opened #37 "Tweak: adjusting segments in gedge adjacent to tweaked patch makes everything disappear momentarily"
If you tweak a patch and then try and adjust the segments of an adjacent gedge it breaks. Everything but the tweaked patch disappears.

Console output:

[code]

**Note:** the behavior is slightly different when increasing/decreasing segments.

[2015-01-04 16:46] carter2422 opened #38 "UI: always draw panel and display error message upon invoke if requirements not satisfied"
Always draw panel and display error message upon invoke if requirements not satisfied

[2015-01-04 17:26] carter2422 opened #39 "Fill should display error if no edges selected"
If no gedges are selected then an error message should be displayed.

[2015-01-04 18:04] #38 closed, assigned to carter2422

[2015-01-04 18:14] #39 closed, assigned to carter2422

[2015-01-04 18:15] #30 closed, assigned to patmo141

[2015-01-04 18:17] carter2422 opened #40 "Selection should be based on User Preference Select Mouse"
We should auto-detect which mouse the user has specified for selection and use that in both Contours and Polystrips for selection.

Hints here: http://blender.stackexchange.com/questions/21708/is-it-possible-to-create-a-modal-operator-with-a-modal-keymap-in-python

[2015-01-04 22:04] #40 closed, assigned to carter2422

[2015-01-04 22:12] carter2422 opened #41 "Unify selection sets"
Currently selection is split across gverts, gedges, and gpatches. Per discussion, we've decided to unify this such that all elements belong to the same selection set.

[2015-01-05 03:52] carter2422 opened #42 "Add a Face Loop selection tool"
Allow user to select a faceloop with **ALT+SELECTMOUSE**:

![screen shot 2015-01-04 at 9 52 10 pm](https://cloud.githubusercontent.com/assets/1648631/5609076/f5bf7e46-945b-11e4-8b51-4dd47375218a.png)

[2015-01-05 04:06] carter2422 opened #43 "Repot theme can be a bit hard to see, needs adjusted"
Let's make the theme a bit brighter to help with the visibility in areas of the mesh with specular highlights.

[2015-01-05 04:26] #43 closed, assigned to nobody

[2015-01-05 05:43] carter2422 opened #44 "Sometimes gverts remain highlighted during selection changes"
Not able to narrow this down yet, but sometimes when selecting elements other gverts will remain highlighted.

[2015-01-05 06:55] carter2422 opened #45 "Add support for Patches alongside T-Junctions"

[2015-01-05 07:58] carter2422 opened #46 "Make Patches use minimum segment count rather than max"

[2015-01-05 08:00] carter2422 opened #47 "CTRL+Click extrude does not work across clipping plane"
If you Shift+Click extrude a gvert across the clipping plane it does not work. It gets tossed completely without an error.

[2015-01-05 08:09] carter2422 opened #48 "Occasionally tweak will rip verts away from patches"
![screen shot 2015-01-05 at 2 08 23 am](https://cloud.githubusercontent.com/assets/1648631/5610604/d2e28926-947f-11e4-85b1-ca25e3d6a039.png)

[2015-01-05 17:00] #28 closed, assigned to vxlcoder

[2015-01-05 17:04] carter2422 opened #49 "Update Readme for 1.1.0 release"

[2015-01-05 17:25] carter2422 opened #50 "Allow Gverts to be merged into Gverts that're patched"
We don't currently allow the user to merge a gvert into another gvert that is part of a patch. Assuming the target gvert has open sides then we should allow this.

![screen shot 2015-01-05 at 11 23 53 am](https://cloud.githubusercontent.com/assets/1648631/5616789/7cf9760c-94cd-11e4-9930-716af46b5e5d.png)

[2015-01-05 17:28] carter2422 opened #51 "Change hotkey on straight-extrude of gverts to avoid conflicts"
When using LMB select you can run into conflicts when trying to select _or_ straight extrude a gvert.

In particular, if you have a gvert selected, then try and **shift+select** a gedge then it extrudes instead of selecting.

Let's update the hotkey for straight-extrude to CTRL+LMB. This means that Click Dissolve will also need removed or changed.

[2015-01-05 17:29] carter2422 opened #52 "Remove Click Dissolve hotkey"
The Click Dissolve is a bit unnecessary and is causing our keymap to become a bit too convoluted at times. We still have CTRL+D for dissolve, so let's remove the Click Dissolve.

Need to do this before #51.

[2015-01-05 17:38] carter2422 opened #53 "Only create temp object for raycasting if the original object has modifiers"
Only creating the temp object for Polystrips when modifiers are present should greatly speed up the operator launch since most times modifiers won't be on the target object (such as when repotting dynamic topology models).

[2015-01-05 18:11] #51 closed, assigned to carter2422

[2015-01-05 18:11] #52 closed, assigned to carter2422

[2015-01-05 18:19] carter2422 opened #54 "Verts on the selected stroke should draw in Active Color, rather than mesh color"
Drawing the vertices of a selected loop will greatly improve the readability. It'll also make it more consistent.

![screen shot 2015-01-05 at 12 19 10 pm](https://cloud.githubusercontent.com/assets/1648631/5617492/1236fc92-94d5-11e4-8d31-998430277d3c.png)

[2015-01-05 18:28] carter2422 opened #55 "Allow Gverts to be merged onto existing geometry faces"
I'd like to be able to merge gverts onto existing faces. Like this:
![screen shot 2015-01-05 at 12 28 09 pm](https://cloud.githubusercontent.com/assets/1648631/5617636/5bead42a-94d6-11e4-8113-44b373ab40c6.png)

[2015-01-05 18:28] vxlcoder opened #56 "preference for distraction free mode"

[2015-01-05 18:29] vxlcoder opened #57 "preference for symmetry plane clamping"

[2015-01-05 18:30] vxlcoder opened #58 "bug: distraction free mode causes crash if view3d is already fullscreened"

[2015-01-05 18:31] carter2422 opened #59 "Disable Fullscreen toggle for now."

[2015-01-05 18:33] carter2422 opened #60 "Update Helper text for Contours and Polystrips"

[2015-01-05 18:48] carter2422 opened #61 "Cannot extend from existing geometry, into clip, if the existing geo is on clip plane"
[code]

![screen shot 2015-01-05 at 12 48 05 pm](https://cloud.githubusercontent.com/assets/1648631/5617911/1f10f5d6-94d9-11e4-8118-423159349ede.png)

**Possible Solution**: if attempting to extend into the clipped side, from the clip plane, report error to the user.

[2015-01-05 18:52] #46 closed, assigned to vxlcoder

[2015-01-05 19:37] patmo141 opened #62 "improve bgl drawing"
Many of the draws in Contours use inefficient methods to achieve visualization.  Eg.  Duplicating the last vert of a closed loop and draw with GL_LINES instead of not duplicating the vert and using GL_LINE_LOOP.

Also many of the utilities do not do good bookkeeping and will sometimes leave GL settings altered until another Blender callback resets them.

A general code review and optimization is i

[2015-01-05 19:45] patmo141 opened #63 "migrate to 3d GL drawing"
We do all drawing by converting 3d geometry to 2d.  We do a lot of raycasting for visibility on cpu that open GL should be handling for us. Looks better and will be faster.  Raycasting for picking will change.

[2015-01-05 20:19] patmo141 opened #64 "Undo after New Sketch in Guide Mode casuses crash when mouse move"
Guide mode creates an undo snapshot in "sketching" state at beginning of new guide/segment.

[2015-01-05 20:20] vxlcoder opened #65 "Smart symmetry plane detection"
detect symmetry plane by examining mirror modifiers (if any) or doing simple mirroring test (similar surfaces across different sides)

[2015-01-05 20:21] vxlcoder opened #66 "Symmetry plane does not take into account object's matrix"

[2015-01-05 20:35] #57 closed, assigned to vxlcoder

[2015-01-05 21:36] #56 closed, assigned to nobody

[2015-01-05 21:36] #58 closed, assigned to vxlcoder

[2015-01-05 22:06] #53 closed, assigned to nobody

[2015-01-05 23:03] carter2422 opened #67 "Upon cancel of operator we should remove any created _polystrips objects"
We don't currently do any cleanup upon cancellation. This causes extra objects to be left behind in the scene.

[2015-01-05 23:11] carter2422 opened #68 "Running Polystrips is significantly faster on the second run"
For some reason Polystrips starts significantly faster on the second run. This is only noticeable on high-poly objects, but in these cases it's a matter of 2-3 second delays on the initial start.

Something somewhere is getting cached, created, or otherwise references on subsequent runs. No idea what it is.

If we can track this down, it'd be preferable to make the delay happen upon mesh generatio

[2015-01-05 23:15] #59 closed, assigned to vxlcoder

[2015-01-05 23:31] carter2422 opened #69 "Contours is broken in Edit Mode"
Starting Contours in Edit Mode presents the following:
![screen shot 2015-01-05 at 5 30 40 pm](https://cloud.githubusercontent.com/assets/1648631/5621882/b3ca1262-9500-11e4-8358-4dd4fcfd32a8.png)

[2015-01-06 02:44] carter2422 opened #70 "Improve organization of Add-on Preferences to more clearly differentiate between Contours and Polystrip settings."

[2015-01-06 02:51] #69 closed, assigned to nobody

[2015-01-06 03:05] #70 closed, assigned to carter2422

[2015-01-06 03:40] carter2422 opened #71 "Need color theme for frozen elements"

[2015-01-06 04:07] #60 closed, assigned to carter2422

[2015-01-06 13:35] carter2422 opened #72 "Priority: Contours crashes after first stroke"
It seems a nasty bug snuck in at the last moment.

This happens after the first stroke draw. The stroke gets drawn, then the loop created, and then the moment you move your mouse it breaks.

[code]

[2015-01-06 20:10] #72 closed, assigned to patmo141

[2015-01-06 20:28] carter2422 opened #73 "Help Text jitters during Middle Mouse navigation events if mouse is over"
When using **MMB** to navigate, anytime the mouse is over the model then the help text jitters. This includes SHIFT+MMB, CTRL+MMB, CTRL+MMB.

http://cl.ly/ZC0s

If zooming with Wheelup/down or if the help is collapsed then there's no jitters.

[2015-01-06 22:31] carter2422 opened #74 "Allow Symmetry to be toggled during modal"
The artist ought to be able to toggle symmetry during the modal, rather than only letting it be set before.

[2015-01-06 22:32] carter2422 opened #75 "Allow pressure to be toggled during modal"
Pressure ought to be able to be turned on and off during the modal to give more artist flexibility.

[2015-01-06 22:40] carter2422 opened #76 "Allow GVerts to be explicitly rotated, regardless of connecting GEdge length"
Currently we're only able to rotate gverts if the attached gedges are 4+ segments. This is really annoying when you have several gverts in close proximity as you lose orientation control.

Can we allow gverts to be explicitly rotated, regardless of the connected gedge lengths?
![screen shot 2015-01-06 at 4 37 41 pm](https://cloud.githubusercontent.com/assets/1648631/5637574/b02479dc-95c2-11e4-8027

[2015-01-06 22:47] carter2422 opened #77 "Add support for two sided, U, patches"
A two-sided, U patch looks like this:
![screen shot 2015-01-06 at 4 44 11 pm](https://cloud.githubusercontent.com/assets/1648631/5637638/56505f60-95c3-11e4-876f-900e309cafd8.png)

And should fill like this:
![screen shot 2015-01-06 at 4 45 08 pm](https://cloud.githubusercontent.com/assets/1648631/5637648/65c9a294-95c3-11e4-87fd-814d50b4ef7e.png)

The edge flow is this:
![screen shot 2015-01-06 at

[2015-01-06 22:51] carter2422 opened #78 "Add Restore ability to Polystrips"
If Polystrips crashes right now we lose everything. As discussed, we need to implement the cache from Contours into Polystrips. Or implement an even better, new cache for both.

[2015-01-06 22:54] carter2422 opened #79 "Account for Region Overlap in Help Box position"
If **Region Overlap** is enabled in _User Preferences > System_ then the Help Box is hidden while the N/T panel is open.

If Region Overlap is enabled then we need to shift Help further inwards.

[2015-01-06 23:02] carter2422 opened #80 "Recover is broken in Contours"
It seems that the Recover feature has been broken, likely with the FSM push.

Recover no longer actually recovers anything.

[2015-01-06 23:25] carter2422 opened #81 "Allow Tweak to move existing geometry"
We should allow the tweak tool to adjust existing geometry.

Doing this also opens the possibility to expose the Tweak Tool as it's own modal (as well as in Polystrips/Contours).

@patmo141 has committed a first test in 6c5885f520eb29507ee763171d6a5e7c2c973bca that seems to work beautifully. Need to further test and review. @vxlcoder, could you review?

[2015-01-06 23:27] carter2422 opened #82 "Review Segment hotkey"
The **Adjust Segments** hotkey is a bit messed up right now, as some systems use OSKey+Wheel and others use CTRL. We can't use CTRL+Wheel universally, though, because some OS X installs claim it on the system level it seems (or so we've had reports of it.)

Perhaps we should switch it to **SHIFT+Wheel**? I cannot think of any conflicts for that.

[2015-01-06 23:34] carter2422 opened #83 "Add Tweak support to Contours"
Let's add support for Contours to use the Tweak tool.

[2015-01-06 23:48] carter2422 opened #84 "Knife-Merge should scale GVert to existing GEdge"
Currently when merging a selected GVert into a GEdge with **K**, it keeps the size of the selected GVert. Instead it should scale the GVert to the GEdge.

[2015-01-08 21:50] #76 closed, assigned to carter2422

[2015-01-08 22:40] carter2422 opened #86 "Allow patches with split segments"
A split patch segment refers to pentagonal patches (and triangular?), in which one side has more segments than the other, split across the pole.

For example:
![screen shot 2015-01-08 at 4 40 16 pm](https://cloud.githubusercontent.com/assets/1648631/5672315/0e6a44fc-9755-11e4-94c0-0ce45e9c91eb.png)

[2015-01-08 22:50] carter2422 opened #87 "Tweak allows verts past the clip plane"
When clipping is enabled the user may still tweak them past the clip plane. Clipping should not allow verts passed the clip plane when tweaking.

[2015-01-09 16:52] #82 closed, assigned to carter2422

[2015-01-12 21:29] carter2422 opened #88 "Long lines are overlapping help box when Region Overlap enabled"
I'm guessing this is due to the spacing changes.

![screen shot 2015-01-12 at 3 27 39 pm](https://cloud.githubusercontent.com/assets/1648631/5711373/9aa6471e-9a6f-11e4-89b7-0190a07cc459.png)

[2015-01-12 21:51] carter2422 opened #89 "Selection with LMB often resulted in "20 pixel errors""
If the user is selecting with LMB and clicks in empty space then they're constantly given:

Error. This is intended but annoying.

[2015-01-12 21:51] #89 closed, assigned to carter2422

[2015-01-12 22:16] #84 closed, assigned to nobody

[2015-01-23 17:00] #79 closed, assigned to nobody

[2015-01-24 19:28] carter2422 opened #92 "Polystrips does not accept trackpad events"
Polystrips doesn't pass through track pad events for navigation right now. We need to adapt this to use @patmo141's new keymap system for Contours.

[2015-02-05 15:15] carter2422 opened #93 "Polystrips no longer works in Orthographic mode"
This is likely due to the old perspective bug being fixed in Blender, but now orthographic doesn't work in Polystrips.

Most likely we just need to remove our hack now.

[2015-03-13 16:40] carter2422 opened #94 "Contours (and Polystrips?) does not work with clipped border"
When using a clip border in the viewport Contours does not work. We should look into this and see if it's doable for better support on complicated objects, like trees.

[2015-03-17 20:10] carter2422 opened #95 "Add option to change default state of help panel"
Some artists will like to work with the panel always open. Have a default state, configurable from the add-on preferences will reduce fatigue from constantly opening it.

[2015-03-18 15:14] carter2422 opened #96 "Allow help panel to be opened with a click"
Some keyboards don't seem to work well with the **?** key for opening the panel, as reported [here](http://cgcookiemarkets.com/blender/all-products/contours-polystrips-retopology-bundle/#comment-140816).

It would be good to allow showing and collapsing the panel by clicking on the header.

[2015-03-18 21:00] #81 closed, assigned to nobody

[2015-03-18 22:17] carter2422 opened #97 "Selection does not work for Polystrips in oath in Blender 2.74+"
This is a priority issue.

Selection does not work in 2.74, likely due to some of the ray cast changes. This is also likely related to the fixes in #93.

[2015-03-18 23:56] carter2422 commented on #80
This appears to be solved! Thanks @patmo141, I'll merge.

[2015-03-19 00:14] carter2422 opened #98 "Guide Mode results in orange dots lingering"
After guide mode is used then orange dots continue to linger on the model. Even after leaving guide mode. These should only in *Debug Mode*.
![screen shot 2015-03-18 at 7 13 39 pm](https://cloud.githubusercontent.com/assets/1648631/6722128/100a3252-cda3-11e4-9b51-eab0c240991c.png)

[2015-03-19 03:25] #80 closed

[2015-03-19 03:25] #93 closed

[2015-03-19 03:25] #95 closed

[2015-03-19 03:25] #96 closed

[2015-03-19 03:25] #97 closed

[2015-03-19 03:27] #92 closed

[2015-03-19 20:07] carter2422 opened #99 "Polystrips does not work on objects with modifiers"
As reported by several users [here](http://cgcookiemarkets.com/blender/forums/topic/polystrip-error-retopoflow-1-0-0-beta/) it seems Polystrips fails on objects that have modifiers.

I know we did some work with this before, but we need to revisit it. Ideally we should allow modifiers but if we can't then we at least need to present a nice error message to the user rather than crashing.

[2015-03-19 21:49] mifth commented on #99
My tools use standart blender's picking. They work witth modifiers ok.
You can check my DrawClones tool.

I just take obj and its matrix. Nothing special.
https://github.com/mifth/mifthtools/blob/237aceb838e6842bbd0ea0b89036b6783c702bb8/blender/addons/mifth_tools/mifth_tools_cloning.py#L341

i can guess this is your custom picking issue.

[2015-03-20 03:23] patmo141 opened #100 "Make guide mode colors compliant with Theme"
Guide mode sketch path is pink
The guide mode extension semicircle is red
Both clash with each other and the nice theme.
I think we can do better. If @carter2422 can give me some color specs, I'll implement them.

[2015-03-20 23:04] pencilhead opened #101 "Selecting handles, strips etc disabled"
Selecting strips, junctions, junction handles and patches are disabled with "left click select" enabled in blenders user preferences. With "right click select" enabled in blenders user preferences, selecting Strips etc. seems to work perfectly.

Orthographic and perspective give same results.  Disabling other custom add-ons has no effect.

Using Blender 2.73a official stable release. And retopoFlo

[2015-03-21 13:50] patmo141 commented on #101
Thanks for the report pencil.  Can you verify that this is the case in Contours and Polystrips?

[2015-03-21 13:57] patmo141 commented on #101
Hi Pencilhead,  I am having no trouble with leftmouse select in either tool.  The one thing I do notice is that you can not "click and drag" like a tweak manipulation on the polystrips handles.  You you select, you have to use hotkey G or R to manipulate them. I am using 2.7.4 release candidate so I will test in 2.73

[2015-03-22 21:51] pencilhead commented on #101
This only happens with polystrips with the left click select enabled. Right click works perfectly,  I can select,rotate move scale draw polystips as usual.

With the left click select enabled. It just continues to draw more polystips, as apposed to selecting the handles. The right mouse button seems to do nothing.

[2015-03-22 22:35] patmo141 commented on #101
.Hi Pencil,  I have tested in 2.73a and can not reproduce so let's try a few things.

1.  Try a different model, eg a simple cube or UV sphere, I wonder if there is something inherent in your model that is causing difficulty.  If this fixes it, please post a .blend so that we can diagnose what is causing the problem
2.  Try in orthogrpahic vs perspective mode.  We use raycasting for selection, and

[2015-03-23 02:55] pencilhead commented on #101
1. I've tried with different models and different scenes, Same results.
2. Ortho and persp give same results.
3. no i'm not trying to widget them. I don't even have the option to select them (highlighted green). Like i said, With right select enable in Blender User preferences--->Inputs. Every thing works perfectly i can draw polystrips, select handles, strips, patches etc.  as well as manipulate

[2015-03-23 03:06] patmo141 commented on #101
That is very weird, I apologize for having to ask those obvious questions.  I look forward to seeing your screencast.  Any console errors or printouts when you first call the operator?

[2015-03-23 08:15] pencilhead commented on #101
*facepalm* It seems to be working now. user error.  Don't ask me what i was doing before. I have no idea. Thanks for your time Patrick

[2015-03-23 14:29] carter2422 opened #102 "Look into caching and appending slow-down issue"
As reported [here](http://cgcookiemarkets.com/blender/forums/topic/polystrip-error-retopoflow-1-0-0-beta/#post-46843), it seems we're getting big slowdowns in files with large amounts of cache data. Or so I assume.

Per @vxlcoder on Slack:

[2015-03-24 20:47] carter2422 opened #103 "Give nice error for attempted semi-circle patches"
As reported [here](https://cgcookiemarkets.com/blender/forums/topic/reproducable-crash-bug-with-circular-patch-fills/) we currently crash if a semi-circle patch is attempted. This is a strip loop with with two Ls and one straight junction.

![screen shot 2015-03-24 at 3 47 07 pm](https://cloud.githubusercontent.com/assets/1648631/6812466/0c56eed6-d23d-11e4-83fd-41c31f39f735.png)

We should present

[2015-03-26 11:55] vxlcoder opened #104 "PolyStrips crashing with no angle for zero-length Vector"
I'm not certain why the vectors are zero-length, because it would mean that two gverts coincide.

![image](https://cloud.githubusercontent.com/assets/3790699/6845663/52a28be2-d38d-11e4-844d-875dfd56f946.png)

[2015-03-27 20:34] Gnuren opened #105 "Guide mode crash"
Guide mode crashes quite frequently.
You can get a screencast of the problem occuring, a describtion and the .blend used from my dropbox:
https://www.dropbox.com/s/30cfxjq0f9xpc7j/Guide_mode_crash.zip?dl=0

[2015-03-30 14:17] carter2422 commented on #105
Thanks for the report @Gnuren. I'm so far unable to replicate the issue here but I'll keep trying.

Next time it crashes for you, could you take a screenshot of the error message and upload that here?

[2015-03-30 14:53] Gnuren commented on #105
I've already recorded a screencast of this happening. It's bundled in the zip from my dropbox.
The link is in my original post.
If you need a screenshot i post one later...

[2015-03-30 14:53] carter2422 commented on #105
I've got the screencast, thanks for doing that. Additional screenshots, particularly of any other errors, would be helpful :+1:

[2015-03-30 14:55] Gnuren commented on #105
will do. Not able to do so for the next couple of hours, but hopefully later today/tonight

[2015-03-30 15:35] carter2422 commented on #103
This will be closed in the 1.0.1 release.

[2015-03-30 20:54] carter2422 opened #106 "Pressing 'R' while no loops are selected causes a crash"
Reported [here](http://cgcookiemarkets.com/blender/forums/topic/problem-with-contours/#post-48284) and confirmed locally.
![screen shot 2015-03-30 at 3 52 41 pm](https://cloud.githubusercontent.com/assets/1648631/6906513/f8b7e15c-d6f4-11e4-80a1-8ba954c691ea.png)

[2015-04-02 14:11] mifth opened #107 "Some issues"
Hi.

I found some issues:
1) Strange Error message about middle of the cut.
2) cuts are sticked to my polygon in editmode
3) crash in solid shading mode.

I recorded all 3 issues here:
http://youtu.be/RmiiQEeTXbI

Here is the test model:
https://dl.dropboxusercontent.com/u/26887202/blender/fc_decor_129_easter_2.blend

Just open the file and go into editmode.

[2015-04-13 15:19] carter2422 opened #108 "Group instance objects are not supported"
Proxy objects are not currently supported. We should show a nice error message to the user to help educate them.

[2015-05-06 15:45] carter2422 opened #109 "TypeError: mathutils.Vector()"
As reported by [Miguel Salinas](https://cgcookiemarkets.com/blender/forums/topic/error-working-with-large-geometry/), activating Polystrips when viewing from certain angles on the attached model causes an instant crash.

[code]

**Blend File**: https://www.dropbox.com/s/ku30t8y9y4guklt/chick41_blendswap.blend?dl=0

[2015-05-06 15:48] carter2422 opened #110 "Polystrips is not using new keymap system in all cases"
It seems that Polystrips is not yet using the full keymap system.

For example, remapping *Translate* to **C** works for Contours but not Polystrips.

[2015-05-06 17:21] carter2422 commented on #107
Hey @mifth, so sorry for the late reply.

With problem 1 you're running into issues because you have the plane verts selected. Thus it's trying to extend from that. This is also the cause of problem 2.

For number 3, I'm not sure. I'll have to look into this. Can you consistently repo 3?

[2015-05-06 18:36] carter2422 commented on #105
Any luck replicating the issue @Gnuren?

[2015-05-06 18:36] #101 closed

[2015-05-06 19:26] Gnuren commented on #105
Sorry, no.
Haven't had time to investigate further.
Feel free to ignore this for now...
when i find the time to do some blending again i will let you know if i can reproduce the issue.

[2015-05-06 19:30] carter2422 commented on #105
No problem. I'll close the issue for now since we can't reproduce if. If you find a time to check it out and narrow down the issue then we can re-open then.

[2015-05-06 19:30] #105 closed

[2015-05-06 19:51] carter2422 commented on #100
Went ahead and stole this one @patmo141 :)

[2015-05-06 20:30] carter2422 commented on #98
This should probably only draw in debug mode, but can address that later to give more flexibility.

[2015-05-06 23:55] carter2422 commented on #4
I can no longer repo this. Not sure when it was fixed but closing out.

[2015-05-06 23:55] #4 closed

[2015-05-08 14:53] carter2422 opened #111 "Custom icons!"
It looks like we may be getting custom icon support in Blender for add-ons! http://wiki.blender.org/index.php/User:Brita/Proposals/UIPreviews

If this hits master then I will add custom icons for Contours and Polystrips.

[2015-05-08 17:42] patmo141 commented on #111
Whoa cool!
On May 8, 2015 10:53 AM, "Jonathan Williamson" <notifications@github.com>
wrote:

[2015-05-10 20:03] mifth commented on #107
Hi.

Ok about 1 and 2.

About 3:
- select tree steam
- select a plane and go to edit mode
- enable contours and make a cut from left to right.

You will get such exception:
![cache0](https://cloud.githubusercontent.com/assets/2251298/7556021/c20a9dd6-f768-11e4-8ab9-32e8fe5a9f7e.png)

[2015-05-11 16:06] carter2422 commented on #111
It's in Master!! https://developer.blender.org/rBd30f664c0438e8378c79d5beb114b1338d0e1d94

I'll work to get this implemented this week.

[2015-05-11 16:56] patmo141 commented on #111
Awesome!

On Mon, May 11, 2015 at 12:06 PM, Jonathan Williamson <
notifications@github.com> wrote:

[2015-05-11 17:19] carter2422 opened #112 "Make icons backwards compatible"
With the new custom icons we'll need to make sure it's all backwards compatible. If the user is on Blender 2.74 or earlier then no icons should be loaded.

[2015-05-11 18:51] carter2422 commented on #108
I assume the original report on this was about using linked Group instances. Regardless this isn't supported and I don't think we should.

We couldn't disable the operator if the type is not a mesh, but perhaps we should show an error instead. I'm not too sure.

[2015-05-11 18:54] carter2422 commented on #107
Huh. I cannot reproduce that.

Does this happen every single time? And can you repo it on another object?

[2015-05-11 19:01] carter2422 opened #113 "Navigation Orbiting with ALT+MMB does not work"
As [reported here](https://cgcookiemarkets.com/blender/forums/topic/view-rotation-not-working-properly-with-custom-hotkeys/#post-53787) custom navigation keys do not always work, even though we're pulling navigation from the config.

In this case setting **Rotate View** to *ALT+MMB* does not work. I can confirm this.

[2015-05-11 19:13] carter2422 commented on #113
Actually it would seem that using anything but the MMB does not work. I can confirm that it does not work when orbiting with Button5 as well.

[2015-05-11 19:14] carter2422 commented on #113
In addition, navigation does not work in the 3DS Max or Maya keymaps.

[2015-05-15 17:26] Tian90 opened #114 "Error when activating plugin in 2.74"
Hello, I'm getting this error
![untitled-2](https://cloud.githubusercontent.com/assets/12463859/7658147/b867033a-fb2f-11e4-91d3-941d3c0a5750.jpg) when I'm trying to activate polystrips addon (version 1.0.2)
I am using Blender 2.74.
Any one know whats happening and how to fix this?

Thank you in advance

[2015-05-15 21:39] Tian90 commented on #114
I got retopoflow and polystrips there won't work for me too... when I press polystrips this error shows up:
![untitled-2](https://cloud.githubusercontent.com/assets/12463859/7662354/41f7e66e-fb53-11e4-8403-df9af3231a1b.jpg)

[2015-05-25 17:24] patmo141 commented on #108
I'm not familiar with group instances and proxy objects, can you point me toward a tutorial or blender doc that can give me an idea of this?

-P

[2015-05-25 19:08] mifth commented on #108
As i already mentioned before: group instances can be used.
I use it in my python tools.

Here is example of snaping to an instance:
http://youtu.be/BWVFaIbt4xI

The code is simple:
https://github.com/mifth/mifthtools/blob/master/blender/addons/mira_tools/mi_utils_base.py#L18-L35

It will make additional meshes. But it works.

[2015-05-28 02:12] lostinadaydream commented on #114
Took me quite a while to get to this solution but it appears this bug is related to Issue #99 in which PolyStrips does not work existing modifiers. I was able to work around this by simply applying all current modifiers to the mesh and then activating the PolyStrips tool. This definitely will not be the preferred solution for users with high levels of subdivision but at least it works until the ne

[2015-07-05 05:28] Italic- opened #115 "Cannot draw in Contours in 2.75"
I'm running Blender from git hash 68d72e2 and cannot draw loops in Contours. I can use it in 2.74 release, so I've been using that. From what I know, the py API has changed in 2.75, so this might be a manifestation of that change.

These are my output from console and error popup from within Blender.
http://www.pasteall.org/59385/text - It looks like it's the same line repeating.
http://www.pastea

[2015-07-05 23:41] vxlcoder commented on #115
thanks for the report, @Italic-!  we're going to be taking a look at 2.75 this coming weekend.

[2015-07-07 16:42] carter2422 opened #116 "Previously edited faces change their positions"
As reported [here](https://cgcookiemarkets.com/blender/forums/topic/previously-edited-faces-change-their-positions-is-this-normal/#post-60626), very weird.

[2015-07-10 15:30] #22 closed

[2015-07-10 15:30] #71 closed

[2015-07-10 15:30] #98 closed

[2015-07-10 15:30] #100 closed

[2015-07-10 15:30] #110 closed

[2015-07-10 15:30] #111 closed

[2015-07-10 15:30] #112 closed

[2015-07-10 15:35] mifth commented on #107
I close the issue if nothing to do here.

[2015-07-10 15:35] #107 closed

[2015-07-10 15:38] carter2422 commented on #107
Thanks @mifth!

We are doing a development sprint all this weekend to refactor a lot of the codebase. This should clear up a lot of these more annoying issues that're difficult to replicate.

[2015-07-10 19:18] carter2422 opened #117 "Move Panel and Menu UIs into own file"
Currently all UI is done inside the `__init__.py`, let's move them into their own file for cleanliness.

[2015-07-10 19:20] vxlcoder opened #118 "Refactor Polystrips to use ModalOperator"

[2015-07-11 14:57] carter2422 opened #119 "Add "Source Object" UI and Functionality"
To provide a better learning experience we would like to move to specifying the **Source Object** in the toolbar.

Doing this will then allow us to continuously extend the selected object in Object Mode, rather than having to enter Edit Mode to extend an existing mesh.

@vxlcoder I will handle the UI side if you handle the backend.

[2015-07-11 18:09] carter2422 opened #120 "Create Tweak Operator"

[2015-07-11 18:09] carter2422 commented on #120
Closed in 5e742f9bce764fc6139fe4828d42b83fca018160

[2015-07-11 18:58] #118 closed

[2015-07-11 18:58] #120 closed

[2015-07-11 20:12] carter2422 opened #121 "Add symmetry visualization"

[2015-07-11 21:58] carter2422 opened #122 "Add Target Object functionality"
Setting the target object enables the ability to extend an existing mesh from within Edit Mode more easily.

This should only be an option if you aren't already in Edit Mode.

Similar to #119

[2015-07-12 01:07] #54 closed

[2015-07-12 01:09] patmo141 opened #123 "snap circle remains in Loop Mode is end is hovered when switching modes"
![image](https://cloud.githubusercontent.com/assets/2917743/8635944/163f6412-2811-11e5-9059-08cf62b90d2a.png)

The snap circle is not cleared when swtiching modes

[2015-07-12 01:19] patmo141 opened #124 "Deseselect Extended Geometry after mesh creation"
![image](https://cloud.githubusercontent.com/assets/2917743/8635962/1e71ddda-2812-11e5-80c8-452640de6a85.png)

![image](https://cloud.githubusercontent.com/assets/2917743/8635964/5b813ad6-2812-11e5-92f2-c619c9dae5ae.png)

![image](https://cloud.githubusercontent.com/assets/2917743/8635965/7638f350-2812-11e5-8e41-934b8987f9a1.png)

This geom should be deselected

[2015-07-12 01:19] patmo141 commented on #124
fixed in Contorus UI refactor

[2015-07-12 01:19] #124 closed

[2015-07-12 01:40] #123 closed

[2015-07-12 13:35] carter2422 commented on #115
@patmo141 I suspect this has been fixed in the refactor. Can you verify?

[2015-07-12 13:37] carter2422 commented on #114
Sorry about the late reply @Tian90 and @lostinadaydream.

@Tian90 were you able to test whether applying the modifiers to your object worked? We're releasing v1.1.0 in the coming days/weeks which is completely refactored.

[2015-07-12 13:40] carter2422 commented on #99
I still cannot repo this. I suspect it's less of an issue with modifiers and more of an issue with empty mesh data.

Closing.

[2015-07-12 13:40] #99 closed

[2015-07-12 13:56] carter2422 commented on #116
Okay I'm able to confirm this now. If you triangulate faces in a generated strip and then draw a new strip this triangulated faces will move.

[2015-07-12 14:23] carter2422 opened #125 "Brush size resets to default at each start of the operator"
If possible it'd be better to maintain the brush size across operator starts.

[2015-07-12 14:34] carter2422 opened #126 "Console gets constant keymap printout"

[2015-07-12 14:41] carter2422 commented on #126
As of 7e5082f54f08c5734d282857c564067d41a9523d here are the current issues:
 - trackpad on Mac OS X is not working
 - when using the 3DS Max keymap ALT+MMB to rotate does not work (but works with default keymap and emulate 3 button mouse)

[2015-07-12 14:45] carter2422 commented on #126
- Customizing nav keys (such as changing Rotate from MMB to ALT+MMB) breaks navigation

[2015-07-12 15:05] carter2422 opened #127 "Draw existing geometry when using Target Object in Object Mode"
It'd be really nice if we could draw existing geometry in Object Mode when using `settings.target_object` in order to better visualize what's there.

[2015-07-12 15:07] carter2422 opened #128 "Mesh visualization is not occluded in Ortho for Contours"
The 3D mesh drawing for verts and edges is not occluded by geometry when using ortho view. Both Polystrips and Contours are affected.

![screen shot 2015-07-12 at 10 06 41 am](https://cloud.githubusercontent.com/assets/1648631/8638337/b7def50a-287d-11e5-81f6-afd37d780dbd.png)

[2015-07-12 15:24] carter2422 opened #129 "Add Source Object support to Tweak"

[2015-07-12 15:38] #116 closed

[2015-07-12 18:45] carter2422 commented on #67
The temp object is correctly removed when canceling polystrips but the `dest_ob` is not. The `dest_ob` shouldn't be linked to the scene until confirmation problem.y

[2015-07-12 21:06] carter2422 opened #130 "Keymap is conflicting with SHIFT+Wheel for segments"

[2015-07-12 23:10] #121 closed

[2015-07-12 23:10] #119 closed

[2015-07-12 23:10] carter2422 commented on #115
@Italic- could you try this version of RetopoFlow and see if it's working in 2.75 for you now? https://www.dropbox.com/s/69x2sxkpadg9tzp/retopoFlow-1.1.0alpha2.zip?dl=0

[2015-07-13 00:47] Italic- commented on #115
Seems to still be giving me errors. http://www.pasteall.org/59545

EDIT: I had to reload blender after saving new version as default. It allows me to cut again in 2.75a release. I haven't gone through the whole thing to check, but at least it's letting me cut and confirm now. Thanks guys!

[2015-07-13 00:47] #115 closed

[2015-07-13 00:50] carter2422 commented on #115
@Italic- I suspect the issue was due to some temporary data getting left behind that RetopoFlow was then still trying to read from.

[2015-07-13 13:46] patmo141 opened #131 "common_drawing_view in PolyStrips"
Post view drawing needs some unification

[2015-07-13 13:46] patmo141 opened #132 "visibility updating for picking optimized"
Now drawing in post view, no longer need to update visibility manually for drawing, but still do for picking.

[2015-07-16 01:51] patmo141 opened #133 "Edge slide occasionally draws pole edges incorrectly"
![image](https://cloud.githubusercontent.com/assets/2917743/8713811/84653c82-2b3b-11e5-8126-b6fae5c564c3.png)

![image](https://cloud.githubusercontent.com/assets/2917743/8713814/9475c4e8-2b3b-11e5-88d5-7bb79e648bc7.png)

[2015-07-26 18:25] carter2422 opened #134 "We broke guide mode"
You can't draw in guide mode anymore. At all.

[2015-08-01 11:16] patmo141 commented on #134
adopted this problem

[2015-08-01 11:23] patmo141 commented on #134
![image](https://cloud.githubusercontent.com/assets/2917743/9021683/e8846028-381d-11e5-88e2-5ae03783a29c.png)

It seems to be working for me.  2.75 from builder.bender 7/31
It may be a key map issue.

[2015-08-25 14:02] carter2422 opened #139 "Activating Tweak operator crashes"
Activating Tweak causes an instant crash:
[code]

[2015-08-25 15:34] carter2422 opened #140 "Tweak: brush not showing while navigating"
Getting this while navigating in Tweak right now:
[code]

[2015-09-08 14:15] carter2422 opened #141 "Eyedropper: first time run takes a long time"
When starting the eye dropper for the first time it takes significantly longer than subsequent loads. This can be seen here: https://www.youtube.com/watch?v=PQq2-M5IE3w

Is this due to creating the BVH tree the first time around, similar to Contours and Polystrips?

[2015-09-25 00:31] vxlcoder opened #142 "remove all* blender version checks"
since we require BVH tools (2.76+), we should remove all* blender version checks for < 2.76

*except for when the tool is first init, where the tool informs the user to use a later version of blender

[2015-09-25 00:51] vxlcoder opened #143 "optimize ray_cast_region2d_bvh"
- remove blender version check (see bug #142)
- pass imx in as optional parameter and compute only if not specified
- and just clean up code

(these optimizations may apply to other areas!)

[2015-09-25 19:15] carter2422 commented on #140
Confirmed fixed!

[2015-09-25 19:15] #140 closed

[2015-09-25 19:15] carter2422 commented on #142
Good call, will aim to do this in 1.1.1

[2015-09-25 19:15] carter2422 commented on #143
Is this something we can do in the next few weeks for 1.1.1?

[2015-09-30 00:59] patmo141 opened #144 "Crash when in edit mode for target when target not generated from previous RFlow operator"
clearing mesh cache
Traceback (most recent call last):
  File "/Users/jonathanwilliamson/Dropbox (Personal)/blenderDev/addons/cgCookie/scripts/addons/retopoFlow/modaloperator.py", line 240, in invoke
    self.modal_start(context)
  File "/Users/jonathanwilliamson/Dropbox (Personal)/blenderDev/addons/cgCookie/scripts/addons/retopoFlow/modaloperator.py", line 183, in modal_start
    self.start(conte

[2015-09-30 00:59] patmo141 commented on #144
typo caused this in BVH generation in PS startup.

[2015-09-30 02:33] patmo141 commented on #141
this Op doesn't create a BVH because it uses the "Scene.ray_cast" method.  Presumably, Scene.ray_cast has to do a bunch of updating on all the objects to ray cast all of them.  That would be my guess as to why this operator starts slowly.  Then Blender is caching things on it's own, so it's faster at subsequent calls.  This op however is doing no "manual labor" in terms of BVH or ray casting so th

[2015-09-30 02:33] #141 closed

[2015-09-30 02:39] carter2422 commented on #141
Okay cool. No worries then.

[2015-10-04 18:06] #7 closed

[2015-10-04 18:06] #67 closed

[2015-10-04 18:06] #74 closed

[2015-10-04 18:06] #113 closed

[2015-10-04 18:06] #117 closed

[2015-10-04 18:06] #122 closed

[2015-10-04 18:06] #126 closed

[2015-10-04 18:06] #128 closed

[2015-10-04 18:06] #129 closed

[2015-10-04 18:06] #130 closed

[2015-10-04 18:06] #139 closed

[2015-10-04 18:06] #144 closed

[2015-10-04 18:08] carter2422 commented on #65
In addition we still need to create the mirror modifier if Symmetry is enabled.

[2015-10-04 18:08] carter2422 commented on #83
With Tweak being it's own operator now I'm tempted to suggest we no longer do this, and even go so far as to remove it from Polystrips.

Thoughts?

[2015-10-04 18:12] vxlcoder commented on #83
depending on the data structure of contours, we could have a *lite* version of tweak in contours similar to the one in polystrips (one that does simple changes), but focus very little attention on it.  i vote to delay removing the tweaking from both tools until we have a more integrated retopo ecosystem in place first

[2015-10-04 18:12] carter2422 commented on #83
@vxlcoder sounds good. I'm going to remove the milestone for this and just keep it open, then.

[2015-10-04 18:13] vxlcoder commented on #114
since ver 1.1.0 requires 2.75+, should we close this?

[2015-10-04 18:15] carter2422 commented on #114
Yep. Just need to be sure we put in the checks to only allow enabling in 2.76+

[2015-10-04 18:15] #114 closed

[2015-10-04 18:18] patmo141 commented on #134
I can draw in guide mode.  2.76RC 10/1/2015  hash: 550527b

[2015-10-04 18:38] patmo141 commented on #78
fixed by commit 71c3298.

Ctrl + Z after cancelling or error will restore all but the last operation the user completed.
There is the possibility that if the user changes the target mesh, and existing geometry was being used that an error will occur.
Changes to the source mesh will invalidate and cause the cache to be cleared.
We should alert users to this behavior or possibly add snippet at botto

[2015-10-04 18:38] #78 closed

[2015-10-04 18:39] carter2422 commented on #125
Works great. Go ahead and merge into release.

[2015-10-04 18:40] vxlcoder commented on #125
done!

[2015-10-04 18:40] #125 closed

[2015-10-04 18:51] #3 closed

[2015-10-04 18:51] carter2422 commented on #3
Closing for now. May reopen later to when the Wiggly Widgets integration is done for Blender.

[2015-10-04 18:57] carter2422 commented on #134
Okay seems the issue is Guidemode isn't using the new keymap to determine `selection` and `action` mouse. Switching selection to RMB works.

[2015-10-04 18:58] patmo141 commented on #88
![image](https://cloud.githubusercontent.com/assets/2917743/10269517/690aac04-6aa8-11e5-8084-3a144890ee82.png)

I think we are good here.

[2015-10-04 18:59] carter2422 commented on #88
I still get a lot of overlap: http://cl.ly/dQhf

[2015-10-04 19:00] carter2422 commented on #88
Ah! It is only an issue when the `N Panel` is open.

[2015-10-04 19:03] patmo141 commented on #88
![image](https://cloud.githubusercontent.com/assets/2917743/10269539/097b79ac-6aa9-11e5-8531-9c862b04b0af.png)

hmm....no problem with N panel for me.  This may be a problem where the size calculations are wrong with a paticular font or something

[2015-10-04 19:14] vxlcoder opened #145 "Help text does not stay in top-right corner when resizing Blender"
the help button / text box does not stay in the top-right corner when resizing Blender.

this is a problem if the op is started when Blender is too short to display all of the help text.  the user cannot resize Blender to see the text that flows off the region.  instead, the user must quit the operator, resize, then start the operator again.

![before resize](https://cloud.githubusercontent.com/as

[2015-10-04 19:16] vxlcoder opened #146 "buttons lose icon"
our button icons are disappearing when they just begin to fall out of the region.  could be blender bug?  this does not happen with normal blender buttons

![before scrolling](https://cloud.githubusercontent.com/assets/3790699/10269608/c8ae652c-6aaa-11e5-882a-d68a6ea3aa7e.png)

![after scrolling](https://cloud.githubusercontent.com/assets/3790699/10269612/db24d9ca-6aaa-11e5-8855-ecab207b4579.png)

[2015-10-04 19:49] carter2422 commented on #134
I think we'll need to handle this via the distance travelled method, like we do in Polystrips:
[code]

[2015-10-04 19:57] patmo141 commented on #106
Seems to have been fixed in refactor.  Tested by adding 4 cuts, deleting a cut, then pressing 'R'

[2015-10-04 19:57] #106 closed

[2015-10-04 19:59] #64 closed

[2015-10-04 20:00] carter2422 commented on #34
@vxlcoder is this something you'd be game to tackle soon? While working on the monster bust I found this to be perhaps the most limiting feature currently.

[2015-10-04 20:19] carter2422 opened #147 "Drawing onto an existing stroke never cuts in the GVert"
See video: http://cl.ly/dQUx

[2015-10-04 21:05] patmo141 commented on #68
I think we can close this.  Any delay on first run of PS or Contours is seems to be inherent to the cost of generating the bmesh and bvh and are as fast as the API and user system allow.

[2015-10-04 21:06] carter2422 commented on #68
Agreed.

[2015-10-04 21:06] #68 closed

[2015-10-04 21:10] patmo141 commented on #5
Since the slowness which spawned this issue was related to ray_casting and snapping, not to Polystrips data structures, I think we have reached a point where the initial issue has been solved.  Perhaps more general optimization within the Polystrips and Contours data structures should still be an enhancement task which we can reference in commits.

[2015-10-04 21:13] patmo141 commented on #12
confirmed, still a bit of an issue

[2015-10-04 21:15] patmo141 commented on #35
can i get a picture/blend example of this

[2015-10-04 21:17] carter2422 commented on #35
Trying to repo this again but I can't...

[2015-10-04 21:19] carter2422 opened #148 "Visualization occlusion is not clipping enough on thin meshes"
For example: http://cl.ly/dR9B

There's two things going on:
1. The thin areas do not get occluded at all
2. The thicker areas only occlude the face fills, not the edges and verts.

[2015-10-04 21:19] carter2422 commented on #148
Test model here: https://www.dropbox.com/s/abeimduij63xpyv/mesh-thickness.blend?dl=0

[2015-10-04 21:20] carter2422 commented on #35
Never mind, just repo'd this.

http://cl.ly/dR0y

Try on this model: https://www.dropbox.com/s/f4avuss4pdlrogw/thin-surface.blend?dl=0

[2015-10-04 21:23] vxlcoder commented on #148
unfortunately, this is an artifact of how we do 3d rendering.  we fake "draw on top" by manipulating the depth range, which causes problems when working on small surfaces.  one "fix" is to scale the model up before working on it.  alternatively, we expose the depth range values to allow the user to change.  the latter is a terrible idea, because artists should not need to know about this.

overall

[2015-10-04 21:28] carter2422 commented on #148
Working to get better OpenGL drawing in sounds like a better solution.

[2015-10-04 21:55] vxlcoder commented on #35
unfortunately, this will be a limitation for the foreseeable future.   maybe we can implement a "smarter" version that requires more computation?  we need a way to filter out parts of the mesh during snapping (only snap to faces that "face" a particular direction)

[2015-10-04 21:56] patmo141 commented on #35
this is a function of the fitting right of the bezier, then re-snapping?  I think I can improve it using the initial sketch info

[2015-10-04 22:00] vxlcoder commented on #35
as soon as the strip is manipulated, though, you cannot use the sketch info anymore.  we could test the 2d surface distance (not 3d euclidean) between inner verts of strip, but that would only inform us of bad things happening.  this problem *could* get improved by not snapping the two internal bezier control points to the surface (would require doing screen-space selection, though)

[2015-10-04 22:04] patmo141 commented on #35
yeah, my idea would be easy to implement for the initial sketch, but you are right, manipulation would be very difficult.

[2015-10-04 22:08] vxlcoder opened #149 "PolyStrips: do not snap inner control points to surface"
do not snap inner control points for bezier of strip to the model's surface.  fixing this requires switching to screen-space selection, but this would make curves fit to surface in a more predictable manner (possibly "correcting" bug #35)

[2015-10-04 22:10] patmo141 commented on #88
https://developer.blender.org/T46371

[2015-10-04 22:35] #142 closed

[2015-10-05 19:07] carter2422 commented on #5
Agreed. Closing.

[2015-10-05 19:07] #5 closed

[2015-10-06 14:40] vxlcoder commented on #88
it seems that this bug was a problem with settings.  @carter2422, when you figure out which setting caused this, let em know so we can report it to blender devs or fix it in our code.  (one option is to ship a ttf along with the tool, so we know exactly what font is getting used)

[2015-10-11 16:42] vxlcoder opened #150 "Switch to use OpenGL 3+"
once bgl supports OpenGL 3+ API (it may already with 2.76 release), replace all immediate mode drawing code to use newer API.  this means rewriting code to use buffers, shaders, etc.  benefit: much faster rendering (!!!), cleaner render code paths, better integration with new viewport, and it's just a better way to live.

[2015-10-11 17:02] vxlcoder opened #151 "Update readme with new tools"

[2015-10-11 17:03] carter2422 commented on #151
Will do this before release.

[2015-10-11 17:09] vxlcoder opened #152 "make operator template load help text"

[2015-10-11 19:02] carter2422 commented on #151
Ah this is actually a duplicate of #49. Closing.

[2015-10-11 19:02] #151 closed

[2015-10-12 11:04] vxlcoder commented on #152
done!

[2015-10-12 11:04] #152 closed

[2015-10-12 11:07] vxlcoder commented on #109
is this still an issue?  i cannot download the linked .blend file to test

[2015-10-12 17:36] carter2422 commented on #88
I _think_ the settings is **Region Overlap**. Disabling it just fixed it for me. However, the weird bit is that Region Overlap doesn't always cause it.

[2015-10-12 17:37] carter2422 commented on #88
Correction, it doesn't always happen with Region Overlap **per session**. It's consistent within the session, though.

[2015-10-12 17:37] carter2422 commented on #109
I don't believe this is an issue anymore. Going to close for now.

[2015-10-12 17:37] #109 closed

[2015-10-12 17:39] #134 closed

[2015-10-12 17:39] #145 closed

[2015-10-12 17:43] #49 closed

[2015-10-12 20:38] carter2422 opened #153 "Tweak and Relax: Add option for scene relative brush size"
It can be useful to lock the brush size as a constant, rather than being relative to the view (which is affected by zoom). Blender's sculpt mode also supports this: http://cl.ly/dVPQ

[2015-10-15 15:13] 765563652 opened #154 "Navigation Fails when system language is not English"
system：win10  64
blender：2.76

When I started contours or Polystrips， can't rotate the view. I reinstall the blender，Let it work on other computers，，But still can't normal operation

[2015-10-15 15:14] patmo141 commented on #154
What keys/mouse fns do you normally use to rotate the view?

[2015-10-15 15:17] 765563652 commented on #154
I use the blender's default Settings

[2015-10-15 15:38] patmo141 commented on #154
Any error messages in the console?

[2015-10-15 15:55] 765563652 commented on #154
After some try，I found the reason.This plugin does not support Chinese ,I can work normally after change the system language to English ! : )

[2015-10-15 15:56] 765563652 commented on #154
My English is not very good, can you understand I write

[2015-10-15 15:57] patmo141 commented on #154
Very interesting!  We will make a separate issue and try and track that down.  Thank you for the report.

[2015-10-15 15:57] patmo141 commented on #154
Yes your English is better than my Chinese!

[2015-10-15 15:58] patmo141 opened #155 "Chinese language breaks navigation"

[2015-10-17 22:54] vxlcoder opened #156 "Tweak does not update mesh cache"

[2015-10-17 23:35] vxlcoder opened #157 "PolyStrips: need ability to simple fill with existing geometry"

[2015-10-18 23:43] TheWalshinator opened #158 "Contours Traceback issue"
I'm currently using Blender 2.76 and I keep getting this error after drawing a few lines with Contours
![](http://i.imgur.com/jGT80Ld.png)

[2015-10-20 00:39] carter2422 opened #159 "Division by zero in common_bezier.py"
As reported by [Greg Zaal](https://cgcookiemarkets.com/forums/topic/division-by-zero-error/#post-73972)
[code]

[2015-10-20 00:40] carter2422 commented on #158
Thanks for the report @TheWalshinator. We'll look into it.

[2015-10-24 07:06] carter2422 opened #160 "Sometimes stale caches cause crashes"
Occasionally the mesh cache won't clear and it'll become invalidated, causing a crash on the next run. It was reported [here](https://cgcookiemarkets.com/forums/topic/retopoflow-1-1-0-crashing/) and I've also experienced this a few times.

[2015-10-24 07:07] carter2422 commented on #160
I think we need to add some safety checks to clear and recreate the cache if it's invalid somehow.

[2015-10-25 18:20] vxlcoder commented on #63
can we close this issue?

[2015-10-26 10:23] carter2422 commented on #29
This is really great @vxlcoder.

I've found two main issues so far:
1. Press and dragging a lot with Relax on a slower machine takes a long time to catch up if you brush too long. _That or I somehow locked myself into Relax.._
2. The strength is often times too weak. I think we ought to add a strength option on `SHIFT+F`

[2015-10-27 04:33] Two-Tone opened #161 "Add real Recover feature for bringing back work after a crash or cancellation"
(What I mean by pre generated mesh is [this](http://i.imgur.com/UHn6H0w.png))

I have a couple reasons for wanting this.

The biggest is if I'm working on a pre gen mesh and need to leave, restart my system, etc, it'd be better if I could just save that pre gen mesh than just generating it and saving that.  The tools provided by RF are very powerful but can only be used when working with a pre gen

[2015-10-27 07:00] carter2422 commented on #161
A full saving and recovery feature is something we hope to add soon, but you can actually already recover simply by restarting the operator (Contours) and then pressing undo once.

[2015-10-27 09:54] Two-Tone commented on #161
Well fuck me.  I would have never of guessed that doing "undo" would recover my work after a crash.

Is that not listed anywhere? I know it's not on the documentation page for RF on the Blender Market nor in the help/tip box in Blender.

[2015-10-27 19:22] Two-Tone opened #162 "Contours and Polystrips will usually crash Blender the next time they're started if selected target object is missing/deleted"
This [error](https://i.imgur.com/TOJ2HGE.png) pops up if it doesn't crash.

This [error](https://i.imgur.com/wmeg4fJ.png) pops up before the above and is the only one that pops up if Blender does crash.

[2015-10-29 15:07] carter2422 commented on #157
Duplicate of #34

[2015-10-29 15:07] #157 closed

[2015-10-29 15:07] carter2422 commented on #34
Initial progress done by @vxlcoder in https://github.com/CGCookie/retopoflow/commit/5bfe105a940cdad5c37bbf44fad9338e82ebc28e

[2015-10-31 16:17] vxlcoder opened #163 "difficult to "untweak" in polystrips"
need a way to undo tweaking of gvert, gedge, and gpatch

[2015-11-03 16:23] vxlcoder opened #164 "Change all error messages to use artist-friendly language"
ex: press shift-f with only one gedge selected

[2015-11-03 16:31] vxlcoder opened #165 "committing polystrips with x-symmetry enabled should add mirror modifier to target mesh"

[2015-11-03 16:37] vxlcoder opened #166 "Committing Contours should turn on xray view for target mesh"

[2015-11-04 17:15] vxlcoder opened #167 "Loop Extrude Tool"
gverts -> gedges, gedges are duplicated, gpatches fill in between

[2015-11-04 17:28] carter2422 commented on #167
What's this for?

[2015-11-05 17:53] vxlcoder commented on #167
ex: the eye of the monster bust (8m15s and 8m35s of monster-bust-polystrips video)

[2015-11-05 17:57] carter2422 commented on #167
I have some ideas on how to tackle this. I don't think it should be in Polystrips. Probably needs to be a separate tool, or within Edge Patches

[2015-11-05 21:55] carter2422 opened #168 "Sometimes junction handles disappear on strips, breaking selection of the handle"
I've experienced this a few times and reported here: https://cgcookiemarkets.com/forums/topic/cant-select-older-ploy-strips/

Screencast from user: http://screencast.com/t/xST1EGnaDCq

[2015-11-05 22:21] carter2422 commented on #167
Here's a quick demo of how it works in Bsurfaces: http://cl.ly/djVA

This could be a good started point for the tool.

[2015-11-05 23:15] carter2422 commented on #29
Closing this! It's working great :D

The strength adjustment would still be nice but that can be done through a separate issue.

[2015-11-05 23:15] #29 closed

[2015-11-05 23:45] carter2422 commented on #162
Thanks for the report @Two-Tone. I've seen this as well. We'll try and improve it.

[2015-11-05 23:45] carter2422 commented on #161
Heh no worries @Two-Tone. I'll make sure it's in the help box under Tips.

[2015-11-05 23:52] carter2422 commented on #168
@vxlcoder if we can find a fix for this then I think we'll good for a 1.1.1 release.

[2015-11-06 22:04] Two-Tone commented on #161
Since the save feature hasn't been implemented yet, shouldn't this stay open?

[2015-11-08 18:04] carter2422 commented on #161
Ah you're right, this should stay open since there wasn't a previous issue for tracking the ability to save meshes.

*Note:* the ability to save a mesh is still being scoped out. In particular we're looking at ways to save the pre-generated mesh while also looking at how to converted committed meshes back to their initial RetopoFlow pre-gen state. The latter of these two would allow you to commit

[2015-11-08 18:08] carter2422 commented on #168
This appears to be working great! I cannot get any handles to disappear now. Will close this upon merging into master.

[2015-11-08 18:16] carter2422 commented on #147
Likely related, as mentioned in Slack. If you start drawing on a strip and end on another, then the beginning almost never cuts.

Drawing from left to right:
http://cl.ly/dksi
http://cl.ly/dkfl

[2015-11-08 18:19] carter2422 opened #169 "Segment Count no long shows when enabled"
The segment count no longer shows on polystrips when it's enabled: http://cl.ly/dkMG

[2015-11-09 16:14] carter2422 opened #170 "Add Topology Pen tool"
...needs fully scoped out but creating this issue to begin keeping track of it.

This Cinema 4D video shows an interesting execution of a similar tool: https://youtu.be/FbfABAmUAmg?t=9s

[2015-11-10 07:37] Two-Tone commented on #161
Hmm, instead of converting meshes back, is there a way to save metadata to meshes? I think it'd be faster and more efficient to (if possible) save the pre gen mesh as metadata to the generated mesh and then load from that if the user wants to return to the pre gen.

[2015-11-18 22:03] George-the-1st opened #171 "Retopoflow won't show as installed"
Attempting to install Retopoflow source code from zip file the way it was described but it simply does not work. In the info screen in blender it simply states " Modules Installed from 'C:\\Users\\Plastwix\\Downloads\\retopoflow_1_1_0.zip' into 'C:\\Users\\Plastwix\\AppData\\Roaming\\Blender Foundation\\Blender\\2.76\\scripts\\addons' ()
". However when I go to search for retopoflow it does now sh

[2015-11-18 22:04] carter2422 commented on #171
@George-the-1st did you uninstall previous versions first? Also, have you tried restarting Blender to check if it then works? Sometimes Blender's add-ons don't refresh very well when installing.

[2015-11-18 22:05] George-the-1st commented on #171
I have done both of these things. It has not fixed the problem.

[2015-11-18 22:06] carter2422 commented on #171
Try installing it manually then by copying the extracted folder into  `C:\Users\Plastwix\AppData\Roaming\Blender Foundation\Blender\2.76\scripts\addons`

[2015-11-18 22:09] George-the-1st commented on #171
That doesn't seem to be working as well.

[2015-11-18 22:12] George-the-1st commented on #171
I tested it with a few other add-ons just now and they seem to be working. It seems to be this particular add-on that is the problem

[2015-11-18 22:18] carter2422 commented on #171
@George-the-1st I assume you're downloading from this repo as opposed to downloading the version from the Blender Market? GitHub packages the .zip differently than Blender needs, so that could be issue.

What is the folder structure of the extracted folder?

It should be like this: http://cl.ly/drii

[2015-11-18 22:24] George-the-1st commented on #171
ah, I now know the problem. The folder (and zip I tested it with both) has to be named EXACTLY: retopoFlow  . It must have all lowercase except for the F that has to be a capital. Now it understands what I'm telling it to grab from. Gotta love that code. Anyways, thanks for showing me how it is supposed to be. Now I'm going to go on CGCookie and learn how to use the darn thing and then I'm going t

[2015-11-18 22:29] carter2422 commented on #171
Good to hear you got it fixed! It *shouldn't* require exact naming, so we may need to refine that bit of the codebase.

If RetopoFlow works out well for you I hope you'll consider [purchasing a license](https://cgcookiemarkets.com/all-products/retopoflow) if you haven't already :)

[2015-11-18 22:29] #171 closed

[2015-11-18 22:37] George-the-1st commented on #171
I wish I could but I can't afford a 70 dollar expenditure at this time (I should start selling more work). Ironically my spare cash is going to a CGcookie premium account so I'm still supporting you. I just don't  have enough reserves to make a 70 dollar purchase. One day...one day....but anyways, again thank you.

[2015-11-18 22:40] carter2422 commented on #171
Fair enough :+1: Thanks for the support!

[2015-11-25 23:35] 3DEsprit opened #172 "IndexError: List Index out of range"
After getting this "List Index" error, I can no longer draw any strips. The first two times, it gave a warning type error, but after it then acted like it worked, allowing me to draw strokes without error, but not actually creating the strips.

I've included a screenshot of exactly what I was doing, where the exact original polystrips mesh existed. I had been adding more strips to it, and as I pro

[2015-11-26 14:35] patmo141 commented on #172
@vxlcoder this looks to me like the stroke is empty.  Perhaps when the stroke is pruned of points that do not hit the mesh it ended up with an empty stroke.

[2015-11-29 21:26] carter2422 opened #173 "Refactor for OpenGL 3.2+"
Blender will soon require OpenGL 3.2+, meaning we need to refactor anything utilizing 1.x: http://lists.blender.org/pipermail/bf-committers/2015-November/046243.html

For example, anything utilizing `glBegin` and `glEnd` will have to be refactored.

[2015-11-29 21:42] carter2422 commented on #173
OpenGL refactor docs for Blender here: http://wiki.blender.org/index.php/Dev:2.8/Source/OpenGL

[2015-11-30 14:07] nortikin commented on #173
it is cool, and many job (specially for Sverchok or retopoflow)  all will be break at one moment

[2015-12-01 17:31] bpwmd opened #174 "Installation trouble"
How do you Install this from this file??????

[2015-12-01 17:31] bpwmd commented on #174
the whole thing

[2015-12-01 17:55] carter2422 commented on #174
You have to select the .zip file that you downloaded. If your browser automatically extracted it then you'll need to recompress it first.

Also, please post support questions on the forum. This issue track is just for bug reports.

The forum is here: https://cgcookiemarkets.com/all-products/retopoflow/?view=support

[2015-12-01 17:55] #174 closed

[2015-12-04 20:29] vxlcoder opened #175 "show version number on RF panel"
to allow us to see which version of RF is being used in a screenshot or screencast, add the version number to the panel (or somewhere visible)

[2015-12-13 18:46] carter2422 commented on #162
Fixed!

[2015-12-13 18:46] #162 closed

[2015-12-13 20:13] carter2422 commented on #169
Fixed in 769e1ab1f4a8bc68654450794c3603a144c6e189

[2015-12-13 20:13] #169 closed

[2015-12-13 20:25] #165 closed

[2015-12-13 20:25] #166 closed

[2015-12-13 20:34] #168 closed

[2015-12-13 20:34] #164 closed

[2015-12-13 20:56] carter2422 commented on #154
@765563652 when you say "System Language", are you referring to your Operating Systems language or Blenders language?

[2015-12-13 21:02] carter2422 commented on #62
With the pending OpenGL upgrade coming I assume we can close this?

[2015-12-13 21:03] carter2422 commented on #55
This is a good candidate for 1.2.

[2015-12-13 21:03] carter2422 commented on #50
Also a good 1.2 candidate to reach *tool completion*

[2015-12-13 21:04] carter2422 commented on #45
Updated title to reflect necessary feature, which is supporting T-Junctions in patches, without them affecting the patch type.

[2015-12-13 21:06] carter2422 opened #176 "Epic Unification of Tools into single mode or modal"
The biggie unification end-goal is to bring all tools together, creating a full Retopology mode whereby all tools can be used at once.

Much discussion and planning needs to happen for this.

[2015-12-13 21:07] carter2422 commented on #127
If #176 becomes a reality then this will be addressed by drawing all geometry (new and existing) in our draw code.

[2015-12-13 21:09] carter2422 commented on #86
@patmo141 I believe this is some of what you're working towards in your general patch filling code?

[2015-12-13 21:10] carter2422 commented on #83
Scrapping this issue. With Tweak being it's own tool now it's not really needed and might even get further addressed via #176

[2015-12-13 21:10] #83 closed

[2015-12-13 21:34] 765563652 commented on #154
@carter2422  I mean to blender language

[2015-12-14 01:49] carter2422 opened #177 "Contours with stale source in Edit Mode crashes Blender"
Same issue as #162, I just missed it. Will fix for 1.1.2.

[2015-12-14 01:52] carter2422 opened #178 "Refactor codebase where needed to make operators consistent."
This will be a bit of an on-going issue throughout 1.2.0. The goal is to align each of the operators (Contours, Polystrips, Edgeslide, etc) as closely as possible to give them the same structure and shared common functions.

[2015-12-14 02:01] carter2422 opened #179 "Bridge Tool"
The Bridge Tool is needed in order to manually fill two Contour strokes, such as this:

![screen shot 2015-12-13 at 8 01 12 pm](https://cloud.githubusercontent.com/assets/1648631/11771327/47d332b4-a1d4-11e5-9e8a-59dd08a3d9dc.png)

[2015-12-14 02:09] carter2422 commented on #177
Actually I believe this might be because Edit Mode is still trying to use the Target, even though no target should be used in Edit Mode.

[2015-12-14 15:15] carter2422 opened #180 "Help Text and Blender Text should be equal sizes"
As reported [here](https://app.intercom.io/a/apps/g7sxyr1e/inbox/conversation/1538502484), the help text and Blender UI sizes are not correctly synced.

These should stay the same size.

[2015-12-14 16:34] carter2422 commented on #180
I'm suspicious this is due to retina screens. Need to find someone that can test...

[2015-12-15 07:03] Denson01 opened #181 "Polystraps - Tweak Traceback"
Each time i try to Tweak anything i get this Tracebacks
[code]

[2015-12-15 15:53] carter2422 commented on #181
Thanks for the report @Denson01. I'll look into it.

[2015-12-15 15:56] carter2422 commented on #181
@Denson01 are you able to consistently reproduce this?

[2015-12-15 16:00] carter2422 commented on #181
Never mind, I see. This is a bad bug that shouldn't have slipped through, sorry about that.

@Denson01 for the time being you can use Tweak in Edit Mode as it's own tool.

[2015-12-15 16:02] Denson01 commented on #181
No problem :)

Yeah in Edit Mode it works just fine.

[2015-12-15 17:01] #181 closed

[2015-12-15 17:10] carter2422 commented on #181
@Denson01 bugfix release imminent.

[2015-12-15 17:10] #177 closed

[2015-12-15 17:13] Denson01 commented on #181
<3 already tested, works PERFECT :)

[2015-12-15 21:05] fxswan opened #182 "Enable problem for 1.1.2"
![blender 1 1 2 enable error](https://cloud.githubusercontent.com/assets/16266218/11827523/2eeaa618-a339-11e5-952d-85a3b30bb99f.png)
Loaded ok, but when you try to enable it it gives a missing file error in the apps.....retopflow folder

[2015-12-15 21:06] carter2422 commented on #182
Please copy the error message here.

[2015-12-16 01:30] directorsaint opened #183 "Error After Installing/Missing Interface Buttons"
![screen shot 2015-12-15 at 8 24 36 pm](https://cloud.githubusercontent.com/assets/16314017/11829448/afbebbd6-a36a-11e5-9878-e36ba25f4b98.JPG)
![screen shot 2015-12-15 at 8 24 29 pm](https://cloud.githubusercontent.com/assets/16314017/11829452/b3632d12-a36a-11e5-929c-bbe66532f5da.JPG)

[2015-12-16 01:59] carter2422 commented on #183
@directorsaint I'm guessing you're not using English as the system language in Blender? Unfortunately this will break things for now until we improve the internalization of it.

[2015-12-16 02:02] directorsaint commented on #183
Hmmm...everything seems to be in English. Where would the setting be to make sure?

[2015-12-16 02:03] carter2422 commented on #182
@fxswan can you try restarting Blender and then enabling? I'm guessing this is a stale path issue.

[2015-12-16 02:04] carter2422 commented on #183
Have anything set here? http://cl.ly/e5sV

[2015-12-16 02:07] directorsaint commented on #183
![screen shot 2015-12-15 at 9 06 15 pm](https://cloud.githubusercontent.com/assets/16314017/11830093/dc5c9a14-a36f-11e5-80b9-06fab485727b.JPG)
This is what is configured there on my side.

[2015-12-16 02:09] carter2422 commented on #183
Just to be sure, have you restarted Blender and then tried enabling it?

Also, are you using the daily build of Blender or official 2.76 release?

[2015-12-16 02:14] directorsaint commented on #183
Did the above with the same results. It is the last official build from blender.org 2.76. The problem isn't that it won't enable, it just has the missing interface buttons and throws the errors when i click on any of the buttons on Retopoflows' interface

[2015-12-16 02:20] carter2422 commented on #183
Okay here's something to try.

Are you familiar with how to start Blender from a terminal? If so, do that and then see if any errors are outputted to the terminal when you click on the Retopology panel in the toolbar. Or upon activating the add-on.

[2015-12-16 02:31] directorsaint commented on #183
![screen shot 2015-12-15 at 9 29 10 pm](https://cloud.githubusercontent.com/assets/16314017/11830440/39073b7c-a373-11e5-8628-810863622260.JPG)

[2015-12-16 02:35] carter2422 commented on #183
Huh...this is going to take some research to figure out. Blender is internationalizing the variable for some reason, causing the name to change from `settings` to `UI_AP_i18n_settings`.

[2015-12-16 02:38] directorsaint commented on #183
localhost:~ santelmovazquez$ /Applications/Blender-Builds/blender-2.76/blender.app
-bash: /Applications/Blender-Builds/blender-2.76/blender.app: is a directory
localhost:~ santelmovazquez$ /Applications/Blender-Builds/blender-2.76/blender.app/Contents/MacOS/blender
ndof: 3Dx driver not found
Read new prefs: /Users/santelmovazquez/Library/Application Support/Blender/2.76/config/userpref.blend
found

[2015-12-16 03:14] directorsaint commented on #183
Appreciate it. No rush for now I will use 1.1.1 as it seems to work ok for now. Let me know if you can figure out what's going on. Thank You

[2015-12-16 23:49] fxswan commented on #182
Thanks Jonathan.....found that if I do a remove 1.1.1 first, then reload my blender, then reload the 1.1.2  it worked on the second go around. Not sure why it took twice but sounds a lot like what we have to do in aircraft simulation (I work for FedEx Training) when we do a Visual/Hud software update...lol....looking forward to checking it out...

thanks again

[2015-12-16 23:50] fxswan commented on #182
Done...ty again

Date: Tue, 15 Dec 2015 18:03:41 -0800
From: notifications@github.com
To: retopoflow@noreply.github.com
CC: fxswan@hotmail.com
Subject: Re: [retopoflow] Enable problem for 1.1.2 (#182)

@fxswan can you try restarting Blender and then enabling? I'm guessing this is a stale path issue.

—
Reply to this email directly or view it on GitHub.

[2015-12-18 11:38] patmo141 opened #184 "Brush Enhancements"
Currently, brush radius checks all verts in the mesh.

[code]
1.  This will find verts on thin parts of meshes that user may not want
2.  not extremely speedy.  Less of an issue because our Retopo "problem" by definition is low density meshes.

Possible Enhancements:
-Use accelerated data structure like KD tree
-Use mesh connectivity
-Use face normals to filter out faces which are not facing the u

[2015-12-19 03:47] MysticGems commented on #183
For what it's worth, reproduces for me as well: OS X 10.11.2, Blender 2.76b, hash f337fea.

[2015-12-19 21:48] directorsaint commented on #183
Maybe an OSX issue?

[2015-12-23 19:05] carter2422 opened #186 "assert False with check_source_target_objects() on startup"
On startup the `check_source_target_objects()` throws an assert error while running `get_settings()`

[code]

[2015-12-28 12:19] JacquesLucke opened #187 "Support for Retina and 4k displays"
Since a few versions Blender has a feature called "Virtual Pixel Mode" that allows you to double the size of all the ui elements. This mainly exists because 144 (the max limit for the dpi value) is still to small on those screens. (I only have a 4k screen to test it here, but should be the same with retina)

To support those screens I suggest to implement two helper functions:

[code]

The 72 is t

[2015-12-30 01:51] carter2422 commented on #187
Thanks for the suggestion @JacquesLucke! I'll take a look at this. Unfortunately we don't have a 4k or retina screen to test on, but I'll try and work something out.

[2015-12-30 02:07] #182 closed

[2015-12-30 02:13] carter2422 commented on #163
When untweaking a GEdges it only untweaks the GEdge and not the associated GVerts.

[2015-12-30 02:20] carter2422 commented on #180
This will likely be fixed in #187.

[2015-12-30 02:31] carter2422 opened #188 "Tweak steps do no update Undo cache"
Pressing Undo will undo the complete Tweak session, not just the last step.

[2015-12-30 02:35] carter2422 opened #189 "Frozen GVerts should not draw handles in green"
When a GVert is frozen the handles still draw in green, making it appear like it's still editable. These should not be the case.

![screen shot 2015-12-29 at 8 33 57 pm](https://cloud.githubusercontent.com/assets/1648631/12045549/9e837e18-ae6b-11e5-8483-7cfd5f1c2dc3.png)

Additionally we need to improve the drawing of selected GEdges when they're frozen. There's currently nothing distinguishing th

[2015-12-30 02:37] carter2422 commented on #163
This is working great! Merging into 1.2.0 and closing.

[2015-12-30 02:37] #163 closed

[2015-12-30 02:43] patmo141 commented on #77
In above example.  Side A is N, Side B is N + 2. For Equal sides, there is this solution
![image](https://cloud.githubusercontent.com/assets/2917743/12045634/339b5e4a-ae75-11e5-84df-b397f41e8509.png)

[2015-12-30 02:46] patmo141 commented on #77
This is also a TODO for edge_patches.  It will be easy compared to the other patches already implemented.

[2015-12-30 02:48] carter2422 commented on #77
@patmo141 if you feel like tackling this go ahead and self-assign :)

[2015-12-30 02:51] carter2422 commented on #188
To clarify, this is only in the Polystrips Tweak modal.

[2015-12-30 02:59] carter2422 opened #190 "Undoing a Thaw and then selecting a strip causes a crash"
Undoing a Thaw and then selecting a strip will immediate crash polystrips:
[code]

[2015-12-30 03:00] carter2422 commented on #156
Is this something for 1.2.0?

[2015-12-30 03:01] carter2422 commented on #131
Any specifics on this that I can tackle?

[2015-12-30 03:01] carter2422 commented on #131
@patmo141 :point_up:

[2015-12-30 03:01] #103 closed

[2015-12-30 03:02] carter2422 commented on #63
I believe we can close this, particularly with the work in #173

[2015-12-30 03:02] #63 closed

[2015-12-30 03:03] carter2422 commented on #62
@patmo141 ping. Can we close this what with #173 ?

[2015-12-30 03:03] carter2422 commented on #35
is this ready for testing @vxlcoder?

[2015-12-30 03:08] carter2422 commented on #184
A combination of mesh connectivity and normals seem like great enhancements, particularly for thin models where you potentially might work on both sides at the same time.

[2015-12-30 03:09] carter2422 commented on #179
I'd like to see this work by simply selecting two disconnected strokes and connecting them by pressing `F`

[2015-12-30 03:13] patmo141 commented on #186
Is this new since the app handler?

[2015-12-30 03:15] carter2422 commented on #186
Yes @patmo141, I just can't figure out what's causing it. Initially I thought it was because the handler was running before the function was imported.

[2015-12-30 03:15] patmo141 commented on #186
I think it's looking for settings before settings are registered :-)  About
to test

On Tue, Dec 29, 2015 at 10:15 PM, Jonathan Williamson <
notifications@github.com> wrote:

[2015-12-30 03:17] patmo141 commented on #186
Ok, darn.  However, the if/else tab spacing in the get_settings() fn looks funky

[2015-12-30 03:20] carter2422 commented on #186
Feel free to do a  cleanup commit, just keep it separate from any functionality changes please.

[2015-12-30 03:21] carter2422 commented on #170
@vxlcoder I think I have a way to demo the theorized workflow for this whenever you're ready.

[2015-12-30 03:38] carter2422 opened #191 "Pre-selection Highlighting"
In the same way that we have pre-selection highlighting for extending from existing geometry in Polystrips it'd be nice to add this to all elements for selection.

[2015-12-30 04:00] #186 closed

[2015-12-30 04:25] carter2422 opened #192 "Add Edge Patches tool"
This is a edge-based patch tool that's designed around this paper: https://www.youtube.com/watch?v=H8K5CyQB_kc

This is already in progress by @patmo141 and @vxlcoder.

[2015-12-30 04:38] carter2422 commented on #183
@patmo141, @vxlcoder going to need some help tracking this one down. Might need to inquire with Blender devs.

[2015-12-30 04:51] carter2422 commented on #155
Duplicate of #154

[2015-12-30 04:52] boyleo opened #193 "Conflict with Blend4Web when both enabled."
Enable both Retopoflow and Blend4Web SDK, save preferences, restart blender.
The interface changes to become like this issue
https://github.com/CGCookie/retopoflow/issues/183

clicking Retopoflow gives repeated error like this many times

Traceback (most recent call last):
  File "/home/user/.config/blender/2.76/scripts/addons/retopoflow/interface.py", line 92, in draw
    if settings.retopoflow_p

[2015-12-30 04:54] carter2422 commented on #193
This is very interesting...

[2015-12-30 04:56] carter2422 commented on #193
Likely related if not identical to #183

[2015-12-30 05:02] carter2422 commented on #193
We're investigating this @boyleo, thanks for reporting.

[2015-12-30 05:09] boyleo commented on #193
Sometimes, when both addon enabled, trying to click the addon checkboxes to disable any of them resulted in Blender terminated without warning.

[2015-12-30 05:13] carter2422 commented on #193
@boyleo can you give this version a try? https://github.com/CGCookie/retopoflow/tree/issue/183

[2015-12-30 05:14] carter2422 commented on #183
@directorsaint, @MysticGems can you two give this branch a try to see if it's fixed? https://github.com/CGCookie/retopoflow/tree/issue/183

[2015-12-30 05:21] carter2422 commented on #158
@TheWalshinator I have not been able to replicate this. Are you still seeing this error from time to time?

[2015-12-30 05:23] carter2422 commented on #158
I was not able to replicate the crash but I found the error and fixed it. This will be fixed in v1.2.0.

[2015-12-30 05:32] boyleo commented on #193
Same error happens.

[2015-12-30 05:32] boyleo commented on #193
Oh wait, that's another branch? let me try remove the old one.

[2015-12-30 05:34] boyleo commented on #193
Yes! that fix it.

[2015-12-30 05:35] vxlcoder commented on #193
@boyleo great!

[2015-12-30 05:36] carter2422 commented on #193
Whoop!

[2015-12-30 05:36] #193 closed

[2015-12-30 05:37] carter2422 commented on #34
:tada:

[2015-12-30 07:49] YuriKovelenov commented on #193
Hi guys, so you believe there is nothing to fix on the Blend4Web side?

[2015-12-30 07:54] directorsaint commented on #183
Seems to work now...except there is a "missing script files" not sure if that affects anything.
![screen shot 2015-12-30 at 2 50 50 am](https://cloud.githubusercontent.com/assets/16314017/12047862/9faff192-aea0-11e5-9eb1-c8d949ee56b0.JPG)
![screen shot 2015-12-30 at 2 51 16 am](https://cloud.githubusercontent.com/assets/16314017/12047864/a5a73fba-aea0-11e5-9dc4-d7aec5f6130b.JPG)

[2015-12-30 09:09] JacquesLucke commented on #187
You're welcome!
It is easy to test this without one of those high density screens:

![test dpi without 4k screen](https://cloud.githubusercontent.com/assets/5881326/12048584/3f9b4530-aedd-11e5-8309-4a2ae4140573.png)

[2015-12-30 13:52] vxlcoder commented on #183
@directorsaint it looks like the other retopoflow is from a previous install or something similar to that.  you should be able to uncheck it, then save your prefs, and it will not show anymore.

[2015-12-30 13:55] vxlcoder commented on #187
@JacquesLucke perfect!  thanks!

[2015-12-30 13:56] vxlcoder commented on #193
@YuriKovelenov as far as we can tell, it was a bug in retopoflow

[2015-12-30 16:31] carter2422 commented on #183
When installing new versions it's best to completely remove the previous one first since Blender does not have any kind of add-on updater.

[2015-12-30 16:31] #183 closed

[2015-12-30 17:08] carter2422 commented on #180
Closed via d6de495dc7decd193baa051ec9e97a5ca8569b87

[2015-12-30 17:08] #180 closed

[2015-12-30 17:37] carter2422 commented on #187
Thanks @JacquesLucke! That worked beautifully.

[2015-12-30 18:43] JacquesLucke commented on #187
I'm glad that I could help you. :)

[2015-12-30 19:08] carter2422 commented on #35
@vxlcoder tested and confirmed! Closing.

[2015-12-30 19:08] #35 closed

[2015-12-30 19:47] #159 closed

[2015-12-30 20:20] vxlcoder opened #194 "Need global try catch to prevent unhandled exceptions from crashing RF"

[2015-12-30 20:46] directorsaint commented on #183
Ah Ok! Thanks all for the help!

[2015-12-30 21:05] carter2422 commented on #154
I've tracked this down to primarily the `navigation_events` dict, which is used to list out the events to listen for passing through the model.

Now I just need to figure out how to automatically translate these... Reading up via http://wiki.blender.org/index.php/Dev:Doc/Process/Translate_Blender

[2015-12-31 00:01] carter2422 commented on #155
Closed in 7ed3a27bb2a0bbdd34bbe8625798128cb44fc0ee

[2015-12-31 00:01] #155 closed

[2015-12-31 00:01] carter2422 commented on #154
Hey @765563652 I've fixed this. Could you give this branch a try? https://github.com/CGCookie/retopoflow/compare/release/1.2.0

[2015-12-31 03:37] carter2422 opened #195 "Backface occlusion does not work in Ortho"
When in ortho view the backface occlusion is not working: http://cl.ly/eBJK

Does not work in Polystrips or Contours.

[2015-12-31 04:25] carter2422 commented on #167
Another video demo for Loop Extrude​: http://cl.ly/eBGd

[2015-12-31 04:32] carter2422 opened #196 "Kill Contours and Revive it in God-Mode"
Contours needs to be killed and then revived with the new, more unified data structure like Polystrips. This would then enable all sorts of cool, magnificent things.

[2015-12-31 04:33] carter2422 commented on #196
![screen shot 2015-12-30 at 10 32 57 pm](https://cloud.githubusercontent.com/assets/1648631/12061184/51fec23e-af45-11e5-8ed4-552c1c5ffbe7.png)

[2015-12-31 05:04] carter2422 opened #197 "Actual inner gvert location does not update upon transform sometimes"
I hate this.

[2015-12-31 05:14] carter2422 commented on #197
:point_up: was a joke during the dev sprint, but for anyone else the issue is that the gvert doesn't always update after a transform, causing it to be unselectable. Very strange.

[2015-12-31 13:53] patmo141 commented on #196
Perfect implementation would be this.
1. Tighter integration of all tools with bmesh, so patches, polystrips and contours just become interfaces to the same retopo datastructure. Allowing seamless switching between those tools.  This will take a mastermind, or several master minds to accomplish.  @gfxcoder has been lobbying this approach for a while.

Initial implementation will be as follows.
2.

[2015-12-31 16:40] carter2422 opened #198 "Strokes: Option to shape closed loop into a perfect circle"
This is a small little tool that I hope to tackle eventually after brushing up on me linear algebra.

[2015-12-31 17:33] carter2422 commented on #198
Whiteboard drafting: http://cl.ly/eCLO

[2015-12-31 18:51] carter2422 commented on #170
Whiteboard drafting of the FSM for Poly Pen:
![192db3ec5ea0200d3a670eac984441a5c2fae7d1](https://cloud.githubusercontent.com/assets/1648631/12067296/35842fd6-afbd-11e5-97a0-0da42f2ee531.jpeg)

[2015-12-31 20:19] vxlcoder opened #199 "crashes in ModalOperator when self.help_box is None"
`self.help_box` is `None` when `helpText` is not specified, but render and hover code paths do not check for this.

[2015-12-31 21:51] carter2422 opened #200 "Move to BMesh rendering for all existing geometry in target"
This gives us complete control over the visualization of existing geometry, which will become particularly valuable for tools like Tweak, Polypen, and whatnot.

[2015-12-31 22:44] carter2422 opened #201 "BmeshRender: draw with symmetry when enabled"
Need to draw the mesh with symmetry when it's enabled. Related to #200

[2015-12-31 23:08] carter2422 commented on #200
Not sure but I think doing this for Contours is going to be pretty difficult until it's killed and revived #196

[2015-12-31 23:19] carter2422 commented on #200
Okay yeah, @vxlcoder and I agreed to wait on drawing existing geometry via BmeshRender in Contours due to deep copy on the bmesh.

[2016-01-02 16:27] carter2422 commented on #197
Confirmed!

[2016-01-02 16:27] #197 closed

[2016-01-02 16:39] carter2422 commented on #201
[ ] Add symmetry drawing if Mirror modifier is present for

[2016-01-02 16:50] carter2422 commented on #191
I believe this is mostly all done. Closing for now, in preference of more specific issues as I find any missing preselection.

[2016-01-02 16:50] #191 closed

[2016-01-02 16:52] carter2422 commented on #194
- [ ] Next step is to push errors into a text data block, enabling us to make more friendly user error messages while then giving an option to *View Error Log*.

[2016-01-02 16:53] carter2422 commented on #170
In release :)

[2016-01-02 16:53] #170 closed

[2016-01-02 16:54] carter2422 commented on #150
Duplicate of #173

[2016-01-02 16:54] #150 closed

[2016-01-02 16:55] carter2422 commented on #146
I believe this is a Blender bug. Need to test further and report to devs.

[2016-01-02 16:57] carter2422 commented on #127
This is partially working now via #200. It works in Polystrips, Tweak, and Polypen, but not Contours yet.

[2016-01-02 16:57] carter2422 commented on #127
Closing this, since it's essentially a duplicate of #200.

[2016-01-02 16:57] #127 closed

[2016-01-02 17:28] carter2422 opened #202 "Create "View Error Log" function"
This follows #194, allowing the user to open a new window, set to the Text Editor, with the Error Log opened. By opening in a new window we prevent any workflow obstruction and make it much easier for users to share error messages with us.

[2016-01-02 19:13] carter2422 opened #203 "PolyPen: move to CTRL+LMB for insertion"
This keeps action and selection more separate and should reduce the learning curve, particularly around accidental clicks.

[2016-01-02 20:29] carter2422 opened #204 "PolyPen currently requires source to be at scene origin."
We need to enable the object to be anywhere.

[2016-01-02 23:28] #202 closed

[2016-01-06 03:32] rt974 opened #205 "Addon actvation error cannot import name 'check_source_target_objects'"
Downloaded the github version.
Importing the zip in blender 2.76 rc3

Then when i click on the checkbox there is this message :

---------------------------------------------------------------

Traceback (most recent call last):
  File "C:\Program Files\Blender Foundation\Blender\2.76\scripts\modules\addon_utils.py", line 324, in enable
    mod = __import__(module_name)
  File "C:\Users\renau\AppD

[2016-01-06 14:29] carter2422 commented on #205
You likely just need to restart Blender @rt974. This happens sometimes dues to some files being stale, not being fully overwritten, or something otherwise conflicting with Blender.

Restart Blender and then it should work.

[2016-01-08 20:42] carter2422 commented on #205
Did restarting Blender work @rt974?

[2016-01-08 20:47] carter2422 commented on #204
@vxlcoder looks like we have to do this for Polystrips and Tweak as well. Seems to be due to BMeshRender. Can we account for it there instead of in each tool?

[2016-01-11 23:20] carter2422 opened #206 "Pressure is broke with Polystrips"
Apparently we broke pressure sensitivity in Polystrips at some point. Need to confirm.

https://cgcookiemarkets.com/forums/topic/polystrips-error/#post-89531

[2016-01-13 21:15] carter2422 commented on #203
Closing as this is merged. Will open new issues for any problems.

[2016-01-13 21:15] #203 closed

[2016-01-13 21:16] carter2422 commented on #205
Closing due to silence and seemingly fixed.

[2016-01-13 21:16] #205 closed

[2016-01-13 21:17] #200 closed

[2016-01-13 21:21] carter2422 commented on #201
Closing. I believe the mirror modifier functionality is already accounted for. Will start a new issue if needed.

[2016-01-13 21:21] #201 closed

[2016-01-13 21:24] carter2422 commented on #204
@vxlcoder Polystrips and Tweak now work, but seems Patches also needs a fix: http://cl.ly/ehHq

[2016-01-13 21:27] carter2422 commented on #204
Note, it seems the patches issue only happens when patching alongside existing geometry.

[2016-01-13 21:37] #189 closed

[2016-01-13 22:28] #187 closed

[2016-01-13 22:28] #154 closed

[2016-01-13 22:29] carter2422 commented on #77
Moving this to 2.0.

[2016-01-13 22:35] carter2422 opened #207 "Tweak Relax is totally borked"
Likely due to changes in #204, Relaxing geometry with the tweak tool totally borks the mesh.

Before:
![screen shot 2016-01-13 at 4 34 40 pm](https://cloud.githubusercontent.com/assets/1648631/12310044/aef14664-ba13-11e5-9747-c08a3d95ce42.png)

After:
![screen shot 2016-01-13 at 4 34 52 pm](https://cloud.githubusercontent.com/assets/1648631/12310048/b37582e0-ba13-11e5-9d9e-73a8785d8fb3.png)

[2016-01-15 19:40] carter2422 opened #208 "Do not allow current mesh to be used as Source in Edit Mode"
Discovered here: https://cgcookiemarkets.com/forums/topic/polystrips-error-object-cube-has-no-mesh-data-for-ray-casting/#post-90261

[2016-02-01 04:04] patmo141 opened #209 "Concave quads cause contours failure"
concave quads can cause the same quad to be crossed twice, causing a contour cut faulure.  One solution is to triangulate everything.  Another would be to triangulate only the concave quads.  There is a bmesh function to do this

https://www.blender.org/api/blender_python_api_2_76_release/bmesh.ops.html?highlight=concave#bmesh.ops.connect_verts_concave

a good test model is Cobra.blend. Apply the

[2016-02-25 18:16] carter2422 opened #211 "Address API changes in 2.77"
2.77 introduces the following API changes:
* `ob.ray_cast`, and `scene.ray_cast` changed.
* `bvh.find` > `bvh.find_nearest`

The fixes have already been provided by @dfelinto in #210, but I'm going to apply them with a version check so that we don't break support for 2.66. Minor annoyance but will reduce a lot of support.

[2016-02-25 19:18] #211 closed

[2016-02-25 19:48] carter2422 commented on #209
Any thoughts on a good way to test this and then split concave faces on the source if needed @patmo141?

[2016-02-25 19:56] #207 closed

[2016-02-25 19:59] #204 closed

[2016-02-25 19:59] #188 closed

[2016-02-25 19:59] #178 closed

[2016-02-25 20:00] #158 closed

[2016-02-25 20:01] carter2422 commented on #149
@vxlcoder I'm removing the milestone on this, maybe we can get this into 1.2.1 though?

[2016-02-25 20:04] #45 closed

[2016-02-25 20:04] #34 closed

[2016-02-25 20:17] #194 closed

[2016-02-25 20:23] carter2422 opened #212 "Cancelling Polystrips does not unhide mesh"
We need to unhide the mesh in Edit Mode when canceling PolyStrips.

[2016-02-25 20:32] carter2422 opened #213 "Bring back Polypen ability to extrude verts without filling faces"
We need to bring this back @vxlcoder. I believe we decided to put it on CTRL+ALT+Click, such that it's alternate insert.

This enables extruding a string of verts without creating faces.

[2016-02-25 20:44] #212 closed

[2016-02-25 21:16] carter2422 opened #214 "Dissolving an Edge should remove verts too"
When dissolving an edge in PolyPen it should remove the verts if they do not belong to any other edges.

[2016-02-25 22:37] carter2422 opened #215 "Add support or Triangle > Quad when single vert is selected, clicking to edge"
When creating an initial triangle we are left with the face and the last vert selected, typically one more CTRL+Click will give us a quad. However, in the below scenario we should support clicking on either edge or the vert of the adjacent face, but only the vert is supported.

http://cl.ly/fFqw

http://cl.ly/fFet

Clicking on the edge, like shown in the first screenshot gives this error:
[code]

[2016-02-26 02:00] patmo141 commented on #209
I think we just split the concave quads on the bmesh.  Concave quads can be considered like non manifolds or holes. Basically, they shouldn't be there.  We never write the bmesh back to source, so it's fine for this task I think.

[2016-02-26 17:40] carter2422 commented on #215
@vxlcoder that works quite well!

The only issue I find is the final selection: http://cl.ly/fH5T

The problem is that after filling the face all edges connected to the vert become selected.

http://cl.ly/fH0J
http://cl.ly/fGxV
http://cl.ly/fGWP

Based on current testing I think we should only select the *new* edge (and the vert); this one: http://cl.ly/fGbI

This would then make it consistent wit

[2016-02-28 16:30] carter2422 commented on #215
@gfx this seems to be working great now! I'll test a bit more thoroughly but seems very promising (including the fix for the double edges).

[2016-03-03 23:06] carter2422 opened #216 "Add-on Update Module"
The goal of the add-on updater is to enable RetopoFlow users to update their install automatically with a single click.
# Features

A few key features are to be included:
- [x] Notification of new version available
- [x] Ability to single-click update to download and install new version
- [ ] Optional authentication against Blender Market with license key

The development of this is being handled

[2016-03-05 15:52] carter2422 commented on #206
Another issue with this one: https://www.dropbox.com/s/xc567kb53ymna8w/Screen%20Shot%202016-03-04%20at%2012.49.07%20PM.png?dl=0

[2016-03-08 02:18] vxlcoder opened #217 "PolyStrips on thin surfaces can cause crashes that never end"
When drawing polystrips across thin models it frequently crashes and stalls Blender.

[2016-03-08 02:19] carter2422 commented on #217
Were you able to replicate this @vxlcoder?

[2016-03-08 02:21] vxlcoder commented on #217
i was.  there was a bug in the code that tests if `bvh.ray_cast` returns `None` instead of checking if it returns a tuple of `None`s.  see https://www.blender.org/api/blender_python_api_2_75_3/mathutils.bvhtree.html#mathutils.bvhtree.BVHTree.ray_cast

[2016-03-08 02:22] carter2422 commented on #217
Ah excellent! What were the steps to reproduce it? I'd like to verify as well so as to let the user know.

[2016-03-08 02:24] vxlcoder commented on #217
running polystrips on a very thin surface (cylinder without caps, scaled in the faces extruded by just a bit) with crossing strokes seemed to reproduce the error.  it had to do with snapping the verts on a thin surface.  actually, blender 2.76a would segfault around here; 2.76b fixed the issue.

[2016-03-08 03:39] carter2422 commented on #217
Suffice to say I could not replicate this:
![screen shot 2016-03-07 at 9 38 32 pm](https://cloud.githubusercontent.com/assets/1648631/13591315/fa54aa42-e4ac-11e5-80a0-86f31ca9cabd.png)

Neither in 2.76b or 2.77rc1.

[2016-03-08 03:50] carter2422 opened #218 "Intersecting Polystrips on thin surfaces cause lots of flipping"
If you intersect a strip into an existing strip, which is on a thin surface, the strip will frequently get flipped a lot. This causes very unsavory results:
![screen shot 2016-03-07 at 9 49 20 pm](https://cloud.githubusercontent.com/assets/1648631/13591477/9d53c11e-e4ae-11e5-8ebb-95f28e76e929.png)
![screen shot 2016-03-07 at 9 49 23 pm](https://cloud.githubusercontent.com/assets/1648631/13591478/9

[2016-03-08 20:54] carter2422 opened #219 "Connecting a vert to another vert in an adjacent face fails"
[code]

![screen shot 2016-03-08 at 2 53 24 pm](https://cloud.githubusercontent.com/assets/1648631/13615983/8cc59d4c-e53d-11e5-9aaa-022d6dca491d.png)

[2016-03-08 20:56] carter2422 commented on #219
Note, the edge actually gets created, but it throws the error.

Additionally, this seems to only happen when both edges on the initial vert are selected. If you just select the first vert and then CTRL+Click to connect then no error is thrown.

[2016-03-09 13:26] gamescubed opened #220 "can't Slide or Rotate in 1.2 Beta"
Clean installation of Beta version.
Fire up Contours.
Draw a loop.
Try to Slide or Rotate the loop ... it won't happen.
It's not that the loop simply isn't moving at all, more that there is a strange type of snapping in place with a very large/irregular step distance.

[2016-03-09 14:49] carter2422 commented on #220
@gamescubed which version of Blender are you using?

I believe I found the cause (and definitely found a different one at least).

[2016-03-09 15:01] gamescubed commented on #220
Tried in 2.76b and 2.77 rc1 with the same results.

P.S. Thanks for adding the Bug tag.

[2016-03-09 15:03] carter2422 commented on #220
@gamescubed go ahead and give this version a try: https://www.dropbox.com/s/fvcbbg9wipic31q/RetopoFlow_v1.2.0_issue220.zip?dl=0

[2016-03-09 15:07] gamescubed commented on #220
Yeah, that got it! Nice job Jonathan!

[2016-03-09 15:07] carter2422 commented on #220
Great! Thanks for the quick report and followup.

[2016-03-09 15:07] #220 closed

[2016-03-09 15:10] gamescubed opened #221 "Pie Menus while using Retopoflow modules"
I've really got into the way of using the pie menus, in particular for the View menu. Is there any chance Pie Menu support will be added to the suite?

[2016-03-09 15:11] carter2422 commented on #221
@gamescubed Pie Menus for accessing the various tools? I'm not opposed, I've just not played with it much.

I'll happily consider it for a future release :+1:

[2016-03-09 21:04] Innuksuk opened #222 "Polypen editing froze blender after merging existing verts to fill faces"
I was using polypen to fill faces inside empty geometry, ctrl + lmb to create poly first and drag/drop to existing verts to merge them and red dots appeared in the open air freezing blender altogether.

![bug](https://cloud.githubusercontent.com/assets/17751811/13650385/791cec68-e610-11e5-829f-db58d10a2713.png)

[2016-03-09 21:09] carter2422 commented on #222
This is the first time I've seen this. @Innuksuk are you able to replicate?

Also, does ESC unfreeze and cancel the operator or do you have to force quit Blender?

[2016-03-09 21:20] Innuksuk commented on #222
I couldn't do anything to blender after this. Any keys on my keyboard and mouseclicks weren't doing anything. I had to close blender and had no chance to save it... Wow, it happens when I create poly from an edge (not verts). I selected an edge and lmb click to create a triangle, ctrl + lmb again to create the poly, merged one vert to one corner, and when I merged the final corner to the other ver

[2016-03-09 21:21] carter2422 commented on #222
That's no good. Thanks for the report. I will try and replicate and track it down.

[2016-03-09 21:48] carter2422 commented on #222
@vxlcoder I'm looking into this and trying to find how to consistently replicate it. I managed to make it happen once so far. Here's the error:

[code]

[2016-03-09 22:59] Innuksuk commented on #222
There are actually two error messages when you hover your cursor around:
EXCEPTION (<class'AssertionError'>):unhandled count of linked faces 2,0
	c:\Jonah_2\AppData\Roaming\Blender Foundation\Blender\2.76\Scripts\addons\RetopoFlow\op_polypen\polypen_modal.py
000 0947:clean_duplicate_bmedges() assert len(bme0.link_faces) ==1 or len(bme1.link_faces)==1, 'unhandled count of linked faces %d, %d'%(len(

[2016-03-10 00:13] gamescubed commented on #221
I actually just meant being able to use the same pie menus we have available to us outside of Retopoflow. e.g. Holding Q brings up the View menu, Z brings up the Shade menu etc. but maybe pie menus for Retopoflow tools would be handy as well ...
For now, I'd be more than happy with just my precious View menu.

[2016-03-10 17:24] carter2422 commented on #222
Thanks @Innuksuk, we'll track it down.

[2016-03-10 19:44] TheDuckCow commented on #216
@carter2422 perfect, appreciated! I'll have some more time to crack at this over the weekend.

[2016-03-10 23:59] Innuksuk opened #223 "Polystrips creating odd polys from existing geometry"
I was able to replicate this issue twice. First I extruded the existing target object's outer ring outwards, tweaked them to lay the vertices flat on the source object (extruding in edit mode doesn't snap them to surface), enabled polystrips and tried creating a strip outwards and this is what happened:
![polystrips error](https://cloud.githubusercontent.com/assets/17751811/13688590/e1eec3ca-e6f0-

[2016-03-12 21:38] Innuksuk commented on #223
The polystrips is a lot more buggy than the last version. Creating strips from an existing mesh tends to struggle quite a bit. I think it's when you load saved blender files and reassign the source object and the target object that messes it up.
 The polystrips started out fine with the strip working as it should, but when I grabbed the junction point to drag it, an error message popped up and the

[2016-03-14 05:00] TheDuckCow commented on #216
@carter2422 first push is up, you'll notice there are two files added to the repository:

*addon_updater.py:* This is our main updater class module that already has many of the working pieces specific to git repo's, such as being able to pull the most recent tag name and convert it into a tuple to compare blender addon version numbers to (currently no bpy code though, and I think as much as possib

[2016-03-14 09:56] wolfie138 opened #224 "crashes and logs"
i was trying to retopo some sculpted hair;
1) sometimes the tool seems to lock on first use - it seems to be the help box, as if i clicked on that the tool would release.
2) i draw circles around the crown of the head ok, but when drawing down the strands of the fringe the machine would just vanish - i can't find the blender crash logs.
3) couple other errors attached,

![retoperrors](https://clou

[2016-03-16 02:37] patmo141 commented on #224
Ok, the first issue in the images you post seems to be related to a source/target issue.  That one I can fix no problem.  can you possibly screen cast the issue with the help box?

[2016-03-16 02:41] patmo141 commented on #223
can you upload this .blend file and I will see if I can reproduce here.  Thanks!

[2016-03-16 02:51] patmo141 commented on #223
I seem to get some weirdness too when extruding from existing.  There appears to be some handles in the wrong spot.  I tried to replicate the steps you described

![image](https://cloud.githubusercontent.com/assets/2917743/13800536/79e9ed4a-eb00-11e5-95d6-9d93bf66aa70.png)

[2016-03-16 02:57] patmo141 opened #225 "Translating entire polystrip when attached to existing geom moves handles"
Be in edit mode with existing geometry
Start Poly strips
Draw a strip from existing geometry
Select it
Translate it
![image](https://cloud.githubusercontent.com/assets/2917743/13800634/51752662-eb01-11e5-9f98-46bd721f4936.png)

[2016-03-17 15:32] carter2422 commented on #225
Good catch @patmo141. Think we can squeeze this in for 1.2.0 or 1.2.1?

[2016-03-17 15:36] carter2422 commented on #223
I'll try and replicate these to track down further, thanks for the report @Innuksuk.

The handle being in the wrong place has been logged in #225

[2016-03-17 15:36] carter2422 commented on #224
@wolfie138 are the hair strands mesh objects?

[2016-03-17 15:38] carter2422 commented on #216
Great @TheDuckCow! I haven't had a chance to really look at this yet but thanks for the update. Sounds like great progress.

Are releases merely annotated tags? Can you have a release without a tag?

[2016-03-17 23:15] OneRatNoWalls opened #226 "Unable to move or delete particular junctions in 1.2.0 beta polystrips"
I'm having seemingly random issues with particular junctions in polystrips becoming impossible to move or delete. This occurs when I've been working on a session for five or ten minutes, and the details vary between incidents. In the most recent incident, trying to drag the junction with the mouse and G key just caused the junction handles to move off the junction, while a nearby part of the mesh

[2016-03-18 07:31] wolfie138 commented on #224
yes, it was a rough base mesh i'd made (pretty rough, i was just testing the tool out, the mesh will be much more refined for the model itself). i was above and slightly forward of the head to retopo the top, looking down on it at a pretty steep angle, and was running a strand down the fringe from the concentric loops i'd made at the top. so maybe it was a z/depth issue? i have had the occasional

[2016-03-18 07:33] MattPackard opened #227 "guide mode error in contours"
haha, I tried guide mode for the first time to quickly retopo an arm from the hand to shoulder. It is a separate object from torso. When i got to the end it gave an error but did not cancel, i've got green dotted lines running all over my screen now and i cant back out.
![bug](https://cloud.githubusercontent.com/assets/15812944/13871461/fa355e02-eca0-11e5-9f0e-f6a4d161295f.PNG)

[2016-03-18 07:35] MattPackard commented on #227
note... if its possible with the code, perhaps you could make so that even if the cursor is not over a mesh but in empty space, it would still create a loop to the furthest possible point between the cursor and last loop.

[2016-03-18 08:04] Innuksuk commented on #223
Sorry I didn't have internet for a couple of days. I think I've figured out the main problem that causes these bugs. When you load saved files with retopoflow, you start off with a single modifier stack (Retopoflow Symmetry), and after reassigning the source object and the target object, it continues on with that same modifier stack. But when you enable X-mirroring (after loading saved files and r

[2016-03-18 14:53] carter2422 commented on #226
Thanks for the report @OneRatNoWalls. Are you by chance able to replicate any of these issues one at a time? We'll dig into the error log and see what we can do, but if you're able to replicate the problems that'd help a lot in tracking it down.

@vxlcoder, @patmo141 these seem to be the two main errors (which I've seen pop up else where as well):

[code]

[2016-03-18 14:54] carter2422 commented on #227
Well that's a fun one @MattPackard....hah.

Have you by chance been able to replicate this?

[2016-03-18 15:03] patmo141 commented on #227
Surely it just kept recording your strokes, and that's all of your mouse movements after it "hung up."  That for sure is an entertaining one

[2016-03-18 15:24] carter2422 commented on #226
@OneRatNoWalls when Polystrips froze Blender, where you by chance drawing strips across a thin model?

[2016-03-18 15:27] carter2422 commented on #217
Ah ha! I found a way to replicate this @vxlcoder.

The issue is when a strip is drawn *across* a thin model, such that it's normal oppose each other from one side of the strip to the other.

See these examples:
![Cylinder scaled along the X, scale applied](https://cloud.githubusercontent.com/assets/1648631/13882526/c98e6f8e-ecf3-11e5-98cd-4c41456be0f4.png)

![Viewed from the front](https://cloud.g

[2016-03-18 15:32] carter2422 commented on #217
It seems your fixes in 993a0cbfbac1de13d24a9d9b0980ccd9ff3e502d did the trick @vxlcoder. I'm going to merge into release.

[2016-03-18 15:41] #217 closed

[2016-03-18 15:43] carter2422 commented on #226
One of these issues has been fixed now @OneRatNoWalls in #217.

If you can replicate the issue with the Polystrips handles becoming unattached that'd be very helpful.

I'll update the issue title to reflect that.

[2016-03-18 15:49] carter2422 commented on #223
@Innuksuk it seems we have a few different issues here. I'm going to try and replicate each one and create a new issue for each specific problem.

[2016-03-18 15:51] carter2422 opened #228 "Committing Polystrips in Object Mode w/ symmetry creates a new modifier each time"
Discovered in #223. If you enable Symmetry and commit Polystrips in Object Mode (with a target set) then it will create a new Mirror Modifier each time you commit.

It should detect the existing mirror and use that instead.

[2016-03-18 16:09] patmo141 commented on #227
Confirmed.

![image](https://cloud.githubusercontent.com/assets/2917743/13883989/411d4e90-ed02-11e5-83f8-2b459f333f8a.png)

[2016-03-18 16:11] carter2422 commented on #227
Great @patmo141! Added to v1.2.0 milestone; let's get this fixed :)

[2016-03-18 16:18] carter2422 commented on #224
The grazing angle almost certainly contributed to the problem.

As for the thinner surfaces, this is a known problem that we've been working on improving for a while, but it's still a bit problematic at times: #35 #218 #217

[2016-03-18 16:25] patmo141 commented on #227
![image](https://cloud.githubusercontent.com/assets/2917743/13884478/90dc1842-ed04-11e5-9af9-c08580dcf231.png)

[2016-03-18 16:30] #228 closed

[2016-03-18 16:38] carter2422 opened #229 "Knife'd junctions draw poly on Handle hover"
If you knife a junction into a strip, then select that junction, the two handles that're parallel with the target strip draw a square on hovering the handle:

![screen shot 2016-03-18 at 11 37 01 am](https://cloud.githubusercontent.com/assets/1648631/13884881/f2e40e20-ecfd-11e5-805d-ce65f87b6e1c.png)
![screen shot 2016-03-18 at 11 37 09 am](https://cloud.githubusercontent.com/assets/1648631/138848

[2016-03-18 16:42] carter2422 commented on #227
That works well @patmo141. Go ahead and merge. Although you might consider commenting the `if trim:` block to document what and why the trim is used.

[2016-03-18 16:45] carter2422 opened #230 "Contours Guide division by zero"
If you start a guide draw at the end of a mesh and continue off into space you get a division by zero error sometimes:
![screen shot 2016-03-18 at 11 43 44 am](https://cloud.githubusercontent.com/assets/1648631/13885059/bf12db70-ecfe-11e5-9c9f-bd26bf4b414a.png)

![screen shot 2016-03-18 at 11 43 49 am](https://cloud.githubusercontent.com/assets/1648631/13885062/c25b9a24-ecfe-11e5-86c8-797251e693a5

[2016-03-18 16:47] carter2422 commented on #223
@Innuksuk one of your issues has been fixed now and the other two tracked down. Thanks for reporting! I'll close this now.

#225, #228, #229

[2016-03-18 16:47] #223 closed

[2016-03-18 16:49] patmo141 commented on #225
![image](https://cloud.githubusercontent.com/assets/2917743/13885240/c79f3db6-ed07-11e5-9cba-b2f3f2450893.png)

[2016-03-18 16:57] carter2422 opened #231 "Move all Polystrips draw functions into common_drawing"
It seems we have a lot of replicated drawing code in `polystrips_ui_draw.py` currently.

For example:

[code]

These should all get moved over to `lib/common_drawing*`, unless there's a good reason for keeping these separate @vxlcoder?

[2016-03-18 18:13] patmo141 commented on #229
Ah HA!  It's orphaned inner gverts after the split
![image](https://cloud.githubusercontent.com/assets/2917743/13887687/8531d66c-ed13-11e5-89ad-da053a1afa44.png)

[2016-03-18 18:40] #229 closed

[2016-03-18 18:41] #230 closed

[2016-03-18 18:41] #227 closed

[2016-03-18 18:42] carter2422 commented on #226
Ah I believe the unattached handles was due to #225, which has now been fixed. Closing.

[2016-03-18 18:42] #225 closed

[2016-03-18 18:43] patmo141 commented on #226
The handles can still move if a GVert is selected, I only fixed GEdge.  Working in it right now

[2016-03-18 18:44] #215 closed

[2016-03-18 18:44] #206 closed

[2016-03-20 13:58] TheDuckCow commented on #216
Hey @carter2422 , sorry thought I already responded. Essentially yes, annotated tags; you can't have a  release without a tag to my knowledge. Main use case would be for people to exclude betas or WIP from a release page. For example, these two repositories:

Releases:
[Retopoflow, none](https://api.github.com/repos/cgcookie/retopoflow/releases)
[MCprep, several](https://api.github.com/repos/thedu

[2016-03-20 20:58] patmo141 commented on #222
![image](https://cloud.githubusercontent.com/assets/2917743/13907100/04318b4c-eebd-11e5-973a-ec39648ec412.png)

[2016-03-20 21:28] vxlcoder commented on #219
see if branch issue/219 fixes the problem

[2016-03-20 21:31] vxlcoder commented on #214
@carter2422, can you give a screenshot?

[2016-03-20 21:33] patmo141 commented on #219
What does the before picture look like?  I'm not sure how to duplicate this one

[2016-03-20 22:01] vxlcoder commented on #213
see branch issue/213

[2016-03-21 17:37] vxlcoder opened #232 "Improve logging capabilities"
Rather than printing debug info, warnings, and errors to console, write to a text file or text block in Blender.

May need to consider writing to an external file rather than a text block in case Blender crashes hard but data isn't saved.  But, where does this file get saved? (can place in same folder as .blend file)

Related: issue #202

[2016-03-21 18:53] vxlcoder opened #233 "PolyPen: committing vertex grab is sloppy"
with vert selected, start a grab (press 'g'). move mouse away. while wiggling mouse around it circle, press LMB to commit.  the vert repositions somewhere near where it started.

[2016-03-21 19:10] vxlcoder opened #234 "PolyPen: new edge not selected after clicking on an existing vert to turn tri->quad"
before:
![image](https://cloud.githubusercontent.com/assets/3790699/13930803/d824cba8-ef76-11e5-99e3-7365c88e710a.png)

after:
![image](https://cloud.githubusercontent.com/assets/3790699/13930839/f863d152-ef76-11e5-9ab1-8ff30728169f.png)

this is correct:
![image](https://cloud.githubusercontent.com/assets/3790699/13930827/ed06431c-ef76-11e5-8a3a-a528d87b4841.png)

[2016-03-21 19:36] vxlcoder opened #235 "PolyPen: error when splitting face"
Error when splitting face by clicking on left vertex when right vertex and adjacent edges are selected (see image below)

![image](https://cloud.githubusercontent.com/assets/3790699/13931622/8d24ce42-ef7a-11e5-82ec-e69c5a1e3a07.png)

[code]

[2016-03-23 16:30] carter2422 opened #236 "Polypen edge > edge bridge often gets order wrong"
When bridge from face > edge, edge > edge, etc the order often gets mixed up, causing a criss-crossing face.

![screen shot 2016-03-23 at 11 27 25 am](https://cloud.githubusercontent.com/assets/1648631/13992555/8ce48f28-f0ea-11e5-8b21-9937e1bf4cbd.png)
![screen shot 2016-03-23 at 11 27 52 am](https://cloud.githubusercontent.com/assets/1648631/13992559/8f025de4-f0ea-11e5-92f2-0b9418fed6a1.png)

[2016-03-23 20:31] #235 closed

[2016-03-23 20:36] #234 closed

[2016-03-23 20:36] #236 closed

[2016-03-23 20:39] #226 closed

[2016-03-23 20:45] carter2422 commented on #232
Is this ready to commit or would you like to add the external file saving first?

[2016-03-23 20:46] carter2422 commented on #232
Ah never mind it's there in b6f1985da2284ba81e5737d39d307ce5012c3a9c

[2016-03-23 20:52] carter2422 commented on #232
Per our Slack discussion, let's revert to saving in `/tmp` if no .blend file is currently loaded (such as for default scene), and let's save the filename as `RetopoFlow_log.filename.txt`

[2016-03-23 20:58] carter2422 commented on #218
That's dramatically improved!

[2016-03-23 21:00] carter2422 commented on #218
Although on large objects it seems to go back to flipping a lot:
![screen shot 2016-03-23 at 4 00 08 pm](https://cloud.githubusercontent.com/assets/1648631/14000692/5f114520-f110-11e5-8d43-af349af20cf5.png)

[2016-03-23 21:02] carter2422 commented on #224
With these being noted in specific issues above I'm going to go ahead and close this. If you come across something new @wolfie138 please do let us know!

[2016-03-23 21:02] #224 closed

[2016-03-23 21:04] carter2422 commented on #222
Looks like this is one for you @vxlcoder. Here's error message when doing what @patmo141 showed above:
[code]

*Note: the face does fill, it just presents the error first.*

[2016-03-23 21:15] carter2422 commented on #222
This is fixed now @Innuksuk. It'll make it into the v1.2.0 release :)

[2016-03-23 21:15] #222 closed

[2016-03-23 22:08] mx1001 opened #237 "Strange Glitch - Polystrips"
While testing the tool I experienced some strangeness at this moment in the video.

https://youtu.be/R6xiBkaeORQ?t=4m54s

This is what my screen looked like. http://i.imgur.com/OM1NDDU.png
JW also pointed out the help isnt supposed to look like that. That could be something with the blf not being tied to the dpi or something. We experienced something like that too.

[2016-03-23 22:12] vxlcoder commented on #237
quick question, @mx1001: what is the scale on that mesh?  did you apply the scale (so scale is 1.0)?

[2016-03-23 22:15] vxlcoder commented on #237
ah, i think i know the problem!  there seems to be an issue when you draw a polystrip from an existing strip that connects back to itself.  if you add an extra endpoint before connecting back to the existing geometry, it seems to work.  i'll think through this a bit more.

[2016-03-23 22:16] mx1001 commented on #237
that could be the issue. I did scale it down by 100x before beginning sculpting and retopo. I guess since I did it uniform scale didnt prove an issue during dynamic tesselation sculpting. Ill try it again with that in mind on my next video.

[2016-03-23 22:23] vxlcoder commented on #237
screenshots highlighting the issue here:

![works fine](https://cloud.githubusercontent.com/assets/3790699/14002707/0e1d0794-f124-11e5-8783-abc1687a350d.png)

![sketch of what does not work](https://cloud.githubusercontent.com/assets/3790699/14002717/1a11b55e-f124-11e5-826a-d84223a2b51d.png)

![broken result](https://cloud.githubusercontent.com/assets/3790699/14002729/233ee656-f124-11e5-8bfe-09d9e

[2016-03-23 22:24] mx1001 commented on #237
ah excellent. Ill give that a try. Im sure it was something i did moreso than the tool malfunctioning

[2016-03-23 22:56] vxlcoder commented on #237
confirmed.  using mesh scaling does weird stuff in this scenario.

![image](https://cloud.githubusercontent.com/assets/3790699/14003420/e62d2386-f128-11e5-8a89-2306ccd1fccb.png)

[2016-03-23 22:58] mx1001 commented on #237
excellent. So quick to find the source of the issue. Nice! Ill keep that in
mind. Awesome work! Youre a python detective haha.

On Wed, Mar 23, 2016 at 5:56 PM, Jon Denning <notifications@github.com>
wrote:

[2016-03-23 23:13] vxlcoder commented on #237
@mx1001, the above commit is a workaround for this issue.  it's not a great solution, but it should correct any strange behavior.  note: to create a loop from existing geometry (as intended in the second screenshot above), you will need to add explicitly an extra end point between the two endpoints of the strip. see below

![image](https://cloud.githubusercontent.com/assets/3790699/14003748/52c940

[2016-03-25 19:08] Nocturael opened #238 "Polypen division by zero"
In 1.2.0 beta 2, when I try to use the Polypen on a certain mesh target, I get an error message and all vertecies get hidden. Sadly, I have not yet managed to reproduce the bug with another mesh or isolate the conditions of the problem.

EXCEPTION (<class 'ZeroDivisionError'>): float division by zero
         C:\Users\Nicolas Braun\AppData\Roaming\Blender Foundation\Blender\2.77\scripts\addons\ret

[2016-03-27 19:06] vxlcoder commented on #238
@Nocturael, that model likely has an edge with zero length (the two endpoint vertices are at the same location).  the above fix *should* fix polypen from throwing exceptions.  please let me know if you still get that error.  thanks!

[2016-03-27 19:15] Nocturael commented on #238
That fixed it, thanks.

[2016-03-27 19:17] #238 closed

[2016-03-28 15:02] carter2422 commented on #216
Good to know @TheDuckCow and nice foresight.

[2016-04-04 18:40] carter2422 commented on #237
@vxlcoder this seems to be a bit erratic still. I need to test more, though. Going to tentatively put towards 1.2.1

[2016-04-04 18:46] carter2422 commented on #219
Appears to be working!

[2016-04-04 18:48] carter2422 commented on #213
Whoop! :tada:

[2016-04-04 18:48] #213 closed

[2016-04-04 18:52] carter2422 commented on #219
Reopened for the PR above, which has a merge conflict.

[2016-04-04 18:57] carter2422 commented on #219
Whoops, wrong issue for the PR.

[2016-04-04 19:29] carter2422 opened #240 "Deleting Contour often results in index out of range error"
This is a bad one @patmo141, just found it.

Frequently when deleting contours, seemingly in the beginning of a session, I'm getting a Index error:
[code]
The file I'm testing on is `/test-models/contour-cylinder.blend`

[2016-04-04 19:31] carter2422 opened #241 "ReferenceError: StructRNA of type CGC_Contours has been removed"
We've had this error for a longtime and never been able to track it down. I probably get it 100s or 1000s of times per session. It doesn't seem to actually cause any problems but it absolutely floods the console.

[code]

[2016-04-04 19:33] carter2422 commented on #241
This might actually be one for you @vxlcoder since it deals with the modal operator and exception handling.

[2016-04-04 19:36] carter2422 commented on #240
Possibly related to this:
- [ ] Deleting a Stroke while there's only two strokes immediately crashes Contours but gives no error

![screen shot 2016-04-04 at 2 35 36 pm](https://cloud.githubusercontent.com/assets/1648631/14260747/9ac737bc-fa72-11e5-937a-9bde953fb7eb.png)
![screen shot 2016-04-04 at 2 35 40 pm](https://cloud.githubusercontent.com/assets/1648631/14260751/9dd7cb24-fa72-11e5-8b56-51a1

[2016-04-04 19:59] carter2422 opened #242 "Source and Target objects should not require origin and rotation/scale to match"
With some tools, such as Tweak, it turns out the Object Origins of the Source/Target must match for behavior to work correctly. In addition, it seems both objects must have the same rotations.

Are we able to remove these limitations? There're more corner-cases than anything, but when they do come up their quite frustrating to users.

[2016-04-05 00:46] patmo141 commented on #242
yes we can remove this limitation

[2016-04-05 00:51] patmo141 commented on #242
![image](https://cloud.githubusercontent.com/assets/2917743/14268257/d86cf758-faa6-11e5-8025-0c41884ed663.png)

PolyPen when existing source/target have different world matrices.  This might be in the BMesh render code?

[2016-04-06 00:11] #240 closed

[2016-04-06 00:17] #219 closed

[2016-04-06 15:41] Eric-Lafarge opened #243 "Error message with Polystrips: object has no attribute 'create_gvert'"
OsX 10.11.4  / 2.77
Open an old file, try to PolyStrip and got this message. Then Blender crash (Crash report)
Works fine with a new file.
![capture d ecran 2016-04-06 a 16 43 44](https://cloud.githubusercontent.com/assets/9129984/14322584/b9cd027a-fc1d-11e5-8cdc-a9a6b6d3cd59.png)

![capture d ecran 2016-04-06 a 16 39 01](https://cloud.githubusercontent.com/assets/9129984/14322618/d28efe58-fc1d-11

[2016-04-06 15:42] carter2422 commented on #243
@Eric-Lafarge could you possibly share the .blend file that crashes?

[2016-04-09 07:40] punkoffice commented on #172
I get "List index error" as well with one of my models.  Its a 200k poly 3D scan, but its been polished and its all one connected mesh (no separate eyes or tounge).  This happens as soon as I try to lay down a polystrip around the eyes.  It freezes Blender and I have to close the whole application.  I can lay polystrips on other areas like the forehead, but it crashes when going around the eyebrow

[2016-04-09 12:07] patmo141 commented on #172
Can you upload that blend or even just the parts around the eyebrows?

[2016-04-09 12:34] punkoffice commented on #172
Sure thing.  You can download the blend file here [http://www.punkoffice.com/downloads/polystrips.zip](url)   Its a 14MB file.

[2016-04-09 12:40] patmo141 commented on #172
Thanks, I happen to have a few moments right now I'll see if I can tackle this

[2016-04-09 13:11] patmo141 commented on #172
I'm having trouble reproducing this error.  Am I in the right area. I didn't see any non manifolds near the eybrows.
![image](https://cloud.githubusercontent.com/assets/2917743/14403797/0131e7d6-fe33-11e5-9c69-72acba43d7c8.png)

[2016-04-09 13:14] patmo141 commented on #172
I think I need to see the error that is beneath the 2nd popup there which looks related to "none type has no attribute dot" in polystrips_datatructure.py. Can you get this to happen consistently?

[2016-04-09 13:22] punkoffice commented on #172
Here's a video of me trying to put polystrips around the eye and mouth [https://youtu.be/v7S0_cWWIw0](https://youtu.be/v7S0_cWWIw0)

[2016-04-09 13:24] patmo141 commented on #172
awesome thanks. This is the error we are looking for.  We have come across this one in the past.[image](https://cloud.githubusercontent.com/assets/2917743/14403822/cc82a3e8-fe34-11e5-9d29-aa6709dd2481.png)

[2016-04-09 13:36] patmo141 commented on #172
ok, interesting.  You error message gives me a line that's different in the current 1.2.0 release. sometimes we see old code stuck around that does not uninstall (I tihnk it's the cached compiled python code of the previous version).  Try unstalling v1.2.0, saving unser settings, restarting blender, then reinstalling v1.2.0.

![image](https://cloud.githubusercontent.com/assets/2917743/14403871/4b8

[2016-04-09 13:41] patmo141 commented on #172
Oh, as an experiment, if you go into edit mdoe and "make normals consistent" on your source mesh before you update your addon, see if that fixes it.  Because the error we were having was where the ray cast returns a Hit on the mesh, but does not return a surface normal for that hit which is quite strange.

[2016-04-09 14:22] punkoffice commented on #172
ok, I reinstalled it and made sure to recalculate normals.  Its definitely better now.  Thanks mate!  I can lay polystrips without crashing. I do get an error sometimes when creating a circle around the eye then trying to fill it
![fill](https://cloud.githubusercontent.com/assets/5295016/14404101/1eb15998-feb2-11e5-8a05-18e5259bfbd5.png)
Its quite possible I'm doing something wrong with where I'm

[2016-04-09 15:21] patmo141 commented on #172
Please open a separate issue for the circular patch fill.
On Apr 9, 2016 10:22 AM, "Marcus Milne" <notifications@github.com> wrote:

[2016-04-10 04:35] punkoffice opened #244 "Error when filling in polystrip circle"
I get an error sometimes when creating a circle around the eye then trying to fill it.  You can download the .blend file I'm using here [www.punkoffice.com/downloads/polystrips.zip](http://www.punkoffice.com/downloads/polystrips.zip)
![fill](https://cloud.githubusercontent.com/assets/5295016/14408088/4567dbd0-ff29-11e5-9ff9-95cad8a5f3e3.png)

[2016-04-13 19:42] TheDuckCow commented on #216
@carter2422 sorry I know a "couple days" turned into a week+ for having part one (and 2) mostly finished. In a time crunch with other work, but I'm at the stage where I'm integrating it with Retopoflow's UI and calling the functions from the UI. I'll work to get the bare bones thing out as soon as I can dedicate the time (read: likely weekend) and worry about polishing all the other parameters and

[2016-04-14 17:20] carter2422 commented on #216
Sounds good @TheDuckCow, looking forward to it!

[2016-04-14 19:32] Arbassin opened #245 "small code issue in polystrips_ui.py"
Hello,
I think that in polystrips_ui.py,  there is a typo issue :
line 134:        polystrips_undo_cahce = []

should be:
polystrips_undo_cache = []

Best Regards

[2016-04-18 16:44] carter2422 opened #246 "Exclude .DS_Store and .orig files from Make"
Reported here: https://cgcookiemarkets.com/forums/topic/spam-files-from-osx-in-downloads/

[2016-04-20 01:45] GoblinSamurai opened #247 "Everytime i press the polystrips button, I tried reloading the Addon and restarting blender."
EXCEPTION (<class 'AttributeError'>): 'CGC_Polystrips' object has no attribute 'create_gvert'
         E:\Steam\steamapps\common\Blender\2.77\scripts\modules\bpy_types.py
000 0597:**getattribute**() return super().**getattribute**(attr)
         C:\Users\Michael\AppData\Roaming\Blender Foundation\Blender\2.77\scripts\addons\retopoFlow\op_polystrips\polystrips_ui.py
001 0524:create_polystrips_from_

[2016-04-20 12:23] TheDuckCow commented on #216
See the above code update, you should be able to download the repository as-is and install. The version is a stripped down version of the addon which just registers the addon updater code. Once enabled (should say v1.1.9), search for the operator "Update retopoflow addon", check for update and then choose update.

See video for more details
[https://youtu.be/N4QJ3uctAus](https://youtu.be/N4QJ3uctA

[2016-04-20 13:15] vxlcoder commented on #216
@TheDuckCow, this looks super convenient!

maybe you have fixed this already since you made the video, but `__init__.py:103` and `__init__.py:135` is misspelled; should be `register_updater()`.

[2016-04-20 13:20] TheDuckCow commented on #216
Ah, thanks @vxlcoder for the notice, fixed in my local copy so next version will actually spell updater correctly :)

[2016-04-20 13:22] vxlcoder commented on #216
great work on this :)

[2016-04-20 15:07] carter2422 commented on #247
@GoblinSamurai this suggests that not all of the libraries are getting imported. If you just installed v1.2.0 then please be sure to restart Blender before activating it, as often times Blender doesn't fully refresh the files and causes some overlap with the old version.

[2016-04-20 15:22] carter2422 commented on #216
That's looking great @TheDuckCow! It'll be a few days (at least) before I can dive in and really try this out so go ahead and start polishing things up as you see fit.

I really appreciate that you did it in such a way that the actual add-on integration for the UI and such is very flexible. This is something that I plan to experiment with a good bit to find what works well.

Great work!

[2016-04-20 15:49] vxlcoder commented on #247
@TheDuckCow these types of issues might be worth trying to reproduce and creating in a fix for with the auto-updater

[2016-04-20 16:01] punkoffice opened #248 "Polypen tool selecting verts/edges/faces far away from actual cursor"
When I try to lay down polystrips it becomes very difficult with a lot of existing polystrips on the object because what happens is the cursor will randomly start selecting items far away.  Sometimes I don't even notice this 'cos its selecting something out of view, then when I drop down a polygon it connects to something random.
![wrong_selection](https://cloud.githubusercontent.com/assets/529501

[2016-04-20 16:05] carter2422 commented on #248
That's the Polypen tool, but I believe the issue @punkoffice is that it's selecting items through the mesh based on the angle.

Something to try: adjust the viewport `Start / End` of the **Viewport Properties** `View` settings.

The clipping in RetopoFlow is dependent on these settings, so it could be that the distance is simply too small or large.

[2016-04-20 16:24] punkoffice commented on #244
Another polystrip fill error
![fill_error](https://cloud.githubusercontent.com/assets/5295016/14682265/29c6d542-0768-11e6-9882-d42e48a575eb.jpg)

[2016-04-20 16:26] carter2422 commented on #244
@punkoffice could you screenshot the polystrips behind the error that you were trying to fill?

[2016-04-20 16:38] punkoffice commented on #248
I can adjust start / end of the viewport to isolate the surface that I'm editing but it still ends up connecting to some edge on the other side of the head even though that edge can't be seen

[2016-04-20 16:49] punkoffice commented on #244
ok, here it is but from slightly different angle to the pic above so you can see a clearer picture
![polypen_selection](https://cloud.githubusercontent.com/assets/5295016/14682933/796f067a-076b-11e6-9da6-918c9ba46775.jpg)  I try my best to rotate view to an angle where the polys on the other side of the head aren't anywhere near the cursor, but yet it'll still connect to them, even after changing

[2016-04-20 17:41] TheDuckCow commented on #247
@vxlcoder certainly, and to a certain extent I think it already does this based on how it's implemented. But there's a limit to where it's possible, even uninstalling and refreshing somehow still leaves stagnant information beyond the py caches that can cause errors in reloading.

[2016-04-30 22:49] toomanydemons commented on #248
I have this issue as well. F2 is still the fastest retopology. I do love polypen for getting started, but wish I could stay in polypen, it's pretty great but at a certain point I always run into this and have to switch back to F2...

[2016-05-01 15:57] vxlcoder commented on #248
will take a look at it

[2016-05-01 16:22] vxlcoder commented on #248
@punkoffice and @toomanydemons, will you two please take a look at branch `issue/248` to see if it fixes these issues?  thanks!

[2016-05-01 19:23] toomanydemons commented on #248
248 works excellent :) I took time to use it for awhile on a detailed mesh and was able to go all the way around it with polypen. I didn't have any problems. This is really nice :)

[2016-05-01 19:34] vxlcoder commented on #248
glad to hear that! for the record, the problem was a weirdness in one of the blender python calls.  `intersect_point_tri` will return a non-None answer even if the given point does not lie in the triangle.  just need to test the distance between the given point and the returned point.

[2016-05-01 19:36] vxlcoder commented on #248
@toomanydemons are there other issues or difficult workflows that run you into that slow you down in polypen vs f2?

[2016-05-01 19:44] toomanydemons commented on #248
One issue that I would fix but isn't a serious problem:The selection radius for grabbing vertices is very small. The mouse pointer has to be right on a vertex to grab it, or you grab an edge instead. This makes it difficult to work quickly, but after some practice it's not too big a deal. The tool is very great :) Thank you!

[2016-05-09 01:54] TheDuckCow commented on #216
Hey @carter2422 did you get a chance to look at the code at all? And responses/changes in direction recommended?

[2016-05-11 23:16] carter2422 commented on #216
Unfortunately I haven't been able to check it out yet @TheDuckCow :( Hoping for next week.

[2016-05-11 23:16] carter2422 commented on #216
@vxlcoder if you get bored feel free to chime in here as well :)

[2016-05-11 23:34] TheDuckCow commented on #216
No problem - I know what my next steps are anyways so I will continue forging ahead with that as I get time.

[2016-05-11 23:36] carter2422 commented on #216
Great, thanks!

[2016-05-31 18:22] carter2422 commented on #216
@TheDuckCow and I just had a call on this. We're a bit behind but aiming to complete this by end of June for v1.3.0, with the goal then to showcase it at SIGGRAPH!

Here are the notes from our call:

- First two phases have sort of been squashed into one
- About ready to push code to https://github.com/CGCookie/blender-addon-updater
- Main question is how to check for updates without interrupting

[2016-06-23 22:19] carter2422 opened #249 "Source/Target object handler causes crash when disabling/re-enabling add-on"
Per @TheDuckCow on Slack:

Without doing much checking beyond checking/unchecking, I found the crash no longer happens if I just comment out this line in register, ie making it not add this handler:
bpy.app.handlers.scene_update_post.append(check_source_target_objects)

`if settings.source_object not in bpy.context.scene.objects:`

[2016-06-27 05:16] TheDuckCow commented on #249
Hey, I found another place where this comes up. I recorded a video which is better at explaining than I could do in text, take a look at this here when you can: [unlisted youtube video](https://youtu.be/itJZtAalFro)

But, for giving a stab at the specific and then the larger issue:
- In the common_utilities module, there was a line of code at the root/global level: `get_settings.cached_settings =

[2016-06-27 05:20] TheDuckCow commented on #216
Hey, still hoping to post some level of an update tonight thought getting slightly late. Just wanted to say got a little hung up on retopoflow crashing on reloading; the previous issue I fixed by commenting out one line in register, then it started happening again when running the ui panel code (where one of the notifications for updating may appear). [Issue reported here](https://github.com/CGCoo

[2016-06-27 06:55] TheDuckCow commented on #216
Alright, and the update. As per usual, [here's a video demo](https://youtu.be/ExOLQ-dYtGU), and there below [here is the tag release of this code](https://github.com/TeamDeverse/retopoflow/releases/tag/v1.1.9) on the Deverse branch (which has the fix for the crashing/reloading issue)

Let me know what you think based on the video soon as you can, so I can get cracking on any changes or direction r

[2016-06-27 19:36] carter2422 commented on #249
Ah very nice find @TheDuckCow! Would you want to go ahead and submit a pull request with those changes?

[2016-06-27 19:54] carter2422 commented on #216
This is looking great @TheDuckCow! I just have one initial suggestion and a comment.

Suggestion: add ability to *Cancel* after *Check Now*

I also noticed that after updating to `1.1.9` the update button still said [*Update now to (1.1.9)*](https://youtu.be/ExOLQ-dYtGU?t=4m22s)

I assume background processing is the main open task?

[2016-06-28 05:31] TheDuckCow commented on #216
Thanks @carter2422
Re: cancel, sure thing I'll have it do that instead of show processing (once the async part is implemented)
Good call about the 1.1.9 post update. At that stage, I would presume a grayed out button saying up to date would be sufficient. On the right side, the first button is aiming to allow you to reinstall the current version or any old version as desired (obviously, reverting

[2016-07-01 23:59] TheDuckCow commented on #216
Time for the big update! Test out [the RetopoFlow addon with updating capabilities here](https://github.com/TeamDeverse/retopoflow). Admittedly, it's probably still a beta feature because we need to do some robust testing (cross platform etc), but it would be safe for you to play with at this point. Again, currently hosted on the deverse page. I'm hoping to finish this to be full polished asap to

[2016-07-07 20:46] #249 closed

[2016-07-07 20:59] carter2422 commented on #249
Thanks again for tracking this down @TheDuckCow.

[2016-07-07 21:06] carter2422 opened #251 "PolyPen does not work in Local View and wrecks BGL drawing"
Activating Polypen in Local View on the source object wrecks the whole Blender UI and gives this error:
[code]

Contours and Polystrips both work fine.

[2016-07-09 15:53] carter2422 commented on #245
Good catch, thanks @Arbassin!

[2016-07-09 15:54] carter2422 commented on #243
@Eric-Lafarge just following up on this, are you able to share the .blend file that caused the crash? I'm not able to replicate this yet.

[2016-07-09 15:55] carter2422 commented on #231
@vxlcoder are we good to move this into `common_drawing`?

[2016-07-09 15:58] carter2422 commented on #214
I actually can't replicate this now, as dissolving is not supported on open edges. Closing.

[2016-07-09 15:58] #214 closed

[2016-07-11 15:21] vxlcoder opened #252 "Dynamic Z-Depth"
Dynamically adjust/tune z-depth values (near and far) depending on viewport scaling to prevent rendering occluded geometry over mesh at different scales

ok: ![ok](https://cloud.githubusercontent.com/assets/3790699/16736069/7c12e2ce-4759-11e6-89b2-05678b4ac504.png)

bad: ![bad](https://cloud.githubusercontent.com/assets/3790699/16736052/5a99b640-4759-11e6-9262-eafe0e68b1eb.png)

really bad: ![real

[2016-07-11 16:27] carter2422 commented on #252
This would be great @vxlcoder. When are you thinking we might be able to do this?

[2016-07-11 17:42] vxlcoder commented on #252
i don't believe it is difficult, so i could get it in for 1.2.2, but a nice, clean, abstracted version could be done with 2.0

[2016-07-11 19:30] carter2422 commented on #252
That would be great @vxlcoder, let's do it. The goal for 1.2.2 is third or final week of July.

[2016-07-12 01:16] vxlcoder commented on #251
polypen will create a new target object at start if one does not exist.  then, it tries to enter edit mode.  but, if the user is in local view on another object, we cannot edit an object that isn't in local view.  according to http://blenderartists.org/forum/showthread.php?382191-managing-local-view-from-python, it seems that there is not a way to add an object to local view.  so, the "quick and d

[2016-07-12 15:56] vxlcoder commented on #251
@carter2422 this issue _should_ be fixed!  please test when you get a chance.

[2016-07-12 16:02] vxlcoder commented on #218
ok, i think i have an idea...

[2016-07-12 17:17] vxlcoder commented on #218
@carter2422, when you get a chance, retest that last example, and let me know what you are scaling the object by.  also, try applying the scale before testing.  i cannot reproduce this error unless the scaling is negative.

[2016-07-12 17:20] vxlcoder opened #253 "Optimization: apply xforms to bmesh of source mesh"
In order to eliminate mx/imx computation and multiplication (except for commit), apply object xforms to bmesh of source mesh at start of modal.

[2016-07-12 18:47] patmo141 commented on #253
great idea

[2016-07-13 19:25] vxlcoder commented on #237
@carter2422: can you repo this?

[2016-07-13 20:35] vxlcoder commented on #147
@carter2422 are you still able to repo this?

[2016-07-13 20:45] carter2422 commented on #147
@vxlcoder I'm getting it every now and then but not very consistently. For example: https://cl.ly/ghIm

Perhaps it has to do with the slight grazing angle?

[2016-07-13 20:50] carter2422 commented on #218
@vxlcoder if I scale the cylinder by 10x everything works great, including at default scale. However, soon as I apply the scale on the cylinder the intersections start happening again:
![screen shot 2016-07-13 at 3 49 46 pm](https://cloud.githubusercontent.com/assets/1648631/16819323/8911a3de-4911-11e6-9e16-868b5a69df3f.png)
![screen shot 2016-07-13 at 3 50 41 pm](https://cloud.githubusercontent.c

[2016-07-13 20:54] carter2422 commented on #252
Oh man, the rendering in 59fc7dc8efc0bc8f8540e10c9881f48154f7be45 is sooooo much better! Nice going @vxlcoder. Shall I merge this in?

[2016-07-13 21:01] vxlcoder commented on #252
sure @carter2422!

[2016-07-13 21:05] carter2422 commented on #251
This appears to be working really well @vxlcoder. Nice work. Merged into 1.2.2

[2016-07-13 21:06] vxlcoder opened #254 "polystrips undo is broken"
does not store/restore state very well (selected gedges, active gedge, active gpatch, etc.)

[2016-07-13 21:10] carter2422 commented on #218
@vxlcoder I think I found the issue on this. It's dependent on the length of the stroke, whereby if the line between the start/end passes on the opposite side then it causes flipping: https://cl.ly/ghJC

[2016-07-13 21:17] carter2422 commented on #232
We can probably include this in `1.2.2` just soon as it's saving to `/tmp` and updating the filename.

[2016-07-13 21:18] #245 closed

[2016-07-13 21:18] #251 closed

[2016-07-13 21:18] #252 closed

[2016-07-13 21:23] #246 closed

[2016-07-13 21:33] #248 closed

[2016-07-13 21:34] carter2422 opened #255 "PolyPen: insert vertex snaps to edge center if only the vert is selected"
As shown below, if only the vert is selected when doing a CTRL+Click on an edge to insert+connect then the new vert is snapped to the center of the picked edge.

The correct behavior is to insert the edge at the clicked location.

GIF:
https://cl.ly/ghLJ

[2016-07-13 21:38] carter2422 commented on #254
Nice.

[2016-07-13 21:38] #254 closed

[2016-07-26 20:22] carter2422 opened #256 "Starting RF in Object Mode forces viewport into wireframe"

[2016-07-27 01:13] carter2422 commented on #256
Confirmed!

[2016-07-27 01:13] #256 closed

[2016-07-27 02:29] carter2422 commented on #216
@TheDuckCow I'm running into a problem with the add-on thinking it's always up to date, even when v1.1.11 is installed, or even when I manually edit `__init__.py` to force it into being an older version. It seems to be stuck thinking it's up to date ever since the first time I updated (at which time it worked perfectly).

What determines wether or not the `up to date` flag is changed?

[2016-07-27 07:38] TheDuckCow commented on #216
Does it still think it's update to date after a blender restart? If not, it's a known state issue where I need to add an addition stored variable to json file which stores some basic info in the back end (essentially I'm avoiding doing another internet call check, and so it should cache whether it is updated or if a previous version was intentionally installed). However, if it persists after a ble

[2016-07-27 13:48] carter2422 commented on #216
It persists after a restart (and even a re-install). Auto check was originally disabled but then I tested it with a 1 minute schedule and it still claimed to be up to date.

[2016-07-27 13:50] carter2422 commented on #216
I've gone ahead and logged an issue here: https://github.com/CGCookie/blender-addon-updater/issues/3

[2016-07-27 14:40] carter2422 opened #257 "Allow dissolving verts when only connected to two edges"
Just creating this for the record. Closed via 5a6607c4ab1126a45208423240f696cb9737b851

[2016-07-27 14:41] #257 closed

[2016-07-27 17:51] TheDuckCow commented on #216
Interesting. And this was using the release download of v11 or v12? Windows/mac/linux? (in case it's somehow because it can't modify the json file or something strange like that)

[2016-08-08 19:45] carter2422 opened #258 "PolyPen: verts and edges aren't occluded in backfacing"
Seems only faces are being occluded currently, we need to occlude verts and edges as well to improve visualization.
![screen shot 2016-08-08 at 2 44 17 pm](https://cloud.githubusercontent.com/assets/1648631/17493602/b13706dc-5d76-11e6-86f4-b63f7b34fd43.png)

[2016-08-08 19:49] carter2422 commented on #255
@vxlcoder it doesn't seem that a8e323601b8af480c66107850f674ea0f103be96 changes anything whatsoever.

[2016-08-15 00:05] vxlcoder opened #259 "PolyPen: hidden geometry is hoverable,selectable,editable"
geometry that is hidden behind other geometry (could be on other side of thin surface, too) can get modified.

[2016-08-15 19:49] carter2422 commented on #195
That's so much better! Are we able to add the same fix for Contours?
![screen shot 2016-08-15 at 2 49 18 pm](https://cloud.githubusercontent.com/assets/1648631/17677232/7aeb1cb8-62f7-11e6-83cd-04da52f6acb9.png)

[2016-08-15 19:51] carter2422 commented on #258
Backface occlusion is working great now, although faces aren't drawing on top of the source:
![screen shot 2016-08-15 at 2 51 06 pm](https://cloud.githubusercontent.com/assets/1648631/17677290/c74a64ce-62f7-11e6-82fe-fa6f93672be1.png)

[2016-08-15 19:54] carter2422 commented on #259
Nice @vxlcoder! Go ahead and merge into `release/1.2.2` when ready.

[2016-08-15 19:56] #255 closed

[2016-08-15 19:57] carter2422 commented on #255
Confirmed 🎉

[2016-08-15 20:01] vxlcoder commented on #258
@carter2422 your last screenshot is concerning....  this is what i get on both of my linux boxes

![image](https://cloud.githubusercontent.com/assets/3790699/17677597/882c9ea6-6301-11e6-818f-eee00274d0d8.png)

i think we need to look into differences more here

[2016-08-15 20:02] carter2422 commented on #258
Well that's weird....which version of Blender? If master, which commit?

[2016-08-15 20:03] vxlcoder commented on #258
blender 2.77a (2016-04-05, hash:abf6f08)

[2016-08-15 20:05] carter2422 commented on #258
I'm on blender 2.77 (2016-04-25, hash: a10b2fe)

[2016-08-15 20:05] carter2422 commented on #258
I'm updating to latest master right now

[2016-08-15 20:21] vxlcoder commented on #258
issue: osx does not support glsl version 1.3.  rewrote to use older version

[2016-08-18 16:16] hitrpr opened #260 "PolyPen: selection on the other side"
When I am workin with polypen and simple shape with hole it select poligon on the bottom side of volume when I am hovering mouse above top side. So it is impossible to make new free vertex on the top with Ctrl+Click

![selectjumping](https://cloud.githubusercontent.com/assets/21099918/17781495/9132d502-6580-11e6-8b51-51aebacda851.gif)

![prtscr171--18-08-2016](https://cloud.githubusercontent.com/a

[2016-08-19 11:56] hitrpr commented on #259
The same bug.
Win7x64, Blender 2.77a

[2016-08-19 17:00] vxlcoder commented on #259
@hitrpr does commit 60f6806 (branch issue/259) solve the problem?

[2016-08-19 17:01] vxlcoder commented on #260
@hitrpr, this looks like issue #259.  can you confirm this?  thank you for the issue report!

[2016-08-19 20:45] hitrpr commented on #259
Yes, now all works properly! Thanks! Sorry, I am new here, IDK how reply-to or download code as file. So I grab all code and put it into my old file ^_^

[2016-08-19 21:07] vxlcoder commented on #259
glad to hear @hitrpr!  we've been squashing a lot of bugs to get ready for the next release, so we haven't posted publicly much yet.  if you run into problems in the future, please do report them just like this!  we can only fix the bugs we know about :)

[2016-08-19 21:08] hitrpr commented on #259
Got it!

[2016-08-19 23:02] hitrpr commented on #259
Sorry, but I misinformed you :(
I put the same (original) code in the original file (nothing was changed). And at first all worked properly. But then bug appeared.

When I put new code (from issue 259) into my polypen_modal.py, I get error
![prtscr177--20-08-2016](https://cloud.githubusercontent.com/assets/21099918/17826346/e5bb2510-6680-11e6-895a-707950580308.jpg)

Am I copied code wrong?
Then, w

[2016-08-19 23:47] hitrpr opened #261 "Are tool-buttons should be inactive, when I am using tool?"
After I pressing any tool (i.e. polystrips) all buttons become inactive until I press Esc/Enter.
If I choose polypen, I see new buttons (twear, cut loop, loop slide). They are inactive too.
Should is be so?

[2016-08-19 23:57] hitrpr opened #262 "Request: snap to grid, horisontal, vertical"
Sometimes it is useful to align contours strict. (ortogonal strict view only)
May be with pushing Shift (horizontal and vertical) and Ctrl (to grid).

[2016-08-20 00:02] hitrpr opened #263 "Is multiselection exists?"
I found than multiselection is working in contour mode with shift, but doung nothing.
May be it is a glitch?
Anyway it will be useful to glide few rings smultaniously

[2016-09-08 17:45] jpweeks opened #264 "Add confirmation dialogue to exit tool"
I've only been experimenting with `retopoflow` for a few days and it's been a great experience; a really great tool. However, one pattern of behavior I keep repeating is hitting `escape` intending to dismiss an error message or some other action and accidentally exiting the tool. Although it's easy enough to recover lost work by re-entering and undoing the last action, it is a bit unnerving to see

[2016-09-24 10:06] YainVieyra opened #265 "Allow to contour multiple meshes at once"
Currently, the contours tool projects the vertices based on the selected object. This is fine to speedup the mesh analysis.
But sometimes, the user needs to contour several objects at the same time. For example, there are varios sculptings that are made up of several individual intersecting parts. Think about an arm with overimposed decorations or a leg with tight props conforming its shape. The u

[2016-09-25 17:30] carter2422 commented on #265
Enabling Contours (or Polystrips, Polypen) to retopo a group of objects at once is on our short list of needed features.

In the mean time it's best to merge them all into a single object with booleans, such that you don't have interior faces. I realize this is not ideal, but it's a current limitation with how we detect the surface for snapping.

[2016-09-25 18:44] vxlcoder commented on #265
Note for future: have option to switch between these two modes: retopo along connected geometry / retopo all intersecting geometry.  along with option, need to have a visualization to help artist know which mode they're in beyond looking/interpreting which option is selected.

[2016-09-25 18:46] carter2422 commented on #265
That's a good idea @vxlcoder

[2016-09-26 07:48] YainVieyra commented on #265
Thank you guys.
Cheers.

[2016-10-04 10:27] CenekStrichel opened #266 "Undo with tweak mode is not working well"
1) Use Tweak Tools for change position of some vertexes
2) CTRL+Z for UNDO
3) Nothing happen until you move another vertex (wire is not redrawed)

[2016-10-04 20:30] carter2422 commented on #266
Just to be certain while trying to replicate this @CenekStrichel, which versions of Blender and RetopoFlow are you using?

[2016-10-05 10:04] CenekStrichel commented on #266
Blender 2.77, but same for 2.78 and RetopoFlow 1.2.1

![retopoflowbug](https://cloud.githubusercontent.com/assets/8094238/19109038/dc891a32-8af3-11e6-9ec7-b056e197d008.gif)

[2016-10-05 10:11] CenekStrichel opened #267 "Polypen can not detect surface"
Maybe it is limitation, but it looks that polypen is not working well. I found many cases, where it is not possible select right survace to add polygon.

![polypen](https://cloud.githubusercontent.com/assets/8094238/19109282/df2bfc7c-8af4-11e6-8375-4959fd5164c7.gif)

[2016-10-05 10:21] CenekStrichel commented on #267
I just found version 1.2.2 and problem is solved there, thanks! :)

[2016-10-05 10:30] CenekStrichel opened #268 "Tweak Relax is destroying mesh"
Sometimes it is working, but very often I am getting this when I use Tweak + Relax (LMB + Shift)
Blender 2.77, RF 1.2.2, 1.2.1

![tweakrelax](https://cloud.githubusercontent.com/assets/8094238/19109837/6ea7d2c0-8af7-11e6-8f1f-664bdddf1724.gif)

[2016-10-07 15:03] briligg opened #269 "Various tool errors and crashes when reopened after closing with several patches incomplete"
Polypen and Polystrips quickly produce errors, Polypen produced one asking me to report it, so i am.

Part of error message:

Traceback (most recent call last):
  File "/home/briligg/.config/blender/2.77/scripts/addons/retopoFlow/modaloperator.py", line 163, in draw_callback_postview
    self.handle_exception()
  File "/home/briligg/blender-2.77a-linux-glibc211-x86_64/2.77/scripts/modules/bpy_type

[2016-10-07 15:40] briligg commented on #269
PS - I realize i'm trying to make Retopoflow do something it wasn't designed to do. I have only a rough topographic map of the crater on the Moon i'm recreating, so i'm getting the retopology to stick to that map, while making the quads follow the much higher resolution images of that crater. Once i have that, i can edit them to get something much more detailed and accurate.

So, Retopoflow maybe

[2016-10-13 06:27] cloudnix opened #270 "Need BackFace Culling or Hiden Wire active in retopoflow mode"
Hi

Please add BackFace Culling or Hiden Wire active in contours, polyStrips and Polypen Mode.
Need to look clear the topology, please help

thanks

[2016-10-14 20:18] carter2422 opened #271 "Contours: BVHTree object has no attribute 'find'"
Whenever you rotate or slide a loop in Contours it crashes, giving the below error:

[code]

It seems this is present in both 1.2.1 and 1.2.2, including Blender 2.77 and 2.78.

I have no idea how this slipped by us but it's a critical bug.

@patmo141 @vxlcoder any chance either of you can look at this?

[2016-11-16 14:04] plasmasolutions opened #272 "Caching settings causes crashes"
Hi guys,

Sergey S. talked to me on IRC because I was named as the author of the file lib/common_utilities.py . He experienced crashes in the Blender Institute while they were using retopoflow and figured out that it was our add-on which was causing them.

Issue is that we read the user preference settings (in the method get_Settings() ), cache them and use this cached version whenever we need to

[2016-11-23 02:00] carter2422 commented on #272
Thanks for the heads up @plasmasolutions! I will get this fixed asap.

[2016-11-23 16:42] carter2422 commented on #272
All fixed! I'm thrilled to finally know what was causing those crashes. They were such a pain.

[2016-11-23 17:38] vxlcoder commented on #268
@CenekStrichel Thank you for the video screenshot.  Can you give details on the model?  Specifically, what is it's "size"?  Is the object scaled?

[2016-11-23 17:39] carter2422 commented on #270
Hey @cloudnix, sorry about the late reply. Better backfire culling is a constant focus for us.

I'm going to go ahead and close this since it's not a bug report, but know that it's a key improvement for us.

[2016-11-23 17:39] #270 closed

[2016-11-23 17:40] carter2422 commented on #267
Hey @CenekStrichel, sorry about the late reply. It's good to hear that 1.2.2 resolves the issue!

[2016-11-23 17:40] #267 closed

[2016-11-23 17:42] carter2422 commented on #266
Confirmed. Tossing this to you @vxlcoder

[2016-11-23 17:49] carter2422 commented on #263
Hey @hitrpr, sorry about the late reply. Full multi-selection support in Contours is on our wishlist as well. There's no timeframe right now, but it's on the list.

Closing for now since it's not a bug.

[2016-11-23 17:49] #263 closed

[2016-11-23 17:50] carter2422 commented on #264
This is a great suggestion @jpweeks. Thanks

[2016-11-23 17:50] carter2422 commented on #260
Closing as duplicate of #259

[2016-11-23 17:50] #260 closed

[2016-11-23 17:51] patmo141 commented on #271
Ok, this is auper easy.  At some point the api changed from BVH.find to BVH.find_nearest

[2016-11-23 17:51] carter2422 commented on #259
@hitrpr rather than replacing the files manually can you try uninstalling the previous version and then installing v1.2.2 fresh?

[2016-11-23 17:52] carter2422 commented on #262
Contour snapping is on the wishlist; goal is to enable it to work much like angle constraints in Blender's Knife tool. #constraint

[2016-11-23 18:00] carter2422 commented on #261
This is correct behavior, due to how Blender works. During modal events Blender blocks all UI actions (unless explicitly passed through). It's the same thing when using default Blender modals, such as the Knife tool.

[2016-11-23 18:00] #261 closed

[2016-11-23 18:04] #233 closed

[2016-11-23 18:17] vxlcoder opened #274 "Contours: canceling a loop move or rotate causes twisting"
Before pressing G
![image](https://cloud.githubusercontent.com/assets/3790699/20573654/ed816cc0-b17e-11e6-89c4-42f943eb5e80.png)

After pressing G and moving just a bit
![image](https://cloud.githubusercontent.com/assets/3790699/20573662/faa25f2c-b17e-11e6-8d71-9025e1351bb9.png)

After pressing escape (cancel grab/move)
![image](https://cloud.githubusercontent.com/assets/3790699/20573674/073ab8ec-

[2016-11-23 19:08] carter2422 commented on #271
Never mind. This was me being an idiot and having two conflicted versions installed.

[2016-11-23 19:08] #271 closed

[2016-11-23 19:38] Voguart opened #275 "update"
Or download the updated retopoflow 1.2.2?
please!

best regards.

[2016-11-23 21:22] plasmasolutions commented on #272
Really makes me happy to hear that Jonathan. Am really happy that Sergey debugged it - so kudos to Sergey! :)

[2016-11-23 21:34] vxlcoder opened #276 "Polystrips: patching corner of existing geometry not handled"
related: issue #237

When trying to fill a corner with existing geometry, patching will create a triangle.

Existing geometry:
![existing geometry](https://cloud.githubusercontent.com/assets/3790699/20579310/037d4ec0-b19a-11e6-84a4-f39822df20a1.png)

Incorrect:
![incorrect](https://cloud.githubusercontent.com/assets/3790699/20579362/3d303ccc-b19a-11e6-99f5-5edb9b220eea.png)

Correct:
![correct](ht

[2016-11-23 22:48] carter2422 commented on #272
Yes!! Many thanks to Sergey.

[2016-11-23 23:01] carter2422 commented on #275
@Voguart v1.2.2 will be released soon, we're finishing up some last issues.

[2016-11-23 23:01] #275 closed

[2016-11-24 02:04] carter2422 commented on #266
Confirmed!

[2016-11-24 02:04] #266 closed

[2016-11-24 02:07] carter2422 commented on #276
Nice!

[2016-11-24 02:08] carter2422 commented on #237
This appears to be fixed from the changes in #276. I cannot replicate any longer, considering closed.

[2016-11-24 02:08] #237 closed

[2016-11-24 02:12] carter2422 commented on #218
I know this is your favorite issue ever @vxlcoder  :)

The outside of the cylinder test works great now! Unfortunately it fails on the inside. https://cl.ly/iDWH

Seeing as this is a great improvement already I'm going to commit for 1.2.2 but let's keep this open for continued improvements.

Moving to v1.3.0

[2016-11-24 02:15] #272 closed

[2016-11-24 03:27] carter2422 commented on #259
Confirming this as fixed!

[2016-11-24 03:27] #259 closed

[2016-11-24 03:31] carter2422 commented on #258
Confirmed fixed! Seems my previous issues were due to the double versions snafu.

[2016-11-24 03:31] #258 closed

[2016-11-24 04:59] carter2422 commented on #147
I can no longer repo this. Considering it closed.

[2016-11-24 04:59] #147 closed

[2016-11-24 05:07] #208 closed

[2016-11-24 09:56] CenekStrichel commented on #268
Here is model. I think that problem is not in size, but specific shape.

[bug.zip](https://github.com/CGCookie/retopoflow/files/610950/bug.zip)

[2016-11-24 10:41] CenekStrichel opened #277 "Tools panel is available even it is not usable"
If you use any modal tools, list of others tools are still available, but it is not clickable. I know that it is not bug, but it is little confusing for new user.

It would be fine disable layout (layout.enable = False) and add some info label: "Press Enter to confirm" or something like this.

![enabled](https://cloud.githubusercontent.com/assets/8094238/20595615/da825064-b23a-11e6-8c3d-893730a706

[2016-11-24 16:07] hitrpr commented on #259
It seems it is working ok now with Blender 2.78a Backside of retopo-mesh now is not visible through sculpt-mesh and it is good for me.

[2016-11-24 16:10] hitrpr commented on #261
Ok, thanks for reply.
So it is a problem of Blender sometimes. In example: blocking rotation with circle select-brush.

[2016-11-24 22:14] patmo141 commented on #172
closing this old issue :-)

[2016-11-24 22:14] #172 closed

[2016-11-25 04:17] carter2422 commented on #276
21e79f4ecb7f1773cdf60d095bc78ae02e75f564 causes a complete stall on OS X when starting Polystrips with existing geometry.

Reverting for now and will push to 1.3.0.

[2016-11-25 23:18] OscarLeif opened #278 "Problems after I update Retoflow Version 1.2.2 [PolyPen]"
Hello.
Hello I have a problem when I update my retoflow Addon.
The problem starts like this, when I want to start using Retoflow **Polypen** I can draw a Vertex over the default cube that works, but when I want to draw the second one it fails and shows this debug

`EXCEPTION (<class 'TypeError'>): create_vert() missing 1 required positional argument: 'normal'
         C:\Users\OscarLeif\AppData\Ro

[2016-11-26 01:31] vxlcoder commented on #278
thank you for the bug report, @OscarLeif!  turns out, polypen is broken.  looking into it now.

[2016-11-26 01:41] vxlcoder commented on #278
i believe this should fix the problem.  feel free to test it yourself.  we will test some more and merge as soon as possible.  Thanks, again!

[2016-11-26 01:56] vxlcoder commented on #268
ok, @CenekStrichel, i see what the problem is...  both objects are scaled by 0.001, and right now tweak doesn't work well when the objects are transformed (translated, rotated, scaled).  we are planning to revamp the tools to work better under transformations, etc, but for now a workaround is to apply the transformations (ctrl+a, location; ctrl+a, rotation & scale).

[2016-11-26 04:22] OscarLeif commented on #278
@vxlcoder Thanks I make some tests, it seems to work now. Sometimes I have problems creating new faces it seems that the direction of the face goes inverted, not always but sometime fails,It just create an X face, is very difficult to describe. Here I upload a video of the test.
[https://www.youtube.com/watch?v=zSo_hzGJABk&feature=youtu.be](url)
And if you look at the **video** the **problems** ab

[2016-11-26 04:27] toomanydemons commented on #278
I continually ran into this issue also. The polypen is my favorite tool so
I was forced to revert :'(

On Fri, Nov 25, 2016 at 9:22 PM, Oscar Fernandez <notifications@github.com>
wrote:

[2016-11-26 04:54] carter2422 commented on #278
Thanks for the quick report @OscarLeif! I've just pushed out the v1.2.3 release with the fix from @vxlcoder

[2016-11-26 04:54] #278 closed

[2016-11-26 13:17] vxlcoder commented on #278
Will take another look

[2016-11-27 08:11] CenekStrichel commented on #268
ouch! I overlooked this. Works great now, thank you.

[2016-11-27 09:31] JackOfShadow opened #280 "Polystrips visibility degraded in ortho view"
old retopoflow - polystrips
![retopo-old](https://cloud.githubusercontent.com/assets/10739109/20647109/a4f2601a-b49c-11e6-89ed-18365d0e31cf.jpeg)
latest git retopoflow - polystrips
![retopo-new](https://cloud.githubusercontent.com/assets/10739109/20647123/ec390f6e-b49c-11e6-9460-216d6c08db1d.jpeg)

[2016-11-27 17:42] carter2422 commented on #280
@JackOfShadow just so I can test and confirm, what is the scale and dimension of your sphere?

[2016-11-27 19:20] JackOfShadow commented on #280
Default cube. SubdivSurface - 6. Apply. That's all.

[2016-11-27 20:51] vxlcoder commented on #280
@JackOfShadow Thank you for the report!  We are still in the middle of updating how the tools render the mesh, and the revamp is not quite complete, yet.  If you can, try checking out branch issue/280 to see if that helps.

[2016-11-27 20:56] vxlcoder opened #281 "PolyPen: inserting vert to tri->quad often ends up with twisted quad (X)"
as reported by @OscarLeif and @toomanydemons:

[2016-11-27 21:02] vxlcoder commented on #278
@OscarLeif and @toomanydemons, I have created a new issue (issue #281) for the crossing quads, and pushed an update (branch issue/281) that might fix this problem.  would you please test this and report your findings on issue #281?  Thanks!

[2016-11-27 21:47] carter2422 commented on #280
Good catch @vxlcoder; replicated and confirmed the fix here. Will add to next release.

[2016-11-27 21:52] carter2422 commented on #268
I assume the scale is somewhat related to #242  @vxlcoder ?

[2016-11-27 21:55] vxlcoder commented on #268
i think relax is ignoring the transformation matrix.  i tried fixing it quickly yesterday, but i could not get it working right.  will revisit soon

[2016-11-27 22:02] OscarLeif commented on #281
I'm gonna make some tests, this time in more complex objects

[2016-11-27 22:03] vxlcoder commented on #281
Thanks!

[2016-11-28 04:16] OscarLeif commented on #281
I make some tests, **the problem with the twisted quad is solved** (I guess I just make some test on some of the head models that you can find at Blend swap). I tested on two different computers. But I found more problems.
The first one no to critical just display a warning dialog:
**EXCEPTION (<class 'AssertionError'>):**
**EXCEPTION (<class 'ValueError'>):**
I was even able to continue working,

[2016-12-02 06:33] artistCDMJ opened #282 "Visibility of Polystrips on Mac OSX and Linux Mint Sarah"
I am having problems seeing the new polystrips above surface in 1.2.3, and had not had a problem when using the previous version 1.2.1, and am wondering if anyone else seems to have this issue. I used to only have this issue with the resulting mesh after committing the polystrips to mesh, but am wondering if there is a setting I am missing.

[2016-12-02 14:53] alekulyn commented on #243
@carter2422 I'm getting the same error.  I can send you a file, but I have to PM it due to some privacy restrictions (long story).  When are you usually on IRC?

[2016-12-02 15:33] carter2422 commented on #282
Is the display issue only in orthographic?

[2016-12-02 16:53] carter2422 commented on #243
@alekulyn to be sure, which version of RetopoFlow are you using and did you fully uninstall the previous version prior to installing the current?

You can send me the file via jonathan@cgcookie.com

[2016-12-02 17:13] artistCDMJ commented on #282
I don't think so, but later tonight I can load a model and grab screen shots of both versions and compare side by side for you.

[2016-12-02 17:18] carter2422 commented on #282
Thanks, that'd be very helpful!

[2016-12-03 03:09] artistCDMJ commented on #282
![retopoflow1 2 1](https://cloud.githubusercontent.com/assets/16747273/20856389/36a70756-b8d3-11e6-8738-6a88b2d21117.png)
![retopoflow1 2 3](https://cloud.githubusercontent.com/assets/16747273/20856390/36a80516-b8d3-11e6-80aa-9fb7d7d38479.png)
The first image is of what I get with the 1.2.1 release, giving me very good view of the polystrips above the mesh surface. The second is with the 1.2.3 rel

[2016-12-03 03:46] alekulyn commented on #243
@carter2422 I checked out both the release/1.2.3 and release/1.3.0 branches, and I got the error both times.  I'm using Blender from the Debian Testing repo, which is at 2.78a right now.

[2016-12-03 19:06] carter2422 commented on #282
Ah yes, this is the same as #280, which you can try by grabbing the [issue/280](https://github.com/CGCookie/retopoflow/tree/issue/280) branch.

[2016-12-03 19:07] carter2422 commented on #282
A quick way to confirm @artistCDMJ is simply toggle into Perspective view, does the overlapping shading correct its self?

[2016-12-03 21:50] artistCDMJ commented on #282
I tried the numpad 5 key and lost my view, so I zoomed out a bit and tried again, and yes, that got me a better view of the Polystrips. I am guessing something is different now, but I can work with this and keep going, so feel free to close this issue :+1:

Going to be a few days before I can try it deeper, but this does already look pretty good as a far as I can tell. Thanks!

[2016-12-04 22:54] OscarLeif commented on #280
Was this fixed ?

[2016-12-04 23:04] OscarLeif opened #283 "Polystrips. Transform tweak do nothing"
Hello I found a interesting option in Polystrips, in the help section shows a Transform.
G: grab
R: rotate
S: scale
**T: Tweak (Hold T and drag with LMB)**

I'm not sure about this you can actually tweak the geometry, but if you're in edit mode.
The Polystrips shows this, I guess it means that tweak works in Polystrips edit mode but If I press **T**
and use LMB and click on the geometry it do noth

[2016-12-05 13:29] carter2422 commented on #280
@OscarLeif it's fixed in the issue branch for #280 and will get merged into v1.2.4 for release soon.

[2016-12-05 13:33] carter2422 commented on #283
@OscarLeif Polystrips Tweak is primarily intended for fine-tuning patch results. After drawing your strips and filling patches press and hold T then brush across vertices to tweak their position. They will turn white to indicate they've been modified and are no longer dynamic.

[2016-12-05 13:35] carter2422 commented on #281
Please do let us know if you can replicate that! That's a bad, bad bug if so.

@vxlcoder you able to look into the two exceptions above? I can merge into 1.2.4 after I confirm testing.

[2016-12-05 18:51] OscarLeif commented on #283
Oh I guess there's no problem with that...I'm gonna close this.

[2016-12-05 18:51] #283 closed

[2016-12-05 18:54] carter2422 commented on #283
Cheers! Please keep on reporting any other issues you find @OscarLeif, it's a big help!

[2016-12-05 20:27] carter2422 opened #284 "Remove Mac OS X system files from Make"
The Make file seems to be including all RetopoFlow files inside a `_MACOSX` parent directory. This should be cleaned up.

[2016-12-06 12:44] PostPollux commented on #218
I have the same problem with a model here. Polystripe is almost unusable. It's flipping like hell. Its a CAD model converted to a poly object (with Rhino). That's why not all polys are connected (like you can see at the end of the video).

https://goo.gl/photos/v6izYq6usoF47Bau7

Here is the object so you can try your self:
[bugTestFile.zip](https://github.com/CGCookie/retopoflow/files/633857/bugT

[2016-12-07 04:20] OscarLeif opened #285 "Polystrips: Source object is not updated after change the object"
I still don't know if this is a bug, or usability.
Ok lets start.
When I want to make a retopology to an Object in the first time, polystrips doesn't have problems. So Ok
I make my retopology and then I finish, so I want to make a quick retopology  to another object, well when you click the new object and make a new retopology polystrips the object source and object target will be still the previo

[2016-12-08 14:05] richobrien opened #286 "Polypen Error"
Polypen error log

`EXCEPTION (<class 'AssertionError'>):
         C:\Users\User1\AppData\Roaming\Blender Foundation\Blender\2.78\scripts\addons\retopoFlow\op_polypen\polypen_modal.py
000 0892:handle_action_seledge() assert bme in self.selected_bmedges
001 0778:handle_action() return self.handle_action_seledge(context, eventd)
002 0386:modal_wait() return self.handle_action(context, eventd)

[2016-12-08 18:41] OscarLeif commented on #286
I also get that error but what exactly did you do ?

[2016-12-08 20:40] richobrien commented on #286
Enter Edit Mode

Hover to highlight edge|vert and error occurs

[2016-12-09 00:50] carter2422 commented on #286
@richobrien I'm not able to replicate this. Which version of RetopoFlow are you using? Additionally, did you do a full uninstall of the previous version before you installed your current one?

[2016-12-09 00:54] carter2422 commented on #285
This is an interesting challenge @OscarLeif. The current behavior is intentional, but maybe it should be adapted.

Currently the source/target objects have a background-process which runs constantly to check that the object still exists, and will clear the setting if the object is deleted.

However, we really ought to find a better way of detecting if the artist is wanting to start a retopo-sessio

[2016-12-09 00:57] carter2422 commented on #218
@PostPollux that's a great test model! Mind if I keep that around as a part of our testing suite?

For now I have a workaround for you. Simply scale the object by 10x and apply the scale with CTRL+A. Polystrips will no longer flip :)

[2016-12-09 01:03] carter2422 commented on #285
@vxlcoder any chance you could take a look at [the pull request for issue/218 merge](https://github.com/CGCookie/retopoflow/pull/287) to resolve the merge conflicts?

[2016-12-09 01:04] carter2422 commented on #218
@vxlcoder any chance you could take a look at [the pull request for issue/218 merge](https://github.com/CGCookie/retopoflow/pull/287) to resolve the merge conflicts?

[2016-12-09 13:40] richobrien commented on #286
@carter2422 1.2.3

I used Blender's Remove button to get rid of 1.2.2 then added 1.2.3. Restarted Blender.

The error mostly occurs if I middle mouse down or scroll wheel while highlighting points | edges | faces. There's a pause then the error occurs.

[2016-12-09 16:25] PostPollux commented on #218
@carter2422  As long as you don't share it and just use it for the sole purpose of testing, I think it's ok.

[2016-12-12 19:25] carter2422 commented on #247
Closing this for inactivity. @GoblinSamurai if you've ever seen this again, even after the above suggestions, please let us know.

[2016-12-12 19:25] #247 closed

[2016-12-12 19:26] carter2422 commented on #268
Closing, what with work-around found. This is somewhat related to #242 and should be further improved later.

[2016-12-12 19:26] #268 closed

[2016-12-12 19:27] carter2422 commented on #277
This is more of an issue with how Blender handles Modal operators @CenekStrichel. In Blender 2.8 this interaction is being looked at, so it's not really a retopoflow issue.

There are some things that we could likely do to make it more clear, but presently it has identical behavior to Blender's modal tool (such as Knife), and so I'm inclined to leave as is.

[2016-12-12 19:27] #277 closed

[2016-12-12 19:29] carter2422 commented on #146
Closing this for being old and almost certainly a Blender bug.

[2016-12-12 19:29] #146 closed

[2016-12-12 19:45] #281 closed

[2016-12-12 19:47] carter2422 commented on #280
Small thing, but this same fix needs applied to polystrip handles: https://cl.ly/iQIg

[2016-12-12 19:56] carter2422 opened #289 "Polystrip handles draw below the surface on curved objects in Ortho"
Related to #280, when in Ortho mode the polystrip handles can sometimes draw below the surface.
![screen shot 2016-12-12 at 1 46 49 pm](https://cloud.githubusercontent.com/assets/1648631/21114480/d8e10ea8-c072-11e6-9b31-4b8c6a43ef79.png)

[2016-12-12 19:57] #280 closed

[2016-12-12 22:45] carter2422 commented on #216
This has been merged in! Any further to-dos/bugs can be logged as a new issue.

[2016-12-12 22:45] #216 closed

[2016-12-13 19:43] richobrien commented on #286
`EXCEPTION (<class 'TypeError'>): intersect_point_tri_2d
         C:\Users\User1\AppData\Roaming\Blender Foundation\Blender\2.78\scripts\addons\RetopoFlow\op_polypen\polypen_modal.py
000 0743:closest_bmface() if not intersect_point_tri_2d(p2d, v02d, v12d, v22d): continue
001 0307:modal_wait() min_bmf = self.closest_bmface(context, p2d, p3d, 0.05)
         C:\Users\User1\AppData\Roaming\Blender Fou

[2016-12-13 21:37] carter2422 commented on #286
@vxlcoder you able to dig into @richobrien report above with me? I've not yet been able to replicate it but that's a really nasty bug...

[2016-12-14 09:40] bassair opened #291 "EXCEPTION (<class 'RecursionError'>): maximum recursion depth exceeded while calling a Python object"
![image](https://cloud.githubusercontent.com/assets/9505224/21177050/572f39be-c1e1-11e6-9012-0030a3f1a787.png)

No idea what's causing it :) I'm using mirrors and polystrips.

[2016-12-14 17:07] Weisl opened #292 "Exception Attribute Error"
Hi,

When I am entering the polystrip mode an exception appears. It enters the polystrip mode and I can draw the lines as usual but nothing appears. After applying the polystrip after mode with enter the lines I have drawn appear.

![2016-12-14 18_05_06-blender_ e__000_work_bm_bm_svn_bm_creation_trunk_visuals_locations_castle_inter](https://cloud.githubusercontent.com/assets/6353016/21192206/0d5db

[2016-12-14 17:09] carter2422 commented on #292
@Weisl any chance you could share the model you're working on? I'd like to run some tests here.

[2016-12-14 17:09] carter2422 commented on #291
@bassair was this a one-time error or are you able to replicate it? If you can replicate it, can you tell me the steps taken to do so?

[2016-12-14 17:12] Weisl opened #293 "PolyStrips draws strange polystrips"
The green line where the polystrip is going to be is drawn properly but when releasing the mouse and the polystrip is drawn it is something.
![2016-12-06 18_53_04-blender_ e__onedrive_2016_pro1_da_002_production_edit_character_blender_low_cha](https://cloud.githubusercontent.com/assets/6353016/21192514/261babc6-c229-11e6-8f31-c52996b0ca3c.png)
the green line looks properly

![2016-12-06 18_53_22-b

[2016-12-14 17:16] Weisl commented on #293
I commited it by accident already. The green line where the polystrip is going to be is drawn properly but when releasing the mouse and the polystrip is drawn it is something.
![2016-12-06 18_53_04-blender_ e__onedrive_2016_pro1_da_002_production_edit_character_blender_low_cha](https://cloud.githubusercontent.com/assets/6353016/21192514/261babc6-c229-11e6-8f31-c52996b0ca3c.png)
the green line look

[2016-12-14 17:19] Weisl commented on #292
I can not but it online, I can send it to you in confidence per mail.

[2016-12-14 17:20] carter2422 commented on #292
Sure thing. You can email it jonathan@cgcookie.com

[2016-12-14 17:21] carter2422 commented on #293
To be sure, @Weisl which version of RetopoFlow are you on?

[2016-12-14 17:24] #289 closed

[2016-12-14 17:34] carter2422 commented on #292
Thanks @Weisl; I'm investigating.

[2016-12-14 17:34] Weisl commented on #292
I have sent you the entire model with wetransfer. When I export this part of the model as its own blend file, polystrips work normally.

[2016-12-14 17:40] carter2422 commented on #292
@Weisl I've confirmed the issue in the file you sent, and also confirmed that it works as expected if you append the object into a new file. _This is a workaround for now, but obviously not ideal._

I'm attempting to narrow down the cause in the file.

[2016-12-14 17:50] carter2422 commented on #292
@Weisl I've narrowed it down to an issue with there being many objects in the scene. To test this, simply delete all other objects in the scene and then Polystrips will work.

I'm trying to replicate the problem on a default scene so that I can fix it.

Thanks for the report.

[2016-12-14 17:53] carter2422 opened #294 "Source Object setting should update to be active object if they don't match"
If the source object that's set does not match either the active object or the target object then we should update the source upon starting an operator to be the active object.

Otherwise you have to constantly clear out the source each time you switch objects.

Originally reported in #285

[2016-12-14 17:54] carter2422 commented on #285
I've opened an issue to resolve the core problem @OscarLeif. Closing this and will continue in #294

[2016-12-14 17:54] #285 closed

[2016-12-14 18:04] Weisl commented on #292
@carter2422  Thank you for your commitment. It's really appreciated

[2016-12-14 18:34] carter2422 commented on #294
@OscarLeif feel free to test this via the `release/1.2.5` branch.

[2016-12-14 18:43] carter2422 commented on #292
@Weisl good news. I found and fixed the problem. Can you please uninstall your current version of RetopoFlow and then install this one?
[RetopoFlow-v1.2.5.zip](https://github.com/CGCookie/retopoflow/files/652555/RetopoFlow-v1.2.5.zip)

You should find Polystrips to work as expected on the full scene now.

[2016-12-14 18:44] carter2422 commented on #243
@alekulyn I found the problem to this. Can you please uninstall your current version and then try this one?
[RetopoFlow-v1.2.5.zip](https://github.com/CGCookie/retopoflow/files/652560/RetopoFlow-v1.2.5.zip)

[2016-12-14 18:44] carter2422 commented on #243
@Eric-Lafarge if you can also test that would be great.

[2016-12-14 19:39] carter2422 commented on #293
Also @Weisl, what is the scale and dimension of the character model?

[2016-12-14 19:44] Weisl commented on #292
@carter2422 Polystips works. But using polypen throws errors now and makes the display appearing black.

![polypenerror](https://cloud.githubusercontent.com/assets/6353016/21198026/f73f08f6-c23d-11e6-9ccd-7bfd5987b813.png)

![2016-12-14 20_36_42-einstellungen](https://cloud.githubusercontent.com/assets/6353016/21197951/9d37c7a8-c23d-11e6-8a02-2f909fcce657.png)
after entering polypen mode

[polypen

[2016-12-14 19:45] carter2422 commented on #292
@Weisl investigating

[2016-12-14 19:58] Weisl commented on #293
Ok, those screenshots are still from some days ago. I was still using the older version, the one before the last release. I quickly tried it out with the current version and it worked fine for those areas. If I run into trouble here I will write it.
The character size was 1,8m.

[2016-12-14 20:00] carter2422 commented on #292
@Weisl the problem was due to my change in #294. I've reverted the commit and will find a better solution.

For now you can use:
[RetopoFlow-v1.2.5b.zip](https://github.com/CGCookie/retopoflow/files/652747/RetopoFlow-v1.2.5b.zip)

[2016-12-14 20:01] carter2422 commented on #293
Okay great! If you run into the issues again please just re-open this issue.

[2016-12-14 20:01] #293 closed

[2016-12-14 20:21] Eric-Lafarge commented on #243
@carter2422
2.78a Osx 10.12.2 .  V1.2.5 is getting worst, (Ok with v1,2,4) Open a new file. A simple cube, orthographic and perspective view :  Tried Polypen and got this message :

![capture d ecran 2016-12-14 a 20 58 24](https://cloud.githubusercontent.com/assets/9129984/21199223/e6329208-c242-11e6-89ea-23d311420767.png)
![capture d ecran 2016-12-14 a 21 00 50](https://cloud.githubusercontent.co

[2016-12-14 20:23] Weisl commented on #292
Polypen crashed twice since I installed the version from above. I got the strange black screen thing in blender.

![polypenblack](https://cloud.githubusercontent.com/assets/6353016/21199243/f997c804-c242-11e6-9d5d-a0f82606cf88.png)

[Polypen_02_log.txt.txt](https://github.com/CGCookie/retopoflow/files/652780/Polypen_02_log.txt.txt)

[2016-12-14 20:34] carter2422 commented on #243
@Eric-Lafarge sorry that was from a last minute change that I missed; fixed in
[RetopoFlow-v1.2.5b.zip](https://github.com/CGCookie/retopoflow/files/652807/RetopoFlow-v1.2.5b.zip)

[2016-12-14 20:36] carter2422 commented on #292
@Weisl what steps are you taking to get that crash? I'm not able to replicate that at all.

Did you restart after removing and installing the v1.2.5b version? From the error log you included it appears to be the original issue, which means you're running stale code and Blender needs to restart.

[2016-12-14 20:49] Eric-Lafarge commented on #243
@carter2422 Looks fine so far. Well done. All the best for U

[2016-12-14 21:38] carter2422 commented on #243
Thanks @Eric-Lafarge!

[2016-12-14 21:38] #243 closed

[2016-12-14 21:46] carter2422 commented on #253
Is this something we can apply to only the generated bmesh rather than the original object, such that transforms are never altered on the original objects without the artists consent?

[2016-12-14 22:01] #284 closed

[2016-12-14 22:01] carter2422 commented on #284
This was already resolved.

[2016-12-14 22:03] carter2422 commented on #244
@punkoffice this should be long-since resolved. If you're still having trouble please chime in.

[2016-12-14 22:03] #244 closed

[2016-12-14 22:04] carter2422 commented on #156
This was resolved.

[2016-12-14 22:04] #156 closed

[2016-12-14 22:06] carter2422 commented on #37
This is no longer an issue due to changes in how patch cascading is handled.

[2016-12-14 22:06] #37 closed

[2016-12-14 22:07] carter2422 commented on #15
Closing this since we removed pressure.

[2016-12-14 22:07] #15 closed

[2016-12-14 22:07] #282 closed

[2016-12-15 01:30] bassair commented on #291
@carter2422 I mean I was just... using it. I know that sounds a lot like a cop-out but that's honestly all I was doing.

1. Import high-poly messy mesh from zbrush
2. Assign it as source
3. Click polystrips
4. Start applying polystrips
5. Shift+F to fill holes
6. Rearranging the draggy parts when the holes don't match up right
7. Adding more strips

Then eventually once most of the face had strips

[2016-12-15 01:31] carter2422 commented on #291
@bassair roughly how many polystrips and/or patches had you created?

[2016-12-15 01:33] bassair commented on #291
@carter2422 Um... 50 strips? Unsure about patches. Maybe another 25?

[2016-12-15 01:35] carter2422 commented on #291
Although it shouldn't happen, it's possible you're running into a unrecognized limit. I'll investigate as best I can but for now I'd recommend you work in shorter segments; creating 10-20 strips (and associated patches), then commit the work, then activate polystrips again.

☝️ this is actually how the tool is intended to be used.

[2016-12-15 01:37] bassair commented on #291
Fair enough! Honestly I only started with it a couple of hours ago, running into the issues slowed down my practice though :)

Thanks so much for the speedy replies and assistance.