[2018-11-29 01:45] #636 closed

[2018-11-29 01:46] vxlcoder commented on #637
Similar to issue #635, I have tested all I could and was not able to reproduce this issue. I'm closing this issue, but feel free to reopen if it still happens. Thanks!

[2018-11-29 01:46] #637 closed

[2018-11-29 01:51] vxlcoder commented on #639
I have tested all I could and was not able to reproduce this issue. I'm closing this issue, but feel free to reopen if it still happens. Thanks!

[2018-11-29 01:51] #639 closed

[2018-11-29 01:52] vxlcoder commented on #656
I have tested all I could and was not able to reproduce this issue. I'm closing this issue, but feel free to reopen if it still happens. Thanks!

[2018-11-29 01:52] #656 closed

[2018-11-29 02:04] vxlcoder commented on #666
I have tested all I could and was not able to reproduce this issue. I'm closing this issue, but feel free to reopen if it still happens. Thanks!

[2018-11-29 02:04] #666 closed

[2018-11-29 02:05] vxlcoder commented on #659
I have tested all I could and was not able to reproduce this issue. I'm closing this issue, but feel free to reopen if it still happens. Thanks!

[2018-11-29 02:05] #659 closed

[2018-11-29 02:14] vxlcoder commented on #660
I have tested all I could and was not able to reproduce this issue. I'm closing this issue, but feel free to reopen if it still happens. Thanks!

[2018-11-29 02:14] #660 closed

[2018-11-29 04:11] jmobley0429 commented on #659
Thank you for your responses! Keep up the good work.

On Wed, Nov 28, 2018, 8:05 PM Jon Denning <notifications@github.com wrote:

[2018-11-29 06:55] Hrofti commented on #656
OK. If anything, I'll attach the file. Have nice day/

[2018-11-29 08:55] Slir commented on #448
Details:

- RetopoFlow: 2.0.0
- Blender: 2.79.0 master 2018-02-21
- Platform: Windows, 10, 10.0.17134, AMD64, Intel64 Family 6 Model 158 Stepping 9, GenuineIntel
- GPU: NVIDIA Corporation, GeForce GTX 1070/PCIe/SSE2, 4.6.0 NVIDIA 416.94, 4.60 NVIDIA
- Target: verts:100, edges:183, faces:84
- Sources: number:18, verts:287939, edges:862929, faces:575105
- FPS: current:3.961084, threshold:5, time:10

[2018-11-29 17:58] PixelUrge opened #669 "PolyStrips: Unhandled Exception Caught!"
Please tell us what you were trying to do, what you expected RetopoFlow to do, and what actually happened.
Provide as much information as you can so that we can reproduce the problem and fix it.
Screenshots and .blend files are very helpful.
Also, change the title of this bug report to something descriptive and helpful.
Thank you!

-------------------------------------

[code]

[2018-11-29 18:01] vxlcoder commented on #669
Thanks for the report, @PixelUrge. Will get this fixed.

[2018-11-29 19:23] Sodazer0 opened #670 "high inconsistency with grease pencil entering RetopoFlowMode"
Sketching directly on the surfaces of mesh_objects is a big part of my modelling work-flow.
Unfortunately all greasepecil-strokes inherit a strong offset in  location and scale as soon
as I am entering RetopoFlowMode.

I just uploaded a small videoShot of that behaviour.
I hope you feel a deep urge to tackle down this issue ;D

http://tinyurl.com/y9mxdfhf

[2018-11-29 22:02] vxlcoder commented on #670
Thanks for the helpful video!

Right now, RF has basically zero support for anything other than meshes.  In fact, when starting RF, RF will rescale the mesh to fit in a bounded box so that all of our visualizations work uniformly, regardless of the scale of the original source/target.  This is why you see the grease pencil annotations shift/scale.

I'll have to think a bit more about how to get th

[2018-11-29 22:57] winkelchri opened #671 "Loops: Unhandled Exception Caught!"
Just wanted to add a loop cut into a PolyStrip.

-------------------------------------

[code]

[2018-11-29 22:58] winkelchri commented on #671
![2018-11-29 23_57_17-window](https://user-images.githubusercontent.com/11255205/49257436-9333fc80-f432-11e8-9a69-8350974d9217.png)

[2018-11-29 23:01] vxlcoder commented on #671
Thanks for the report, @winkelchri!

This issue is related to issue #669, which has been fixed in branch `release/2.0.2` and will be released _very_ soon.  (feel free to check out `release/2.0.2` now if you'd like, though)

[2018-11-30 00:22] winkelchri commented on #671
Okay. Cool. Thank you for the quick response. Great product by the way!

[2018-11-30 00:22] #671 closed

[2018-11-30 16:58] Visitorsama opened #672 "problem when activating retopoflow 2.0.1 in blender 2.79b (windows 7)"
Hello, I downloaded the version 2.0.1 of retopoflow from github and proced to install the addon into blender but i can not do that, I do not know the reason.
This is what happend
1.- Download the version 2.0.1 of retopoflow from github.
2.- Whent to blender user preferences to install the addon
3.-I search for the addon
4.-I found the addon file
5.-I then select the addon file
but it does not appe

[2018-11-30 17:01] vxlcoder commented on #672
Thanks for the report, @Visitorsama.

Installing from GitHub requires renaming the RetopoFlow add-on folder in the add-ons folder.

Open file explorer and browse to `C:\Users\Visitorsama\AppData\Roaming\Blender Foundation\Blender\2.79\scripts\addons` and change the folder `RetopoFlow-release-2.0.1` to `RetopoFlow`.

[2018-11-30 21:14] Sodazer0 commented on #670
Thank you for your very fast reply,

Is it possible to tell the exakt size in Blender_Units?
maybe I can use that to find a walkaround the issue for now at least.

Also,
are there any particular intressts from your side to implement a propper "on mehs sketching grease pencil style" to Retopoflow?

And,
since in 2.8 greace pencil strokes are now represented as real object, will it be esiear from th

[2018-12-01 12:48] mohamedfathi92 opened #673 "vertex missing"
![screen shot 2018-12-01 at 2 42 24 pm](https://user-images.githubusercontent.com/39739243/49328370-1448dc00-f578-11e8-858f-b5990d358aef.png)

[2018-12-01 13:05] vxlcoder commented on #673
Thanks for the report, @mohamedfathi92.

But we will need more information to fix the issue. What were you trying to do? What are we looking at in your screenshot? What is not working?

[2018-12-01 13:37] vxlcoder commented on #673
Thanks for the quick reply!

Ok, this is a bug that I haven't been able to reproduce on any of the machines I have access to.  Would you mind helping me debug this issue?

For example, can you try running Blender from the terminal to see what gets reported there?  Open `Terminal`.  Then, right-click on the Blender app, and choose `Show Package Contents`.  Browse through `Contents` -> `MacOS` -> `b

[2018-12-01 13:43] vxlcoder commented on #673
Also, if it is at all possible, @mohamedfathi92, can you capture and post a video of you using RF?  Here is how to capture a screencast using QuickTime: https://thenextweb.com/apple/2011/01/15/how-to-record-quick-easy-screencast-videos-with-mac-osx/

[2018-12-01 13:49] mohamedfathi92 commented on #673
@vxlcoder
mohameds-mbp:~ mohamed$ /Applications/blender.app/Contents/MacOS/blender
Read prefs: /Users/mohamed/Library/Application Support/Blender/2.79/config/userpref.blend
found bundled python: /Applications/blender.app/Contents/Resources/2.79/python
RetopoFlow Options path: /Users/mohamed/Library/Application Support/Blender/2.79/scripts/addons/retopoflow-master/RetopoFlow_options.json
Caught exc

[2018-12-01 13:57] vxlcoder commented on #673
Hmm... working on changing some of the GLSL code right now...

[2018-12-01 14:03] mohamedfathi92 commented on #673
@vxlcoder
Good luck
i'm waiting (:

[2018-12-01 14:18] vxlcoder commented on #673
Ok, @mohamedfathi92.  Do you know how to clone a git repo?  I'd like for you to try the branch `issue/673`.  If you don't know, I can make a custom zip for you to download and install in Blender.

Thanks for your patience and help with this!

[2018-12-01 14:32] vxlcoder commented on #673
@mohamedfathi92, you can download this branch with this link:
https://www.dropbox.com/s/23xkcfsndsev569/RetopoFlow_v2.0.2.zip?dl=0

Note: uninstall the current version of RF before installing this version.

[2018-12-01 14:46] mohamedfathi92 commented on #673
there another problem @vxlcoder
![screen shot 2018-12-01 at 4 44 06 pm](https://user-images.githubusercontent.com/39739243/49329501-a6f17700-f588-11e8-9ce1-177bfe2eccf6.png)
i'm so sorry

[2018-12-01 14:48] vxlcoder commented on #673
Did you get that error while downloading the zip I linked above?

[2018-12-01 14:50] mohamedfathi92 commented on #673
yes

[2018-12-01 14:54] vxlcoder commented on #673
Ok, try this link instead: http://home.gfxcoder.us/retopoflow/RetopoFlow_v2.0.2.zip

[2018-12-01 15:00] mohamedfathi92 commented on #673
@vxlcoder
it's still not working
i remove the old one in blender addons
and i deleted from my downloads
and install the new one in blender by using install add on from files
i'm really sorry
what can i do to help you to help me? (:

[2018-12-01 15:02] vxlcoder commented on #673
You're helping right now, @mohamedfathi92!

So, just to be clear, by "it's still not working", you mean that RF is still rendering things the same as the screenshots you posted above?  (as opposed to you couldn't get the zip to install)

[2018-12-01 15:06] mohamedfathi92 commented on #673
yes like my screenshot there are no change

[2018-12-01 15:09] vxlcoder commented on #673
ok.  Try installing this version: http://home.gfxcoder.us/retopoflow/RetopoFlow_v2.0.2.zip

Hopefully this will show at least something different...

[2018-12-01 15:30] mohamedfathi92 commented on #673
ok

[2018-12-01 15:31] mohamedfathi92 commented on #673
Last login: Sat Dec  1 17:21:19 on ttys000
192:~ mohamed$ /Applications/blender.app/Contents/MacOS/blender
Read prefs: /Users/mohamed/Library/Application Support/Blender/2.79/config/userpref.blend
found bundled python: /Applications/blender.app/Contents/Resources/2.79/python
RetopoFlow Options path: /Users/mohamed/Library/Application Support/Blender/2.79/scripts/addons/RetopoFlow/RetopoFlow_option

[2018-12-01 15:33] mohamedfathi92 commented on #673
RetopoFlow Options path: /Users/mohamed/Library/Application Support/Blender/2.79/scripts/addons/RetopoFlow/RetopoFlow_options.json
DEBUG(2): GLSL Version: 1.20
DEBUG(2): DPI information: scale:1.00, pixel:1.00, dpi:72
DEBUG(2): Caching new scaled font size: 12
DEBUG(2): RetopoFlow Shader Info: brushStrokeShader (1)
DEBUG(2):   attribs: vColor (2), vPos (0), vDistAccum (1)
DEBUG(2):   uniforms: uMV

[2018-12-01 15:41] vxlcoder commented on #673
thanks!

does RF look exactly the same as before?

[2018-12-01 15:44] mohamedfathi92 commented on #673
yes ,but there are new tools grease pencil and stretch

[2018-12-01 15:51] vxlcoder commented on #673
The new tools are there because you checked the `Experimental Tools` checkbox.  Also, you checked the `Debug Actions`.

Ok, let's try this again... Uninstall RF, and then install this version: http://home.gfxcoder.us/retopoflow/RetopoFlow_v2.0.2.zip

[2018-12-01 15:57] mohamedfathi92 commented on #673
error massage after install

COULD NOT IMPORT RETOPOFLOW MODULES

Environment:
- RetopoFlow: 2.0.2
- Blender: 2.79.0 master 2017-09-11
- Platform: Darwin, 16.7.0, Darwin Kernel Version 16.7.0: Wed Oct 10 20:06:00 PDT 2018; root:xnu-3789.73.24~1/RELEASE_X86_64, x86_64, i386
- GPU: Intel Inc., Intel HD Graphics 4000 OpenGL Engine, 2.1 INTEL-10.25.19, 1.20
- Timestamp: 2018-12-01 17:54:27.532776
- Sy

[2018-12-01 16:00] vxlcoder commented on #673
can you copy-paste the message from the terminal?  there should be more info in there.

[2018-12-01 16:03] mohamedfathi92 commented on #673
ok

[2018-12-01 16:05] mohamedfathi92 commented on #673
Last login: Sat Dec  1 17:30:13 on ttys000
mohameds-mbp:~ mohamed$ /Applications/blender.app/Contents/MacOS/blender
Read prefs: /Users/mohamed/Library/Application Support/Blender/2.79/config/userpref.blend
found bundled python: /Applications/blender.app/Contents/Resources/2.79/python
fake_module: addon missing 'bl_info' gives bad performance!: '/Applications/blender.app/Contents/Resources/2.79/scr

[2018-12-01 16:10] vxlcoder commented on #673
hmmm... ok.  Let's try once more.  (again, thank you for your patience and help with this!)

Reinstall RF using the link above.  Restart Blender from terminal.  Start RF and insert.  Copy-paste terminal output here.

[2018-12-01 16:18] mohamedfathi92 commented on #673
can't understand how i Restart Blender from terminal ?

[2018-12-01 16:31] vxlcoder commented on #673
and everything looks the same (broken)?

[2018-12-01 16:32] mohamedfathi92 commented on #673
YES

[2018-12-01 16:43] vxlcoder commented on #673
hmmm.... what happens if you turn on symmetry?  Does the mirrored side look just as broken as the non-mirrored side?

[2018-12-01 16:54] vxlcoder commented on #673
also, I've made a few more changes.  can you reinstall RF using the link above, start Blender+RF from terminal, and then copy-paste the message here.  note: start RF on the default cube, because this change will print out all of the vertex positions and normals and faces... which could be a lot!

Post a screenshot of RF after you insert a few faces with symmetry turned on.

I have to leave now to

[2018-12-01 19:32] vxlcoder commented on #673
ok, back again

[2018-12-01 20:16] vxlcoder commented on #673
@mohamedfathi92, what version of OSX are you running? 10.??

[2018-12-02 12:59] mohamedfathi92 commented on #673
sorry @vxlcoder
i was busy
this is my mac
![screen shot 2018-12-02 at 2 58 25 pm](https://user-images.githubusercontent.com/39739243/49340020-cb118e80-f642-11e8-97d2-e1bc6344d52f.png)

[2018-12-02 23:40] lingtalfi opened #674 "mac sierra: Contours: increase/decrease segment count not working when symmetry is on"
Hi, when I use the Contours tool, I'm unable to increase/decrease the segment count if the symmetry is on.

I tried with shift+up/down, and by clicking on the +/- buttons in the Count section of the Contours tab in the right panel (labeled Options).
I tried with/without the "Uniform Cut" checkbox.

Nothing seems to work.

<img width="1315" alt="screen shot 2018-12-03 at 00 31 00" src="https://user

[2018-12-02 23:43] lingtalfi commented on #674
Nevermind, it's working well (I had symmetry on).

[2018-12-02 23:43] #674 closed

[2018-12-03 10:32] Goran-M opened #675 "Completely lost. Contours do not work. Still have to explore the other tools, but so far, no luck."
I don't know what I'm doing wrong.  Object selected in object mode.  Press Contours Tab.  Get the floating pop ups, dark background, but mesh goes from object mode into edit mode, with really thick wireframe.  CTRL Left mouse click draws the green dotted line, but nothing happens after I let go.  I watched videos on this, and everything I see in the videos does not happen to my mesh.  I've worked

[2018-12-03 13:35] Goran-M commented on #675
Just wow.  I'll just crawl back to my Blender cave.  I knew I missed something.  Works perfectly.  Many thanks!

[2018-12-03 13:43] carter2422 commented on #675
No problem! Happy blending.

[2018-12-03 13:43] #675 closed

[2018-12-03 14:49] vxlcoder commented on #573
Ack!  This issue also shows up if near clip distance is too small (actually might not have been units).  Reopening...

[2018-12-03 15:45] vxlcoder commented on #573
I couldn't find a good solution to this.  I believe it's a matter of floating point precision :(, which means that there might not ever be a good solution.

Instead, I've added a warning prompt at the start of RF.  It will only show if the clip start is too small (<0.1), and it simply states that the brush size may jitter when moving the mouse.

[2018-12-03 21:49] QbieShay commented on #448
Details:

- RetopoFlow: 2.0.1
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.17134, AMD64, AMD64 Family 21 Model 1 Stepping 2, AuthenticAMD
- GPU: ATI Technologies Inc., AMD Radeon R7 200 Series, 4.5.13416 Compatibility Profile Context 15.300.1025.1001, 4.40
- Target: verts:27829, edges:83475, faces:55648
- Sources: number:1, verts:964, edges:2880, faces:1920
- FPS: current:1.14

[2018-12-09 16:12] LunarOrbiter77 opened #676 "Hovering retopo-mesh. No mesh- tweaking possible"
Good evening there. First of all i have to say that english is not my native language, So please be patient with my writing and feel free to ask if something isn't clear.

I updated from Retopoflow 1.x to 2.0.2 from within Blender 2.79b. and i tried to retopologize a simple spherical source object to get used to the handling of RF2. The issue is,  that everytime my generated mesh is hovering way a

[2018-12-09 16:24] Lewiatan45 opened #677 "Inconsistency between mesh preview when retopoflow is turned on and the final mesh."
Hello, I began retopology of my model and I ran into an issue that doesn't allow me to see what retopology mesh looks like in reality.

With retopoflow turned on the retopology mesh looks like this: https://imgur.com/bkMrrEs
When retopoflow is turned off the retopology mesh looks like this: https://imgur.com/FrdhXLn
As you can see it's impossible to retopology the model with such inconsistency bet

[2018-12-09 17:05] Lewiatan45 opened #678 "I cannot slide, rotate nor shift selected loop or edge in contours mode."
Hello, I noticed I cannot slide, rotate nor shift selected loop or edge in contorus mode. I press G, S or shift+S with edge or loop selected (ctrl + select), but nothing happens.

[2018-12-10 14:53] Lewiatan45 commented on #448
Details:

- RetopoFlow: 2.0.2
- Blender: 2.79.0 master 2017-09-11
- Platform: Windows, 10, 10.0.17134, AMD64, Intel64 Family 6 Model 94 Stepping 3, GenuineIntel
- GPU: NVIDIA Corporation, GeForce GTX 1080/PCIe/SSE2, 4.6.0 NVIDIA 399.07, 4.60 NVIDIA
- Target: verts:180, edges:340, faces:160
- Sources: number:1, verts:205647, edges:614393, faces:408760
- FPS: current:1.856076, threshold:5, time:10
-

[2018-12-10 19:18] SavMartin commented on #678
I have same problem with ver 2.02 , but no always, and with a simple sphere to retopo never happens..

[2018-12-10 19:35] vxlcoder commented on #678
@Lewiatan45 or @SavMartin, can you post a .blend file where this issue occurs?  I cannot reproduce this bug.

[2018-12-10 20:15] LunarOrbiter77 commented on #677
Hi Lewiatan45.
That's exactly the same problem i have. Would you let me know if there is a way to fix it?

Best regards.

LunarO.

[2018-12-10 20:20] vxlcoder commented on #677
Thanks for the report, @Lewiatan45.

I believe this issue is related to issue #667 (and #643).

I'm still working on a good solution for this, but for now you can workaround this visual bug by either scaling your mesh up (say 10x or 100x) before entering RF, or decrease the Normal Offset (RF -> Options -> General -> Target Rendering -> Normal Offset).

If you have more info that makes this a disti

[2018-12-10 22:46] Copperplate opened #679 "Cannot increase / decrease vertex count in Contours Tool"
Shift+Middle Mouse Up / Down does nothing, = / - does nothing, and the shortcut + / - buttons in the options panel does nothing. I tried this in 2.79b as well as a daily build, same issue. Symmetry on / off does not make a difference. Thanks.

-Adam

[2018-12-10 22:49] Copperplate commented on #679
Shift+Middle Mouse Up / Down does is pan the interface.

[2018-12-11 00:48] Lewiatan45 commented on #678
@vxlcoder
I'm unable to upload 4.6GB blend file in reasonable timeframe.

I noticed later it's inconsistant issue. Once I can get things to work, another time I can't. Only in the one case I can rotate loops in 100% of times, when loop displayes numbers of verticles with yellow number.

[2018-12-11 00:53] Lewiatan45 commented on #677
I figured out the workaround with scaling the model up 13 times and applying the scale.

Wouldn't be just more simple if there was a setting that tells how high above a mesh should be a retopo mesh? I couldn't find such feature.

[2018-12-11 01:06] Lewiatan45 opened #680 "The retopoflow freezes Blender every 2 minutes during retopology."
Hello,

I began retopology of my model and I noticed retopoflow freezes my Blender regurarly every 2 minutes. The hourglass icon appears, then disappears and everything freezes. After some time Blender stars to respond with choppy framerate and it starts to run faster and faster till it reaches 60 fps. I had the task manager turned on when that issue occures and I didn't see higher CPU usage than

[2018-12-11 01:07] vxlcoder commented on #677
The normal offset I mentioned above does this. Working on finding a better solution, though.

[2018-12-11 01:09] vxlcoder commented on #680
The pause could be due to auto save. You can try turning it off to see if that helps with the pausing. Setting is in blender options (RF auto save looks at blender's auto save settings)

[2018-12-11 01:10] vxlcoder commented on #680
As for feature requests, you can open a new issue, but we might not get to it soon (still working on some other bugs and getting a version compatible with blender 2.80)

[2018-12-11 01:20] Lewiatan45 commented on #680
I'll give it a try and let you know if that helps.

Thanks, I'll make one.

[2018-12-11 01:23] Lewiatan45 opened #681 "Suggestion: the Improvment of selection mechanics."
Hello,
my suggestion is to change way verts/edges/faces are selected.

In Blender edit mode when you press C, the circle appears and you use it to mark what you want in one of 3 togglable modes (vert/edge/faces). I found retopoflow way of selection (RMB click) really unresponsive and unrealiable, because retopoflow doesn't interpretate what I want to select correctly. I hover over the verticle, RM

[2018-12-11 05:17] nachoco opened #682 "Retopoflow stops working after moving position of 3d cursor"
So I'm 100% new to Blender, I'm a Maya user, but I'm trying out Blender just because of this awesome retopology tool.
The problem is, I started retopoflow with my 3d cursor off-center, I think this is the reason I cannot use symmetry, because the mirrored part is created way too far from the center.

I tried moving the 3d cursor to the center of my high poly mesh, and re-starting retopoflow, but i

[2018-12-11 05:21] nachoco commented on #682
Actually it does open, but my mesh is all green, like this.
![Broken Mesh](https://i.imgur.com/Q2Xhnq0.png)

This is symmetry applied without moving the 3d cursor (before the crash)
![Wrong symmetry](https://i.imgur.com/hkqGx95.png)

[2018-12-11 15:35] carter2422 commented on #681
Hi @Lewiatan45,

It sounds to me like something is behaving incorrectly; selection should not be that inconsistent or difficult. It's intended to work very closely to Blender's default.

Can you try applying the scale and rotation on both the source and target objects and then trying selection in RetopoFlow again?

[2018-12-12 01:35] SavMartin commented on #678
I have read this issues : https://github.com/CGCookie/retopoflow/issues/677 , and I think I have to try to see if the problem comes from the size of the object ..
If it still fails, I'll send you the .blend file

[2018-12-12 01:55] SavMartin commented on #681
Hi, @carter2422 , for version 2.80 of Blender, it will change this way of selecting and action,cause Blender's default will be left click Select and action.. ??

[2018-12-12 11:14] Lewiatan45 commented on #681
@carter2422 It's inconsistent because the retopoflow decides on its own how to interpret your selection. In Blender edit mode you toggle things that you want to select. Such mechanics in retopoflow are missing so, in the end, it does pick up the wrong things. Quite often I have to click around the verticle to select it for example. I worked on a model with the applied scale of the mesh and retopof

[2018-12-12 11:15] Lewiatan45 commented on #680
@vxlcoder Turning off autosave solved the issue.

[2018-12-13 20:36] AndiRutz commented on #448
Details:

- RetopoFlow: 2.0.2
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.17134, AMD64, AMD64 Family 23 Model 8 Stepping 2, AuthenticAMD
- GPU: NVIDIA Corporation, GeForce GTX 1070 Ti/PCIe/SSE2, 4.6.0 NVIDIA 416.81, 4.60 NVIDIA
- Target: verts:128307, edges:384915, faces:256610
- Sources: number:3, verts:1446, edges:4320, faces:2880
- FPS: current:3.111537, threshold:5, time:

[2018-12-13 21:12] Lewiatan45 opened #683 "Retopoflow doesn't recognise correct target mesh."
Hello,

I was retopology the mesh (60mln polygons) and saved my work. Later I wanted to come back to it, but it turned out retopoflow doesn't recognise correct target mesh which should be:
"The new object that stores the retopologized surface.  This mesh typically has a low polygon count with good topology and edge flow."
Instead, my high poly model is treated as Target, but it should be a Source

[2018-12-13 21:16] carter2422 commented on #683
If you simply select the target object then it should be correctly set.

The selected object is treated as the target while all visible and inactive objects are used as the source(s).

[2018-12-17 14:56] carter2422 commented on #676
@LunarOrbiter77 can you please try two things for me:
1. Apply the Scale and Rotation on your source object in Object Mode by pressing CTRL+A > Apply Scale.
2. Adjust the *Normal Offset* under Target Rendering of the Options panel.

Let me know if either of those work!

[2018-12-17 16:41] LunarOrbiter77 commented on #676
With _Normal Offset_ to 0 and after grabbing a Handle for adjustment:
![witrh normal offset 0ed](https://user-images.githubusercontent.com/45736558/50101344-c9d78880-0222-11e9-849b-00d17319689b.PNG)

[2018-12-17 16:43] vxlcoder commented on #676
hmmm... any chance you could upload the .blend file so I can inspect?

(Thanks for the images!  they are helpful!)

[2018-12-17 17:09] LunarOrbiter77 commented on #676
Hi vxlcoder . For shure.

https://www.fastshare.org/download/Pulley_Trus..7z

I hope it works.

Regards...

[2018-12-17 17:52] vxlcoder commented on #676
Got it!

Ok.  I'm not sure what the cause is quite yet, but a workaround is to not use orthographic projection.  For some reason, the PS handles are not intersecting the surface correctly when using orthographic projection.

Will be taking a look at this issue soon.

[2018-12-17 18:51] LunarOrbiter77 commented on #676
Hi vxlcoder.
That's damn great man. Not using orthographic view is not a big problem. But what i get is so great.

Thank you so much and have a nice christmas over there.

Best Regards!

PS:
Maybe its not a question you can answer. But i would like to know if i can find a video tutorial for RF 2.0 somewhere. I remember this great tutorial for RF 1.0 by Jonathan.

[2018-12-18 10:00] SavMartin commented on #678
Being in spelling mode was the problem, in a perpective way, it always works.

[2018-12-18 10:02] SavMartin commented on #678
Be in orthographic mode was the problem,In perpective mode, it's perfect.

[2018-12-18 14:21] Lewiatan45 opened #684 "Retopoflow very low performance when mirror of target mesh is turned on."
Hello,

My source high poly model is 60 mln polygons. The target retopo mesh at this moment is 5400 polygons without mirror turned on. However, as soon as I turn mirror on, the performance of the program becomes so terrible to the point it takes over a few seconds to zoom out with scrolling.

In the task manager, I noticed whenever I try to do anything with mirror turn on, GPU usage increases to 6

[2018-12-18 14:23] carter2422 commented on #684
Hi @Lewiatan45, is it possible your source model has a mirror on it?

If not could you possibly share the model you're working with so we can test it?

[2018-12-18 14:33] carter2422 commented on #684
In that case the issue is almost certainly due to your source being 60 million polygons. Unfortunately this is much higher than we can reasonable support within Blender while keeping the tools interactive.

Can you try decimating the source, applying the decimate, and then checking the symmetry performance again?

[2018-12-18 14:56] Lewiatan45 commented on #684
Blender doesn't like what I want to do with decimate, so It'll take some time before it catches up.

[2018-12-18 20:45] Visitorsama commented on #672
It totaly work, now it is tiem for more testing, thank you

[2018-12-19 12:55] Copperplate commented on #679
Thanks SavMartin for your suggestion. The issue occurs both in perspective and orthographic mode for the Contours Tool. Other tools work fine for their shortcuts to increase count (except the shift+middle mouse wheel shortcut seems to have been removed in Retopoflow 2.0), but the Contours Tool definitely has a bug a present.

[2018-12-19 13:43] vxlcoder commented on #679
Thanks for the report, @Copperplate, and I am sorry that I've been slow to respond!

Can you post a screenshot of when you try to change the counts?

Can you change the counts when you make the very first cut? For example, I started with a default cube, made a single cut to create a loop with 16 vertices, then I pressed the `-` key to reduce the count to 8 (note: not the numpad `-`, but the `-` be

[2018-12-19 20:18] Lewiatan45 commented on #684
@carter2422 I halved polycounts of source high poly model with decimate. Now I have 7,70 fps with retopoflow mirror turned on in a small window, with maximised window 8.08 fps. It's smooth enough to use it to relax polygons. CPU usage: 19% Memory usage: 65% GPU usage: 27% So there is still some power left that retopoflow could use.

I think I'll go around with low framerate by doing retopology on

[2018-12-20 12:48] Copperplate commented on #679
Hi Jon, no problem. The count can be changed on the very first cut, but not afterwards. Attached is the .blend file, a very lame test sculpt, as I wanted to test the add-on on a high-res mesh (p.s. having access to the project files on the CG Cookie Retopoflow Introduction course would be very helpful for newcomers to follow along, despite the course not using RF 2.0). :-) Thanks for checking on t

[2018-12-20 13:33] carter2422 commented on #679
We don’t yet have support for adjusting more than the first cut. This is on our wishlist but hasn’t yet been implemented.

And I agree, a full intro course is needed and we are trying to get it done!

Cheers!

[2018-12-20 13:33] #679 closed

[2018-12-20 14:52] Copperplate commented on #679
I see; thanks Jonathan for your reply. I did not realize that, as the video on CG Cookie shows the count being adjusted at any time (@4:15): https://cgcookie.com/lesson/using-contours

Is there a way to download the previous version of Retopoflow that had this ability? This was one of the reasons I purchased Retopoflow...

[2018-12-20 16:49] carter2422 commented on #679
Sure thing @Copperplate! Here's a zip of the previous version that's shown in the old course:
[RetopoFlow-v1.3.2.zip](https://github.com/CGCookie/retopoflow/files/2699721/RetopoFlow-v1.3.2.zip)

[2018-12-20 20:17] Copperplate commented on #679
Hi Jonathan, thanks so much for the link. I tried it out, and it certainly works a lot better (the vertex resampling works good, and the UI is smaller and less intrusive). Unfortunately, I'm using the emulate 3 button mouse mode in Blender (because I don't like the feel of my middle mouse button), and whenever I pan with Alt+LMB, Retopoflow 1.3.2 throws a major exception error and lines of code, t

[2018-12-20 21:45] AGorgal opened #685 "Unable to select vertices in 2.0.2 in Blender v2.79."
Hi, I'm pretty sure I'm doing this right, yet I'm unable to select edges nor vertices at all.
I can "paint" new polys with the pen tool just fine, but I'm unable to select any of the vertices created to edit or delete them. Worse even, if I want to bridge two strokes I can't, because I can't select edges either.

The tool (as far as I know) is on its default settings.

The relax and tweak tools ar

[2018-12-21 14:01] keianhzo commented on #448
Details:

- RetopoFlow: 2.0.2
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.17134, AMD64, Intel64 Family 6 Model 94 Stepping 3, GenuineIntel
- GPU: NVIDIA Corporation, GeForce GTX 1070/PCIe/SSE2, 4.6.0 NVIDIA 417.35, 4.60 NVIDIA
- Target: verts:24, edges:36, faces:12
- Sources: number:1, verts:776578, edges:2329728, faces:1553152
- FPS: current:3.887568, threshold:5, time:10

[2018-12-23 00:32] seagullinfinity opened #686 "(<class 'TypeError'>)"
Hello, the tools are pretty amaising:) Thank you for your work!
-I don't know if this is important, but when I thought I was using contours brush, and later I saw that it was the strokes brush, I was dragging through a mesh (leg) just like I would with contours brush, and this is what happened:

Please tell us what you were trying to do, what you expected RetopoFlow to do, and what actually happen

[2018-12-23 19:07] Nit-Pick commented on #448
Details:

- RetopoFlow: 2.0.2
- Blender: 2.79.0 master 2017-09-11
- Platform: Windows, 10, 10.0.17134, AMD64, Intel64 Family 6 Model 42 Stepping 7, GenuineIntel
- GPU: NVIDIA Corporation, GeForce GTX 1070/PCIe/SSE2, 4.6.0 NVIDIA 416.34, 4.60 NVIDIA
- Target: verts:38068, edges:114198, faces:76132
- Sources: number:1, verts:482, edges:1440, faces:960
- FPS: current:1.041490, threshold:5, time:10

M

[2018-12-28 14:23] Lewiatan45 opened #687 "Contours: Unhandled Exception Caught!"
Hello,

I have an issue that does not allow me to rotate contours (pressing S). Each time this error appears.
[code]

[2018-12-28 15:31] vxlcoder commented on #687
Thanks again for the report, @Lewiatan45.  Commit 5c6a648 fixes this issue.  If you know how, you can check out the `issue/687` branch to test it, or just wait for the next official release of RF.

Closing the issue, but please let us know if you still have problems.

[2018-12-28 15:31] #687 closed

[2018-12-28 18:35] vxlcoder commented on #686
Thanks for the report, @seagullinfinity!

I was able to reproduce this error when there is a hole in the source.  Commit b082e44 in branch `issue/686` fixes this by generating as much geometry as possible.

![image](https://user-images.githubusercontent.com/3790699/50524630-df5f7480-0aa4-11e9-8605-67afb7dccd74.png)

![image](https://user-images.githubusercontent.com/3790699/50524638-e8504600-0aa4-

[2018-12-28 18:53] vxlcoder commented on #685
Thanks for the report and the blend file, @AGorgal!

Right now, RF uses RMB for selection only, regardless of your selection choice in Blender.  We plan to improve this soon.

I've downloaded your blend file, and I see your issue.  I'm looking into it now.

[2018-12-28 19:12] vxlcoder commented on #685
Ok.  I'm not certain why, but it seems that the Mirror Modifier on the `Cylinder` object is causing the problems.  After applying the modifier, selection (along with everything else) seems to work as expected.  So, for now, maybe use this as a workaround, but I'll look more into fixing this correctly.

[2018-12-30 14:54] vxlcoder commented on #557
Added a simple count display in bottom-right corner.  This can be turned on/off under `General > View Options > Show Geometry Counts`

![image](https://user-images.githubusercontent.com/3790699/50548311-6d0fa100-0c18-11e9-8ff0-cd66dc80935c.png)

Could add triangle/quad/ngon count, but counting this could be slow due to needing to iterate over faces to check how many vertices it has.

[2019-01-04 16:23] sauchr0 opened #688 "install error message :"upgrade to 2.8x required" with the 4/01/2019 2.8 version 2.80.39"
![retopoalert](https://user-images.githubusercontent.com/5172367/50698515-684a5300-1045-11e9-943c-9d3be251b839.PNG)

[2019-01-05 09:56] Kalugin-Roman commented on #448
Details:

- RetopoFlow: 2.0.2
- Blender: 2.79.0 master 2018-03-22
- Platform: Linux, 4.15.0-43-generic, #46-Ubuntu SMP Thu Dec 6 14:45:28 UTC 2018, x86_64, x86_64
- GPU: NVIDIA Corporation, GeForce GTX 660/PCIe/SSE2, 4.6.0 NVIDIA 415.25, 4.60 NVIDIA
- Target: verts:44815, edges:89751, faces:44936
- Sources: number:3, verts:30467, edges:90657, faces:61439
- FPS: current:0.041402, threshold:5, time:

[2019-01-07 01:08] volkanayd commented on #448
Details:

- RetopoFlow: 2.0.2
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.17134, AMD64, AMD64 Family 23 Model 8 Stepping 2, AuthenticAMD
- GPU: NVIDIA Corporation, GeForce GTX 1060 6GB/PCIe/SSE2, 4.6.0 NVIDIA 417.35, 4.60 NVIDIA
- Target: verts:730199, edges:2190271, faces:1460072
- Sources: number:1, verts:5284, edges:15840, faces:10560
- FPS: current:0.094719, threshold:5,

[2019-01-07 20:07] Sarunas86 opened #689 "PolyStrips tool very buggy when working in orthographic view"
Hey CGcookie's,
would like to report one issue with retopoflow. When I try to work with polystrips in ortho view it does not work properly. If i try to move any handle it messes up any clean topology (when working in perpective, it is much more stable)

[2019-01-07 23:29] MostHated opened #690 "Unfortunately unusably slow"
Hey there,
I was super excited to use this, but when I fired it up, it is taking several minutes at a time to perform any sort of action. It gave me this to send to you.

Details:

- RetopoFlow: 2.0.2
- Blender: 2.79.6 blender2.7 2019-01-04
- Platform: Windows, 10, 10.0.17763, AMD64, AMD64 Family 23 Model 8 Stepping 2, AuthenticAMD
- GPU: NVIDIA Corporation, GeForce GTX 1050 Ti/PCIe/SSE2, 4.6.0 NV

[2019-01-07 23:49] vxlcoder commented on #690
@MostHated, I think your source and target meshes are swapped. When you start RF, either have nothing selected (creates new target mesh), or select the low-res retopo mesh (for continuing retopoing). See the quick start guide for more details. Let me know if you continue having problems.

[2019-01-08 00:45] MostHated commented on #690
My apologies! I did as you mentioned and now it seems to be working. Thank you for that!

Side question, is there a public roadmap or anything I could keep an eye on now and then to see what the plans are for this, such as if it's coming to 2.80, what new features are coming, etc? From just the few seconds I played with it so far it seems amazing. If it is, in fact, coming for 2.80, I will definit

[2019-01-08 19:52] Lewiatan45 opened #691 "Setting different offset of retopoflow mesh doesn't save after turning off retopoflow tools."
Hello,

I finished retoplogy of my model and I was going to bake normal maps. It turned out the target mesh is too close to the source mesh, so baking creates artifacts. I wanted to increase the distance between the target mesh and the source mesh using offset of retopoflow tools. However, as soon as I turned the retopoflow tools off, the offset was reset to the lowest possible thus the target did

[2019-01-08 20:46] vxlcoder commented on #691
Have you tried using the Displacement Modifier on the target?  The offset settings within RF are there for visualization purposes only.

[2019-01-13 08:07] AlexVelger opened #692 "Invisible grid RetopoFlow in compose mode."
the grid created in RetopoFlow invisible is not highlighted in blue in the creation mode. https://prnt.sc/m6iy2e

[2019-01-13 15:12] carter2422 commented on #692
@Alexvelger can you provide a screenshot of what you’re seeing? I’m afraid I’m not understanding the problem.

[2019-01-13 15:13] carter2422 commented on #692
@alexvelger what version of Blender are you using and what OS?

[2019-01-14 22:02] Dougie-Jones opened #693 "Lock to Cursor"
I always use the Lock to Cursor setting when using blender. When trying to use retopoflow 2.0 and having Lock to Cursor toggled the viewport wasn't displaying the mesh. I am not sure why, I would imagine that the viewport just isn't keeping the relative position to the cursor. When I disable Lock to Cursor retopoflow works. Maybe just a check if Lock to Cursor is toggled and then offsetting the vi

[2019-01-14 22:16] Dougie-Jones opened #694 "Strokes: Unhandled Exception Caught!"
Please tell us what you were trying to do, what you expected RetopoFlow to do, and what actually happened.
Provide as much information as you can so that we can reproduce the problem and fix it.
Screenshots and .blend files are very helpful.
Also, change the title of this bug report to something descriptive and helpful.
Thank you!

I was using the strokes brush to repair a quad after I deleted the

[2019-01-14 23:19] MostHated opened #695 "Is it possible somehow to use these tools to build my original mesh?"
These tools are great, so great that I wish I could use them when building my original mesh. I was just trying to work with the default PolyBuild tool and it is terrible compared to yours. Is there some way to use them to work on existing meshes without building over them?

[2019-01-15 01:20] carter2422 commented on #695
Unfortunately not; the tools rely on a source object to project onto. I'm glad you like the tools, though!

[2019-01-15 01:20] #695 closed

[2019-01-15 01:48] MostHated commented on #695
Understood. I definitely want to toss out a feature request if at least even just the poly building tool you guys have could be adapted to work normally and released as a standalone item. I would gladly pay like $5-8 or so for that.

[2019-01-15 03:10] carter2422 commented on #695
We'll take that to heart! Thanks for the suggestion.

[2019-01-17 19:56] lexavellino commented on #685
I'm having the same issue. I've tried 2.0.2 and 2.0
https://www.dropbox.com/s/95dltfqw3k7o8i6/GLF%20001_Level_Volcano%20Island%2000.blend?dl=0

[2019-01-18 14:06] vxlcoder opened #696 "Switch to using `select_history`"
Instead of iterating through all of the bmesh elements to find what is selected, use https://docs.blender.org/api/current/bmesh.types.html#bmesh.types.BMesh.select_history (edited to current docs)

Doing so may significantly improve performance issues when target counts are really high.

[2019-01-18 14:11] vxlcoder commented on #694
Thanks for the report, @Dougie-Jones.

I believe commit c0f79f0 _should_ correct this issue, but I haven't been able to test because I cannot reproduce this particular error.

If you know how, feel free to check out branch `release/2.0.3` to test, or you can wait for the next release.

Thanks!

[2019-01-18 14:28] #690 closed, assigned to nobody

[2019-01-18 14:30] #688 closed, assigned to nobody

[2019-01-18 14:46] Sarunas86 commented on #689
Hey,
I am using latest blender (2.79b) and latest RF version.
please find attached screenvideo and blend file

On Fri, Jan 18, 2019 at 4:29 PM Jon Denning <notifications@github.com>
wrote:

[2019-01-23 05:05] TheChrisHatfield commented on #685
I'm having the same issue with Retopoflow. I'm unable to select and move the verities. Making this great addon unusable.

[2019-01-24 17:35] Hajruz commented on #448
Details:

- RetopoFlow: 2.0.2
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.17134, AMD64, Intel64 Family 6 Model 158 Stepping 9, GenuineIntel
- GPU: NVIDIA Corporation, GeForce GTX 1060/PCIe/SSE2, 4.6.0 NVIDIA 416.34, 4.60 NVIDIA
- Target: verts:1286, edges:2318, faces:1024
- Sources: number:6, verts:31181, edges:93262, faces:62084
- FPS: current:0.989951, threshold:5, time:10

[2019-01-25 02:35] TheChrisHatfield commented on #685
Any luck finding the issue or any workarounds?

[2019-01-25 04:46] JohnRudy commented on #448
Details:

- RetopoFlow: 2.0.2
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.17134, AMD64, Intel64 Family 6 Model 158 Stepping 9, GenuineIntel
- GPU: NVIDIA Corporation, GeForce GTX 1080/PCIe/SSE2, 4.6.0 NVIDIA 417.35, 4.60 NVIDIA
- Target: verts:61846, edges:185574, faces:123732
- Sources: number:3, verts:67500, edges:202130, faces:134642
- FPS: current:4.746973, threshold:5, t

[2019-01-25 16:17] vxlcoder commented on #685
Ok, I have been able to reproduce it, and I have a not-so-good workaround.  I think the problem is that you're working on a very small model.  And when you're very close to that very small model, element selection breaks.  The workaround is to zoom out.

Working on a better solution now!

[2019-01-25 18:08] 3devgit commented on #685
hmm... this is a big problem :(

I can create the topology but can then not select any vertex, edge or face(s). Toggle select all does work though.

I have made the base model big/small and applied the scale with the mirror modifier suggestion but nothing seems to work.

Please guys, do your magic to fix this for us :)

[2019-01-25 19:04] vxlcoder commented on #685
working on it, @3devgit ! :D

[2019-01-25 19:08] vxlcoder commented on #448
Hi all!  Thanks for the reports.  This has been a very elusive performance bug that I think I finally was able to reproduce (although I'm not entirely sure yet what I did to make that happen).

I want to try an experiment: After starting RF, press CTRL+UP to maximize the 3D view area.  Then report back here whether that improved the overall performance of RF or not.

Thanks for your help on this!

[2019-01-25 19:17] vxlcoder commented on #448
@JohnRudy, @volkanayd, @Nit-Pick, @AndiRutz, @QbieShay:
Your target (low-res retopo mesh) model is really large.  Make sure that your active+selected object is the low-res version you want to continue retopo'ing.  All other visible meshes are considered source.

@Lewiatan45:
That might be happening when Blender auto-saves the file.  Try adjusting your auto-save timing in the Blender preferences.

[2019-01-25 20:12] 3devgit commented on #685
Excellent Jon!

I know bugs can be annoying, especially if they aren't easily replicated without a specific mesh and sequence of events in Blender or any application for that matter, lol.

Thanks for jumping on it :)

[2019-01-26 20:02] TheChrisHatfield commented on #685
Thanks vxlcoder. I released my model was too large and by scaling down fixed the issue.

[2019-01-26 20:08] vxlcoder commented on #685
Great news! That's helpful. RF is supposed to auto-scale the model to a normal size, so that it shouldn't matter what scale it is. But maybe that's not fully working. Will look further into this.

[2019-01-26 21:58] 3devgit commented on #685
After more testing I too got it to work by changing the scaling.

A human model 1.77meters in height had to be scaled to 0.09 (0.1 did not work but 0.09 did :/)
A larger model that was 7m tall had to be scaled to 0.001 to work.

I noticed when scaling down too much the dashed drawing lines when using Polypen for example would draw with an offset of where I actually drew the vertex.

It was a case

[2019-01-27 16:33] kenpoh01 commented on #448
Details:

- RetopoFlow: 2.0.2
- Blender: 2.79.0 master 2017-09-11
- Platform: Windows, 10, 10.0.17763, AMD64, Intel64 Family 6 Model 30 Stepping 5, GenuineIntel
- GPU: NVIDIA Corporation, GeForce GTX 1050 Ti/PCIe/SSE2, 4.6.0 NVIDIA 417.71, 4.60 NVIDIA
- Target: verts:5821, edges:11416, faces:5597
- Sources: number:1, verts:28889, edges:85999, faces:57109
- FPS: current:2.816907, threshold:5, time:

[2019-01-27 16:58] Ingapambi opened #697 "Cursor goes bonkers"
After using for 2-3 minutes the cursor becomes an hour glass that rapidly flashes (2-4 flashes/sec); and often  in contours or pol pen the stroke is not connected to the previous one.

[2019-01-28 15:37] 0George0 opened #698 "Can't add Retopoflow"
Hi there, I wanted to try Retopoflow before buying, but I can't install it. I'm using today's Blender build and the Retopoflow download from here. I renamed the download to just "retopoflow" and re-zipped, but I get an error saying "upgrade to 2.8x required" - can anyone help me get it working? Thanks.

[2019-01-28 15:40] carter2422 commented on #698
Be sure you're grabbing the `master` branch @0George0 https://github.com/CGCookie/retopoflow

[2019-01-28 15:47] 0George0 commented on #698
Ah, I'm using 2.8. When will you have support? Thanks for your quick reply.

[2019-01-28 15:50] carter2422 commented on #698
We are working on it now but it's a very complicated upgrade and so it may take a bit longer.

[2019-01-28 15:50] #698 closed

[2019-01-28 16:57] 0George0 commented on #698
Okay, I'll come back to it when you're ready. Thanks for your help.

[2019-02-04 12:30] theoldben commented on #689
Thank you so much for pointing that out. I was using it in orthographic view all the time and wondering why the handles were always flying all over the place. Is that a bug or intended?

[2019-02-05 17:16] gavinbryars commented on #576
I'm getting the same issue. I am using blender 2.79b on a Macbook pro. The version of Retopoflow I am using in this example is 2.0.3 but also happens with 2.0.2, 2.0.1 and 2.0.0. Anyone found a solution yet? Appreciate the help :)

![screen shot 2019-02-05 at 18 05 15](https://user-images.githubusercontent.com/13244360/52291215-224d1b80-2972-11e9-8f98-93a685ab2e80.png)

[2019-02-06 11:22] theoldben opened #699 "Cannot Fill Selected Edge Loops: Select the Same Number of Edges"
When I have two segments of edges selected in the Contours Tool and I want to Bridge them with F, I get the error that the edge count does not match up. Even though it does. And even the modal edge count displays that it does. Very strange behavior. Oh, and this is not limited to stuff crossing the symmetry plane, either.
<img width="574" alt="screenclip 4" src="https://user-images.githubuserconte

[2019-02-06 11:26] theoldben commented on #322
Can I use this to redirect the Undo / Redo commands somehow? I am not using a QWERTY keyboard.

[2019-02-06 11:41] theoldben opened #700 "Strokes: Assert Error!"
Bridging two edge loops with the Stroke Tool. 4 Verts on each side, drew a connecting stroke, that worked, when I reduced the number of in-between segments, ka-boom.
-------------------------------------

[code]

[2019-02-06 14:52] carter2422 commented on #699
Thanks for the report @theoldben! We'll look into it. I believe I've run into that before too but thought we had fixed it in 2.0.1.

[2019-02-06 14:52] carter2422 commented on #697
@Ingapambi can you provide some details on the source objects you're working with, such as the total polycount?

[2019-02-06 14:54] carter2422 commented on #576
Thanks for the reports everyone. Unfortunately this seems to be relegated to certain GPU configurations and we've not yet found a fix for it.

[2019-02-06 15:02] carter2422 commented on #322
@theoldben you can modify the hotkeys in RetopoFlow 2 by modifying the `keymaps.py` file directly. It's located in the base RetopoFlow folder in your add-ons path. It's not the most user friendly but the previous method had some serious limitations that we've had to work around.

[2019-02-06 15:02] theoldben commented on #322
No sweat, that'll work fine for me!

[2019-02-06 15:05] Ingapambi commented on #697
Details forgotten the last 10 days but yes, several dialogs regarding low fps were present and the poly count was between 200k and 550k depending on the model. Occurs on both 5yr old laptop and iMac Pro.
Thankyou for following up on this.
John

    On Wednesday, February 6, 2019, 6:53:10 AM PST, Jonathan Williamson <notifications@github.com> wrote:

Most likely this is related to #448

—
You are r

[2019-02-06 15:05] carter2422 commented on #697
Thanks @Ingapambi. We're trying to solve these performance issues and are making some progress but it's a slow process.

[2019-02-07 09:42] theoldben commented on #322
Works like a charm. Having all the hotkeys in one tight space like that is neat. Well done.

[2019-02-08 06:27] RyanBuehler opened #701 "Tools not placing vertices on the object"
I've retopo'd a few models before, but this one coming in straight from ZBrush is resulting in the vertices being placed almost offset from the surface. Please advise.

Also, it would be nice if the symmetry would work if you were placing geometry on either side, not just one.

![image](https://user-images.githubusercontent.com/47442579/52462311-262a9a80-2b38-11e9-80d9-75084c69c137.png)

[2019-02-08 13:24] carter2422 commented on #701
Typically this is due to the scale not being applied on one or both of your objects. Try selecting them and pressing CTRL+A > Apply Scale.

You may also adjust this offset during RetopoFlowvia the Normal Offset setting.

[2019-02-08 13:55] RyanBuehler commented on #701
I have already found and tried this solution to no avail.

Thx

On Fri, Feb 8, 2019, 7:24 AM Jonathan Williamson <notifications@github.com
wrote:

[2019-02-08 15:03] vxlcoder commented on #701
@RyanBuehler, this seems like issue #653.
When in RF, adjust the value in Options Window > Target Rendering > Normal Offset to fit your object.
I'm working on a better solution, but this is a workaround that should work for you.
Please let us know if this isn't the case.

[2019-02-09 15:18] abre0 opened #702 "Amateur Mistakes"
I don't know what is actually happening but it's my first time using Retopoflow and seems like everything is wrong.
![blender c__users_henrique abreu_documents_projetos_3d_projetos_rosa navalha_rosah blend 09_02_2019 13_15_42](https://user-images.githubusercontent.com/47479441/52522474-02b53c00-2c6d-11e9-9d6d-b4550f482176.png)
This is my actual mesh
![blender c__users_henrique abreu_documents_proj

[2019-02-11 06:07] RyanBuehler commented on #701
There are tons of selection problems (having the hardest time selecting
verts), symmetry problems (symmetry snapping to the center even when I'm
far away from the center), offset problems (solved by changing the normal
offset).

Might it have to do with the fact that I'm retopo'ing something relatively
small?

Is there a preferred Unit it should be set to? Metric? Unit Scale 10? Would
any of this

[2019-02-12 20:52] Shill1985 commented on #448
@vxlcoder
maximizing 3d view area made a big difference for me. 10 fps before, 30+ after

[2019-02-13 13:29] vxlcoder commented on #448
That's great to read, @Shill1985!  Working on a better solution, but I hope that this is not an unhelpful workaround in the meantime.

[2019-02-15 04:08] LightSkyStudios opened #703 "Retopo tools are not working at all?"
None of the tools do anything when clicked
![screenshot 61](https://user-images.githubusercontent.com/44513285/52833963-4974bd00-30d7-11e9-8648-b95a23432484.png)

[2019-02-15 12:08] vxlcoder commented on #703
@LightSkyStudios : the action controls are bound to CTRL+LMB.  Holding the CTRL button, you should see a visualization change in some of the tools.
Please see the General Help for more information.
Let us know if you have any other questions!

[2019-02-15 12:11] vxlcoder commented on #702
Sorry that I'm just now getting to this, @abre0 .

When starting RF, the selected the object is considered the target object (low-resolution, nice topology version of your high-resolution, messy model).  This is useful for continuing retopo work.  If you're starting a new retopo session, deselect everything first, then start a tool.  This will create a new target.

In either case, all other visibl

[2019-02-15 22:10] LightSkyStudios commented on #703
Thanks so much! i thought it was a glitch cause i couldn't see it written anywhere lol.

[2019-02-16 13:34] Rvbds opened #704 "COULD NOT FIND PYTHON PACKAGES"
Hi, i am using Blender on Linux Mint and when I install the Retopoflow Add On I receive this message. I used this same file of Retopoflow on Windows and it worked well.

![captura de tela em 2019-02-16 11-25-14](https://user-images.githubusercontent.com/47692389/52900579-c048ad80-31de-11e9-9709-b864f3a84bf4.png)

[2019-02-16 13:37] vxlcoder commented on #704
If you install blender through the Linux mint repos/apt manager/etc., it probably uses your system's python install. This means that you can either install numpy through your package manager, or you can try downloading blender from blender.org which comes with python and the needed python modules. Let us know if you have anymore questions!

[2019-02-16 14:22] Rvbds commented on #704
I installed Numpy and it worked, thank you

[2019-02-16 14:22] #704 closed

[2019-02-18 14:54] SavMartin opened #705 "RetopoFlow B280 Error on activation"
I get this error msg, when i try to activate RetopoFlow  branch 280 in Blender 2.80.44,sorry if this is not the rigth place to post this issues..
Im on linux mint 19.1
![imagen](https://user-images.githubusercontent.com/30030642/52958755-a51ba080-338c-11e9-8209-dd10019151ba.png)

[2019-02-18 15:35] vxlcoder commented on #705
Thanks for the report, @SavMartin.

Right now, the `b280` branch is very much a work in progress, and it probably won't be fully functional for some time (still working on a timeline).  In fact, I have a considerable number of changes sitting on my machine right now that I haven't even committed yet, because the change is extensive and still in process.

When it is ready to test, we will definitel

[2019-02-18 17:14] SavMartin commented on #705
Thanks for your answer, I'm going to try every time you put a new update.
Are you interested in publishing if they work for me or not, or do you prefer that I wait to publish errors when you think it is functional?

[2019-02-18 18:03] vxlcoder commented on #705
That's a great question, @SavMartin.  At the moment, you should assume that things are just plain broken, and so reporting issues probably won't be helpful.  During this time, I will be pushing up WiP commits just to sync between machines, which means that you'll see lots of activity on this branch.  I have a few ongoing threads of development that I'm following through on, mostly restructuring an

[2019-02-18 20:08] SavMartin commented on #705
Ok.

[2019-02-22 00:56] Lexeon opened #706 "Cannot select anything when using different scene units"
In scene properties, when setting the units to something such as metric with a size of 0.01, nothing can be selected. Cannot click onto vertices, faces, and even strips. If the clip start is set to 100, then objects can sometimes be selected when zoomed far out. Spamming the right mouse button while slowly zooming out shows that some zooms work properly.

I have also noticed that when using polyst

[2019-02-23 16:32] vxlcoder commented on #448
All, I think that commit d824347 in the `release/2.0.3` branch will fix most of these problems!

Please test this if you get a chance, and let me know whether it works for you or not.

We'll be releasing v2.0.3 officially soon.

[2019-02-23 19:03] leruzal opened #707 "cant use it on blender 2.8"
please i cant use it on blender 2.8

[2019-02-23 19:16] vxlcoder commented on #707
Thanks for your report, @leruzal.  We are currently working on getting RF to work in 2.80.  An official
alpha/beta version will be announced as soon as we can get it ready.

[2019-02-26 02:41] LagNeto commented on #685
The problem is when you are working with centimeters or low units, i was trying to use Retopoflow with some models for UE4 in blender and my units was on Centimeters and a i wasnt able to click any vertice created with Retopoflow. So if someone have a model in centimeters, inches, milimiters u cant be able to click any vertice.

So if you need a fix just go to your scene properties and change your

[2019-02-26 19:42] vxlcoder commented on #685
Thanks for the extra details.  Taking a look into this!

[2019-03-01 19:13] dman317 opened #708 "Keys/Shortcuts changeable?"
Hey! :)

Is it possible to change the shortcuts and if no, are there any plans to make them changeable?

Thanks!

[2019-03-01 21:17] vxlcoder commented on #708
Right now, we don't have a very convenient way to change the keymaps, but you can certainly change them by modifying the code.  Specifically, open the `keymaps.py` file located in the root of RetopoFlow add-on folder (also, see https://github.com/CGCookie/retopoflow/blob/release/2.0.3/keymaps.py).  In there is a dictionary (`default_rf_keymaps`) that contains a human-readable action (ex: `select`,

[2019-03-03 18:38] vxlcoder commented on #706
Thanks for the report, @Lexeon.  I'm unable to find the right combinations of setting to replicate this issue.  Can you post a `.blend` file where this issue shows, so that I can see what you're seeing?  Also, which version of RF do you have installed?  Thanks!

[2019-03-03 18:42] ProfessorWoland commented on #448
Details:

- RetopoFlow: 2.0.2
- Blender: 2.79.7 blender2.7 2019-02-25
- Platform: Linux, 4.15.0-45-generic, #48-Ubuntu SMP Tue Jan 29 16:28:13 UTC 2019, x86_64, x86_64
- GPU: Intel Open Source Technology Center, Mesa DRI Intel(R) Sandybridge Mobile , 3.0 Mesa 18.2.2, 1.30
- Target: verts:16, edges:16, faces:0
- Sources: number:1, verts:482, edges:1440, faces:960
- FPS: current:1.961483, threshold:

[2019-03-03 18:42] vxlcoder commented on #708
although this issue is on our TODO list, I'm going to close this issue for now, because a solution will likely change depending on what happens with Blender 2.80.  Please let us know if you have any other questions!

[2019-03-03 18:42] #708 closed

[2019-03-03 18:46] vxlcoder commented on #448
Thanks for the report, @ProfessorWoland.  Can you try out the `release/2.0.3` branch to see if it improves your performance?  I'm looking for testers now

[2019-03-03 19:11] vxlcoder commented on #448
All:

Below is a link to a preview of version 2.0.3.  We are working on officially releasing it now, but getting feedback and testers on it would be helpful.  Thanks!

https://www.dropbox.com/s/opc58w0s5fmxbou/RetopoFlow_v2.0.3.zip?dl=0

[2019-03-03 19:39] vxlcoder commented on #707
closing issue for now.

[2019-03-03 19:39] #707 closed

[2019-03-03 19:40] vxlcoder commented on #705
closing this issue for now.  please let us know if you have any other issues.

[2019-03-03 19:40] #705 closed

[2019-03-03 19:40] vxlcoder commented on #703
closing this issue.  please let us know if you have any other issues!

[2019-03-03 19:40] #703 closed

[2019-03-03 19:40] vxlcoder commented on #702
closing this issue for now, but please let us know if you have any other issues.

[2019-03-03 19:40] #702 closed

[2019-03-03 20:36] vxlcoder commented on #701
@RyanBuehler, it might have to do with the scale.   Settings that work well for me are:

- scene length units: metric
- scene length unit scale: 1.0
- source dimensions: between (1,1,1) and (5,5,5) meters
- source and target scale: (1,1,1) (apply scale to all source and target objects)
- view lens: 50mm
- view clip start: 10cm
- view clip end: 500m

![image](https://user-images.githubusercontent.c

[2019-03-03 20:58] vxlcoder commented on #700
Thanks for the report, @theoldben.  I have looked into this, but I could not replicate your exact issue.  I think it has to do with duplicate verts (two vertices at the same location), but I'm not sure.  I've made some changes in commit ba074d0 that _should_ take care of this issue.  If you find that these changes didn't correct the issue (or cause other issues), feel free to report this along wit

[2019-03-03 21:13] vxlcoder commented on #699
@theoldben, Contours's bridge operation right now is very limited, only handling bridging two loops that don't cross the symmetry line.

For this type of bridge, the best tool is the Stroke.  Select the segments like you have, choose the Stroke tool (shortcut: `I`), then draw a stroke (CTRL+LMB) connecting either strip end to the corresponding end of other strip.  You might need to adjust the cros

[2019-03-03 21:13] #699 closed

[2019-03-03 21:14] theoldben commented on #699
Roger that.

Am So., 3. März 2019 um 22:13 Uhr schrieb Jon Denning <
notifications@github.com>:

--
--
Mit freundlichen Grüßen,
Benjamin Weiler

_______________________________

Benjamin Weiler
Diplom-Grafik-Designer

Blindfisch - Agentur für Gestaltung
Vogelhofstr. 30,
73525 Schwäbisch Gmünd

Tel.: 07171 4042109
http://www.blindfisch.cc

[2019-03-03 21:18] vxlcoder commented on #634
Thanks for the report, @superfalse.

Currently, RF uses its own keymaps, which do not align with your Blender keymaps.  Although it isn't very convenient, you can modify RF keymaps (see `keymaps.py` file in the root folder of the RetopoFlow add-on).  Keep in mind that these keymaps are very limited.

I'm going to close the issue for now, but know that we are planning to revisit this with Blender 2

[2019-03-03 21:18] #634 closed

[2019-03-03 21:24] vxlcoder commented on #632
Thanks for the report, @Zool1987 !  I think this is related to issue #686, which _should_ be fixed now.  closing the issue for now.  Please let us know if you have any other questions or issues!

[2019-03-03 21:24] #632 closed

[2019-03-03 21:46] dman317 commented on #708
Thanks for the answer!

[2019-03-04 22:48] ProfessorWoland commented on #448
Just tried 2.0.3 and it makes no difference what so ever, as soon as I make a stroke with any 'brush' it freezes, and pops up a message to report a problem, what I Have noticed is if I close that pop-up is that blender is using 100% of CPU and I can't even access a system monitor to kill it, only way is to hold down power button on pc to shut down, however if I don't close the pop up I blender doe

[2019-03-05 02:50] vxlcoder commented on #448
Sorry to hear this, @ProfessorWoland!

From what I've gathered online, your machine seems to be from 2011 or so.  You could be right in that your machine's specs could be the cause of what you're seeing (I haven't tested RF on a machine with those specs, so I'm not completely sure, yet). Does Blender run fine with a high-res model in edit mode?  For example, can you load and edit a model with 10k

[2019-03-05 23:42] ProfessorWoland commented on #448
Nope, this didn't help it still the same. Yeah you can call hardware ancient, however I didn't have issues using blender if I keep it under some number. In edit mode I've never tried editing mesh with 10k vertices (I did now with subdivided cube ~24k vertices and I didn't have issues, I tried proportional editing and didn't have issues) however when I enter edit mode with sculpt (dynotopo) with ar

[2019-03-06 16:34] vxlcoder opened #710 "RetopoFlow 2.0.3 is unusably slow (related to #448)"
We have had an ongoing performance bug on some machines.  I _think_ we might have this fixed for most cases, but there are still some people that are seeing this issue.

We have opened a GitHub issue to collect details on this issue (#448), but that thread has become long, and it's difficult to know which of the issues have been resolved and which are still outstanding.  So, we are starting a new

[2019-03-06 16:41] vxlcoder commented on #448
Note to all: we've started a new GitHub issue (#710) for this performance bug, because this thread has become long and difficult to determine what is the current state.  If you're still seeing the low FPS warning, be sure to update to the latest official version of RetopoFlow (2.0.3) to see if that fixes the issue.  Otherwise, post your details to the new GH issue (#710).  Thank you all for your f

[2019-03-07 00:03] #700 closed

[2019-03-07 00:03] #694 closed

[2019-03-07 00:04] #693 closed

[2019-03-07 00:04] #686 closed

[2019-03-07 00:04] #573 closed

[2019-03-07 00:05] #557 closed

[2019-03-09 16:38] tasteless63 commented on #710
Its the first time I try to use RetopoFlow, could not get it to work so far (speed, etc,). I tried the free version with much more effort and would like to breathe the full functionality now! ;) Greeez TT
Details:

- RetopoFlow: 2.0.2
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.17763, AMD64, AMD64 Family 23 Model 8 Stepping 2, AuthenticAMD
- GPU: NVIDIA Corporation, GeForce R

[2019-03-09 17:11] vxlcoder commented on #710
@tasteless63, can you try installing the latest version of RetopoFlow (2.0.3). It looks like you're still using the previous version.

[2019-03-11 05:25] esciron opened #711 "Retopo create the mesh inside instead of outside the model"
As i say in the title, when i try to use the tools it creates the geometry inside the model instead of outside where the normals are pointing to.

https://imgur.com/IEqL49w

https://imgur.com/MTSYMnV

[2019-03-11 11:19] vxlcoder commented on #711
Thanks for the report, @esciron.  Can you confirm that the normals of the source mesh are pointing outward?

[2019-03-11 13:36] esciron commented on #711
It seems that i messed up my normals and i didn't notice afterwards, sorry for wasting your time :_(

[2019-03-11 13:42] vxlcoder commented on #711
I'm glad to hear that the normals were the problem, and it wasn't something introduced in latest update!

Thanks for following up!  Let us know if you have any other problems.

[2019-03-11 13:42] #711 closed

[2019-03-15 03:40] Crux628 opened #712 "Can't see target mesh"
![image](https://user-images.githubusercontent.com/48577855/54406716-13e2e400-4716-11e9-99de-3162cf004d03.png)

Hi. I can't see my target mesh when I'm using RF. As you can see in the picture I'm using PolyStrips, the curve is there but I can't see the mesh, same goes to all tools. Also all I can see is that vertices in the origin of source mesh. But when I exit RF the target mesh is there like no

[2019-03-15 11:59] OpticDreams commented on #448
Details:

- RetopoFlow: 2.0.2
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.17134, AMD64, Intel64 Family 6 Model 158 Stepping 9, GenuineIntel
- GPU: NVIDIA Corporation, GeForce GTX 1080 Ti/PCIe/SSE2, 4.6.0 NVIDIA 419.35, 4.60 NVIDIA
- Target: verts:1021, edges:1920, faces:897
- Sources: number:2, verts:10261, edges:30273, faces:20067
- FPS: current:2.396935, threshold:5, time:1

[2019-03-15 12:11] vxlcoder commented on #448
Thanks for the post @OpticDreams. Please update to RF v2.0.3. We fixed many things, and this performance bug is one we worked on. Thanks!

[2019-03-18 11:12] ArtistArtorias commented on #448
Details:

- RetopoFlow: 2.0.2
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.17134, AMD64, Intel64 Family 6 Model 60 Stepping 3, GenuineIntel
- GPU: NVIDIA Corporation, GeForce GTX 970/PCIe/SSE2, 4.6.0 NVIDIA 416.16, 4.60 NVIDIA
- Target: verts:18, edges:27, faces:10
- Sources: number:1, verts:1582864, edges:4746276, faces:3163502
- FPS: current:2.860978, threshold:5, time:10

[2019-03-18 11:22] vxlcoder commented on #448
Thanks for the post @ArtistArtorias. Please update to RF v2.0.3. We fixed many things, and this performance bug is one we worked on. Thanks!

[2019-03-18 14:12] OpticDreams commented on #448
The update fixed the problem. Thanks. :)

[2019-03-20 23:12] wrewfirex opened #713 "Contours: Unhandled Exception Caught!"
Please tell us what you were trying to do, what you expected RetopoFlow to do, and what actually happened.Below are a few notes that will help us in fixing this problem.

- Provide as much information as you can so that we can reproduce the problem and fix it.
- Screenshots and .blend files are very helpful.
- Change the title of this bug report to something descriptive and helpful.

Thank you!

[

[2019-03-20 23:17] vxlcoder commented on #713
Thanks for the report, @wrewfirex.

Can you post a screenshot, a .blend file, or tell us what you did to cause this? The more info we have, the quicker we'll be able to solve it. Thanks!

[2019-03-22 16:15] Nodir250699 opened #714 "Syntax Error: invalid syntax"
Hi, could someone help on fixing this? " PBR material converter" add-on is not working properly. Everytime I reopen Blender i have to remove addon and again install from files in order to make it work... Thanks a lot in advance !
![Error](https://user-images.githubusercontent.com/40915589/54837192-9b68be00-4ce7-11e9-99b7-fedf1a0ff20f.png)

[2019-03-22 16:20] vxlcoder commented on #714
@Nodir250699, I'm not sure how to help, since we didn't develop the PBR material converter add-on, and RF _shouldn't_ affect other add-ons.  Where did you get it from?

[2019-03-22 16:37] Nodir250699 commented on #714
https://3d-wolf.com/products/textures.html. From this website... I am sorry I accidently contacted wrong place I think

[2019-03-22 16:47] vxlcoder commented on #714
That's OK.  I just didn't know how to help with your issue.  I thought that maybe you thought that RF was interacting incorrectly with that add-on.  Feel free to reopen the issue if there is something we can do to help!

[2019-03-22 16:47] #714 closed

[2019-03-24 09:09] OldSalty commented on #710
Same problem, happens mostly at late stage of retopolgy making the the work crawl to a halt, and some cases corrupted the blend file.

Details:

- RetopoFlow: 2.0.3
- Blender: 2.79.7 blender2.7 2019-03-20
- Platform: Windows, 10, 10.0.17134, AMD64, Intel64 Family 6 Model 60 Stepping 3, GenuineIntel
- GPU: NVIDIA Corporation, GeForce GTX 1080/PCIe/SSE2, 4.6.0 NVIDIA 417.22, 4.60 NVIDIA
- Target: ve

[2019-03-24 11:35] vxlcoder commented on #710
Thanks for the info, @OldSalty.

Are you able to post the .blend file that is causing this? Does it show down if you "retopo" the default cube? I'm wondering if it is a specific seeing that is causing the slowness.

Thanks!

[2019-03-24 14:54] OldSalty commented on #710
I can't share the blend file, but I I can try another mesh. I had a lot of problems with selecting from certain view angles and not being able to zoom in on selection. May be related to scene scale or model size vs camera clipping. I just use defaults for blender and import the obj from zbrush.

[2019-03-24 18:40] vxlcoder commented on #710
I understand, @OldSalty.

Another option to see if it's a particular setting in your `.blend` file is to add in a shape to the scene with exactly the same vertex positions (roughly), scale, rotation, and translation, then delete all of the other data in the file (not just high- and low-res meshes), and then post that .blend file.  To ensure that the new mesh is exactly the same:

- duplicate the h

[2019-03-29 18:34] Juggernaut1994 commented on #689
Here's[ gif ](https://gfycat.com/PerkyFlakyBordercollie)with bug I've discovered today in orthographic view. It seems like it's trying to snap to camera view or to opposite direction somewhere very far away. I'm on 2.79 (not daily build) and 2.0.2 retopoflow.

[2019-03-29 18:53] vxlcoder commented on #689
ah, that .gif is useful, @Juggernaut1994!  Could you post the .blend file for me to test?  Does this also happen with RF 2.0.3?

Sorry all that I haven't followed through on this issue... I did not see the files posted by @Sarunas86 (seems that they didn't get attached to GH?), and then this issue slipped under my radar.

[2019-03-29 19:56] Juggernaut1994 commented on #689
Same here on 2.0.3.
Also I've noticed that when curve handles are "flying around" they can be snapped back to mesh by clicking (left click for me) somewhere outside mesh, but it doesn't resolve the mess.
Here's file:
[Ortho-test_.zip](https://github.com/CGCookie/retopoflow/files/3024192/Ortho-test_.zip)

I don't know what kind of info shared in .blend file, but if needed:
blender hash is f4dc9f9d6

[2019-03-29 22:59] aquaraider11 commented on #710
Details:

- RetopoFlow: 2.0.3
- Blender: 2.79.0 Unknown Unknown
- Platform: Linux, 4.18.0-16-generic, #17-Ubuntu SMP Fri Feb 8 00:06:57 UTC 2019, x86_64, x86_64
- GPU: X.Org, AMD Radeon R9 200 Series (HAWAII, DRM 3.26.0, 4.18.0-16-generic, LLVM 7.0.0), 4.5 (Compatibility Profile) Mesa 18.3.3 - padoka PPA, 4.50
- Target: verts:473, edges:892, faces:420
- Sources: number:1, verts:11492, edges:39257,

[2019-03-29 23:53] vxlcoder commented on #710
Thanks for the report, @aquaraider11. Does blender run well normally? Can you try RetopoFlow on the default cube after loading blender factory settings to see if it's a setting? Can you post your .blend file or a screenshot?

[2019-04-07 10:01] OldSalty commented on #710
[Retopoflow_LowFPS.zip](https://github.com/CGCookie/retopoflow/files/3051423/Retopoflow_LowFPS.zip)

Sorry it took me a while, I just had to finish the commission job before I went back to resolve the issues

[2019-04-08 06:32] bluppies opened #715 "My retopoflow tools can not be used. edit: Local View prevents RF buttons from working"
so i just got the addon an started working on my hard surface mesh but the tools wont allow me to click here is the file if you need
![image](https://user-images.githubusercontent.com/49387755/55703061-512a5100-59f8-11e9-8ff8-fb8ed34ccd39.png)

[2019-04-08 12:33] vxlcoder commented on #715
Hi @bluppies.

Please read the quick start guide, the button near the top of the RetopoFlow panel.  You either need to unselect all (to create new retopo mesh) or select the retopo mesh to continue working.

Let us know if you have any other problems

[2019-04-08 13:38] bluppies commented on #715
i know i that but even when i deselect i m not allowed to use the tool
![image](https://user-images.githubusercontent.com/49387755/55728378-adf72d00-5a33-11e9-9a2e-6d873639207e.png)
could you try my blend file andd look for the issue

[2019-04-08 14:37] vxlcoder commented on #715
Ah, sorry. I missed that. That is strange. Also, the list of sources is much smaller than the number of meshes in scene. Will take a look and get back to you. Thanks for sharing the blend file.

[2019-04-09 00:54] bluppies commented on #715
thank your sir

[2019-04-09 00:57] vxlcoder commented on #715
ok. you're in local view mode, so things act differently.  notice that you don't see the view layers in the 3D view toolbar (see images below).  To exit local view, press the numpad `/` key.  then, you _should_ be able to use RF.

![image](https://user-images.githubusercontent.com/3790699/55766060-ccaff080-5a40-11e9-9677-ae0f8f049bfe.png)
![image](https://user-images.githubusercontent.com/3790699/

[2019-04-09 15:05] bluppies commented on #715
Thanks man it finally worked

[2019-04-09 15:11] vxlcoder commented on #715
My pleasure!  that issue has come up many times, and it's difficult to figure out (partly because this is a Blender design decision that I think is not helpful).  perhaps we should add a "switch out of local view mode" note in the RetopoFlow panel....

[2019-04-10 01:06] longearsdesign opened #716 "Keybindings for Retopoflow 2.0.3 on BForArtists 1.0.0"
Issue: I am able to get Retopoflow 2.0.3 working fine on a clean version of Blender, but not for bforartists 1.0.0. Having to relearn Blender w/o BForArtists would probably be a deal-breaker for me.

Setup:
My input bindings: [myBindings.py.txt](https://github.com/CGCookie/retopoflow/files/3061483/myBindings.py.txt)
My active Add-Ons: ![AddOns](https://user-images.githubusercontent.com/30812968/55

[2019-04-10 17:32] longearsdesign commented on #716
I have friends pushing me to move over to zbrush, which apparently also has retopology. And a sizeable price tag. I have too much time already invested in Bforartists to give up quite yet though, especially since Retopoflow is exactly what I'm after.

I will try to identify exactly what add-ons are getting in the way, by disabling them, and then adding them back individually. I'll share my finding

[2019-04-10 17:47] vxlcoder commented on #716
Thanks for the report, @longearsdesign. I am not familiar with bforartists, but I will check it out. Also, thanks for the useful settings, etc!

[2019-04-10 20:11] longearsdesign commented on #716
I don't know how many bforartists users there are, but in short, it's a fork of Blender that:
(1) "fixes" a lot of issues with the UI that make it frustrating for new users, most notably overriding Blender's implementation of LClick vs RClick
(2) hides/disables many of the options and shortcuts Blender offers OOTB, assuming that advanced users will re-enable the features they need.

For me, Bforar

[2019-04-11 03:10] longearsdesign commented on #716
Got some diagnostics for you!

1. I am running BForArtists v1.0.0. BForArtists is explained, and can be obtained, here: https://www.bforartists.de
![BForArtists_Version](https://user-images.githubusercontent.com/30812968/55927885-7f13bf00-5bcb-11e9-8503-3af373e92d41.png)
(There is a BForArtists v2 in alpha, but Retopoflow isn't recognized as a viable add-on, possibly due to a version difference? I

[2019-04-11 16:05] longearsdesign commented on #716
After some googling, I see the Blender 2.8 alpha is quite stable, and they "fixed" a lot of the things that irritated me so much in the Blender UI. So my reason for using BForArtists in the first place no longer applies. I can just use 2.8 OOTB!

Thank you, and please feel free to close this ticket.

[2019-04-15 07:30] kapawlak commented on #712
Are your normals pointing in the right direction? I've had this issue before and it turns out for whatever reason my normals got flipped when importing a mesh from 2.8 into 2.79 and retopoflow put my verts under the surface.

[2019-04-15 14:31] vxlcoder commented on #712
I think @kapawlak  is correct looking at the edit mesh.  try flipping the normals on your source mesh.  Let us know if that doesn't work, though.

[2019-04-15 14:32] vxlcoder commented on #712
Also, @Crux628, I'm sorry that I missed this issue!  I was _really_ busy around mid-March, so this unfortunately slipped below the fold, and I haven't had time to go back through all the issues.

[2019-04-23 15:30] theDankReaver commented on #710
Details:

- RetopoFlow: 2.0.3
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.17134, AMD64, Intel64 Family 6 Model 158 Stepping 9, GenuineIntel
- GPU: NVIDIA Corporation, GeForce GTX 1050/PCIe/SSE2, 4.6.0 NVIDIA 425.31, 4.60 NVIDIA
- Target: verts:1507, edges:3029, faces:1520
- Sources: number:5, verts:2504238, edges:7511636, faces:5007431
- FPS: current:1.951822, threshold:2, ti

[2019-04-24 15:17] skyebasta commented on #673
I have the same problem.

[2019-04-24 17:12] skyebasta commented on #576
Have you already fix it?

[2019-04-24 17:18] skyebasta opened #717 "vertex are invisible"
I can't see vertex when I am creating in Retopoflow mode, albeit I can see it in Edit mode.
![Zrzut ekranu 2019-04-24 o 19 17 55](https://user-images.githubusercontent.com/49953371/56679605-c1f28e00-66c5-11e9-8939-416eee2a08f5.png)

[2019-04-24 17:40] vxlcoder commented on #576
sorry, @skyebasta, this is not fixed, yet.  I haven't been able to replicate the problem on a local machine for testing/debugging.  Our university has recently purchased a couple of macs, so I'll see if I can "convince" these machines to do the wrong thing.

[2019-04-24 17:43] skyebasta commented on #576
Actually, I uninstalled the 2.79 version of Blender and I installed the 2.78 one and it started to work properly! :)

[2019-04-24 17:45] vxlcoder commented on #576
really?!?  that's very strange!

I was nearly certain that the problem is with the GLSL shaders and the driver... and theoretically there should be nothing different between 2.79 and 2.78...  but maybe this is simply a Blender build problem.

[2019-04-24 17:46] vxlcoder commented on #576
i'll give it a go on the local macs when I get a chance.  you might try finding another build of 2.79b to see if that might work.  (or, if you know how to build blender from source, try that!)

[2019-04-24 17:47] andreibosco commented on #576
Yeah, I confirm that using 2.78 'fixes' the issue.

[2019-04-24 17:48] vxlcoder commented on #576
Thanks for the help!

This gives me a direction for debugging and testing!

[2019-04-28 04:14] Shyki13 commented on #710
Details:

- RetopoFlow: 2.0.3
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.17763, AMD64, Intel64 Family 6 Model 158 Stepping 12, GenuineIntel
- GPU: NVIDIA Corporation, GeForce RTX 2080 Ti/PCIe/SSE2, 4.6.0 NVIDIA 425.31, 4.60 NVIDIA
- Target: verts:563822, edges:1691460, faces:1127640
- Sources: number:6, verts:3396, edges:9908, faces:6520
- FPS: current:0.002103, threshold:2,

[2019-04-28 07:40] vxlcoder commented on #710
@Shyki13, I think you have your source and target swapped. Be sure to read the quick start guide (top button on RetopoFlow panel). Please let me know if this fixes your issue. Thanks!

[2019-05-04 14:33] vxlcoder opened #718 "Keymapping"
- [x] expose keymap to user
- [x] ability to bind to specific blender keys
- [x] ability to bind to specific rf keys

[2019-05-08 10:39] binns2011 opened #719 "Can't select geometry"
polypen can not select vertices or edges.
However, operations other than selection are possible.

blender:2.79b
retopoFlow 2.0.3

[2019-05-08 10:51] #719 closed

[2019-05-08 14:26] vxlcoder commented on #719
Were you able to find a solution, @binns2011?

[2019-05-10 12:34] Syndaryl commented on #448
Details:

- RetopoFlow: 2.0.2
- Blender: 2.79.0 master 2017-09-11
- Platform: Windows, 10, 10.0.17763, AMD64, AMD64 Family 23 Model 1 Stepping 1, AuthenticAMD
- GPU: NVIDIA Corporation, GeForce GTX 1080 Ti/PCIe/SSE2, 4.6.0 NVIDIA 417.35, 4.60 NVIDIA
- Target: verts:13791, edges:27585, faces:13796
- Sources: number:13, verts:4066575, edges:12199025, faces:8132483
- FPS: current:0.043223, threshold:

[2019-05-10 15:37] vxlcoder commented on #448
Thanks for the report, @Syndaryl.  Please let us know if 2.0.3 fixes the performance issue.

Another thing to try is to decimate your sources.  8m faces is pretty high, and you probably don't need all that resolution just to retopo.  RF is tested to run will up to about 2m faces (depending on the machine), so if you can reduce the poly count with the decimate modifier, you might see a huge perform

[2019-05-11 13:22] Stotch228 opened #720 "Selection problem"
Hi! The selection does not work if I am close to the ref object, if I have zoom up its working well. This is not such a critical problem, but if possible, correct it in the updates.
![image](https://user-images.githubusercontent.com/50520876/57570291-f32ec600-7408-11e9-8b98-426167680dbe.png)

[2019-05-14 01:21] Qwertyzax opened #721 "Unhandled Exception on trying to create a new quad with Strokes tool"
When I try and stroke a new quad on the nose as shown, an exception is triggered.
![Start](https://user-images.githubusercontent.com/7189827/57664024-895b1b80-75c4-11e9-8822-3da8015461cc.png)
![End](https://user-images.githubusercontent.com/7189827/57664025-895b1b80-75c4-11e9-9ca6-84bd7db8ef48.png)

Blend file:
https://drive.google.com/open?id=17tXadAYH_1NBAheQD_n5wRB2O_PihGTb

[code]

[2019-05-17 08:42] JohnRudy opened #722 "Strokes tool causes exception and weird faces after closing message."
https://imgur.com/a/d0W1Qqt Screenshots of the process.

Trying to create a single edge causes a error message.

[code]

[2019-05-17 09:46] vxlcoder commented on #722
Thanks for the report, @JohnRudy.  That is a strange error.  Are you able to replicate this bug again?  If so, would you mind sharing your .blend file, because I'm having trouble reproducing the same conditions here.

[2019-05-17 10:06] JohnRudy commented on #722
I can try. I all ready moved past the issue in the main .blend so that is not an option. I'll make a quick redo with a different blend.

[2019-05-17 10:16] JohnRudy commented on #722
I was able to reproduce the error just using a sphere that I first subdivided to 200k+ and decimating it to ~30k.  I've attached the screenshot of the line I was trying to create. Using the Patches tool the face creates normally with no issues, but the stroke tool causes an error. The face is twisted.
Screenshot and .blend file in my dropbox.
https://www.dropbox.com/sh/r0c2znkte1i88s6/AAB6LlJq9Tod

[2019-05-18 06:49] migero commented on #514
same here https://i.gyazo.com/8c075dfd4723192e509de792062e55ba.gif

[2019-05-18 18:22] Stotch228 opened #723 "Snapping through ref geometry?"
Is it possible to turn off transperent snapping?
![image](https://user-images.githubusercontent.com/50520876/57973527-cd7a6180-79b2-11e9-8c37-8a36b2d97bae.png)
![image](https://user-images.githubusercontent.com/50520876/57973531-d8cd8d00-79b2-11e9-903b-bee961afbd7f.png)

[2019-05-19 06:42] Stotch228 commented on #720
Actually, this is an nasty problem. Any tips?

[2019-05-19 09:35] grimakaka opened #724 "Adding ability to select vertices below a surface would be useful"
![image](https://user-images.githubusercontent.com/50794359/57980265-b6c71f80-7a31-11e9-9482-9cc522208255.png)
Hello! I have a problem with the selection. Vertices that are inside the reference object cannot be selected. Vertices 1 2 3 - can be selected and 4 are cannot be selected. This makes the whole process very uncomfortable. But in general, I really love your tool!

[2019-05-19 12:13] grimakaka commented on #720
I support, the selection works very badly. This bug negates the advantages of this wonderful tool! The retopology becomes very painful!

[2019-05-20 16:16] Stotch228 commented on #720
and selection through the object, it is generally a disaster. But the tool is really good and optimized. Maya and 3dCoat can't eat 2 million polys without lagging.

[2019-05-20 16:22] grimakaka commented on #720
It is strange that everyone is silent about it. I do not believe that this problem only we have two. I wrote to the author of this tool but he, too, is silent!

[2019-05-20 16:28] vxlcoder commented on #720
Thanks for the report, all. Sorry I haven't responded immediately, as I am finishing up my term at the University. I will be focused on RF development starting tomorrow, and so I will be addressing these issues directly soon. Sorry for inconvenience.

In the meantime, @Stotch228, would you mind posting a .blend file that has these problems? I have not had an issue on any of our test files, so your

[2019-05-21 09:37] grimakaka commented on #724
I have a question for the developers, is it true that the selection algorithm does not use api blender?

[2019-05-21 14:42] vxlcoder commented on #724
@grimakaka, Thanks for the report.

Yes, RF uses our own selection code, because of how we do our rendering (hide original target mesh, draw it using custom shaders) Blender cannot select the verts/edges/faces because they are hidden.

As for your issue, RF does render the target slightly offset along the normal along with rendering the target under the surface of the source.

The normal offsettin

[2019-05-21 15:16] grimakaka commented on #724
Thank you very much for this detailed answer! I tried all the settings in different variations and the result is the same - as soon as the vertex is at least a little below the surface of the reference object, it ceases to be available for selection. Sometimes it helps to move away from the object or change the viewing angle, but more often you have to go into the editing mode of the object in a b

[2019-05-21 15:26] grimakaka commented on #724
![image](https://user-images.githubusercontent.com/50794359/58108991-71ebe600-7bf5-11e9-9d0b-37c68028ca11.png)
Vertex 1 cannot be selected and vertex 2 can be selected. Situations when vertices fall under the surface of the reference object appear quite often, for example, when using the patch tool.

[2019-05-21 15:48] vxlcoder commented on #724
@grimakaka, I'm confused how the target mesh in your screenshot was created to begin with.  It looks like you are either creating geometry outside RF and then trying to edit it in RF, or you're changing the source meshes, or maybe something else.  How did you create that?

Also, how is the patch tool creating vertices under the surface?  Would you mind recording a video?  All of the RF tools are d

[2019-05-21 16:15] grimakaka commented on #724
another bug)))
![bug1](https://user-images.githubusercontent.com/50794359/58112698-b2029700-7bfc-11e9-9ffb-e2dbac19bdd2.gif)
okay, I'll write it all down now on video.

[2019-05-21 16:39] vxlcoder commented on #724
Hmm. yeah, that's certainly a problem.  Just making sure, but are all of the normals on your source mesh (sphere) pointing out from the center of the sphere?  Can you share this blend file?

[2019-05-21 16:41] grimakaka commented on #724
![bug2](https://user-images.githubusercontent.com/50794359/58114119-c005e700-7bff-11e9-8012-6ecb4cb07eb7.gif)
Again, I could not select the top. Strange but when I clicked A and then G selected everything but only the vertex I needed moved!

[2019-05-21 16:46] grimakaka commented on #724
The sphere was created using shift-A. I did nothing else with it. Sorry, I already deleted that file. I created a new one but now everything works as it should. I am sure that the roots of all the bugs lie in the function that is responsible for the selection.

[2019-05-21 16:48] grimakaka commented on #724
The whole problem for me is that I love your instrument so much that now I can’t work in anything else.))))

[2019-05-21 16:59] grimakaka commented on #724
![bug3](https://user-images.githubusercontent.com/50794359/58115352-8da9b900-7c02-11e9-8efc-8ef33e010995.gif)
As soon as the vertex is covered by the reference surface, it is no longer available for selection. I think you yourself can repeat it all.

[2019-05-21 17:02] grimakaka commented on #724
[bugs.zip](https://github.com/CGCookie/retopoflow/files/3203648/bugs.zip)

[2019-05-21 17:05] vxlcoder commented on #724
When you select, RF will select a vertex as long as: 1) it is not occluded by the source mesh (preventing selection of vertices on back side of source), and 2) it is within a certain pixel (screen) distance from the cursor.

In the cube example above, you are using RF in a way that it wasn't designed.  Almost always, retopo/target meshes lie on or just above the surface of the source mesh.  If the

[2019-05-21 17:20] grimakaka commented on #724
Yes, I used a patch for this example. Recently, I was doing a complex retopology, and when I did snap all some of the vertices did not react to it. Thank you and good luck in the development! I will post bugs if I find them in the future.

[2019-05-22 07:54] grimakaka commented on #724
Hello! I think that making the ability to select overlapped vertices as a switchable option will be the best solution!

[2019-05-22 19:30] Stotch228 commented on #720
Hi! Ty for your answer! I hope your business with the university is well. My blend file - https://drive.google.com/file/d/13SG6uK57y6fNMTJaYZt08jcwgZjqL0ZH/view?usp=sharing

[2019-05-24 16:06] Cariaga commented on #710
Details:

- RetopoFlow: 2.0.3
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.18362, AMD64, AMD64 Family 23 Model 8 Stepping 2, AuthenticAMD
- GPU: NVIDIA Corporation, GeForce GTX 750 Ti/PCIe/SSE2, 4.6.0 NVIDIA 430.64, 4.60 NVIDIA
- Target: verts:26089, edges:76139, faces:50072
- Sources: number:1, verts:7667, edges:19746, faces:12188
- FPS: current:0.067838, threshold:2, time:15

[2019-05-24 18:38] vxlcoder commented on #710
Thanks for the report, @Cariaga. When you started RF, did you have the correct low-poly target mesh selected? 50k faces for target and 12k faces for high-res source mesh doesn't seem right.

[2019-05-27 14:51] vxlcoder commented on #720
Thanks, @Stotch228, for the file!

I've made a tweak to internal parameters in the selection code, so it is easier to select geometry when closer to the source.  If you can, please check out the issue/720 branch to see if that corrects the problem.  Let me know if you need help with this.

[2019-05-27 15:25] vxlcoder commented on #722
Thanks for the details and the .blend file, @JohnRudy!

I think I have fixed this in branch issue/722.  If you can, please check it out and let me know.  If you need help with this, let me know.

[2019-05-27 15:44] JohnRudy commented on #722
I tried modifying the files with the added and removed lines, but I loose the strokes tool from the toolbar. Using the shortcut key ( I ) does not work either. I presume I did something wrong? I copied the new lines and removed the - marked ones.

[2019-05-27 16:02] vxlcoder commented on #722
Great!  thanks for testing it!  Will close the issue, but feel free to reopen if you find other related issues.

[2019-05-27 16:02] #722 closed

[2019-05-27 16:17] vxlcoder commented on #689
Sorry all for my late reply on this.

Was finally able to reproduce on an ico sphere.

![ps edit in ortho](https://user-images.githubusercontent.com/3790699/58430802-e6e97080-8078-11e9-9edc-e0b806efcf40.gif)

Thanks for the .blend file @Juggernaut1994!  I think this is all related.

Working on this now!

[2019-05-27 16:20] vxlcoder commented on #724
Just a note: the bug with the sphere is same as issue #689.

I'm labeling this issue as a feature request, since it is really a different way of dealing with selection that is outside the normal workflow of retopology (not bug with RF).

[2019-05-27 16:52] grimakaka commented on #724
![bug4](https://user-images.githubusercontent.com/50794359/58431979-e375d980-80b8-11e9-92ff-cc9d104da0fa.gif)
Hello! I just downloaded a new build from issue/720 branch. I recorded a video in which I show that there is a problem with the selection.

[2019-05-27 17:07] vxlcoder commented on #724
I recently noticed that selection still has problems in orthographic mode, too. ("workaround", switch to perspective)  looking into this now.  thanks, @grimakaka!

[2019-05-27 17:25] vxlcoder commented on #720
noticed that selection in orthographic mode is still sketchy.  working on this now

[2019-05-27 17:27] vxlcoder commented on #724
the issue with selecting vertices that are on the surface of the source (not underneath) is related to issue #720.  I will post updates to that selection in the related issue.  Any updates to selecting vertices that are below the surface or behind the source will be posted to this issue.

[2019-05-27 17:45] grimakaka commented on #724
Wonderful! You are absolutely right! In the perspective view, the selection works at 100%. Thank you very much!

[2019-05-27 18:02] vxlcoder commented on #720
ok, I found one other bug in the visibility code that is fixed now (commit c95b77d).  i tried several times to replicate the bug that @grimakaka recorded about an hour ago on issue #724, but have not been able to reproduce it now.  can you give that a try now?

![trouble replicating](https://user-images.githubusercontent.com/3790699/58433959-5fefc480-8087-11e9-91db-4f436fc28bc9.gif)

[2019-05-29 06:46] Stotch228 commented on #720
Hi! The issue with close range picking fixes, now working at 9/10.
The second issue that I described earlier, with the picking poly through the ref object, was due to an open object. After i closed it, there was no problem. Great thx for fixing, your tool is really nice.
![image](https://user-images.githubusercontent.com/50520876/58535122-c4309680-81f5-11e9-879e-77cbdb0b9b3c.png)

[2019-05-30 20:04] grimakaka opened #725 "Relax tool"
sometimes relax tool behaves strangely.
![bugRelax](https://user-images.githubusercontent.com/50794359/58660851-13c6ad80-832f-11e9-888b-3376b71a02b9.gif)
[bug_relax.zip](https://github.com/CGCookie/retopoflow/files/3238581/bug_relax.zip)

[2019-05-31 15:56] vxlcoder commented on #689
this bug should now be fixed---finally!

it took so long, because it required lots of debugging and digging.

if you all (@Sarunas86, @theoldben, @Juggernaut1994, @grimakaka) can test out branch `issue/689` to see if it works, that would be helpful.

Thank you all for your patience on this!

![ps edit in ortho works](https://user-images.githubusercontent.com/3790699/58718233-1828b000-839b-11e9-896

[2019-05-31 16:00] Sarunas86 commented on #689
Looks nice :) will test when possible

On Fri, 31 May 2019 at 18:56, Jon Denning <notifications@github.com> wrote:

[2019-05-31 16:02] vxlcoder commented on #725
thanks for the report, @grimakaka!

this issue is related to issues 514 and 657.

the short answer is: this is a very difficult problem to solve in a general case.  I plan to revisit the math/algorithm here once RF is working in blender 2.80.

in the mean time, have you tried adjusting the brush properties under Options > Relax > Brush Properties > Advanced?  Sometimes changing these can have a po

[2019-05-31 18:04] grimakaka commented on #725
Thank you for the answer! Sorry, I did not know that I duplicated the problem. If you know this problem, then this branch can be removed.

[2019-05-31 19:45] vxlcoder commented on #724
@grimakaka, one quick note on your workflow in the latest screenshot: you do not need to add a plane and then delete the verts to start a new target mesh.  If nothing is selected, simply clicking one of the RF tools will automatically create a new target mesh for you.

[2019-05-31 20:07] #725 closed

[2019-05-31 20:09] grimakaka commented on #724
Oh cool! It is very convenient!

[2019-06-05 03:08] jonbragado commented on #710
Details:

- RetopoFlow: 2.0.3
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.17763, AMD64, Intel64 Family 6 Model 79 Stepping 1, GenuineIntel
- GPU: NVIDIA Corporation, GeForce GTX 1070/PCIe/SSE2, 4.6.0 NVIDIA 417.22, 4.60 NVIDIA
- Target: verts:32, edges:46, faces:15
- Sources: number:1, verts:63596, edges:170483, faces:107512
- FPS: current:0.269071, threshold:2, time:15

[2019-06-05 10:01] sbstratos79 commented on #710
Details:

- RetopoFlow: 2.0.3
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.17763, AMD64, Intel64 Family 6 Model 158 Stepping 9, GenuineIntel
- GPU: NVIDIA Corporation, GeForce GTX 1050 Ti/PCIe/SSE2, 4.6.0 NVIDIA 430.86, 4.60 NVIDIA
- Target: verts:1368, edges:2674, faces:1306
- Sources: number:1, verts:1604, edges:4812, faces:3208
- FPS: current:0.188841, threshold:2, time:15

[2019-06-16 11:19] Dadstruction commented on #710
Details:

- RetopoFlow: 2.0.3
- Blender: 2.79.0 master 2017-09-11
- Platform: Darwin, 18.6.0, Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64, x86_64, i386
- GPU: ATI Technologies Inc., AMD Radeon Pro 575 OpenGL Engine, 2.1 ATI-2.9.26, 1.20
- Target: verts:82493, edges:247552, faces:165061
- Sources: number:1, verts:1057, edges:2795, faces:1732
- FP

[2019-06-17 13:06] NazzarenoGiannelli commented on #490
Any news on a 2.8 version now that this new version is more stable?

[2019-06-22 19:03] deock90 commented on #710
Same problem:

Details:

- RetopoFlow: 2.0.3
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.17134, AMD64, AMD64 Family 23 Model 1 Stepping 1, AuthenticAMD
- GPU: NVIDIA Corporation, GeForce GTX 1050 Ti/PCIe/SSE2, 4.6.0 NVIDIA 430.64, 4.60 NVIDIA
- Target: verts:332037, edges:995153, faces:663144
- Sources: number:1, verts:482, edges:1440, faces:960
- FPS: current:0.008074, thres

[2019-06-28 11:48] Damolx opened #726 "Can't find in Blender 2.80"
Hello everyone,

Yes i know this question seems a little bit dumb but how can i run this tool on Blender 2.80, i know that the actual version isn't stable but it should work on it, no ?

I can't find the tool in blender....

Thanks.

[2019-06-28 15:32] solosails opened #727 "Selection Distances not matched to Blender unit settings"
If units in Blender set to mm, the selections distances do not work, if it were possible to add a decimal selection distance this may solve the issue, but as you can't it appears to stop selection from working so the user must be in the default metres unit for the plugin to work as expected.

(awesome tools by the way -  thanks.

[2019-06-29 20:41] oddmore commented on #726
I can't seem to find it either in blender 2.8. It asks to update to blender 2.8x (which it already is that version).

[2019-06-29 22:10] vxlcoder commented on #726
Hi all.

Right now, RF only works in 2.79, but we are working on a 2.80 version now. Will update once we have a beta (or maybe alpha) version ready to test.

[2019-06-30 14:52] Rcott opened #728 "PolyPen: Unhandled Exception Caught!"
![RetopoFlow_screenshot](https://user-images.githubusercontent.com/40922389/60398369-46bdb600-9b14-11e9-98a0-42ecbeabda22.png)
Please tell us what you were trying to do, what you expected RetopoFlow to do, and what actually happened.Below are a few notes that will help us in fixing this problem.

- Provide as much information as you can so that we can reproduce the problem and fix it.
- Screenshot

[2019-06-30 18:36] TeoLions commented on #726
Any ETA on it? 2.8 seems to be getting a release in July, it would be so awesome to have Retopoflow by then!

[2019-07-01 14:35] Damolx commented on #726
Ok thanks for the responses, i'll wait.

[2019-07-02 10:59] genics commented on #726
can you tell us what is the time you plane to release the beta ver. I will so excited to test it.

[2019-07-02 23:29] byw commented on #448
Details:

- RetopoFlow: 2.0.2
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.17763, AMD64, Intel64 Family 6 Model 58 Stepping 9, GenuineIntel
- GPU: NVIDIA Corporation, GeForce GTX 680MX/PCIe/SSE2, 4.6.0 NVIDIA 391.01, 4.60 NVIDIA
- Target: verts:184, edges:289, faces:109
- Sources: number:1, verts:117531, edges:352587, faces:235058
- FPS: current:2.100151, threshold:5, time:10

[2019-07-03 19:41] edandy126 commented on #712
I have this same issue with retopoflow. I have searched and searched the internet for the solution until i found this here. Kindly pls guide me as i am inexperience with blender . Exactly, the same my retopoflow 2.0.3 cant see target. it shows as shown by @crux628. EVEN ON NEW MESH. imean on the default cube.

[2019-07-03 19:48] vxlcoder commented on #712
@edandy126, can you post a screenshot when trying to use RetopoFlow with the default cube? You might also try loading factory settings.

[2019-07-03 19:52] edandy126 commented on #712
yes please, thanks for the promt response
![retopo1](https://user-images.githubusercontent.com/52508854/60620981-7bf82b80-9dd4-11e9-9e54-adce3bc281bd.png)
![retopo2](https://user-images.githubusercontent.com/52508854/60620991-80244900-9dd4-11e9-8305-7145ddd806e8.png)

[2019-07-03 19:54] edandy126 commented on #712
It was very slow before but removing meta cap stabilised it BUT i still have this issue here

[2019-07-03 20:02] vxlcoder commented on #712
Did you try loading factory settings in Blender?

[2019-07-03 20:03] edandy126 commented on #712
I have reloaded factory setting several times. And sometimes it still bring out the issue of low FPS
![retopo3](https://user-images.githubusercontent.com/52508854/60621574-ecec1300-9dd5-11e9-83c9-ecca96b4910e.png)

[2019-07-03 20:04] edandy126 commented on #712
The above screen shot is after factory reset in blender

[2019-07-03 20:08] vxlcoder commented on #712
I'm not sure why it's not showing.

Can you post your machine's specs?  (ex: windows version, processor, ram, video card, video driver, etc.)

Also, did RetopoFlow ever work correctly for you, then suddenly not?  Or has it never worked?

[2019-07-03 20:15] edandy126 commented on #712
It has never worked. I really loved it
![retopo4](https://user-images.githubusercontent.com/52508854/60622189-97186a80-9dd7-11e9-87a0-36599bc36e31.png). I left if for some time, and it brought this back

[2019-07-03 20:22] edandy126 commented on #712
![retopo5_ mSystem info](https://user-images.githubusercontent.com/52508854/60622632-b06de680-9dd8-11e9-86d5-0dd55bc6cd1f.png)
My system Information

[2019-07-03 20:27] edandy126 commented on #712
![retopo5_ mSystem info png2 png](https://user-images.githubusercontent.com/52508854/60622917-54579200-9dd9-11e9-803d-3c88f3b4cdca.png)
Systeminfo2

[2019-07-03 20:30] vxlcoder commented on #712
Just curious, but does the latest build of Blender 2.80beta work OK on your machine?

[2019-07-03 20:32] edandy126 commented on #712
No

[2019-07-03 20:32] edandy126 commented on #712
I tried it once, it failed. have not tried it since

[2019-07-03 20:38] vxlcoder commented on #712
What does not work with b280?  Are there things missing visually, does it runs very slowly, does it crash, ...?

I'm wondering if your machine is a little too underpowered.  Both RF and the new Blender 2.80 are computationally heavier than just Blender 2.79.

[2019-07-03 20:59] edandy126 commented on #712
Thank you so much. The beta 2.8 when it was install was unsuccessful. it showed the below sreen shot.
![retopo error](https://user-images.githubusercontent.com/52508854/60624670-cdf17f00-9ddd-11e9-9d1c-c3cfaccca085.png)

[2019-07-09 02:15] DarthMoulByte opened #729 "Which version does it work?"
donate 86 dollars for something that does not work and that I will have to repair while asking questions I report errors and spend my time, the 86 dollars of blendermarket should give them to me for doing the full job

![blender_vR9DXvKZtf](https://user-images.githubusercontent.com/24207840/60854185-e50ce400-a1c4-11e9-9939-fb36acc1e3d2.png)
![blender_YhdYFqRNRB](https://user-images.githubuserconte

[2019-07-09 02:25] DarthMoulByte commented on #626
![image](https://user-images.githubusercontent.com/24207840/60854559-539e7180-a1c6-11e9-8207-70e3e253f095.png)

download the github zip
what difference is there, apart from paying $ 86 for something that according to the creator is already free and was announced in many places in blender communities?

download the github zip
what difference is there, apart from paying $ 86 for something that accor

[2019-07-09 02:39] DarthMoulByte opened #730 "How does this makefile file work, and how do you execute it?"
How does this makefile file work, and how do you execute it?
does this build the zip to install in blender?
![image](https://user-images.githubusercontent.com/24207840/60855284-b0029080-a1c8-11e9-82b7-a99b00dcd592.png)

[2019-07-09 15:03] carter2422 commented on #729
Hi @DarthMoulByte, it looks like you have two copies of retopoflow installed. Please first delete the `2.0.0` version from your add-ons folder and then restart Blender. At that time v2.0.2 should show up.

[2019-07-09 15:07] carter2422 commented on #626
@DarthMoulByte the Github version is the same code as is sold on Blender Market. The code is all GPL and provided for free. The difference is when you purchase a copy you help ensure continued development and we will provide user support for the tools.

Note, simply installing the download from Github will not work; GitHub packages the .zip differently than Blender requires. The purchased download

[2019-07-09 15:13] vxlcoder commented on #626
@DarthMoulByte, I am confused about what your question / issue is. Are you asking why should you pay for a program that has its source code available for free online? That is a question for another issue thread or the forums. But the short is this: we package RF in a nice zip that is easily installable in blender (that is what the makefile is for) and we offer customer support through blender mark

[2019-07-09 15:21] vxlcoder commented on #730
The makefile is a config file for GNU Make, a programming tool used to perform actions. This makefile does create a zip that blender can install... It is how we create zip files for BM. If you can get make installed on your machine, just run `make build` to create a zip file. Note: the makefile is tested to run on Linux and OSX, so if you're running Windows ymmv. We would be happy to accept a PR i

[2019-07-14 12:11] DarthMoulByte commented on #730
ok, just one question, I would need you to help me by answering some of the occasional questions outside of here and so I could do this task to contribute to guimp, I am not someone who spends it asking every 3 minutes, I only ask when I am without more options to create a solution, then if you help me in this way I can do it, doing it alone without knowing the necessary gimp in questions of code

[2019-07-15 23:51] AlainViesca commented on #710
Details:

- RetopoFlow: 2.0.3
- Blender: 2.79.7 blender2.7 2019-05-23
- Platform: Windows, 10, 10.0.18362, AMD64, Intel64 Family 6 Model 45 Stepping 7, GenuineIntel
- GPU: NVIDIA Corporation, Quadro M2000/PCIe/SSE2, 4.6.0 NVIDIA 431.02, 4.60 NVIDIA
- Target: verts:269370, edges:791524, faces:522033
- Sources: number:1, verts:6884, edges:17516, faces:10755
- FPS: current:0.046517, threshold:2, time

[2019-07-16 22:05] ensoreus commented on #710
Details:

- RetopoFlow: 2.0.3
- Blender: 2.79.0 master 2018-03-22
- Platform: Darwin, 18.6.0, Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64, x86_64, i386
- GPU: ATI Technologies Inc., AMD Radeon Pro 580 OpenGL Engine, 2.1 ATI-2.9.26, 1.20
- Target: verts:514568, edges:1537667, faces:1023078
- Sources: number:1, verts:1092, edges:3264, faces:2176
-

[2019-07-19 16:58] DarthMoulByte commented on #730
I will try, but I hope that my lack of experience in this field will be compensated by your occasional help when I get stuck in something that I do not know how to solve, surely I will be assisted or occasionally occasioned with my questions, I will be able to do it and I will gladly donate this I work in the community, since I have relived many joys of everything I have taken from GNU software, y

[2019-07-21 05:06] mynameisdido opened #731 "PolyStrips: Unhandled Exception Caught!"
Please tell us what you were trying to do, what you expected RetopoFlow to do, and what actually happened.
Provide as much information as you can so that we can reproduce the problem and fix it.
Screenshots and .blend files are very helpful.
Also, change the title of this bug report to something descriptive and helpful.
Thank you!

-------------------------------------

[code]

[2019-07-25 08:15] zaha commented on #490
With the expected release of Blender 2.8 today, is there a roadmap for RetopoFlow 2's update for Blender 2.8?

[2019-07-25 11:11] NazzarenoGiannelli commented on #490
This is the only addon I am missing and that keeps me opening 2.79 that I don't use anymore as main version. Please guys! Your addon is too good and too important to not get a 2.80 update!

[2019-07-29 17:42] heavydetail commented on #726
What type of help do you need to get this ready for 2.80?

I made it load in 2.8 by changing the requirements, and yes, it fails with numerous errors like:
`Caught exception while attempting to search for classes
  cls: RFTool: RFTool_Stretch, RFTool_Stretch, RFTool_Patches, RFTool_Strokes, RFTool_Loops, RFTool_PolyPen, RFTool_Relax, RFTool_Tweak, RFTool_Contours, RFTool_PolyStrips
  pyfile: tools

[2019-07-30 18:54] vxlcoder commented on #726
as @heavydetail has noted, making RF work for 2.80 requires some significant changes due to the reworking of blender python api (especially opengl), and these changes have taken longer than I had anticipated.  we are actively working on it, even though GitHub might not show, because the work is under the b280 branch along with the b280 branch of CookieCutter.  i'm hoping to have a working vertical

[2019-07-31 02:39] genics commented on #726
I don't know what is vertical slice. but it sounds good news.

[2019-07-31 13:12] MSCreationAndMore opened #732 "Twisted Contours"
Hello there :

i have issue with twisted contours ... why this happen

![Capture](https://user-images.githubusercontent.com/36688285/62214503-770fa300-b3a5-11e9-812c-11f9f800b8d0.JPG)

[2019-07-31 15:44] MSCreationAndMore commented on #732
i tested version 1.3.2 i have no issue but why all new versions have the same issue with me

[2019-07-31 15:59] vxlcoder commented on #732
All of the tools were rewritten from scratch to make use of the new RF (2.0) system.  This rewrite is unnoticeable for some tools, but the behavior has changed for others.  Unfortunately, Contours has a few new quirks that still need ironed out (this is one of them).  I plan to revisit each tool once I get RF working in Blender 2.80.

In the meantime, can you post a video of how you created that m

[2019-07-31 16:45] MSCreationAndMore commented on #732
thank you so much for quick respond and for this great tool, sure i would love to give you a feedback GIF,if you need video for better quality please inform me  .

version 1.3.2 "work great"

![01](https://user-images.githubusercontent.com/36688285/62230767-ca441e80-b3c2-11e9-92a2-ed042d32f6c5.gif)

version 2.0.3 "Twisted"

![02](https://user-images.githubusercontent.com/36688285/62231010-65d58f00

[2019-07-31 17:09] vxlcoder commented on #732
These will work great!

Note: the Strokes might be a great tool to use now.  From front view of chair, stroke along each peak and valley of the corrugation (similar to the beginning of the second GIF).  Once you have the front done, select one of the edges and stroke along the respective curved edge of seat, and then along the back.  Do same for other side.  Then you can use Patches tool to fill i

[2019-07-31 19:42] Papergami45 opened #733 "Addon won't start properly"
In 2.79 you'd find the addon in the tools section, but as that is kinda gone in 2.8 the only way I've found to start the addon is via opening edit mode, using Blender's search feature, and searching "retopoflow". This opens up some form of test window with a series of buttons, one says "Click on me, but don't double click", the others are alphabets, and a "reload" button. Pressing escape causes yo

[2019-07-31 21:51] vxlcoder commented on #733
@Papergami45, thanks for your willingness to test out RetopoFlow. An important note: the `b280` branch (for Blender 2.80) is still very much a work in progress, barely more than a proof of concept. So, it will not give you a sense of what RF can do. Soon, we will have it working, but not yet. My suggestion is to try out the `master` branch or `release/2.0.3`, which only work in Blender 2.79b. We w

[2019-07-31 21:56] tdw46 commented on #726
Oh sweet! I'm so excited for this plugin to be ready for 2.8! It's the last piece of the puzzle for me to migrate over!

[2019-08-05 01:31] genics commented on #726
any news? brother?

[2019-08-05 02:30] watpalders commented on #726
Stoked, CANT WAIT

[2019-08-08 19:26] Kawaxte opened #734 "'G' key not working for moving loops. Blender 2.79b"

[2019-08-16 17:51] norphie commented on #490
So, are there any news about 2.8 version?

[2019-08-16 18:29] helloimneil commented on #490
Can't wait to use the plugin for 2.8!

[2019-08-18 10:06] ZebiMedia opened #735 "Blender 2.8 doesn't want to install the addons"

[2019-08-18 10:11] ZebiMedia opened #736 "Blender 2.8"
The addons in not compatible with Blender 2.8 according to the user preference panel.
![Anteckning 2019-08-18 120949](https://user-images.githubusercontent.com/18197590/63223134-57ec8000-c1b1-11e9-8776-1ef275306486.jpg)

[2019-08-18 15:18] XhnPLayer commented on #710
Details:

- RetopoFlow: 2.0.3
- Blender: 2.79.0 master 2018-03-22
- Platform: Windows, 10, 10.0.17134, AMD64, Intel64 Family 6 Model 60 Stepping 3, GenuineIntel
- GPU: NVIDIA Corporation, GeForce GTX 960/PCIe/SSE2, 4.6.0 NVIDIA 431.60, 4.60 NVIDIA
- Target: verts:64, edges:96, faces:32
- Sources: number:1, verts:728, edges:2178, faces:1452
- FPS: current:0.054802, threshold:2, time:15

[2019-08-18 21:37] deock90 opened #737 "when will the addon for Blender 2.8 be ready ?"

[2019-08-19 02:14] taylrobe commented on #737
It'll probably be a while.  They decided to wait for Blender 2.80 to officially release before seriously starting on it.  They've had the b280 branch on Github for a while, but have not been updating it much. And that branch currently does not work in any form in Blender 2.80 right now (Even when you download and add in the addon_common folder separately).

[2019-08-19 09:58] TheCharacterhero commented on #735
Answer: https://github.com/CGCookie/retopoflow/issues/726#issuecomment-516548206
Follow us on Twitter: https://twitter.com/gfxcoder

[2019-08-19 09:58] TheCharacterhero commented on #737
Answer: https://github.com/CGCookie/retopoflow/issues/726#issuecomment-516548206
Follow us on Twitter: https://twitter.com/gfxcoder

[2019-08-19 09:58] TheCharacterhero commented on #736
Answer: https://github.com/CGCookie/retopoflow/issues/726#issuecomment-516548206
Follow us on Twitter: https://twitter.com/gfxcoder

[2019-08-19 13:11] jayanam opened #738 "Does not build on Windows"
The Retopoflow for Blender 2.8 does not run with cmake on windows os.

[2019-08-19 13:27] vxlcoder commented on #738
Thanks for the report.  RF does not need building to work on Blender. There is a makefile (make, not cmake), but that is needed only to create a Blender-friendly zip file for installing via preferences dialog. We are working on a 2.80-working version in the `b280` branch, but it is still pre-alpha.

[2019-08-19 13:41] jayanam commented on #738
Ok, but how to install it then? Extract the folder and paste it into the
scripts folder of Blender?

On Mon, Aug 19, 2019 at 3:27 PM Jon Denning <notifications@github.com>
wrote:

[2019-08-19 14:48] carter2422 commented on #726
@genics we are making very good progress! You can see some teasers posted on @vxlcoder's twitter: https://twitter.com/gfxcoder

P.S. I'm closing this issue as it's not a bug; the 2.8 version will be released just soon as we can and it will be emailed to all existing customers.

[2019-08-19 14:48] #726 closed

[2019-08-19 14:49] carter2422 commented on #735
Thanks for chiming in with a link to the answer @TheCharacterhero.

I'm closing this issue as it's not a bug; the 2.8 version will be released just soon as we can and it will be emailed to all existing customers.

[2019-08-19 14:49] #735 closed

[2019-08-19 14:50] carter2422 commented on #737
@deock90 we are _very_ actively working on the 2.8 version. I wish we could give an exact timeframe but it's proven to be a huge project due to the depth of changes in Blender 2.8.

We will send an email out to all RetopoFlow customers via Blender Market the moment it's ready.

[2019-08-19 14:50] #737 closed

[2019-08-19 14:51] carter2422 commented on #736
@ZebiMedia we are very actively working on the 2.8 version. I wish we could give an exact timeframe but it's proven to be a huge project due to the depth of changes in Blender 2.8.

We will send an email out to all RetopoFlow customers via Blender Market the moment it's ready.

[2019-08-19 14:51] #736 closed

[2019-08-19 14:52] carter2422 commented on #734
@Kawaxte please provide a bit more info.

1. Which version of RetopoFlow are you using?
2. Have you customized your hot-keys in Blender?
3. What operating system are you using?

[2019-08-19 14:54] carter2422 commented on #738
@jayanam we are very actively working on the 2.8 version but it is not ready yet and so the installer is not expected to work.

Once everything is ready for 2.8 then the make file will generate a blender-ready .zip that can be used to *Install from File*.

We will send an email out to all RetopoFlow customers via Blender Market the moment it's ready.

[2019-08-19 14:54] #738 closed

[2019-08-27 18:10] grapa2 commented on #710
Details:

- RetopoFlow: 2.0.3
- Blender: 2.79.0 master 2017-09-11
- Platform: Windows, 10, 10.0.17134, AMD64, Intel64 Family 6 Model 94 Stepping 3, GenuineIntel
- GPU: NVIDIA Corporation, GeForce GTX 980M/PCIe/SSE2, 4.6.0 NVIDIA 431.60, 4.60 NVIDIA
- Target: verts:69114, edges:207336, faces:138224
- Sources: number:1, verts:222, edges:558, faces:336
- FPS: current:0.008616, threshold:2, time:15

[2019-08-29 23:05] fiddybux commented on #490
Same here. RTF is the only reason I go back into 2.79! Aitolda, and so did everyone else. 💯

[2019-09-07 18:41] GalaxisN7 opened #740 "retopoflow b280 doesnt start when i try to enable it :("
![image](https://user-images.githubusercontent.com/55031797/64478904-25ceac80-d1b8-11e9-83f0-3ae6f1116185.png)

[2019-09-07 20:15] vxlcoder commented on #740
Thanks for the report, @GalaxisN7.

The `b280` branch for Blender 2.80 is still under heavy development, so RF might not enable correctly until the changes stabilize.

Did you clone the repo directly into the `addons` folder?  Blender tends to not like this, because the default root folder name from git is not Python friendly.

[2019-09-08 22:13] taylrobe commented on #740
You have to download "addon_common" separately and merge it in.  It's not included when you get the b280 branch.

[2019-09-11 09:43] Elowan commented on #490
hmmm, still nothing to announce?

#feelsbadman ;)

come on guys, do it !

[2019-09-11 10:29] fiddybux commented on #490
There is always BSurfaces which is a built in retopo add-on.

On Wed, 11 Sep 2019, 10:43 Karsten, <notifications@github.com> wrote:

[2019-09-11 12:04] carter2422 commented on #490
Thanks for bearing with us everyone! The 2.8 version is still in progress; it’s taken an immense amount of work to rewrite a large part of the codebase for the new API.

[2019-09-11 12:06] fiddybux commented on #490
Thanks for the update!

On Wed, 11 Sep 2019, 13:04 Jonathan Williamson, <notifications@github.com>
wrote:

[2019-09-14 16:07] Vytek commented on #740
I would like to buy this plugin if it was for Blernder 2.80. Tell me how to help  ;-)

[2019-09-15 20:13] GalaxisN7 commented on #740
I did it, but when i add utils.py file, Blender is freezing.

[2019-09-15 20:47] vxlcoder commented on #740
@GalaxisN7, did you follow the instructions at the bottom of the `readme.md` under `b280` branch?
see: https://github.com/CGCookie/retopoflow/tree/b280

It's difficult to determine what isn't working for you without knowing what you did.  please provide more details.

[2019-09-15 21:35] #740 closed

[2019-09-15 21:36] GalaxisN7 commented on #740
Now it's working !!! Thank you a lot !!!

[2019-09-16 06:48] amryounis opened #741 "Contours: Unhandled Exception Caught!"
in a new document, added monkey, applied a subd to have total faces of 31,616

added a couple of contours around its chin

when selecting more than one contour via ctrl+shift+rmb, then hitting "S" for shifting, this error pops up

-------------------------------------

[code]

[2019-09-16 12:25] vxlcoder commented on #741
Thanks for the report, @amryounis.

It looks like you are using an older version of RF (2.0.2).  Try updating to the latest version (2.0.3) and try again.

Let us know if that fixes the problem or if you continue to run into this bug.

[2019-09-20 19:44] peregrine22 opened #743 "RetopoFlow broke while regestering"
[BUG]

This error occurred during installation.
![Screenshot_1](https://user-images.githubusercontent.com/12785343/65354397-1d369700-dbf8-11e9-807b-e42addaec404.jpg)

COULD NOT IMPORT RETOPOFLOW MODULES

Environment:
- RetopoFlow: 2.0.3
- Blender: 2.79.0 master 2017-09-11
- Platform: Windows, 10, 10.0.18362, AMD64, AMD64 Family 23 Model 8 Stepping 2, AuthenticAMD
- GPU: ATI Technologies Inc., AMD

[2019-09-20 20:23] vxlcoder commented on #743
Thanks for the report, @peregrine22.

Can you try starting Blender from console (or Window > Toggle System Console) and copy-paste everything that is printed to the console here?  There should be some more information there that can help debug this problem.

Thanks!

[2019-09-21 07:14] peregrine22 commented on #743
It pretty much says the same thing.

At the beginning there's a bit of a new info:
RetopoFlow version has changed.  Reseting options
ERROR WHILE COMPILING SHADER brushStrokeShader
    Vertex shader failed to compile with the following errors:
    ERROR: error(#271) Explicit version number 120 not supported by GL3 forward compatible context
    ERROR: error(#273) 1 compilation errors.  No code gene

[2019-09-25 02:27] leecreat opened #744 "How to double Retopoflow"
I did sculpt and made obgect use retopoflow.
I wanna do retopoflow again on retopoflow obect.
So I try to double retopoflow. But when I try double retopoflow, retopoflow tool box light is turn off. It means cannot use... how can I do double retopoflow???

[2019-09-25 04:36] vxlcoder commented on #744
When in object mode, whatever is selected and active is considered the target, and everything else is source.  So, if you want to retopo a retopo'd mesh, simply unselect it, and start RF.

Alternatively, create a new mesh, enter edit mode, and then start RF.  The edited object is the target.

Note, this only works in version 2.0.3.

[2019-10-05 00:45] Ramalium opened #745 "retapoflow will it available on 2.80 and why does not working or why not avaliable in 2.79 after i want to try in my computer"
hi iam from over sea i hope my english word is can be understand?

could you please give me good news for available if retapoflow available in 2.80 reason after i instal 2.79 i dont rely familiar even after i instal the system in 2.79 is not working help.

i want to purchase  for 2.80 could you let me know thru my email if available on the market, how ever when i was disappoint its only for 2.79 w

[2019-10-05 10:47] vxlcoder commented on #745
Hi, @Ramalium.

We are working on RetopoFlow for Blender 2.80, but it is not ready, yet.  Soon it will be.

If you want to try RetopoFlow, you will need to use Blender 2.79.

We will say when it is ready on the Blender Market https://blendermarket.com/products/retopoflow.

I hope you can understand my reply.  Tell me if you have more questions.

Thank you.

[2019-10-05 19:35] #745 closed

[2019-11-06 11:35] vxlcoder opened #746 "2.8x Release"
The following are the remaining items holding back a release for Blender 2.8x.

- [x] Patches
- [x] allow several tools use same widget: workaround with duplicated widgets---bad!
- [x] welcome message (anyone)
- [x] help system (longer, @vxlcoder)
- [x] help messages (anyone)
- [x] update all shaders to 3.3 core: I believe this is done, but need to test on OSX!
- [x] UI scrolling (@vxlcoder)
- [x]

[2019-11-07 15:53] sundogdaze opened #747 "Weird color overlay on Macbook Pro"
Weird color issue on Macbook Pro 2011
Using Blender 2.79
Retopoflow version 2.0.3
HELPPPP!!!
![Screen Shot 2019-11-07 at 10 49 21 AM](https://user-images.githubusercontent.com/57198008/68404369-6f9e2980-014c-11ea-9a3c-d7653f13ca1f.png)

[2019-11-08 15:58] vxlcoder commented on #747
Thanks for the report, @sundogdaze!

I believe this is a similar issue to #576 and #673, which is sadly an ongoing issue.

However!  I believe that this issue will be resolved in the RetopoFlow updates for Blender 2.8x, which will be released very soon.  (See #746)  There are still a few issues to work out of the new RF for OSX, and I'm going to take a look at them this weekend.  If you're willing

[2019-11-08 16:04] sundogdaze commented on #747
Jon Denning,

Thank you so much for reaching out!
Unfortunately I am un able to use Blender 2.8 on my version of
MacBook Pro.. so I won’t be able to use the fixed version of Retopoflow on
my computer.
If there is any chance of there being a bug fix for Blender 2.79 please let
me know!

Thanks,
Brendan

On Fri, Nov 8, 2019 at 10:58 AM Jon Denning <notifications@github.com>
wrote:

[2019-11-10 09:00] RealMango commented on #740
What did you exactly do? I don't have a coding background so I'm pretty lost.

Is this what has to be done?

[2019-11-10 20:09] vxlcoder commented on #740
@RealMango, the instructions at the bottom of the readme (https://github.com/CGCookie/retopoflow/blob/b280/README.md) walk you through getting RF using git.  We will package an addon .zip ready for install once RF is fully ready for Blender 2.8x.  Keep an eye on issue #746!

[2019-11-10 20:22] vxlcoder commented on #740
sorry, @RealMango. For some reason, the second part of your question didn't show up on GH, but yes.  the first set of commands are git commands for cloning the `b280` branch of the RetopoFlow repository, and the second set are for pulling down new updates.

[2019-11-13 17:27] sabbiroz opened #748 "can't use retopo flow"
![Capture](https://user-images.githubusercontent.com/34922213/68788186-23337c00-066d-11ea-8cc1-ef5d9cb965d4.JPG)
![Capture1](https://user-images.githubusercontent.com/34922213/68788191-23cc1280-066d-11ea-8863-a2264897b59d.JPG)

[2019-11-13 19:22] vxlcoder commented on #748
Thanks for the report, @sabbiroz.  We are currently working on getting RF working in Blender 2.8x, and we're nearly ready to release it.  Keep an eye on issue #746!

[2019-11-20 22:10] Diochris commented on #746
How can i have retopoflow for test?

[2019-11-21 15:02] #748 closed

[2019-11-21 15:04] carter2422 commented on #747
@sundogdaze that's unfortunate to hear. I'm afraid we've never been able to replicate or track down the cause of this display problem and so a bug fix is very unlikely.

Closing as duplicate of #576

[2019-11-21 15:04] #747 closed

[2019-11-21 15:06] carter2422 commented on #743
Hey @peregrine22 apologies for the late reply on this. I'm closing this issue simply because RetopoFlow has been completely reworked for Blender 2.80 and so this issue should no longer be relevant.

We will be releasing a beta for 2.8 anytime now; if the issue is still present then we can log a new issue.

[2019-11-21 15:06] #743 closed

[2019-11-21 15:07] carter2422 commented on #741
Closing for inactivity and no longer relevant with the 2.8 branch.

[2019-11-21 15:07] #741 closed

[2019-11-21 15:07] #734 closed

[2019-11-21 15:07] #733 closed

[2019-11-21 15:08] #732 closed

[2019-11-21 15:09] carter2422 commented on #731
@mynameisdido apologies for not replying to this earlier and thank you for the report. This issue should no longer be relevant due to most everything being re-written for Blender 2.8.

We are releasing a beta anytime now. If you see new issues once that is released then please let us know.

[2019-11-21 15:09] #731 closed

[2019-11-21 15:09] #730 closed

[2019-11-21 15:09] carter2422 commented on #729
Closing for inactivity. If you're still having issues @DarthMoulByte please reach out via your Inbox on Blender Market: https://blendermarket.com/inbox

[2019-11-21 15:09] #729 closed

[2019-11-21 15:10] #744 closed

[2019-11-21 15:11] carter2422 commented on #723
@Stotch228 apologies for missing this. Snapping like this can be fine-tuned with the Clip Start/End settings while RetopoFlow is running. Additionally you can enable *Cull Backfaces* to further help.

[2019-11-21 15:11] #723 closed

[2019-11-21 15:12] carter2422 commented on #728
@Rcott apologies for missing your report before and thanks for reporting it. This issue should no longer be present in the Blender 2.80 branch, which we are working on getting ready for beta anytime now.

If it happens again once the 2.8 version is released please let us know!

[2019-11-21 15:12] #728 closed

[2019-11-21 15:13] carter2422 commented on #727
Thanks for the suggestion @solosails. Working with different types of units in Blender is quite tricky.

That being said, the upcoming Blender 2.8 version of RetopoFlow has full decimal support in numeric inputs 👍

[2019-11-21 15:13] #727 closed

[2019-11-21 15:14] #720 closed

[2019-11-21 15:17] carter2422 commented on #712
@edandy126 thanks for your patience. The last screenshot appears to be an issue with the 2.8 build you were running.

Please try using the official Blender 2.80 or 2.81 install.

We are aiming to have a beta of RetopoFlow for 2.8 anytime now, at which point I'd ask you to try again.

In the meantime I'm closing this issue so that we can stay focused on 2.8 issues.

[2019-11-21 15:17] #712 closed

[2019-11-21 15:18] carter2422 commented on #717
Hey @skyebasta, apologies for missing this. This issues is a duplicate of #576 and it's one that've so far been unable to track down or replicate.

Closing as duplicate.

[2019-11-21 15:18] #717 closed

[2019-11-21 15:22] #715 closed

[2019-11-21 15:26] carter2422 commented on #721
@Qwertyzax thanks for the report. This issue has been solved in the Blender 2.8 branch, which should be ready for beta testing soon.

[2019-11-21 15:26] #721 closed

[2019-11-21 15:28] carter2422 commented on #713
Closed for inactivity.

[2019-11-21 15:28] #713 closed

[2019-11-21 15:38] solosails commented on #727
Thanks!

[2019-11-21 16:43] grimakaka commented on #746
Hello! I install the version for 2.8 and when I try to enable it I get the following message.
![2019-11-21 (3)](https://user-images.githubusercontent.com/50794359/69357956-1deeb680-0c97-11ea-97a9-78a0a5e45004.png)
![2019-11-21 (4)](https://user-images.githubusercontent.com/50794359/69357971-247d2e00-0c97-11ea-8c2e-7beded6386b1.png)

[2019-11-21 17:02] vxlcoder commented on #746
@Diochris and @grimakaka, there are instructions on the readme (https://github.com/CGCookie/retopoflow/blob/b280/README.md).  We are working to get an install-able zip ready over the next few days.

[2019-11-21 17:14] #716 closed

[2019-11-21 17:14] carter2422 commented on #716
Thanks for the followup @longearsdesign! We're aiming to have our RetopoFlow for 2.8 beta out anytime now. Stay tuned!

[2019-11-21 17:15] carter2422 commented on #710
Given the extensive changes to RetopoFlow in Blender 2.8 I'm closing this issue to try and keep everything relevant. Should the issue persist in 2.8 upon release (any time now) then we will start a new issue.

[2019-11-21 17:15] #710 closed

[2019-11-21 17:16] carter2422 commented on #701
Closing for inactivity.

[2019-11-21 17:16] #701 closed

[2019-11-21 17:16] carter2422 commented on #697
Given the extensive changes in the upcoming Blender 2.8 version of RetopoFlow I'm assuming this issue will no longer be relevant and thus closing the issue. If it occurs in 2.8 then of course we can re-investigate.

[2019-11-21 17:16] #697 closed

[2019-11-21 17:17] carter2422 commented on #696
Does this still apply in `b280` branch @vxlcoder?

[2019-11-21 17:17] carter2422 commented on #692
Closing for inactivity.

[2019-11-21 17:17] #692 closed

[2019-11-21 17:17] carter2422 commented on #691
Closing for inactivity.

[2019-11-21 17:17] #691 closed

[2019-11-21 17:18] carter2422 commented on #689
@vxlcoder given 2.8 should this still be tested and merged for a point release?

[2019-11-21 17:19] carter2422 commented on #685
@vxlcoder do you know if this unit scale issue is still a problem in Blender 2.8?

[2019-11-21 17:19] #684 closed

[2019-11-21 17:20] #682 closed

[2019-11-21 17:21] carter2422 commented on #681
I'm closing this in favor of #568. We've always wanted to have native selection support, such that RetopoFlow directly follows the Blender config.

Doing our best to make it happen!

[2019-11-21 17:21] #681 closed

[2019-11-21 17:21] #680 closed

[2019-11-21 17:23] carter2422 commented on #678
I'm finally looping back around to this issue (thanks for your patience!). It's my understanding @SavMartin that you're only experience problems when in orthographic mode. Is that correct?

[2019-11-21 17:24] carter2422 commented on #677
I'm closing this since there's no real bug here, merely a lackluster method of displaying the mesh offset.

[2019-11-21 17:24] #677 closed

[2019-11-21 17:25] carter2422 commented on #665
Unless I'm mistaken we can now close this @vxlcoder ?

[2019-11-21 17:26] carter2422 commented on #657
Closing for inactivity. If you see this happen again once our Blender 2.8 version is release then please let us know!

[2019-11-21 17:26] #657 closed

[2019-11-21 17:26] carter2422 commented on #643
Closing for inactivity.

[2019-11-21 17:26] #643 closed

[2019-11-21 17:27] carter2422 commented on #620
Closed for inactivity.

[2019-11-21 17:27] #620 closed

[2019-11-21 17:28] carter2422 commented on #628
Hey @miecz; apologies for never following up on this but the Rotate Around Selection functionality was added a while back!

[2019-11-21 17:28] #628 closed

[2019-11-21 17:31] carter2422 commented on #647
Closed for inactivity.

[2019-11-21 17:31] #647 closed

[2019-11-21 17:35] #652 closed

[2019-11-21 17:35] carter2422 commented on #642
Closed for inactivity.

[2019-11-21 17:35] #642 closed

[2019-11-21 17:36] carter2422 commented on #650
Closed for inactivity.

[2019-11-21 17:36] #650 closed

[2019-11-21 17:36] carter2422 commented on #94
Let's ignore this for now. It's a niche case and doesn't come up too often.

[2019-11-21 17:36] #94 closed

[2019-11-21 17:37] carter2422 commented on #589
Closed for inactivity.

[2019-11-21 17:37] #589 closed

[2019-11-21 17:37] carter2422 commented on #706
Closed for inactivity.

[2019-11-21 17:37] #706 closed

[2019-11-21 17:38] carter2422 commented on #621
@vxlcoder let's look into this and ensure it's no longer present in `b280` please.

[2019-11-21 17:38] carter2422 commented on #623
Let's review this in `b280` please @vxlcoder

[2019-11-21 17:39] carter2422 commented on #626
Closed for inactivity.

[2019-11-21 17:39] #626 closed

[2019-11-21 17:39] carter2422 commented on #627
Please review for `b280` @vxlcoder

[2019-11-21 17:41] carter2422 commented on #610
Closing for inactivity.

[2019-11-21 17:41] #610 closed

[2019-11-21 17:41] carter2422 commented on #608
Closing for inactivity.

[2019-11-21 17:41] #608 closed

[2019-11-21 17:42] carter2422 commented on #607
@BarbBMe we're finally getting around to this. Could you possibly elaborate how you triggered the error?

[2019-11-21 17:43] #192 closed

[2019-11-21 17:43] #221 closed

[2019-11-21 17:43] #262 closed

[2019-11-21 17:43] #335 closed

[2019-11-21 17:43] #346 closed

[2019-11-21 17:43] #358 closed

[2019-11-21 17:44] carter2422 commented on #365
I'm closing this for inactivity. If it happens again please re-open.

[2019-11-21 17:44] #365 closed

[2019-11-21 17:44] carter2422 commented on #373
@vxlcoder I believe we can probably close this since the `b280` rewrite?

[2019-11-21 17:45] carter2422 commented on #366
Closing for inactivity. The Blender 2.8 RetopoFlow beta will be coming out anytime now. If performance is still an issue then please let us know at that time.

[2019-11-21 17:45] #366 closed

[2019-11-21 17:46] #376 closed

[2019-11-21 17:47] #383 closed

[2019-11-21 17:47] carter2422 commented on #407
Has this been resolved with all the 2.8 UI work @vxlcoder ?

[2019-11-21 17:48] carter2422 commented on #411
Did you still want to tackle this @vxlcoder? I'm not opposed to it but I feel it may also lead to unnecessary UI bloat.

[2019-11-21 17:48] carter2422 commented on #391
I believe we can close this @vxlcoder ?

[2019-11-21 17:52] carter2422 commented on #402
This is fixed in the `b280` branch!

[2019-11-21 17:52] #402 closed

[2019-11-21 17:53] carter2422 commented on #451
No other reports of this in well over a year. Closing.

[2019-11-21 17:53] #451 closed

[2019-11-23 02:57] carter2422 opened #749 "Moving a pop up window causes it to snap upwards, hiding the movement handles"
If you attempt to move a pop up window that is larger than the available viewport then it snaps the window upwards, hiding the top handle. This results in the inability to further move the window.

Screen recording: https://share.getcloudapp.com/GGu0D8Ky

[2019-11-23 02:58] carter2422 opened #750 "Clicking 'Welcome' opens a new window each time, resulting in duplicates"
If you click `Welcome` then it opens a pop up window (as it should), but clicking it again opens a second window, then a third, etc.

Screen recording: https://share.getcloudapp.com/GGu0D8Ky

[2019-11-23 03:00] carter2422 opened #751 "Options panel doesn't auto-adapt width"
The Options panel does not seem to adapt it's width (or content wrap) to fit. Rather it slides behind the viewport border.

Screen recording: https://share.getcloudapp.com/Apuy5nDb

[2019-11-23 03:02] carter2422 commented on #751
For this one I'd prefer we use a fixed-width and wrap the content as needed.

In this specific case it actually seems to be the decimal accuracy (20 digits!) on Symmetry `Threshold` that's causing the wide width.

[2019-11-23 15:05] vxlcoder opened #752 "New UI does not work with Retina Display or with UI scaling != 1.0"
related issues: #751, #749

[2019-11-23 18:41] vxlcoder commented on #750
fixed in commit c747ed6

[2019-11-23 18:41] #750 closed

[2019-11-25 12:10] NazzarenoGiannelli commented on #746
Same error as the guy above. I am probably missing something, but in the Readme file I do not see any instruction about it.

[2019-11-25 12:21] vxlcoder commented on #746
sorry, the instructions are at the very bottom of the readme, in a not-very-obvious spot.  will work on that.  i've copy-pasted them below.

[code]

if you are not using git, you can download the zip of RF from https://github.com/CGCookie/addon_common/archive/b280.zip, but then you'll need to download and extract this zip https://github.com/CGCookie/addon_common/archive/b280.zip into the `addon_co

[2019-11-25 12:55] NazzarenoGiannelli commented on #746
Awesome! Thx! Now I got it working :)
It's so nice to finally have it on 2.8x! It was the only reason I was still keeping a 2.79 version installed
Thanks for the incredible work

[2019-11-25 16:33] Diochris commented on #746
why i cant figure out how its done? anyone can explain please?

[2019-11-25 17:36] NazzarenoGiannelli commented on #746
What worked for me:
- go here https://github.com/CGCookie/retopoflow/tree/b280 and download the zip via the Clone or download button.
- extract it
- then download this  https://github.com/CGCookie/addon_common/archive/b280.zip
- copy the content of the last zip into the addon_common
- zip again the whole retopoflow folder (first download)
- install the newly zipped file via addon tab in Blender 2.

[2019-11-25 17:47] Diochris commented on #746
Yes everything seems fine now! thx so much! testing time!

[2019-11-25 18:13] Diochris commented on #746
Nop it doesnt works unfortuanately,blender stucks and crashes! can you share your zip file?

[2019-11-25 21:52] NazzarenoGiannelli commented on #746
Sure! [https://drive.google.com/open?id=131FM2OEnzzBabOC5yT4mN6vsA6s8fg1X](url)
Tested on two different Windows 10 machines with 2.81. No issues.

[2019-11-25 23:31] Diochris commented on #746
Thanks man,i dont know what i was doing wrong..your zip file played like charm..
Ofc some features missing but its still alpha,i am bery happy to see to RF on blende 2.8x again!

[2019-11-26 01:02] NazzarenoGiannelli commented on #746
Actually what I did was to follow the above git commands for cloning the repo and the submodule and then I copied the addon_common files in the appropriate folder. Probably cloning via git in that way did something different than just downloading the zip file from the GitHub page and in this way everything went to the right place.

[2019-11-26 14:42] carter2422 commented on #746
Thanks for helping to test @NazzarenoGiannelli and @Diochris! If you run into any errors please report them here by opening a new issue: https://github.com/CGCookie/retopoflow/issues/new

We're working to get a beta ready today and tomorrow and so all error reports are welcome.

Once we're ready for beta we will package up a `.zip` that can simply be installed like any other add-on.

[2019-11-26 17:09] linosia97 opened #753 "Some weirdness on Mac OS Catalina **[BUG]**"
**My familiarity with the project is as follows (check one):**
- [ ] I just started using this project.

**Retopoflow Version:** 3.0.0α

**Blender Version (Hash):** 2.81.16 master 2019-11-20

**Platform:** Mac OS Catalina 10.15.1

**Hardvare** MacBook Air 2017 I5 5350U, Intel HD 6000

**Issue:**
Weird graphical glitches, crashes when opened in full-app window (like a separate desktop).

{screensho

[2019-11-26 17:09] linosia97 commented on #753
Environment:

- RetopoFlow: 3.0.0α
- Blender: 2.81.16 master 2019-11-20
- Platform: Darwin, 19.0.0, Darwin Kernel Version 19.0.0: Thu Oct 17 16:17:15 PDT 2019; root:xnu-6153.41.3~29/RELEASE_X86_64, x86_64, i386
- GPU: Intel Inc., Intel(R) HD Graphics 6000, 4.1 INTEL-14.2.16, 4.10
- Timestamp: 2019-11-26 19:01:41.274281
- Undo:

Error Hash: 6dda22a701aa352d035a9ca96c179158

Trace:

- EXCEPTION (<cl

[2019-11-26 17:10] linosia97 commented on #753
Also, it's quite slow to use it...

[2019-11-26 18:39] vxlcoder commented on #753
Thanks for the report, @linosia97.

The actual exception should be an easy fix... will work on that ASAP.

As for the visual artifacts... I have never seen this before, and I have no idea what could be causing it.  Very strange!

Does it always look like that, or does it start looking like that after doing something?

Does it flicker, especially when you rotate the view around (MMB drag)?  Any cha

[2019-11-27 17:12] Diochris opened #754 "So far some orthographic cameras doesnt work!"
Please prefix your issue with one of the following: **[BUG]** **[PROPOSAL]** **[QUESTION]**.

**Is your issue in regard to RetopoFlow on Blender 2.8?:**

If so, please refrain from posting. We understand you are excited for the 2.8 version of Retopoflow but the time spent replying to these issues could be better spent towards 2.8 development. Check the [closed issues](https://github.com/CGCookie/r

[2019-11-27 17:16] vxlcoder commented on #754
hi, @Diochris.

I'm not sure what you mean by "So far some orthographic cameras doesnt work!".  I can switch to orthographic view, and all the tools appear to work just fine.

Can you please provide more details, such as screenshots, what you're doing, what you'd expect RF to do, what RF is actually doing, etc.?

Thank you

[2019-11-27 17:20] Diochris commented on #754
I am sorry Jon, on my edition numlock 1,3,7 and 9 doesnt work!
Its bottom orthografic camera,right,top and front.But user perspective works fine.I hope it helps..
I am gonna do some more tests in the week,i will let you know!

[2019-11-27 17:31] vxlcoder commented on #754
ah!  yeah... will look into that.  Thank you for catching it!

[2019-11-27 17:35] vxlcoder commented on #754
should be fixed now!

[2019-11-27 18:43] vxlcoder opened #755 "PS: disallow to change strip cut count of strip to 1 on island strips"
note: this should be allowed when one of the end quads is a junction, such as the examples below.

![image](https://user-images.githubusercontent.com/3790699/69750796-a055fb00-111b-11ea-9a62-cc92de4ea023.png)

![image](https://user-images.githubusercontent.com/3790699/69750811-aba92680-111b-11ea-9683-176c15915942.png)

![image](https://user-images.githubusercontent.com/3790699/69750835-bc599c80-11

[2019-11-28 01:45] vxlcoder commented on #752
fixed!

[2019-11-28 01:45] #752 closed

[2019-11-28 01:46] vxlcoder commented on #751
that was an issue with retina/ui scaling.  this should be fixed now!

[2019-11-28 01:46] vxlcoder commented on #749
this was due to retina/ui scaling.  it should be fixed now!

[2019-11-28 02:22] vxlcoder opened #756 "MacBook trackpad unable to scroll UI content"

[2019-11-28 02:24] vxlcoder opened #757 "Use Blender's LMB/RMB-select choice!"
Right now, RF still uses only RMB to select with LMB for actions.

[2019-11-28 02:26] vxlcoder opened #758 "UI needs more obvious viz to show it can be scrolled"
Right now, there is no indicator that there is more content, and that the user needs to scroll to see it.

Options:

- bring back the fadings to indicate more content
- add a scrollbar

[2019-11-28 02:28] carter2422 commented on #751
I think this is still an issue. Or perhaps it's a separate root cause, but my Options panel always starts underneath the viewport and only adjusts if I move it.
<img width="276" alt="Screen Shot 2019-11-27 at 8 27 51 PM" src="https://user-images.githubusercontent.com/1648631/69772055-7b31ae80-1154-11ea-9994-8c0981ddd952.png">

[2019-11-28 02:29] #749 closed

[2019-11-28 14:26] linosia97 commented on #753
Sorry for late reply! Will upload video in 10-15min

[2019-11-28 14:33] vxlcoder commented on #753
That video will be super helpful, thanks! I might also have you try out a
few other things, too.

The original issue (unable to open the backup file) should now be fixed.
Please let me know if you continue to have issues after you update.

On Thu, Nov 28, 2019, 09:26 linosia97 <notifications@github.com> wrote:

[2019-11-28 14:35] linosia97 commented on #753
https://www.youtube.com/watch?v=p_UbqHmU2A8&feature=youtu.be
Here is the video

[2019-11-28 14:35] linosia97 commented on #753
I should comment that I DID NOT cloned it through GitHub like I should

[2019-11-28 14:38] vxlcoder commented on #753
Oh! I think I might know the problem... one sec

[2019-11-28 14:39] vxlcoder commented on #753
what are your `clip start` and `clip end` set to?

![image](https://user-images.githubusercontent.com/3790699/69814778-f2059080-11c2-11ea-8e18-3dcdcafc3d10.png)

[2019-11-28 14:40] linosia97 commented on #753
Yes)

[2019-11-28 14:42] vxlcoder commented on #753
sorry. what number is in for the clip start and for clip end?  is it same as mine (0.5m and 5000m)?

[2019-11-28 14:43] linosia97 commented on #753
Yes

[2019-11-28 14:43] linosia97 commented on #753
![Screenshot 2019-11-28 at 16 43 15](https://user-images.githubusercontent.com/49729502/69815061-319d9e00-11fe-11ea-96ae-fe25ee2db052.png)

[2019-11-28 14:44] vxlcoder opened #759 "UI: darken region should be textured, not just darkened"
rather than just darkening non view3d regions, use a light texture (dither) to show it is disabled.

[2019-11-28 14:45] vxlcoder opened #760 "UI: change cursor if on the mirrored side of source mesh"
to better show that cursor is on the "wrong side" of the model, change the cursor to disabled (ex)

[2019-11-28 14:47] vxlcoder commented on #753
hmmm. ok.  new idea... i'm wondering if it's a problem with the position/resolution in the shader.  will take a look.

thank you for helping me debug this!

[2019-11-28 14:48] linosia97 commented on #753
Also, for some reason Blender with retopoflow in background consumes A LOT of CPU power.
Also, after entering and exiting retopoflow scale of default cube becomes 5 instead of 1 as it should remain...

[2019-11-28 14:48] linosia97 commented on #753
![Screenshot 2019-11-28 at 16 46 45](https://user-images.githubusercontent.com/49729502/69815404-ea63dd00-11fe-11ea-9b78-5ea8dc6058af.png)
![Screenshot 2019-11-28 at 16 46 18](https://user-images.githubusercontent.com/49729502/69815405-ea63dd00-11fe-11ea-9938-9f5ad79ab32b.png)

[2019-11-28 14:50] linosia97 commented on #753
Well, with CPU power seems just some glitch...

But scaling is changing from 1 to 5, which isn't normal I think...

[2019-11-28 14:53] linosia97 commented on #753
Also, does tools should work now or they will be working later? (I am a newbie and don't know how to use it at all)
And when to expect .zip-ready download from GitHub?

[2019-11-28 14:59] vxlcoder commented on #753
all the source and target meshes are scaled to certain size so that all of the rendering settings work properly.  i'm still working on this, but you shouldn't even notice once it is done (RF will put everything back to how it was).

CPU usage may jump a bit when you start or end RF or when you move the mouse around.  But this shouldn't be significantly more than normal use.  if you can reproduce i

[2019-11-28 15:01] linosia97 commented on #753
Ok, thank you for your hard work ;)

[2019-11-28 15:04] vxlcoder commented on #753
I'm going to have you try something... I don't think this will fix it, but let's try anyways.

Can you open a file in a text editor.  The file is located in `your_blender_path/2.81/scripts/addons/RetopoFlow/addon_common/common/shaders/ui_element.glsl`.  Open the file, and then remove the second line, which should be `uniform vec2 screen_size;`, save, then run Blender.

OSX has always been _very_ p

[2019-11-28 15:08] linosia97 commented on #753
Tried, but nope -- same issue

[2019-11-28 15:12] vxlcoder commented on #753
ok. i have one other test.  again, i don't think this will work, but just a test

remove current RF version, download and install this one https://www.dropbox.com/s/sjklq70oyvf5h25/RetopoFlow_v3.00.0.zip?dl=0

[2019-11-28 15:15] linosia97 commented on #753
Again, same issue...

[2019-11-28 15:24] vxlcoder commented on #753
ok, let's try one more thing... (again, thank you for helping debug this!)

open `RetopoFlow/addon_common/common/drawing.py`

starting line 401, add the `print(last_m)` line as in the following:

[code]

note: there are 16 spaces on the left side of the `print`

[2019-11-28 15:25] vxlcoder commented on #753
also, in the zip I gave you, does the original uncaught exception issue show back up?

[2019-11-28 15:27] vxlcoder commented on #753
oh, forgot to mention this... can you run Blender from the terminal, because this will print details to your terminal that you'll need to copy here.  if you don't know how, let me know, and we'll try something different

[2019-11-28 15:33] linosia97 commented on #753
It's gone.

[2019-11-28 15:34] linosia97 commented on #753
![Screenshot 2019-11-28 at 17 31 59](https://user-images.githubusercontent.com/49729502/69818366-4598ce00-1205-11ea-8091-35392e4fba5c.png)
Why this arrows flickers when I do something? (like rotating object in viewport...)

[2019-11-28 15:36] linosia97 commented on #753
Nope, same issue

[2019-11-28 15:37] linosia97 commented on #753
Can you give me a command that I should write in terminal? (I know just one for opening new window: open -na Blender)

[2019-11-28 15:38] vxlcoder commented on #753
"it's gone" great!

"flicker" unfortunately, that's a blender issue.  i'll need to talk to the devs about it.

"same issue" do you know how to run Blender from the terminal?  (this is for older blender, but should still work: https://blenderartists.org/t/start-blender-2-57-from-mac-os-x-terminal-with-python-output/508418)  you'll need to run Blender from terminal, because RF will print useful debu

[2019-11-28 15:47] vxlcoder opened #761 "Quick Start needs to return!"

[2019-11-28 16:01] linosia97 commented on #753
[retopoflowBlenderFromTerminal.docx](https://github.com/CGCookie/retopoflow/files/3902418/retopoflowBlenderFromTerminal.docx)

[2019-11-28 16:01] linosia97 commented on #753
This is all I got from terminal...

[2019-11-28 16:05] linosia97 commented on #753
the beginning of it:

Last login: Thu Nov 28 17:29:03 on ttys000

The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://support.apple.com/kb/HT208050.
MacBook-Air-Linosia:~ linosia$ /Applications/Blender.app/Contents/MacOS/Blender
Read prefs: /Users/linosia/Library/Application Support/Blender/2.81/config/u

[2019-11-28 16:09] vxlcoder commented on #753
thanks.  everything looks fine (although, there is another, unrelated bug...).

i might have to think a bit more on this.

[2019-11-28 16:10] linosia97 commented on #753
Glad to help ;)

[2019-11-28 16:36] vxlcoder commented on #759
done

[2019-11-28 16:36] #759 closed

[2019-11-28 17:14] vxlcoder commented on #758
scrollbar added!

[2019-11-28 17:14] #758 closed

[2019-11-28 17:15] vxlcoder commented on #756
should be working now.  needs tested

[2019-11-28 17:22] carter2422 commented on #756
It isn't working here on my 2017 MacBook Pro. Scrolling with the arrow keys works, though.

[2019-11-28 20:49] Diochris opened #762 "Merging at center with polypen tool"
Having this problem with polypen tool!when i try to attach new quad it merges verts on center i think..see images beloew!

![Screenshot_1](https://user-images.githubusercontent.com/57815371/69831227-23b54080-1231-11ea-925c-829a749f63a3.png)
![Screenshot_2](https://user-images.githubusercontent.com/57815371/69831228-244dd700-1231-11ea-9982-9c072668a47d.png)
![Screenshot_3](https://user-images.githu

[2019-11-28 23:07] carter2422 commented on #762
@Diochris this is likely a `Merge Distance` issue, which you can adjust via the Polypen options. Can you try adjusting that and see if it still happens?

Also if you can provide step-by-step instructions for how to replicate this that would help. So far I've not been able to replicate it with a default UV sphere.

[2019-11-29 15:00] carter2422 opened #763 "Starting RetopoFlow in Edit Mode throws a silent error"
If you start RetopoFlow in Edit Mode then a silent error is thrown.

[code]

[2019-11-29 18:25] VincentKueszter opened #764 "Crash when pressing Ctrl-S on unsaved file (default scene)"
Just a small inconvenience, I stumbled upon this when I tried to replicate a different bug.
This happens when you open Blender, start Retopo on the default cube and then press Ctrl-S without having saved the file before/given it a name.

Environment:

- RetopoFlow: 3.0.0α
- Blender: 2.81.16 master 2019-11-20
- Undo: insert, insert, select, grab, select, insert, insert, insert, insert

Error Hash:

[2019-11-29 18:41] VincentKueszter opened #765 "Inconsistencies after Save in Retopo -> Load"
Steps to reproduce:
- enter RetopoFlow mode
- save via Ctrl-S
- close Blender without saving in "normal" mode
- load again

The following settings will not be changed back by RetopoFlow:

- Size is 5, in one file's case it's 5.75942 (This might be related to ClipStart being 0.575942 m and ClipEnd 5759.42 m for that file, those values are not set by me (to my knowledge)) (Probably related to the si

[2019-11-29 18:42] vxlcoder commented on #765
Thanks for the report! Will take a look

On Fri, Nov 29, 2019, 13:41 Vincent Küszter <notifications@github.com>
wrote:

[2019-11-29 19:01] VincentKueszter opened #766 "Constant stream of exceptions when starting Retopo in Edit mode."
Environment:

    RetopoFlow: 3.0.0α
    Blender: 2.81.16 master 2019-11-20

Issue:

This might be related to #763, but I don't have just one error, but a constant steam of silent errors in the background, which are different from the one mentioned in #763.
This blocks me from enabling RetopoFlow Mode, since I only can enable that in Edit Mode.
(When trying it in Object Mode, I can only select "RF

[2019-11-29 22:59] vxlcoder commented on #766
Thanks for the report! Will look into it!

On Fri, Nov 29, 2019, 14:01 Vincent Küszter <notifications@github.com>
wrote:

[2019-11-30 01:20] Weebtiik opened #767 "[BUG] Model Resizing issues on 3.0.0a"
**Retopoflow Version:** 3.0.0a

**Blender Version (Hash):** Blender 2.8 master

**Platform:** Windows 10

**Issue:**

Retopoflow constantly resizes models when entering retopology mode, no matter the model.

**Replication Steps:**

1. Start Retopo
2. Exit Retopo
3. Done, the sizing of the model changed from it's original size and there's no way to get it back as it's random.

[2019-11-30 18:13] vxlcoder opened #768 "NUM_PERIOD does not center on selected"

[2019-11-30 18:40] vxlcoder commented on #767
thanks for the report, @Weebtiik.

This should now be fixed in commit (commit 7930b34)

[2019-11-30 18:52] vxlcoder commented on #763
this should now be fixed in commit dc85cad

[2019-11-30 18:58] vxlcoder commented on #766
@VincentKueszter, can you replicate this issue starting from the default scene?  If not, what are your steps to reproducing this error?  Be sure to include a list of objects in the current scene, and whether they are visible, are you currently editing one of them, etc. Alternatively, are you able to share a .blend file in which this error occurs?  I think I might know what is causing this, but I c

[2019-11-30 19:04] VincentKueszter commented on #766
I think it would be easiest if I gave you the blend file, since I played around with the retopo for quite a bit, before noticing it wouldn't load on the next day.
I don't want to share it publicly, how can I send you a link in private?

[2019-11-30 19:14] vxlcoder commented on #766
that would be super helpful, @VincentKueszter!  i'll get you an email address that you can send the .blend (or better a dropbox link, etc.) to in just a sec...

[2019-11-30 19:19] vxlcoder commented on #766
@VincentKueszter, please send to retopoflow@gmail.com.  thanks!

[2019-11-30 19:24] VincentKueszter commented on #766
I sent you the link!

[2019-11-30 19:40] vxlcoder opened #769 "add to Symmetry options label X,Y,Z depending on what's enabled"

[2019-11-30 20:27] VincentKueszter commented on #766
Issue is fixed by c66a488, thanks a lot!

[2019-11-30 20:29] vxlcoder commented on #766
thank you for your help!  closing

[2019-11-30 20:29] #766 closed

[2019-11-30 23:40] vxlcoder commented on #765
this should now be fixed.  thanks!

[2019-12-01 00:09] vxlcoder commented on #764
this should now be fixed.  thanks for the report, @VincentKueszter!

[2019-12-01 10:58] VincentKueszter commented on #764
Confirmed, it's working.

[2019-12-01 11:13] VincentKueszter commented on #765
Confirmed, it's working now!
PS: I noticed my clip start/end was still weird (as expected), but apparently, there is no way to set it in the Retopo options menu during Retopo mode. I suppose that feature will be back with the release candidate?

[2019-12-01 22:00] vxlcoder commented on #765
clip start and end are back in with commit 885d6cc!

closing this issue.  let me know if you have any other problems.  thanks!

[2019-12-01 22:00] #765 closed

[2019-12-01 22:32] vxlcoder commented on #761
done!

[2019-12-01 22:32] #761 closed

[2019-12-01 22:33] vxlcoder commented on #768
nevermind... seems to be working

[2019-12-01 22:33] #768 closed

[2019-12-02 02:18] vxlcoder commented on #769
done!

[2019-12-02 02:18] #769 closed

[2019-12-02 09:23] Elowan commented on #490
hey, is there any estimate, on how long it would take?

[2019-12-02 12:07] vxlcoder commented on #490
Hi all!

We've released an alpha version of RF!  Check you Blender Market inbox for details, or you can check out the `b280` branch on this repo.

There are still a handful of missing features and a performance issue with large meshes, but we're actively working on them.

Hoping to get a beta version out soon.

Thank you for your patience with this process!  This work has taken a very long time, b

[2019-12-02 12:11] Elowan commented on #490
Sounds great, awesome :)
Really very happy, you guys still care a lot about this fine retopo-tool !

[2019-12-02 12:15] vxlcoder commented on #490
Be sure to report any issues you have, so that we can take care of them!

Cheers :)

[2019-12-02 20:15] 3DEsprit commented on #718
In the same vein, will documentation dynamically show the assigned keys for each core and tool function?

I ask, because it looks like changing the keymap to one of the other built-in maps (Max, Maya) throws off the hotkeys (e.g. Fill key using Max map). _It looks like this is also the case with #595_

[2019-12-02 20:49] 3DEsprit commented on #595
Making a note here that someone reported a similar issue with a hotkey not working when using an alternative keymap, more specifically the in-tool Fill hotkey. Neither the default hotkey, and the newly assigned fill hotkey would not work as a fill, though it did in fact work in Edit Mode. Moving back to the default Blender keymap was their only resolve for this issue.

[2019-12-02 21:19] vxlcoder commented on #718
that's a great idea, @3DEsprit, one that's on my list of to-dos.

one important note for right now: RF has its own keymap, which is (mostly) independent of Blender's keymap (actually, the navigation stuff _should_ work, but the actions are fully independent)

after RF is fully released, "use blender keymaps for actions", including LMB/RMB select, is one of my top items to work on

[2019-12-03 22:20] #764 closed

[2019-12-04 23:13] Octave1201 opened #770 "Can't grab the green handle (retopoflow)"
Hello!

I've got a problem and I really need some help! I've install retopflow 1.3.2 with Blender 2.79. When I draw some strips with Polymesh, I can't grab the green handle (with the Right Mouse Button).

https://www.zupimages.net/viewer.php?id=19/49/ky7h.png

I prefer to use retopoflow 1.3.2 instead of 2.0 or above because 2.0 is lagging on my PC....

Please help...

Thanks in advance for your he

[2019-12-05 01:47] DeWolfePilot opened #771 "Unhandled Exception Caught: Exception caught"
After few mins in any mode polypen/polystrip - black "darkening" overlay blink for a second (looks like "T" side toolbar trying to extend by itself) and after this mouse stop responding, cant select/create new polygon/edge/vertex. Then after i try to select all "A" - error message appear. Trying to install 2.8 and load factory settings -  gives same error.
There is screen recording https://youtu.b

[2019-12-05 05:58] Octave1201 commented on #770
Please help

[2019-12-05 13:27] vxlcoder commented on #770
Will dig into this problem as soon as possible.

[2019-12-05 16:13] Octave1201 commented on #770
Thank you

[2019-12-06 00:22] vxlcoder commented on #771
thanks for the report and video, @DeWolfePilot!

i think the problem is from the auto save doing its thing, but something went wrong.

Are you able to do it again with the terminal opened first (Window ‣ Toggle System Console).  there might be other useful details printed out there when this happens.

[2019-12-06 02:33] dodeqaa opened #772 "Error enabling add on after install from Zip."
Hi, received an error installing from zip.

I was unable to click the checkbox to enable the plugin.

Restarting blender solved this.

Win 10
Blender 2.81 (master)
Retopoflow 3 alpha.

[2019-12-06 02:41] vxlcoder commented on #772
Interesting. Will have to check that out. thanks for the report!

On Thu, Dec 5, 2019, 21:33 dodeqaa <notifications@github.com> wrote:

[2019-12-06 16:53] DeWolfePilot commented on #771
Yes, you was right, it's triggered when saving. I can manually instantly trigger this error by pressing ctrl+s. Thats what consol shows:

\addons\retopoflow\retopoflow\rftool_polypen\polypen.py
  - 003 0416:_insert() self.rfcontext.select(bmv)
  -     C:\Users\DeWolfe\AppData\Roaming\Blender Foundation\Blender\2.81\scripts
\addons\retopoflow\retopoflow\rftool.py
  - 004 0141:wrapper() ret = fn(*ar

[2019-12-06 21:08] Octave1201 opened #773 "How to install old version of Retopoflow?"
Hi everyone!

Please, can someone explain me how to install an old version of Retopoflow?

https://github.com/CGCookie/retopoflow/releases

When I would like to install Retopoflow 1.3.2.zip, but when I install, Blender can't read it...

Thanks in advance for your help...

[2019-12-06 21:50] vxlcoder commented on #773
GH's zipping does not create folders how Blender likes them.  instead, use the following zip

https://www.dropbox.com/s/5qhf9tyeqdrybus/RetopoFlow_v1.3.2.zip?dl=0

[2019-12-06 23:55] Octave1201 commented on #773
Thanks... But when I install your addon, I got this message

Missing script files: Retopoflow-master

https://zupimages.net/viewer.php?id=19/49/e881.png

[2019-12-06 23:58] vxlcoder commented on #773
I believe that is from the previous version you tried installing. Try
uninstalling that addon. Also try loading factory settings, then install my
version. Let me know if you're still having problems.

On Fri, Dec 6, 2019, 18:55 Octave1201 <notifications@github.com> wrote:

[2019-12-07 00:10] Octave1201 commented on #773
The installation is OK now (Missing script files: Retopoflow-master doesn't appear anymore) but unfortunately, I still can't grab the Green handle with the RMB :(

https://github.com/CGCookie/retopoflow/issues/770

[2019-12-07 15:45] vxlcoder opened #774 "clean up duplicated code!"
- [ ] profiler enabling
- [ ] help system in quick start and retopoflow

[2019-12-08 13:18] Diochris commented on #746
Sorry i dont know where else to ask,if i buy retopoflow 2 on blender market,will i get update on 3 too?

[2019-12-08 13:37] vxlcoder commented on #746
Yes. You will get a free upgrade to 3

[2019-12-08 22:57] ijustwanttopass commented on #746
Could you please share your zip file again? The link doesn't seem to be working for me.

[2019-12-08 23:26] NazzarenoGiannelli commented on #746
@ijustwanttopass try [this](https://drive.google.com/open?id=131FM2OEnzzBabOC5yT4mN6vsA6s8fg1X) or select the link text from the older post and paste it in an empty browser tab. It should work.

Anyway, the Retopoflow' developers have updated the repo since my other post and you should be able to try the official alpha cloning the 2.80 branch.

[2019-12-09 01:47] ijustwanttopass commented on #746
Awesome... thanks a bunch :)

[2019-12-10 13:18] vxlcoder commented on #771
this issue should now be fixed.  if you get a chance, please test.  thanks for the report!

[2019-12-14 07:00] ironresolve opened #775 "[BUG] Retopo create the mesh inside instead of outside the model"
3.3.0 apha   win 10   blender 2.81a

i notice there was a same  issue  long ago      it said  the normals      but  i recalculate the normals many times   it does not  work
it not always hapens        it  used to  work well    except  model resize whitch someone has point out

[2019-12-14 07:13] ironresolve commented on #775
em..............i  have  fixed it！
after  recalculate  outside  normal      you  have  to  restart   blender   then    retopoflow work fine
i  can not  make  sure     if  it is  a  bug
hope  this  can  help  someone

[2019-12-14 07:13] #775 closed

[2019-12-17 15:03] mix-123 commented on #746
Yeah, so i've tried both the copy paste method and the git method to get the alpha to work, both have failed. The fault is mine for sure for failing because NazzarenoGiannelli managed to get it to work. But that's not the point. The point is, that it is overly complicated to get it to work, thus it's an excellent way to build frustration and discontent. In fact I got so frustrated, that if it wasn

[2019-12-18 14:28] mix-123 commented on #746
A suggestion for the PolyPen tool. As it is now, one selects with Right Click and then move with Left Click. Selecting with Right Click, holding down the button and moving with one motion seems more intuitive and it's one click faster. Anyway that is the Blender default (with right click select). Or perhaps being able to chose between the two.

[2019-12-18 17:44] vxlcoder commented on #746
Thanks for the suggestion! Actually, that code is already there. I just
haven't brought the option to enable it back. Thanks for the reminder!

[2019-12-19 04:52] cloudnix opened #776 "Expose style settings for edge thickness and vertex size"
Hi thank's for this awesome addOn 👍🏻👍🏻👍🏻

My proposal is;

Can we have vertex and edge/line thick setting for tweak it ?
The default for me is too thick.
Thank's again

[2019-12-19 15:14] carter2422 commented on #776
Thank you for the suggestion @cloudnix! Better theme options is something we hope to add but no promises yet. For now we're focused on stability and performance for the 3.0.0 beta (and final release).

[2019-12-19 15:16] carter2422 commented on #770
@Octave1201 can you try switching into Perspective mode? We've had issues in the past where handles would be unselectable in Orthographic mode on some models.

[2019-12-19 15:17] carter2422 commented on #773
@Octave1201 part of the problem is that the Github releases are not packaged in such a way as to enable direct installation in Blender. Those are simply the code tags to reference the specific version in the commit history for that release.

If you've purchased RetopoFlow then please download 1.3.2 from your Blender Market account at https://blendermarket.com/account/orders

[2019-12-21 14:06] VincentKueszter opened #777 "Patches bug when y-Symmetry enabled"
**Retopoflow Version:** 3.0.0β  b0220bb

**Blender Version (Hash):** 2.81.16 master 2019-11-20

**Issue:**

When enabling y-Symmetry, the Patches tool snaps the upper row of generated vertices to the mirror center.
https://imgur.com/ZjCyhxk
x-Symmetry and z-Symmetry seem to be unaffected.

**Replication Steps:**

1. Enable retopo
2. Enable y Symmetry
3. Create topology that enables the generation

[2019-12-21 14:10] vxlcoder commented on #777
Interesting find!

Would you mind sharing the .blend file? You can email it to
retopoflow@gmail.com or share a link on here.

[2019-12-21 14:17] VincentKueszter commented on #777
Sent!

[2019-12-23 15:54] carter2422 commented on #619
Closing for inactivity.

[2019-12-23 15:54] #619 closed

[2019-12-23 18:26] vxlcoder commented on #777
@VincentKueszter, this bug should be fixed now.  thanks for reporting it!

please let me know if you have any other problems

[2019-12-23 18:33] VincentKueszter commented on #777
Tested it, it works now. Thank you!

[2019-12-23 18:33] #777 closed

[2019-12-27 18:12] mix-123 commented on #746
Hi, no vertices/edges/faces visible in latest version (alpha2). Tested on Ubuntu 18.04.3 & win7.
![retopo](https://user-images.githubusercontent.com/58984092/71527683-c3bbc380-28dc-11ea-82df-c7277fc1ca63.png)

[2019-12-27 18:15] vxlcoder commented on #746
sorry, @mix-123!  I've been debugging some OSX issues, which has involved converting the mesh drawing to use the new BPY/BGL/Shader stuff, and I haven't yet finished upgrading the vert+edge drawing.  will be working on that next!

for now, you might want to checkout a previous commit, or just wait.  i'm hoping to have this ready later today

[2019-12-27 18:18] mix-123 commented on #746
Yes the previous one works fine, thank you and happy holidays!

[2019-12-27 18:50] vxlcoder opened #778 "Delete dialog (and other dialogs) does not show when UI is disabled"

[2019-12-27 21:06] vxlcoder commented on #746
@mix-123, verts and edges draw in the latest commit.  let me know if you have any other problems!

[2019-12-28 12:45] SavMartin commented on #746
Before,this update, retopoflow vertex and edge looks like this
![imagen](https://user-images.githubusercontent.com/30030642/71543837-8fddae00-296f-11ea-96ac-da8e69d560fa.png)
And after this last update it looks like this:
![imagen](https://user-images.githubusercontent.com/30030642/71543850-daf7c100-296f-11ea-8731-c3c620b7e389.png)

[2019-12-28 22:01] mix-123 commented on #746
Hi, i don't know if it qualifies as a bug/problem, but perhaps still worth mentioning.
Edges/faces get longer and longer from the middle of the strip towards the ends of the strip, when drawing on curved surfaces with the PolyStrip tool.
Tested on Ubuntu 18.04.3 & win7 on Blender 2.80 & 2.81.

Bottom row objects rotated 45 degrees.

![retopo](https://user-images.githubusercontent.com/58984092/7154

[2019-12-29 20:15] vxlcoder commented on #778
fixed!

[2019-12-29 20:15] #778 closed

[2019-12-29 20:17] vxlcoder commented on #776
target drawing has been significantly improved, and there are now options for adjusting vert and edge sizes.  there are still improvements to be made, but it's working at this point.

thanks!

[2019-12-29 20:17] #776 closed

[2019-12-29 20:34] vxlcoder commented on #696
just tried using this, but it seemed to not work correctly... may drop this "enhancement"

[2019-12-30 11:13] Rheyk opened #779 "[BUG] - Issue enable add-on Blender 2.81"
**Retopoflow Version:** {3.00 alpha}

**Blender Version (Hash):** {2.81}

**Platform:** {Windows}

**Issue:**

Traceback (most recent call last):
  File "C:\Program Files\Blender Foundation\Blender 2.81\2.81\scripts\modules\addon_utils.py", line 351, in enable
    mod = __import__(module_name)
  File "C:\Users\kreignier\AppData\Roaming\Blender Foundation\Blender\2.81\scripts\addons\retopoflow-b280

[2019-12-30 15:50] carter2422 opened #780 "Some Contour transforms do not work in orthographic mode"
If you attempt to grab or rotate a symeterized loop (loop cutting across the symmetry line) in Orthographic view, from Side view, then the transform does nothing from. No errors thrown.

Rotating works from front/back view, but not side. If you rotate far enough then the loop eventually snaps to a distorted angle.
Grab does not work at all in ortho on symmetry loops.
Everything works as expected i

[2019-12-30 17:56] SavMartin commented on #746
I found the way to change it..
![imagen](https://user-images.githubusercontent.com/30030642/71593933-c3663700-2b2d-11ea-9e1c-229e1841b835.png)

[2019-12-31 14:33] SavMartin opened #781 "**[BUG]** Retopoflow 3.0.0 alpha 2"
**Retopoflow Version:** {3.0.0 alpha 2}

![imagen](https://user-images.githubusercontent.com/30030642/71624405-493fbc00-2bda-11ea-9f1c-e0c6e3482139.png)

**Platform:** {Linux Mint 19.03}

![imagen](https://user-images.githubusercontent.com/30030642/71624390-3200ce80-2bda-11ea-8120-0a2126ac9bc4.png)

[2020-01-01 22:51] vxlcoder opened #782 "Use GPUOffScreen for rendering"
see: https://docs.blender.org/api/current/gpu.types.html#gpu.types.GPUOffScreen and https://learnopengl.com/Advanced-OpenGL/Framebuffers

with separate buffers, can render the view and UI separately, allowing us to update each separately

[2020-01-01 22:56] vxlcoder commented on #781
thanks for the report, @SavMartin!  this should be fixed now with this commit ^^

[2020-01-02 07:32] MattCowdery commented on #740
I'm having the same problem that @RealMango and @GalaxisN7 had, except when I try to run `'git submodule update --init --recursive'` from the github command line I get a git permissions error with my authentication.

![Capture](https://user-images.githubusercontent.com/13543088/71656099-d411db00-2cee-11ea-884c-f0c2ab14d0ba.PNG)

Does this indicate a problem when I set up git itself?

[2020-01-02 07:58] Rheyk commented on #779
Didn't see the instructions on the readme file! Sorry :(.

It worked

[2020-01-03 15:30] mallerius commented on #779
Hey, I'm having the same issue but i can't find the instructions you mentioned. Could you help me out?

[2020-01-03 15:32] Rheyk commented on #779
Hi,

I found an existing thread that solve this issue : https://github.com/CGCookie/retopoflow/issues/746

[2020-01-03 15:34] mallerius commented on #779
wow thanks for the fast answere!

[2020-01-03 15:53] vxlcoder commented on #779
Sorry that I didn't get to this sooner.

Thanks for answering @Rheyk!

Closing for now, but let us know if you have any other problems.  Thanks!

[2020-01-03 15:53] #779 closed

[2020-01-06 04:42] vxlcoder commented on #780
most of these issues should now be fixed!

however, the problem around 0:07 in the video is something different.  notice that the origin of the loop/strip (left end of the yellow gizmo) is actually behind the hand.  when manipulating loops/strips with contours, the origin and normal are projected to the screen, then they are manipulated according to what the artist is doing (grab/slide/rotate), th

[2020-01-06 15:03] carter2422 commented on #780
That makes total sense @vxlcoder. I suggest we open that as a *known issue* and set it aside for a latter date.

Everything else is working great!

[2020-01-06 15:03] #780 closed

[2020-01-06 15:04] #781 closed

[2020-01-06 15:28] carter2422 commented on #36
No longer relevant and covered by #718

[2020-01-06 15:28] #36 closed

[2020-01-06 15:29] carter2422 commented on #595
Closing this since it's almost certainly due to not (yet) being included in RetopoFlow's custom keymap. This custom keymap is scheduled to be replaced with native Blender keymaps via #718

[2020-01-06 15:29] #595 closed

[2020-01-07 16:02] vxlcoder opened #784 "UI: labeled input acts unhelpfully"
- keyboard cursor always starts at far left.  set it according to mouse cursor
- repeat delay/rate is way too fast!

[2020-01-09 16:06] #767 closed

[2020-01-11 12:27] TheCharacterhero commented on #746
If you add files and archive again, it will not work. I added the files directly to the archive, without extract them. And then installed.

I have Windows, so I had to install Virtual Box.
I downloaded the source code and extract it.
I went to the given folder through the terminal and entered the command **make**
Then he opened the created archive RetopoFlow v3.00.0 and added the files from [https

[2020-01-11 22:07] JoshuaLamusga opened #785 "PolyStrips exception for selection + grab (2.79)"
An unhandled exception occurred after I Ctrl + right-clicked to get a selection of connected faces in a line (not forming a loop) and pressed G to try and move it. Repros consistently. Tagged in title as 2.79 to indicate I haven't tested with version 3 on Blender 2.8.

Here's the selection in case it's relevant.
![image](https://user-images.githubusercontent.com/30244654/72211156-516de600-347b-11e

[2020-01-14 03:35] bblanimation commented on #756
Can confirm, this is not working for me on RF 3.0.0-beta-1.

[2020-01-14 14:53] vxlcoder commented on #756
thanks for the confirmations.  will take a look at it!

[2020-01-14 14:55] vxlcoder commented on #785
thanks for the report, @JoshuaLamusga!  Likely, this is still an issue in the latest RF.  i'll investigate

[2020-01-17 15:27] n3m4nj4 commented on #746
Bug issue... I have a small issue with contours, when I hit shift and scroll up and down the number of segments only goes up but not down. Poly stripes are working fine

[2020-01-20 22:57] slick3d opened #786 "[BUG] Hello. Retopoflow 2.8 freezes Blender if the option "Enter Edit Mode" is enabled in the Editing tab options."
Please prefix your issue with one of the following: **[BUG]** **[PROPOSAL]** **[QUESTION]**.

**Is your issue in regard to RetopoFlow on Blender 2.8?:**

If so, please refrain from posting. We understand you are excited for the 2.8 version of Retopoflow but the time spent replying to these issues could be better spent towards 2.8 development. Check the [closed issues](https://github.com/CGCookie/r

[2020-01-22 07:08] GobIinKing opened #787 "[BUG] unable to see preview Blender 2.79"
Please prefix your issue with one of the following: **[BUG]** **[PROPOSAL]** **[QUESTION]**.

**Is your issue in regard to RetopoFlow on Blender 2.8?:*no*

If so, please refrain from posting. We understand you are excited for the 2.8 version of Retopoflow but the time spent replying to these issues could be better spent towards 2.8 development. Check the [closed issues](https://github.com/CGCookie

[2020-01-23 07:36] GobIinKing commented on #787
Fixed screenshot link my bad

[2020-01-23 19:40] Bossyao168 commented on #746
Same issue to me. And I'm unable to increase/decrease the segment count if the symmetry is on.

[2020-01-23 19:44] vxlcoder commented on #746
Will take a look at these later comments.  If you did find a bug, please consider creating a new issue and include screenshots or instructions to reproduce the bug.  Thanks!

[2020-01-23 19:45] vxlcoder commented on #787
Will take a look!

[2020-01-24 09:14] Bossyao168 commented on #746
**Is your issue in regard to RetopoFlow on Blender 2.8?:** **If so, please refrain from posting.**
So why are these hints there, can the issue of 2.8 really be put forward.

[2020-01-24 11:49] vxlcoder commented on #746
Ack!  that should be reworded/updated!  Sorry about that, @Bossyao168!

[2020-01-26 07:09] GobIinKing commented on #787
Any progress and finding anything?

[2020-02-02 15:51] Larry3d opened #788 "Contours, increase/decrease segment counts"
Please prefix your issue with one of the following: **[BUG]** **[PROPOSAL]** **[QUESTION]**.

**Is your issue in regard to RetopoFlow on Blender 2.8?:**

If so, please refrain from posting. We understand you are excited for the 2.8 version of Retopoflow but the time spent replying to these issues could be better spent towards 2.8 development. Check the [closed issues](https://github.com/CGCookie/r

[2020-02-05 16:45] biteworks opened #789 "[PROPOSAL] Wireframe visible while using Retopoflow"
**Questions not directly related to the RetopoFlow project are considered general and should be asked elsewhere (e.g. git, blender, python, etc).**

**In raising this issue, I confirm the following (please check boxes):**

- [x] I have read through the README to assure the process taken is correct
- [x] I have checked and can confirm this issue has not already been reported in some variantion in t

[2020-02-08 17:01] Lewiatan45 opened #790 "[QUESTION] What happened to ability to select a spefic mesh as a target for retopoflow?"
**Retopoflow Version:**
3.0.0a

**Blender Version (Hash):** {blender version hash here}
2.81a
**Platform:** {platform here}
Windows 10 64Bit

**Issue:**
Hello,

I use Blender 2.81a with  Retopoflow 3.0.0a plugin.
I noticed I can't select a specific mesh as a "target" like it used to be in retopoflow for Blender 2,79c.
So I have an entire cage completed for my dragon model that's now useless becaus

[2020-02-08 18:10] vxlcoder commented on #790
@Lewiatan45, the workflow has changed just a bit for RF 3.

Now, in order to continue working on a previous target, first select the target, switch to Edit mode on that target, then then start RF.  All other visible meshes will act as source mesh.  Be sure to check out the Quick Start Guide, but you can also ask additional questions via the Blender Market.

Thanks for trying out RF!

Closing this

[2020-02-08 18:10] #790 closed

[2020-02-08 18:15] Lewiatan45 commented on #790
Oh, thank you a lot, I didn't know it works this way now :)

[2020-02-08 18:47] vxlcoder commented on #788
ah, missed the notes about symmetry...

[2020-02-08 18:58] vxlcoder commented on #788
thanks for the report, @Larry3d!

this _should_ be fixed now.  please let us know if you have any other problems!

[2020-02-08 19:31] vxlcoder commented on #786
thanks for the report @slick3d.

This appears to be a Blender bug.  I reported it here: https://developer.blender.org/T73681

Working on a workaround...

[2020-02-08 19:35] vxlcoder commented on #786
this should now be fixed (with workaround).

please let me know if you continue to have problems.

Thanks!

[2020-02-08 22:06] vxlcoder commented on #772
@dodeqaa, I haven't been able to reproduce this.  Have you had this problem again?

It might have been an unusual situation.

closing for now, but please reopen if you (or anyone else) runs into this problem.

thanks!

[2020-02-08 22:06] #772 closed

[2020-02-08 22:14] vxlcoder commented on #784
this is now fixed (forgot to close earlier)

mouse position places keyboard cursor.

keyboard repeat options are now adjustable in Options > Advanced > Keyboard Settings

[2020-02-08 22:14] #784 closed

[2020-02-18 08:15] SexySeamonster opened #791 "**[BUG]** Addon is very unresponsive."
Retopoflow Version: 3.0.0 Beta

Blender Version/Hash: 2.82

Platform Version/Distribution: Windows PC - Steam

**Issue:**

Addon is very slow to respond to any actions, including UI. Is noticeably faster on a default Blender sphere, but even when remeshing my 250k vert model to roughly 20k verts there was no increase in performance. Tested with a fresh install of Blender with only Retopoflow insta

[2020-02-18 13:06] vxlcoder commented on #791
Thanks for the report, @SexySeamonster.   Will take a look at this, but might have a few questions for you soon.

[2020-02-20 19:18] laridk opened #792 "PolyStrips: Unhandled Exception Caught: Exception caught"
Please tell us what you were trying to do, what you expected RetopoFlow to do, and what actually happened.Below are a few notes that will help us in fixing this problem.

- Provide as much information as you can so that we can reproduce the problem and fix it.
- Screenshots and .blend files are very helpful.
- Change the title of this bug report to something descriptive and helpful.

Thank you!

[

[2020-02-21 01:32] vxlcoder commented on #792
Thanks for the report, @laridk.

It seems that you do not have permission to write files in the folder that Blender thinks is good for temp files.  Unfortunately, the error message does not specify the path here.  If you are using a lab machine, or you are logged in under a restricted account, this could be the case.

I've made some changes in commit d492d72 that handles this more gracefully.  The

[2020-02-21 02:02] vxlcoder commented on #791
hmmm... I'm not seeing the same problems when navigating the options menu, but Relax and Tweak certainly are really slow, as well as starting up.

I'm on an 12-core i7-8700 3.20GHz, 32GB RAM, GeForce GTX 1050, Kubuntu.  So, for what we're doing, the differences in our specs shouldn't matter much.  (Note: I also develop on a _much_ less powerful linux laptop, and it performs quite well too)

Let me

[2020-02-22 08:04] SexySeamonster commented on #791
Yes and yes. By the way, I tested a bit more and when I made a new scene (with same default scene), imported the same exact models and used Retopoflow, it wasn't unresponsive. Well, except for the UI, but that's not as important. No changes in software versions was made.

[2020-02-22 15:47] vxlcoder commented on #791
Interesting!  There have been other people report similar issues to you that I simply haven't been able to replicate.  "imported the same exact models ... wasn't unresponsive" gives me a direction to test.  Thanks for working with us on that!

(the UI is still work in progress, but my hunch is that rendering fonts on some machines is much slower than on others)

[2020-02-25 07:01] juan497 opened #793 "no edit undo"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2020-02-25 15:56] vxlcoder commented on #793
@juan497, I'm not sure what the problem is.  RF does have the ability to Undo with CTRL+Z.

Can you please provide a description of what you're expecting RF to do and what RF is doing instead?

[2020-02-25 21:26] juan497 commented on #793
Oh it actually does have Ctrl + z. I was on a Mac doing cmd + z. Problem
solved thank you.
On Tue, Feb 25, 2020, 7:56 AM Jon Denning <notifications@github.com> wrote:

[2020-02-25 21:30] juan497 commented on #793
While I'm at at there is another issue. Rf mode does not allow you to use
the on screen rotation, grab , and zoom tool. Just for people who might
want to use this on a tablet.

On Tue, Feb 25, 2020, 1:25 PM juan hernandez <juanhernandez9731@gmail.com>
wrote:

[2020-02-25 22:05] vxlcoder commented on #793
ah, good!

i'm currently working on better integration with blender keymap settings, so this should be a non-issue very soon...

on your other note: i'm not sure what you mean by "on screen rotation, grab, and zoom tool".  are you referring to the gizmos in the top-right corner of 3d view?

![image](https://user-images.githubusercontent.com/3790699/75291867-10465100-57f1-11ea-9311-f4e7e3b1b4fa.png

[2020-02-25 22:19] juan497 commented on #793
Correct, since users with tablets may find it easier to use.

On Tue, Feb 25, 2020, 2:05 PM Jon Denning <notifications@github.com> wrote:

[2020-02-26 02:37] blanchsb commented on #788
@vxlcoder

Increase/decrease face count does not work for me on contours. (Windows 10 machine, blender 2.82 official release). Using beta build from blenderMarket. It is a few weeks old though. Is this fixed and should I download from blendermarket again?

[2020-02-26 03:10] vxlcoder commented on #788
this should be fixed on the latest `b280` branch, but we haven't repackaged RF up again.
This link won't work for too long, but you can try downloading and installing RF from here https://www.dropbox.com/s/sjklq70oyvf5h25/RetopoFlow_v3.00.0.zip?dl=0

Thanks!

[2020-02-28 06:23] mtmorrow opened #794 "PolyPen: Unhandled Exception Caught: Exception caught"
Please tell us what you were trying to do, what you expected RetopoFlow to do, and what actually happened.Below are a few notes that will help us in fixing this problem.

- Provide as much information as you can so that we can reproduce the problem and fix it.
- Screenshots and .blend files are very helpful.
- Change the title of this bug report to something descriptive and helpful.

Thank you!

I

[2020-03-05 16:15] raven1934 opened #795 "Memory issue"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2020-03-06 18:10] MooseQ opened #796 "FONT TOO SMALL"
**PLEASE READ THE FOLLOWING AND USE THE TEMPLATE TO POST YOUR ISSUE**

*Questions not directly related to the RetopoFlow project are considered general and should be posted elsewhere (e.g. git, blender, python, etc).*

**Before raising the issue, please check the following first:**

- [ ] Read through the README.md file in the branch used to assure the process taken is correct
- [ ] Check the exis

[2020-03-06 18:14] xan2622 opened #797 "[BUG] Can't activate the addon (3.0.0 beta) on Blender 2.82 Official"
Hi.

I am not sure if the issue is similar to https://github.com/CGCookie/retopoflow/issues/772 but I thought you'd prefer I open a new Issue Report.

---
Retopoflow Version: **3.0.0 beta - Latest commit: 797202a**
Blender Version/Hash: **2.82 Official**
Platform Version/Distribution: **Windows 64 bits**

**Issue:**

I have tried to install the addon on Blender 2.82 official (windows 64 bits).
I h

[2020-03-07 07:14] xan2622 commented on #797
I've been advised to follow this step by step installation tutorial:
https://www.reddit.com/r/blenderhelp/comments/eljxj8/short_guide_on_getting_retopoflow_30_to_work_from/

It now works 👍  (I have been able to activate **Retopoflow 3.0.0 Beta** on Blender 2.82 without any error).

---

IMO, it would be useful to add this installation process on https://github.com/CGCookie/retopoflow/blob/master/R

[2020-03-07 08:33] xan2622 commented on #791
Hi.

Retopoflow is quite slow for me too.

On a fresh Blender 2.82 (Official) installation (no other third-party addon installed), after clicking on the **RF: Create new Target** button:
- with a mesh composed of 16,560 faces, it takes 4-5 seconds for the UI to load
- with a mesh composed of 431,340 faces, it takes 15-18 seconds for the UI to load

Note that it ordinary takes 3 seconds for Blender

[2020-03-07 14:21] xan2622 commented on #718
For this task, maybe you could take a look at the source code of the [Bezier Utilities](https://github.com/Shriinivas/blenderbezierutils) or [qBlocker](https://blenderartists.org/t/qblocker-for-blender-2-8/1146607) addons?

Both addons have this feature and makes it very easy to know what hotkeys do (and which hotkeys are available). There is also an option (in the Addon preferences) to show (or n

[2020-03-07 14:38] vxlcoder commented on #791
@xan2622, your notes are interesting... you mean that Blender itself (not RF) takes 3 seconds to switch from object mode into edit mode?  both of your .blend files load and switch into edit mode quite quickly on my machine.  (RF is still slow, but just discussing Blender's Object -> Edit mode).

i'm leaning toward these slowness issues being a problem with blender not running uniformly across all

[2020-03-07 15:08] xan2622 commented on #791
Yes, but only with high poly meshes, for example with the _SoccerPlayer2.blend_ file.

Usually, Blender toggles the Object/Edit mode instantly when I press the TAB key.
I haven't really noticed any slowness before (I usually work on scenes with less than 150,000 faces).

I just noticed a real slowness while using Retopoflow, and then, I noticed that (Retopoflow disabled), Blender took 3 seconds to

[2020-03-07 16:14] vxlcoder commented on #796
Thanks for the report, @MooseQ.

I believe this should be corrected in the very latest version of RF.  If you can, try using the version linked below (URL won't be accessible forever).

https://www.dropbox.com/s/sjklq70oyvf5h25/RetopoFlow_v3.00.0.zip?dl=0

If this does not resolve the problem, let us know, but also you can adjust the UI scaling manually using the Options > General > UI Scale optio

[2020-03-07 16:17] vxlcoder commented on #794
Thanks for the report, @mtmorrow!

Any chance you can reproduce this and take screenshots?  I'll try reproducing it here as soon as I can, but having the step-by-step instructions and/or screenshots will make it much easier to correct.

[2020-03-07 19:38] MooseQ commented on #796
Hi Jon,

I tried that version you sent the link to and it didn’t help.
Can you tell me where to find the Options Menu to try that?
Thank you.
MooseQ

[2020-03-07 19:54] vxlcoder commented on #796
Start RF, then click General in the Options menu in the top-right window, then click in the textbox next to UI Scale.

[2020-03-07 20:00] MooseQ commented on #796
Got it!  Thank you!

[2020-03-24 16:30] vxlcoder opened #798 "visual bug"
the darkening is not working correctly in UV editor.

[2020-03-25 03:47] jlampel commented on #797
Thanks for letting us know! Agreed 👍

[2020-03-25 03:47] #797 closed

[2020-03-27 22:18] Dradeeus opened #799 "[BUG] Imbedded Vertex in RetopoFlow 3"
Retopoflow Version: Retopoflow 3.0
Blender Version: 2.8

Very often 3.0 will create vertices that are embedded within the mesh. Usually, I would think there's too much information there, so I'd want to do it over, but can't, because I can't select anything. Doesn't help that anything sharing that vertex is also unselectable.
The only way to fix this is to go back out to normal Blender and select a

[2020-03-29 16:29] JazzEW commented on #788
Hi @vxlcoder ! I just bought RetopoFlow a few days ago and found the same problem @blanchsb had found. I followed your link to the updated zip file in Dropbox, and I can confirm (on my end, anyway) that the shift+middle mouse wheel issue is resolved. I was able to roll the wheel upward to increase the face count; downward to decrease it.